- provide(:title, '将棋 偏差値')

h1 将棋 偏差値

p
  | 将棋偏差値を表示します。
  | レーティングを入力してください。
  br
  small
    | (度数分布に基づく推計のため、実データと若干の相違があります。)

.row.ml-4
  .form-inline
    = form_with(url: shogi_standard_score_path, local: true) do |f|
      - p = FormPresenter.new(f, self)
      = p.text_field_block("rating", :rating, class: 'form-control col-6 text-center m-0', placeholder: 'レーティング', value: @rating)
      = p.submit_button '表示'

br

= gengo @ymd, :date
| 現在

- if @rating.present?
  ul
    li = "#{@dankyu} (#{@rating})"
    li = "#{pretty_format(@info[:n])} 人中、#{pretty_format(@info[:superior_rank])} 位 (上位 #{@info[:percentage]} %)"
    li = "中央値: #{@info[:median]}"
    li = "平均値: #{@info[:mean].to_f.round(2)}"
    li = "偏差値: #{@info[:standard_score].to_f.round(2)}"
br

<canvas id="myChart" width="80vw" height="40vh"></canvas>
<script>draw_graph();</script>
