- provide :title, '四間飛車講座(急戦)'

scss:
  /* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }

  .article {
    width: 100%;
    padding: 1em;
    counter-reset: figures;
  }

  .article h2 {
    margin: 1em 0;
    font-size: 2em;
    border-bottom: 3px solid #38b48b; /* 翡翠色 */
    padding-bottom: .3em;
    color: #38b48b
  }

  .article p {
    margin-bottom: 1em;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
  }

  .article h2 + p,
  .article h2 + figure + p {
    text-indent: 1em;
  }

  .figure {
    padding: 0.2em;
    border: 3px solid #ffec47; /* 菜の花色 */
    background: #fef4f4; /* 桜色 */
    margin: 0 auto 1em;
  }

  .figure img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }

  .figure figcaption {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    padding: .5em;
    text-align: center;
    color: #38b48b;
    background: #fef4f4;
    counter-increment: figures;
  }

  .figure figcaption:before {
    content: '図' counter(figures) '. ';
  }

  .figure-left {
    float: left;
    margin: 0 1.5em .5em 0;
    width: min-content;
  }

  .figure-right {
    float: right;
    margin: 0 0 .5em 1.5em;
    width: min-content;
  }

  .figure-right img,
  .figure-left img {
    max-width: 480px;
  }

  @media (max-width: 767px) {
    .figure-left,
    .figure-right {
      float: none;
      margin: 0 0 1em 0;
      width: 100%;
    }
    .figure img {
      max-width: 100%;
    }
  }

h1
  | 四間飛車講座(急戦)
  span.small
    |  by MAT_FIBER
p.text-right
  | H25.04.20 例会

.row
  .offset-2.col-8
    article.article.figure.mx-auto
      p.text-center.m-2.p-3
        | MAT_FIBERさんにより、四間飛車講座（急戦編）です。
        br
        | 初心者〜中級者を対象としています。
        br
        | 棋力向上にお役立て下さい。

article.article
  h2 data-target="part1"
    | 対居飛車戦
  #part1
    .clearfix
      p
        |  　まず初めに本講座は初・中級の方を対象としてますので、
        br
        |  細かい定跡の変化などは省いて、最低限知っておくべき定跡筋などを紹介します。
        br
        |  棋書は
        a href="http://rocky-and-hopper.sakura.ne.jp/Kisho-Michelin/86137/978-4-86137-021-2.htm"
          | 四間飛車が分かる本(髙野秀行 著)
        | を参考としています。
        br
        |  あくまで私の初段レベルから見て、これは知っておいた方がよいだろうというのを紹介する感じです。
        br
        br
        |  前提として△側が四間飛車としてやります。
        br
        |  これは△四間側で対応できれば１手多くさせる先手番では より条件が良いだろうという判断からです。
        br
        |  　今回は四間対居飛車急戦の基本の斜め棒銀をやりたいと思います。
        br
        br
        |  では進めていきます。
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_four_file_rook/image_0025-04-20_23.08.12', class: 'img-fluid'
        figcaption
          | △４四歩と 角道を止める
      p
        |  ここで△４四歩と止めるのが第一歩です
        br
        br
        |  今のプロの流行は角筋を止めない手、 例えば△５四歩からのゴキゲン中飛車、 あとは△４二飛ダイレクト四間飛車、 （あまりないですが）△３三角戦法など、 いずれも居飛車の居飛車穴熊を警戒した戦法になりますが、 指しこなすのが難しいです。
        br
        |  それと玉が薄い形で戦わざるを得なくなります。
        br
        |  なので基本的には△４四歩で、乱戦にならないように止めて、 しっかり囲うのが重要になります。
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_four_file_rook/image_0025-04-20_21.39.33', class: 'img-fluid'
        figcaption
          | △７二銀から囲う
      p
        |  次が振り飛車側の手になります。
        br
        |  囲う手として △７二玉から囲うのと、△７二銀から囲う手があります。
        br
        |  使い分けは（私の主観が入りますが）、 自分が穴熊を使う気があるなら△７二玉から、 穴熊全く使わないで美濃囲いで戦いますという方は、 △７二銀から囲った方が得と認識してます。
        br
        br
        |  △７二銀型の場合は△７一玉のまま△８二玉と囲うか、左側に一手回すか選べ、 かつ相手が左美濃にしてきたときに、 四間側は玉頭から仕掛けて勝負しますが、 △７一玉型の方が有利になりやすいという面もあります。
        br
        br
        |  本講座では△７二銀から△７一玉と行きますね。
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_four_file_rook/image_0025-04-20_21.42.11', class: 'img-fluid'
        figcaption
          | △７一玉と囲う
      p
        |  次は四間側ですが、どう指すのが良いでしょうか？
        br
        br
        |  左銀の活用を図る△３二銀、もしくは△５二金左が良いと思います。
        br
        |  引き角に対応する手として、△３二銀・△５二金左を用意しておいた方が良いです。
        br
        br
        |  ここで言いたかったのは、「△８二玉」 これはまだ入らない方が良いということです。
        br
        |  理由は居飛車側の駒組みを見れば分かります。
        br
        |  ここから居飛車側は、▲５七銀から穴熊・左美濃などの 持久戦調の駒組みや、 もしくは▲６八銀～▲５七銀左の急戦など、 居飛車側に選択肢がまだまだ多いということが分かります。
        br
        |  ここで△８二玉とするとそれと相性の良いであろう左美濃にすることが予想されます。
        br
        |  勿論△８二玉型で左美濃相手でも、すぐに悪くなるわけでないですし、 十分な研究があればそれはそれでOKですが、 一般的には△８二玉はパーで左美濃はチョキになりやすいということです。
        br
        |  先に手の内を出すと言いますか、 相手の手、構想を咎める感じに出来る可能性が高いということですね。
        br
        br
        |  なのでまぁ△３二銀位にしておきますか。
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_four_file_rook/image_0025-04-20_21.54.31', class: 'img-fluid'
        figcaption
          | △３二銀と左銀の活用を図る
      p
        |  次が居飛車側の作戦の分岐点になると思います。
        br
        |  ポイントは▲５七銀だと持久戦調、穴熊、左美濃、位取り系の将棋ですね。
        br
        |  ▲６八銀なら急戦調の将棋です。
        br
        |  ▲３六歩は、私は急戦調の手と捉えますが、判断難しい所かと思います。
        br
        |  ここでは▲６八銀とします。
        br
        br
        |  ここで居飛車の態度がわかりました。
        br
        |  穴熊、左美濃などの持久戦ではなく、急戦でつぶしに行きますよと言ったわけですね。
        br
        |  なので先ほどから保留してる左美濃対策の△７一玉型にしている必要がなくなりました。
        br
        br
        |  基本的には、急戦には△８二玉型とします。
        br
        |  居飛車側の▲７八玉よりも一路深く△８二玉と囲っておく方が良い場合が多いです。
        br
        br
        |  ▲３六歩　△９四歩　▲５七銀左と進みます。
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_four_file_rook/image_0025-04-20_21.57.34', class: 'img-fluid'
        figcaption
          | 四間飛車対居飛車急戦　次の一手は？
      p
        |  この局面で次は四間飛車側となります。
        br
        |  次の候補手は何でしょうか？
        br
        br
        |  △１二香車〜△５四歩〜△６４歩は、 居飛車側に、
        br
        |  １）▲３五歩　△同歩　▲４六銀の山田定跡の仕掛け
        br
        |  ２）単に▲３八飛の鷺宮定跡の仕掛け
        br
        |  があります
        br
        |  定跡書読んでしっかりこれらの仕掛けが来た時に、 対応できる自信、研究があれば良いと思います。
        br
        br
        |  ここでは分かり易い△４三銀を覚えて頂きたいと思います。
        br
        |  これが対急戦の基本図ですかね。
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_four_file_rook/image_0025-04-20_22.06.18', class: 'img-fluid'
        figcaption
          | 四間飛車 対 居飛車急戦　基本図 (△４三銀まで)
      p
        |  以下、居飛車側は
        br
        |  １）▲４六銀～▲３五歩の斜め棒銀
        br
        |  ２）▲４六歩～▲３七桂〜▲４五歩の早仕掛け
        br
        |  ３）▲３七銀～▲２六銀の棒銀
        br
        |  この３つの作戦が大きくあります。
        br
        |  今日は１）の斜め棒銀をやっていきます。
        br
        br
        |  ここで四間飛車側の基本的な考え方ですが、 ▲４六銀と来たからといって、 △４五歩と突くのはまずい手となります。
        br
        |  角交換から▲２四歩の筋などありますので、 △４五歩は切り札としてとっておきます。
        br
        |  それと基本的に振り飛車はカウンターを狙う戦法ですので、 相手が歩をぶつけてきたり、仕掛けてきた瞬間に、 △４五歩などで大きく捌きに行くのが指しこなすポイントです。
        br
        br
        |  ▲４六銀はまだ仕掛けてきた手とは言えないので待ちます。
        br
        |  ここで次に▲３５歩がありますが、間違ってもこれを△同歩とは取ってはいけないです。
        br
        |  以下▲同銀、△３４歩に銀を引いてくれれば良いですが、 ▲２４歩、△同歩、▲同銀と、棒銀の基本筋が決まります。
        br
        |  なので▲３５歩にもまだ待ちます。
        br
        br
        |  ここで振り飛車側の常套手段は、 戦いが起こりそうな所に飛車を回る手です。
        br
        |  △３二飛とします。
        br
        br
        |  この飛車を回る手の背景には、 相手が歩を取ってきた場合、飛車先の歩が切れるので、 飛車が成りこみやすいというのがあります。
        br
        br
        |  ここで▲３四歩ですね。 これには△同銀とします。
        br
        |  先手は▲３八飛として、浮いてる銀に狙いをつけます。
        br
        |  ここで（銀を守る）△３五歩は、▲同銀　△同銀　▲同飛で駄目です。
        br
        |  また（銀を逃げる）△４三銀は、▲３四歩　△４二角　▲３五銀などで 抑え込まれて駄目です。
        br
        br
        |  となると次の手は何でしょうか？
        br
        |  △４五歩が正解です。
        br
        |  ここまで居飛車側のジャブを相手にして前に引き釣り出しておいてから、 切り札の△４五歩のカウンターを出します。
        br
        br
        |  もし、ここで▲３四飛ならば、△８八角成　▲同玉　△３四飛で完勝ムードです。
        br
        |  なので、先手は▲３三角成　△同飛　▲８八角と角交換をして、再度遠見の角を打ちます。
        br
        |  それに対して△３二飛と弱気になると▲３三歩と打たれてまずいことになります。
        br
        |  よってここでは強く△４六歩と取り込みます。
        br
        |  以下、▲３三角成と飛車を取り、△同桂と角を取り返して、ここまで進みます。
        br
        br
        |  ここでどう指しますか？
        br
        br
        |  △４三金が正着です。
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_four_file_rook/image_0025-04-20_22.22.03', class: 'img-fluid'
        figcaption
          | △４三金に▲３六飛と引いた局面
      p
        |  △４三金には、▲３六飛と引く手が最善です。
        br
        |  他の所は各自研究願います。
        br
        br
        |  △４七歩成はまだ溜めておきたい所かと思います。
        br
        br
        |  どう攻めを続けましょうか？
        br
        |  ここでは、△４四角と要所に打っておくのが大事な一手です。
        br
        |  先手は、▲７七銀と受けます。
        br
        |  それから△２七角。▲３七飛に△４５角成と進みます。
        br
        |  先手は４三に浮いている金に狙いをつけて、▲４一飛と打ちます。
        br
        |  これにはどうしますか？
        br
        br
        |  △５二銀が正着です。
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_four_file_rook/image_0025-04-20_22.26.02', class: 'img-fluid'
        figcaption
          | 結果図
      p
        |  この局面を結果図とします。
        br
        br
        |  以下は▲１一飛成なら△２五桂馬が先手の３七飛と１一竜の両取りとなります。
        br
        |  後手の６六角の守りは自陣にも利いており４五馬の厚みもあり、 相当この局面は振り飛車勝ち易い局面となっております。
        br
        br
        |  では今日の講座はここまでとします。
        br
        br
        |  質問などあればどうぞ。
        br
        |  もっと詳しい内容を知りたい方は、
        br
        a href="http://rocky-and-hopper.sakura.ne.jp/Kisho-Michelin/86137/4-86137-001-9.htm"
          | 四間飛車の急所(藤井猛 著)
        | もしくは
        a href="http://rocky-and-hopper.sakura.ne.jp/Kisho-Michelin/86137/4-86137-009-4.htm"
          | 四間飛車破り【急戦編】(渡辺明 著)
        | を確認願います。
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_four_file_rook/image_0025-04-20_23.05.13', class: 'img-fluid'
        figcaption
          | ▲１一飛成 △２五桂 ▲３一飛成 △１一角 ▲１一同龍まで
      p
