- provide :title, '右玉講座'

scss:
  /* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }

  .article {
    width: 100%;
    padding: 1em;
    counter-reset: figures;
  }

  .article h2 {
    margin: 1em 0;
    font-size: 2em;
    border-bottom: 3px solid #38b48b; /* 翡翠色 */
    padding-bottom: .3em;
    color: #38b48b
  }

  .article p {
    margin-bottom: 1em;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
  }

  .article h2 + p,
  .article h2 + figure + p {
    text-indent: 1em;
  }

  .figure {
    padding: 0.2em;
    border: 3px solid #ffec47; /* 菜の花色 */
    background: #fef4f4; /* 桜色 */
    margin: 0 auto 1em;
  }

  .figure img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }

  .figure figcaption {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    padding: .5em;
    text-align: center;
    color: #38b48b;
    background: #fef4f4;
    counter-increment: figures;
  }

  .figure figcaption:before {
    content: '図' counter(figures) '. ';
  }

  .figure-left {
    float: left;
    margin: 0 1.5em .5em 0;
    width: min-content;
  }

  .figure-right {
    float: right;
    margin: 0 0 .5em 1.5em;
    width: min-content;
  }

  .figure-right img,
  .figure-left img {
    max-width: 480px;
  }

  @media (max-width: 767px) {
    .figure-left,
    .figure-right {
      float: none;
      margin: 0 0 1em 0;
      width: 100%;
    }
    .figure img {
      max-width: 100%;
    }
  }

javascript:
  $(function(){
    // クリックイベントを設定する
    $('article h2').on("click", function(){
      // data-target の属性値を代入する
      var target = $(this).data('target');
      // target と同じ名前のIDを持つ要素に slideToggle() を実行する
      $('#'+target).slideToggle(300);
      // 終了
      return false;
    });
    $('article h2').each(function(){
      $(this).click();
    });
  });

h1
  | 右玉講座
  span.small
    |  by saiiti
p.text-right
  | H27.08.01 例会

.row
  .offset-2.col-8
    article.article.figure.mx-auto
      p.text-center.m-2.p-3
        | saiitiさんにより、リレー対局のために行われた右玉講座です。
        br
        | 見出しをクリックしてご覧いただけます。
        br
        | 棋力向上にお役立て下さい。

article.article
  h2 data-target="part1"
    | 対居飛車戦
  #part1
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.29.09', class: 'img-fluid'
        figcaption
          | 次に▲６六歩と角道を止める
      p
        |  対居飛車・対振り飛車、それぞれへの序盤の右玉組み方です。
        br
        |  ざっといきます。
        br
        br
        |  まず、一般的な対居右玉から。
        br
        small
          | （右玉側が後手。見やすいよう図は先後逆。）
        br
        |  △８四歩　▲７六歩　△３四歩
        br
        |  この展開なら ▲６六歩と、
        br
        |  角道塞いで右玉で組めると思います。
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.29.47', class: 'img-fluid'
        figcaption
      p
        |  ▲６六歩　△７二銀　▲７八銀　△５四歩　▲６七銀　△８五歩　▲７七角 (飛車先交換を阻止)
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.30.12', class: 'img-fluid'
        figcaption
      p
        |  △５二金右　▲２六歩　△３二金　▲４八銀　△４二銀　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.30.19', class: 'img-fluid'
        figcaption
      p
        | ▲４六歩　△４一玉　▲７八金　△３三銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.30.34', class: 'img-fluid'
        figcaption
      p
        |  ▲３六歩　△４四歩　▲４七銀　△４三金　▲５八金
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.30.43', class: 'img-fluid'
        figcaption
      p
        |  △７四歩　▲３七桂　▲２九飛
        small
          | （先手が二手指？）
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.30.50', class: 'img-fluid'
        figcaption
      p
        |  △４二角　▲４八玉　△３一玉
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.30.58', class: 'img-fluid'
        figcaption
      p
        |  ▲２五歩　△５三銀
        br
        br
        |  こんな感じ。
        br
        |  これは普通なんで、わかると思います。
article.article
  h2 data-target="part2"
    | 対居飛車　角交換パターン
  #part2
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.32.21', class: 'img-fluid'
        figcaption
          | 角交換された局面
      p
        small
          | (後手番からの開始)
        br
        |  △３四歩　▲７六歩　△８八角成　▲同銀
        br
        |  と角交換された局面
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.32.31', class: 'img-fluid'
        figcaption
      p
        |  △２二銀　▲７七銀　△６二銀　▲４八銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.32.38', class: 'img-fluid'
        figcaption
      p
        |  △６四歩　▲７八金　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.32.45', class: 'img-fluid'
        figcaption
      p
        |  △６三銀　▲４六歩　△３三銀　▲３六歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.32.52', class: 'img-fluid'
        figcaption
      p
        |  △５二金右　▲４七銀　△３二金　▲３七桂　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.32.59', class: 'img-fluid'
        figcaption
      p
        |  △７四歩　▲５八金
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.33.06', class: 'img-fluid'
        figcaption
      p
        |  △４二玉　▲４八玉　▲２九飛
        small
          | (先手が二手指？)
        br
        br
        |  これも角交換からこういう形目指すところ
        br
        |  まれに相右玉もありますけど
        br
        |  それでもリレーだと右にしちゃってください
        br
        br
        |  まあ、対居飛車は普通なので
        br
        |  この程度で終わらせます
        br
article.article
  h2 data-target="part3"
    | 対四間飛車
  #part3
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.35.59', class: 'img-fluid'
        figcaption
          | ▲７六歩　△３四歩　▲２六歩まで
      p
        |  右玉側が先手番としていきますね。
        br
        |  ▲７六歩　△３四歩　▲２六歩
        br
        br
        |  以下の手順で組んでいきますが
        br
        |  途中で「△４五歩」と突かれるパターンがあります
        br
        |  それは後でいいます
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.36.06', class: 'img-fluid'
        figcaption
      p
        |  △４四歩　▲４八銀　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.36.12', class: 'img-fluid'
        figcaption
          | △４二飛で四間飛車となった
      p
        |  △４二飛　▲２五歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.36.18', class: 'img-fluid'
        figcaption
      p
        |  △３二銀　▲３六歩　△３三角
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.36.31', class: 'img-fluid'
        figcaption
      p
        |  ▲３七桂　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.36.37', class: 'img-fluid'
        figcaption
      p
        |  △６二玉　▲３八金
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.36.46', class: 'img-fluid'
        figcaption
      p
        |  △５二金左
        small
          | （この手に代えて△４五歩と指す手は後述）
        br
        |  ▲４六歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.37.41', class: 'img-fluid'
        figcaption
      p
        |  △７二銀　▲４七銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.37.47', class: 'img-fluid'
        figcaption
      p
        |  △７一玉　▲６六歩　△８二玉　▲７八銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.37.53', class: 'img-fluid'
        figcaption
      p
        |  △９四歩　▲9六歩　▲６七銀
        small
          | (先手が二手指?)
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.37.59', class: 'img-fluid'
        figcaption
      p
        |  △４三銀　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.38.04', class: 'img-fluid'
        figcaption
      p
        |  ▲４八玉　△６四歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.38.11', class: 'img-fluid'
        figcaption
      p
        |  ▲２九飛　△７四歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.38.20', class: 'img-fluid'
        figcaption
      p
        |  ▲６八金　△６三金
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.38.27', class: 'img-fluid'
        figcaption
      p
        |  ▲７七桂　△７三桂　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.38.35', class: 'img-fluid'
        figcaption
      p
        |  △５四歩
        small
          | (後手が二手指？)
        br
        br
        |  普通に組んでくれた場合
        br
        |  こんな感じです
        br
        br
        |  ここからの攻め筋としては
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.39.18', class: 'img-fluid'
        figcaption
          | ▲９七角と端角に据える
      p
        |  ▲５六銀　△３二飛　▲９七角
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.39.23', class: 'img-fluid'
        figcaption
      p
        |  △５１角　▲六五歩
        br
        br
        |  みたいな感じ
        br
        |  五分くらいだと思ってます
article.article
  h2 data-target="part4"
    | 対四間飛車 △４五歩突いてきたパターン１
  #part4
    h3
      | △４五歩　▲５六歩に　△４六歩と後手から歩交換する場合
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.40.26', class: 'img-fluid'
        figcaption
          | △４五歩と突かれる前(▲３八金)の局面
      p
        |  初手からの指し手
        br
        |  ▲７六歩　△３四歩　▲２六歩　△４四歩　 ▲４八銀　△４二飛　▲２五歩　△３二銀　 ▲３六歩　△３三角　▲３七桂　△６二玉　 ▲３八金
        br
        br
        |  このとき△４五歩と突かれる時があります
        br
        br
        |  これ実際どうしてるのかっていうのは
        br
        |  糸谷プロの棋譜ないので、自己流なんですが
        br
        |  右玉にできないので、左にいきます
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.41.52', class: 'img-fluid'
        figcaption
          | △４五歩　▲５六歩まで
      p
        |  △４五歩　▲５六歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.42.39', class: 'img-fluid'
        figcaption
      p
        |  ▲５六歩に対して、後手から歩交換してきた場合
        br
        br
        |  △４六歩　▲同歩　△同飛　▲４七銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.43.09', class: 'img-fluid'
        figcaption
      p
        |  △４二飛車　▲４五歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.43.33', class: 'img-fluid'
        figcaption
      p
        |  △７二玉　▲６八玉　△８二玉　▲７八玉　△５二金左
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.43.38', class: 'img-fluid'
        figcaption
      p
        |  ▲５五歩　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.43.42', class: 'img-fluid'
        figcaption
      p
        |  △７二銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.43.48', class: 'img-fluid'
        figcaption
      p
        |  ▲４六銀　△４三銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.43.53', class: 'img-fluid'
        figcaption
      p
        |  ▲４七金　△６四歩
        br
        br
        |  と、こんな感じで組んでます
        br
        |  ４筋交換されましたけど
        br
        |  ４五に位を取れるのが主張点
        br
        |  いい勝負だと思います。
article.article
  h2 data-target="part5"
    | 対四間飛車 △４五歩突いてきたパターン２
  #part5
    h3
      | ▲５六歩に後手から歩交換しない場合
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.45.20', class: 'img-fluid'
        figcaption
          | ▲５六歩まで
      p
        |  交換してこなかった場合は
        br
        |  ▲５七銀とあがってます
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.45.37', class: 'img-fluid'
        figcaption
      p
        |  △５二金
        small
          | (この手に代えて△４六歩ならパターン１へ)
        br
        |  ▲５七銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.46.30', class: 'img-fluid'
        figcaption
      p
        |  △７二玉　▲６八玉　△８八玉　▲７八玉
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.46.36', class: 'img-fluid'
        figcaption
          | ▲５五歩と 角道を止めた局面
      p
        |  △７二銀　▲５五歩
        br
        br
        |  交換してこなかった場合　▲５五歩で角道止めてます
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.47.04', class: 'img-fluid'
        figcaption
      p
        |  △６四歩　▲９六歩　△９四歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.47.14', class: 'img-fluid'
        figcaption
      p
        |  △７四歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.47.19', class: 'img-fluid'
        figcaption
          | ▲５六銀と上がる　後手の４五の歩が狙い
      p
        |  ▲５六銀　
        br
        |  狙いとしては、これで後手の４五の歩を狙います。
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.47.42', class: 'img-fluid'
        figcaption
      p
        |  △４六歩
        br
        br
        |  △４六歩なら、▲４五桂が角にあたって
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.47.55', class: 'img-fluid'
        figcaption
          | △４六歩と指した局面
      p
        |  ▲４五桂
        br
        br
        |  角が逃げるなら▲４六歩と指します。
        br
        br
        |  △４７歩成なら、
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.48.26', class: 'img-fluid'
        figcaption
      p
        |  △４七歩成　▲３三桂成　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.48.32', class: 'img-fluid'
        figcaption
      p
        |  △３８と　▲４二成桂
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.48.36', class: 'img-fluid'
        figcaption
      p
        |  △２八と　▲３二成桂
        br
        br
        |  激しくなりますけど
        br
        |  駒得 みたいに指してます
        br
        |  この局面似たようになったの結構あるので
        br
        |  有力だと思います
article.article
  h2 data-target="part6"
    | 対四間飛車 別の急戦パターン１
  #part6
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.50.12', class: 'img-fluid'
        figcaption
      p
        |  初手からの指し手
        br
        |  ▲七六歩　△３四歩　▲２六歩　△４四歩　▲２五歩　△３三角　▲４八銀　△４二飛　▲３六歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.51.06', class: 'img-fluid'
        figcaption
      p
        |  △５二金　▲３七桂　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.51.13', class: 'img-fluid'
        figcaption
      p
        |  △４二玉　▲　４六歩　△７二銀　▲４七銀　△７一玉　▲３八金
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.51.19', class: 'img-fluid'
        figcaption
      p
        |  △８二玉　▲７八銀　▲６六歩
        small
          | (手数は合っているので二手指ではない)
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.51.24', class: 'img-fluid'
        figcaption
      p
        |  △４三銀　▲４八玉　△６四歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.51.32', class: 'img-fluid'
        figcaption
      p
        |  ▲４七銀　△５四銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.51.37', class: 'img-fluid'
        figcaption
      p

    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.51.45', class: 'img-fluid'
        figcaption
          | ▲７七桂まで
      p
        |  ▲７七桂
        br
        br
        |  こういう形の時
        br
        |  少し陣形が違うときもありますけど
        br
        |  △４五歩と、突かれるときがあります
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.52.45', class: 'img-fluid'
        figcaption
          | △４五歩に▲同歩と応じた局面
      p
        |  △４五歩　▲同歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.53.09', class: 'img-fluid'
        figcaption
      p
        |  △同銀　▲同桂
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.53.13', class: 'img-fluid'
        figcaption
      p
        |  △同飛
        br
        br
        small
          | （別の急戦パターン２へ）
article.article
  h2 data-target="part7"
    | 対四間飛車 別の急戦パターン２
  #part7
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.54.03', class: 'img-fluid'
        figcaption
      p
        |  初手からの指し手(一例)
        br
        |  ▲７六歩　△３四歩　▲２六歩　△４四歩 ▲４八銀　△４二飛　▲３六歩　△３二銀　 ▲２五歩　△３三角　▲３七桂　△４三銀 ▲４六歩　△５四銀　▲４七銀　▲３八金
        small
          | (二手指)
        br
        br
        |  さっきのもあるんですけど
        br
        |  どっちかというとこっち
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.54.38', class: 'img-fluid'
        figcaption
      p
        |  △７二玉　▲７八銀　△５二金左
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.54.44', class: 'img-fluid'
        figcaption
      p
        |  ▲６七銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.55.18', class: 'img-fluid'
        figcaption
          | △４五歩と仕掛けた局面
      p
        |  △４五歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.55.42', class: 'img-fluid'
        figcaption
          | 銀桂交換の急襲（図は△４五同飛まで）
      p
        |  ▲同歩　△同銀　▲同桂　△同飛
        br
        br
        |  このパターンの急戦が一応あります。
        br
        |  駒得はするんですけど、▲４六歩と応じると、 △８五飛　▲７八金に、△５五桂が残っていて、この進行だと微妙です
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.56.14', class: 'img-fluid'
        figcaption
          | △５五桂で微妙な進行になった局面
      p
        |  ▲４六歩　△８五飛　▲７八金　△５五桂
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.55.42', class: 'img-fluid'
        figcaption
          | 図は再掲 △４五同飛まで
      p
        |  なので、この局面では、
        br
        |  ▲５六銀とあがってます
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.56.54', class: 'img-fluid'
        figcaption
      p
        |  ▲５六銀　△４二飛　▲４六歩
        br
        br
        |  一応これで駒得なので、 まあまあさせるかなと
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi22.57.08', class: 'img-fluid'
        figcaption
          | △５五桂まで
      p
        |  △５五桂
        br
        br
        |  △５五桂あったりするんで、 実は駒割り五分にされるんですけど悪くはないです。
        br
        |  四間飛車の序盤怖い筋は、こんなところです。
        br
        |  大分駆け足でしたが、だいたいの組み方わかってもらえればいいので、 では中飛車いきます。
article.article
  h2 data-target="part8"
    | 対中飛車
  #part8
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.02.00', class: 'img-fluid'
        figcaption
          | 中飛車の出だし
      p
        |  初手からの指し手
        br
        |  ▲７六歩　△３四歩　▲２六歩　△５四歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.02.05', class: 'img-fluid'
        figcaption
      p
        |  ▲４八銀　△５二飛
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.02.10', class: 'img-fluid'
        figcaption
      p
        |  ▲４六歩　△５五歩　▲４七銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.02.32', class: 'img-fluid'
        figcaption
      p
        |  △６二玉　▲２五歩　△３三角　▲３六歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.02.38', class: 'img-fluid'
        figcaption
      p
        |  △４二銀　▲３七桂
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.02.44', class: 'img-fluid'
        figcaption
      p
        |  △５三銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.02.55', class: 'img-fluid'
        figcaption
      p
        |  ▲６六歩　△５四銀　▲７八銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.03.04', class: 'img-fluid'
        figcaption
      p
        |  △７二銀　▲６七銀　△７一玉　▲３八金　△８二玉
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.04.18', class: 'img-fluid'
        figcaption
      p
        |  ▲３八玉　△６四歩
        br
        br
        |  みたいな感じで、
        br
        |  対四間より中央先に固めるイメージですね
        br
        br
        |  あと、右玉　共通なんですけど
        br
        |  これ簡単に６筋交換させないでください
        br
        |  されると大分作戦負け
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.05.03', class: 'img-fluid'
        figcaption
          | △６四歩には▲７七桂と跳ねる
      p
        |  ▲７七桂
        br
        br
        |  △６四歩には▲７七桂と覚えてください
        br
        br
        |  中飛車はそんなに序盤怖いのすくないので
        br
        |  普通に組んでいただけたら大丈夫かと思います
        br
        br
        |  以下　進行例
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.06.29', class: 'img-fluid'
        figcaption
      p
        |  △５一飛　▲２九飛　△９四歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.07.00', class: 'img-fluid'
        figcaption
      p
        |  ▲９六歩　△５二金
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.07.05', class: 'img-fluid'
        figcaption
      p
        |  ▲６八金　△６三金
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.07.09', class: 'img-fluid'
        figcaption
          | ▲９七角と端角に据える
      p
        |  ▲９七角
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.07.14', class: 'img-fluid'
        figcaption
      p
        |  △７四歩　▲七五歩　△同歩　▲同角
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.07.18', class: 'img-fluid'
        figcaption
      p
        |  △７四歩　▲８四角
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.07.31', class: 'img-fluid'
        figcaption
      p
        |  △４四歩　▲７六銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.07.37', class: 'img-fluid'
        figcaption
      p
        |  △４一飛　▲７五歩　△同歩　▲６四歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.07.43', class: 'img-fluid'
        figcaption
      p
        |  △６二金引　▲６五銀　△同銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.07.48', class: 'img-fluid'
        figcaption
      p
        |  ▲６五同桂　
        br
        br
        |  こんな感じならちょっといいですね
        br
        |  端角の攻めが基本だと思ってるので
        br
        |  それが成立するときは行くべき
        br
article.article
  h2 data-target="part9"
    | 対ノーマル三間飛車
  #part9
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.09.52', class: 'img-fluid'
        figcaption
          | ▲７六歩　△３四歩　▲２六歩まで
      p
        |  初手よりの指し手
        br
        |  ▲７六歩　△３四歩　▲２六歩
        br
        br
        |  ではノーマル三間
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.09.57', class: 'img-fluid'
        figcaption
      p
        |  △４四歩　▲４八銀　△３二飛
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.10.03', class: 'img-fluid'
        figcaption
      p
        |  ▲２五歩　△３三角
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.10.07', class: 'img-fluid'
        figcaption
      p
        |  ▲３六歩　△４二銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.10.18', class: 'img-fluid'
        figcaption
      p
        |  ▲４六歩
        br
        br
        |  結構怖い筋ありまして
        br
        |  ここで先に▲３七桂と跳ねたりすると
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.10.54', class: 'img-fluid'
        figcaption
          | 先に▲３七桂と跳ねた局面
      p
        |  △何か他の手を指す　▲３七桂
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.11.01', class: 'img-fluid'
        figcaption
          | △４五歩で仕掛け筋に嵌まった局面
      p
        |  △３５歩　▲同歩　△４五歩
        br
        br
        |  という仕掛け筋があります。
        br
        |  これもそれなりに難しいですけど、 わざわざこんなことはしたくないので、 できない組み方にしましょう。
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.10.18', class: 'img-fluid'
        figcaption
          | ▲４六歩まで（再掲）
      p
        |  ▲４六歩
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.12.14', class: 'img-fluid'
        figcaption
      p
        |  △６二玉　▲４七銀
        br
        |  先に銀あがります。
        br
        |  ここで桂あがるとまたさっきの筋があるので
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.12.23', class: 'img-fluid'
        figcaption
      p
        |  △何か他の手を指す　▲３八金
        br
        br
        |  金あがって
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.12.46', class: 'img-fluid'
        figcaption
      p
        |  △７二玉　▲３七桂
        br
        br
        |  最後の桂はねる
        br
        br
        |  これだとさっきの筋はむちゃなので普通に組めます
        br
        |  対三間はここさえ守っていただけたらOKです
        br
        br
        |  あと石田流は右玉無理なので
        br
        |  普通に組んでください
        br
article.article
  h2 data-target="part10"
    | 対石田流
  #part10
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.15.18', class: 'img-fluid'
        figcaption
          | ▲７六歩　△３四歩　▲２六歩まで
      p
        |  初手からの指し手
        br
        |  ▲７六歩　△３四歩　▲２六歩
        br
        br
        |  一応、一例を挙げます
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.15.23', class: 'img-fluid'
        figcaption
          | △３五歩には▲６八玉
      p
        |  △３五歩　▲６八玉
        br
        |  (右玉を手放します)
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.15.28', class: 'img-fluid'
        figcaption
      p
        |  △４四歩　▲４八銀　△３二飛
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.15.32', class: 'img-fluid'
        figcaption
      p
        |  ▲４六歩　△４二銀　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.15.37', class: 'img-fluid'
        figcaption
      p
        |  ▲４七銀　△６二玉　▲７八玉
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.15.41', class: 'img-fluid'
        figcaption
      p
        |  △５二金左　▲２五歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.15.46', class: 'img-fluid'
        figcaption
      p
        |  △３四飛
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.15.54', class: 'img-fluid'
        figcaption
      p
        |  ▲５八金右　△７二銀　▲９六歩　△９四歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.15.57', class: 'img-fluid'
        figcaption
      p
        |  ▲何か他の手を指す　△７一玉　▲６八銀　△８二玉
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.16.02', class: 'img-fluid'
        figcaption
      p
        |  ▲５六歩　△４三銀　▲５七銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.16.12', class: 'img-fluid'
        figcaption
      p
        |  △３三桂　▲６八金直　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.16.17', class: 'img-fluid'
        figcaption
      p
        |  △５四銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.16.22', class: 'img-fluid'
        figcaption
          | ▲３八飛と３筋へ回った局面
      p
        |  ▲３八飛
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.16.27', class: 'img-fluid'
        figcaption
      p
        |  △１三角　▲３六歩　△同歩　▲同銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.16.32', class: 'img-fluid'
        figcaption
      p
        |  △３五歩　▲２７銀　△６四歩　▲２六銀　△７四歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.16.36', class: 'img-fluid'
        figcaption
      p
        |  ▲１五歩　△同歩　▲１四歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.16.41', class: 'img-fluid'
        figcaption
      p
        |  △１四同歩　▲１五香
        br
        br
        |  大分すすめちゃいましたけど
        br
        |  こんな感じです
        br
        br
        |  舟囲いにしましたけれど
        br
        |  美濃などもあるとは思います
article.article
  h2 data-target="part11"
    | 角交換振り飛車
  #part11
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.20.12', class: 'img-fluid'
        figcaption
          | △８八角成まで
      p
        |  初手からの指し手
        br
        |  △３四歩　▲７六歩　△８八角成
        br
        br
        |  角交換振り飛車ですけど
        br
        |  局面でいったら
        br
        |  五分五分くらいだと思いますけど
        br
        |  自分から打開しにくいので
        br
        |  個人的にはやらない程度です
        br
        |  右玉でいきましょうか
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.20.22', class: 'img-fluid'
        figcaption
      p
        |  ▲８八同銀　△２二銀　▲７七銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.20.29', class: 'img-fluid'
        figcaption
      p
        |  △３三銀　▲４八銀　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.20.35', class: 'img-fluid'
        figcaption
          | 角交換四間飛車に
      p
        |  △４二飛
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.20.52', class: 'img-fluid'
        figcaption
      p
        |  ▲４六歩　△６二玉　▲３六歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.20.59', class: 'img-fluid'
        figcaption
      p
        |  △７二玉　▲７七桂　△５二金左
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.21.09', class: 'img-fluid'
        figcaption
      p
        |  ▲４七銀　△８八玉　▲２九飛
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.21.21', class: 'img-fluid'
        figcaption
      p
        |  △７二銀　▲３八玉　△４四歩
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.21.30', class: 'img-fluid'
        figcaption
      p
        |  ▲３八金　△６四歩　▲６八金　
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.21.35', class: 'img-fluid'
        figcaption
      p
        |  △７四歩　▲６六銀
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.21.41', class: 'img-fluid'
        figcaption
      p
        |  △６三金　▲７七桂　△５四歩
        br
        br
        |  こんな感じかなとは思いますが、普段やってるわけではないので、 序盤の細かい筋はわからないです。
        br
        |  たぶん組めるとは思います
        br
        br
        |  デメリットとしては銀の位置。
        br
        |  ６七に行けないので左桂使おうと思ったら こういう形にしないといけない。
        br
        |  で５筋もどっかのタイミングで突かざるを得ない。
        br
        |  そして銀の位置と角手持ちという関係で自分から攻められない。
        br
        |  完全なカウンター狙いといったところ
        br
        br
        |  しかしメリットとしては、最初から角交換してるので、 打ち込みのすくない右にするのは、「一理ありそう」といったところ。
article.article
  h2 data-target="part12"
    | 質疑応答
  #part12
    .clearfix
      p
        |  なにか聞きたいこととか、ありますか？
        br
        br
        |  Question :
        br
        |  先手番と後手番で、注意することはありますか？
        br
        br
        |  Answer :
        br
        |  それほどシビアなものではないので、そこまで気にしていただかなくていいと思います。
        br
        |  力将棋になるので相居飛車の定跡とは異なり、シビアにはなりにくいです。
        br
        br
        |  Question :
        br
        |  どのかたちが、よくでそうとか、ありますか？
        br
        br
        |  Answer :
        br
        |  それは相手によるので、主導権は向こうなので、何とも言えないです。
        br
        |  ただ対振り右にできたら、こっちはほぼ同じ感覚でさせるのがメリット。
        br
        |  どの場所振られても、普通に組めたら、感覚的にはどれも大きな違いはないです。
        br
        |  相居飛車に関しては、相手しだいというしかないですね。
        br
        br
        |  Question :
        br
        |  角交換振り飛車に、▲８六銀から端攻めをよくします。
        br
        |  あまり成功しないんですけど＞＜ そうゆうのもありかと。。。
        br
        br
        |  Answer :
        br
        |  成立するかどうかはわからないです。リスクはめっちゃ高いと思います。
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.43.11', class: 'img-fluid'
        figcaption
      p
        |  Question :
        br
        |  ▲９九飛〜▲８五桂と跳ねてということですか。
        br
        br
        |  Answer :
        br
        |  ▲９九飛は、△９八歩～△８九銀で、なかなかうまくいかない
        br
        |  反動めちゃくちゃきついですね。善悪はわからないですけど。
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.44.57', class: 'img-fluid'
        figcaption
      p
        |  Question :
        br
        |  たんに９５歩同、同銀とか。。。笑
        br
        br
        |  Answer :
        br
        |  なくはないと思いますけど怖いですね
        br
        |  こうなってたらもうきついですし
        br
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.45.52', class: 'img-fluid'
        figcaption
      p
        br
        |  手数関係がわからないですけど、こんな感じでカウンター狙いのが無難かなと。
    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.47.11', class: 'img-fluid'
        figcaption
      p

    .clearfix
      figure.figure.figure-left
        = image_tag 'lecture_right_king/mi23.48.47', class: 'img-fluid'
        figcaption
      p
        |  旧来の右玉の形 なぎ流の感じで、 ▲８八銀～▲７七銀〜▲６六銀〜▲５七銀といった感じで。
        br
        |  ただ本当にこれ自分から仕掛けられないので、その辺は覚悟でやるということで。
    .clearfix
      p
        |  Question :
        br
        |  逆に、相手からの攻めはどんなのがありますか？
        br
        |  カウンターを狙うとしたら。
        br
        br
        |  Answer :
        br
        |  うーん、難しいんですよね。
        br
        |  ここまで組み上がると互いに仕掛けが難しい。
        br
        |  力戦としか言いようが、なくなっちゃいます。
        br
        br
        |  お疲れ様でした。
