- provide :title, "自己紹介 更新"

javascript:
  $(function(){
    // R から 段級位への変換
    $().rating_to_dankyu("profile_joined");
  });

h1
  = avatar_link_to(@user)
  = yield(:title)

.ui.small.right.aligned.header
  => gengo @profile.updated_at
  | 更新

.form_design
  => avatar_link_to @user, avatar_only: true
  = link_to 'アバター変更', "http://gravatar.com/emails", target: "_blank"

  = form_with(model: [@user, @profile], url: user_profile_path(@user), class: 'ui form', local: true) do |f|
    == render "shared/error_messages", object: f.object
    - p = UserFormPresenter.new(f, self)
    = p.profile_information_block(enough_authority: current_user?(@user) || admin_user?)
    = p.submit_button('更新する')
