- provide :title, @user.name

h1
  = avatar_link_to(@user)
  | 自己紹介

.ui.small.right.aligned.header
  => gengo @profile&.updated_at
  | 更新

.form_design
  - p = ProfilePresenter.new(@profile, self)
  = p.show_user_profile
  - if current_user?(@profile.user)
    = p.edit_user_profile_button
