- provide(:title, "ログイン")

h1 ログイン
.form_design
  = form_with(model: @form, url: login_path, local: true, class: 'ui form') do |f|
    = render "shared/error_messages", object: f.object

    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label 'パスワード'
      = link_to "(再設定する)", new_password_reset_path
      = f.password_field :password

    .inline.field
      = f.label :remember_me
      = f.check_box :remember_me

    .field
      = f.submit "ログイン", class: 'ui small green button'



  .ui.segment
    p
      | 5JK 会員の皆様は、メイン掲示板を活用出来るよう、ユーザー登録済です。
      br
      | パスワードは、例会時などに、管理者へお尋ね下さい。
