- provide :title, 'パスワードの再設定'

scss:
  span.help-block {
    display: none;
  }

h1 = yield(:title)

.form_design
  = form_with(model: @password_reset_form, url: :password_reset, method: :patch, local: true, class; 'ui form') do |f|
    == render "shared/error_messages", object: f.object

    - p = PasswordResetFormPresenter.new(f, self)
    = p.password_field_block
    = hidden_field_tag :email, @user.email
    = p.submit_button '設定する', class: 'ui small green button'
