- provide :title, 'パスワードの再設定'

scss:
  span.help-block {
    display: none;
  }

h1 = yield(:title)

.form_design
  p
    | 登録されたメールアドレスに、パスワードリセット用の専用URLをお送りします。
  br

  = form_with(model: @password_reset_form, url: :password_reset, local: true, class; 'ui form') do |f|
    == render "shared/error_messages", object: f.object
    / - p = PasswordResetFormPresenter.new(f, self)
    / = p.email_field_block
    / = hidden_field_tag :mode, :email_confirmation
    / = p.submit_button '送信する', class: 'ui small green button'
