- provide :title, "順位"
h1 〜 順位 ＆ 月間三冠 〜

.clearfix
  .form-inline.pull-right
    = form_for(:ranking, url: rankings_path, method: :get) do |f|
      => f.text_field :ymd, value: @ymd, size: 10, class: 'datepicker text-center form-control'
      = f.submit '表示', class: 'ui small green button'

ul.nav.nav-tabs role="tablist"
  li.nav-item
    a.nav-link.active href="#area_ranking"     data-toggle="tab" 順　位
  li.nav-item
    a.nav-link href="#area_prize"       data-toggle="tab" 年間三冠
  li.nav-item
    a.nav-link href="#area_history"     data-toggle="tab" 今年の履歴
  li.nav-item
    a.nav-link href="#area_past_record" data-toggle="tab" 過去の記録
  li.nav-item
    a.nav-link href="#area_note"        data-toggle="tab" 補足説明

.tab-content
  .tab-pane.fade.show.active#area_ranking
    .table-responsive
      small
        table.table.sortable.table-hover.table-sm
          thead
            tr
              th 順位
              th 会員<br>番号
              th ハンドルネーム
              th 入会時<br>段級位
              th 現在<br>Ｒ
              th 段級位
              th.vl 累計<br>勝率
              th 勝ち数
              th 対局数
              th 最高Ｒ
              th.vl 先月<br>勝率
              th 勝ち数
              th 対局数
              th Ｒ上昇
              th.vl 年間<br>勝率
              th 勝ち数
              th 対局数
              th Ｒ上昇

              - if @ymd >= Date.parse("2018-11-01")
                th.vl 全体<br>順位
                th 全体<br>割合
                th 将 棋<br>偏差値

          tbody
            - RankingPresenter.build(@rankings, self) do |ranking|
              = ranking.table_row
    .text-right
      p.small 項目をクリックすることにより、並び替えが可能です。

  #area_prize.tab-pane.fade.tab_design
    .table-responsive
      table.table.table-hover.table-sm
      	caption ■　年間三冠　■
        thead
          tr.rank
            th 年
            th 順　位
            th colspan="2" １位
            th colspan="2" ２位
            th colspan="2" ３位
        tbody
          - p = RankingPresenter.new(@annually_count_crown, self)
          = p.annually_count_crown

    .table-responsive.mt-4
      table.table.table-hover.table-sm
        caption ■　年間成績四冠　■
        thead
          tr
            th 年　度
            th 順　位
            th colspan="2" １位
            th colspan="2" ２位
            th colspan="2" ３位
        tbody
          - p = RankingPresenter.new(@annually_rankers, self)
          = p.annually_crown(display_period: true)

  #area_history.tab-pane.fade.tab_design
    .table-responsive
      table.table.table-hover.table-sm
        thead
          tr
            th 年　月
            th 順　位
            th colspan="2" １位
            th colspan="2" ２位
            th colspan="2" ３位
        tbody
          / - @monthly_rankers.each do |monthly|
          /   - p = RankingPresenter.new(monthly, self)
          /   = p.monthly_crown(display_period: true)
          - RankingPresenter.build(@monthly_rankers, self) do |rankers|
            = rankers.monthly_crown(display_period: true)

  #area_past_record.tab-pane.fade.tab_design
    ul.list-unstyled
      li
        a href="../ranking_sankan/Gekkan_Sankan-17.html" 平成17年度の記録
      li
        a href="../ranking_sankan/Gekkan_Sankan-18.html" 平成18年度の記録
      li
        a href="../ranking_sankan/Gekkan_Sankan-19.html" 平成19年度の記録
      li
        a href="../ranking_sankan/Gekkan_Sankan-20.html" 平成20年度の記録
      li
        a href="../ranking_sankan/Gekkan_Sankan-21.html" 平成21年度の記録
      li
        a href="../ranking_sankan/Gekkan_Sankan-22.html" 平成22年度の記録
      li
        a href="../ranking_sankan/Gekkan_Sankan-23.html" 平成23年度の記録
      li
        a href="../ranking_sankan/Gekkan_Sankan-24.html" 平成24年度の記録
      li
        a href="../ranking_sankan/Gekkan_Sankan-25.html" 平成25年度の記録

  #area_note.tab-pane.fade.tab_design
    h4.space ■目的
    ol
      li メンバーの日常の、将棋倶楽部２４での活動を顕彰するため
      li 野球で言いますと、「ホームラン数」「ヒット数」「打率」を考えてもらえば、解りやすいと思います
      li 「勝ち数」「対局数」「勝率」を、各メンバーが少しでも上げて行けるように、なんらかの励みとするため。

    h4.space ■内容
    ol
      li 月毎に、ランキング表を更新して、三冠を決定します。
      li
        | 「勝率王」は、
        br
        | 今期勝ち数÷今期対局数＝今期勝率
        br
        | の計算式で算出した値が、第１位のメンバーとします。
        br
        | ただし、規定対局数を20局以上とし、それ以下の対局数のメンバーは選考外とします。
      li
        | 「勝ち星王」は、
        br
        | 今期末勝ち数ー期末勝ち数＝今期勝ち数
        br
        | の計算式で算出した値が、第１位のメンバーとします。
      li
        | 「対局数王」は、
        br
        | 今期末対局数－前期末対局数＝今期対局数
        br
        | の計算式で算出した値が、第１位のメンバーとします。
      li 三冠に選出されたメンバーは、トップページの月間三冠に、その名前を明記し顕彰します。
      li もし三つとも同じ月に受賞した方は、「月間三冠王」の座に就きます。
      li 「受賞履歴」として、各年月度の各賞の受賞者の、ＨＮと成績を一覧表にして残します。
      li
        | 各1位・最多受賞者を「年間三冠」として、次年度初めに別に顕彰します。
        br
        strike
          | もし、年間授賞回数が同数で並んだ場合、
          |        1位＝3点、2位＝2点、3位＝1点
          |  として合計点数で年間順位が決まります。

    h4.space ■注意
    ol
      li 「月間三冠」は、あくまで個々の結果を顕彰する、一つの便宜上の方法であって、そのメンバーの将棋に対する取り組みや努力の全体を評価したものではありません。
      li 結果を良くすることだけを目的とした、明らかに雑で無理な対局が続いたことが、もし報告されたり確認された場合、受賞を取り消す場合があります。その場合、第２位のメンバーが受賞となります。
      li 集計は、名簿を検索して行なうために、レーティング対局のみが反映されます。したがって、フリー対局は含まれません。

    h4 基本的な使い方
    article
      | 年、月を選択し、「表示」ボタンを押すと、ランキング表が表示されます。
      br
      | 月間勝率等は、前月１日〜末日までの対局結果を元に算出しています。
      br
      | 年間勝率等は、
      br
      | 　　１月の場合、前年１月１日〜１２月末日までの対局結果
      br
      | 　　２月以降の場合、当年の１月１日〜前月末日までの対局結果
      br
      | を基に算出しています。
      br
      br
      | 例）平成２６年３月１日現在のランキング表は、
      br
      | 　　順位〜最高Rまでは、平成２６年３月１日時点でのデータです。
      br
      | 　　月間勝率等は、平成２６年２月１日〜末日までの対局結果
      br
      | 　　年間勝率等は、平成２６年１月１日〜平成２６年２月末日までの対局結果
      br
      | を元に算出しています。

    h4 月間勝率・年間勝率について
    article
      | 計算方法は、次のとおりです。
      br
      |例）５０勝４０敗１０分の方の場合
      br
      |　　　（平成２５年１２月まで）
      br
      |　　　　　月間・年間勝率　＝　勝ち数 ／ （勝ち数 ＋ 負け数 ＋ 引き分け数）
      br
      |　　　　　月間・年間勝率　０．５００　＝　５０ ／ （５０ ＋ ４０ ＋ １０）
      br
      |　　　（平成２６年　１月以降）
      br
      |　　　　　月間・年間勝率　＝　勝ち数 ／ （勝ち数 ＋ 負け数）
      br
      |　　　　　月間・年間勝率　０．５５６　＝　５０ ／ （５０ ＋ ４０）

    h4 古い記録や途中入会の方のデータについて
    article
      | 月間勝率等の算出が正しく行われていない場合があります。
