h1 順位表 作成

.form_design.p-4
  .row
    = link_to "24名簿", "http://web.shogidojo.net/24member/meibo/", target: "blank", class: "btn btn-lg btn-info mb-3"
    = form_with(model: @ranking, scope: :ranking, html: { multipart: true }, local: true) do |f|
      = f.text_field :ymd, class: "datepicker form-control col-3 text-center", value: Date.today.beginning_of_month
      - p = FormPresenter.new(f, self)
      = p.upload_file_block(name: "ranking[upload_file]")

      - ranks = %i(八段 七段 六段 五段 四段 三段 二段 初段 １級 ２級 ３級 ４級 ５級 ６級 ７級 ８級 ９級 10級 11級 12級 13級 14級 15級 初心)

      .form-inline.mb-1
        - ranks.each.with_index(1) do |rank, i|
          = p.text_field_block("rank#{i}", rank, class: 'form-control col-1 text-center m-0', placeholder: rank)
      p.small.text-right.mt-0
        | (将棋倶楽部24の名簿から、対局数100局以上の各段級位の人数を検索し、入力する。)
      = p.submit_button '取込'

css:
  .custom-file-label::after {
    content: "名簿ファイル選択";
  }
