- provide :title, '入会申込'

h1 = yield(:title)

.form_design
  p
    | 入会申請、ありがとうございます。
    br
    | 入会申請専用ＵＲＬが記されたメールをお送りいたします。
    br
    | ご連絡が取れるメールアドレスを記入して下さい。

  = form_with(model: @sign_up_form, url: :sign_up, local: true, class: 'ui form') do |f|
    == render "shared/error_messages", object: f.object
    - p = SignUpFormPresenter.new(f, self)
    = p.sign_up_email_block

    = p.submit_button '申請する'
