h1
  | 五級位上昇を目指す会
  br
  | 入会申請のご案内

p
  | 五級位上昇を目指す会への入会申請、ありがとうございます。
  br
  | 専用ＵＲＬより、入会申請が行えます。
  br
  | ２時間以内に下のリンクをクリックして、入会申請を完了して下さい。
  br
  = link_to "入会申請する", activation_url(@token, email: @user.email)
