| 五級位上昇を目指す会
| パスワードの再設定のご案内
| パスワードを再設定するために、下のリンクをクリックして下さい。
= link_to "パスワードをリセットする", edit_password_reset_url(@token, email: @user.email)
| このリンクの有効期限は二時間です。
| もし、あなたがパスワードの再設定を求めていない場合には、 このメールは無視して下さい。
| またあなたのパスワードはそのままで差し支えありません。
