h1
  | 五級位上昇を目指す会
  br
  | パスワード再設定のご案内

p
  | パスワードを再設定するために、下のリンクをクリックして下さい。
  br
  = link_to "パスワードをリセットする", edit_password_reset_url(@token, email: @user.email)

p
  | このリンクの有効期限は二時間です。
  br
  br
  | もし、あなたがパスワードの再設定を求めていない場合には、
  br
  | このメールは無視して下さい。
  br
  | またあなたのパスワードはそのままで差し支えありません。
