javascript:
  $(function(){
    // 詳細は http://ivaynberg.github.io/select2/  #documentation
    $(".searchable").select2({
      width:      85,     //  横幅
      allowClear: false,  //  Clear x を表示しない
    });
  });

scss:
  label[for='entry_area'] {
    display: none;
  }
  textarea.form-control,
  input.form-control {
    margin: 0;
    border: 1px solid silver !important;
    border-radius: 4px; background-color: white;
  }

- @entries.each do |entry|
  tr
    = bootstrap_form_for(entry, url: kisen_entry_path(entry.kisen_id, entry.id)) do |f|
      td = f.text_field :name, skip_label: true, class: "text-center"
      td = f.text_field :rating, skip_label: true, class: "text-center"
      - if @kisen.sym_name == :meijin
        td = f.text_field :meijin_class, skip_label: true, class: "text-center"
      - if @kisen.sym_name == :tozai
        - pref = JpPrefecture::Prefecture.find entry&.area
        td = f.collection_select :area, JpPrefecture::Prefecture.all, :code, :name, {}, class: "searchable"
      - if @kisen.sym_name.in?([:tozai, :koryu])
        td = f.text_field :team, skip_label: true, class: "text-center"
      = f.hidden_field :prev_path, value: "index"
      td
        => f.submit "更新", class: "btn btn-sm btn-primary"
        => link_to '削除', kisen_entry_path(@kisen, entry, :index), method: :delete, data: { confirm: '本当に削除しますか' }, class: 'btn btn-sm btn-danger'

tr
  = bootstrap_form_for(@kisen.entries.build, url: kisen_entries_path(@kisen)) do |f|
    td = f.text_field :name,   skip_label: true, class: "text-center"
    td = f.text_field :rating, skip_label: true, class: "text-center"
    - if @kisen.sym_name == :meijin
      td = f.text_field :meijin_class, skip_label: true, class: "text-center"
    - if @kisen.sym_name == :tozai
      / - pref = JpPrefecture::Prefecture.find entry&.area
      - pref = 1
      td = f.collection_select :area, JpPrefecture::Prefecture.all, :code, :name, {}, class: "searchable"
    - if @kisen.sym_name.in?([:tozai, :koryu])
      td = f.text_field :team, skip_label: true, class: "text-center"
    = f.hidden_field :prev_path, value: "index"
    td = f.submit "追加", class: "btn btn-sm btn-success", data: { disable_with: '送信中...' }
