- provide :title, "参加申込 編輯"

javascript:
  $(function(){
    // R から 段級位への変換
    $().rating_to_dankyu("entry");
  });


h1 = yield(:title)

= bootstrap_form_for(@entry, url: kisen_entry_path(@entry.kisen_id, @entry.id), layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f|
  = f.text_field :name, class: "text-center", readonly: true
  = f.text_area  :comment
  = f.text_field :dankyu, class: "text-center", readonly: true
  = f.text_field :rating, class: "text-center", readonly: admin_user? ? false : true
  = f.submit "更新", class: "btn btn-primary"
