- provide :title, "#{@kisen.name} 参加申込者 一覧"

/ h1 = @kisen.name
h1 = yield(:title)

javascript:
  $(function(){
    $('table.table').tablesorter();
  });

small
  .table-responsive
    table.table.table-hover.table-sm
      thead
        tr
          th 参加者名
          / th コメント
          th レーティング
          - if @kisen.sym_name == :meijin
            th 順位戦クラス
          - if @kisen.sym_name == :tozai
            th 都道府県
          - if @kisen.sym_name.in?([:tozai, :koryu])
            th チーム
      tbody
        - if @entries.present?
          = render 'entry'

br
= link_to "要項へ", kisen_path(params[:kisen_id]), class: "btn btn-md btn-info"

hr

- title = controller.action_name == "edit" ? "対局表 編輯" : "対局表 作成"
h1 = title

- @matchup = Matchup.new
= form_for(@matchup) do |f|
  = f.hidden_field :kisen_id, value: params[:kisen_id]
  .form-group.row
    label.col-sm-2.col-form-label 週の開催回数
    .col-sm-4
      = f.text_field :week_frequency, class: 'form-control text-center', value: 1
  = f.submit '作成する', class: "btn btn-primary"
