= form_with(model: @carousel, class: 'ui form') do |f|
  .field
    = f.label :title
    = f.text_field :title,   class: 'form-control', placeholder: '見出し'
  .field
    = f.label :comment
    = f.text_area  :comment, class: 'form-control', placeholder: '案内文いろいろ(^.^)'
  .field
    = f.submit class: 'ui small green button'
