= markup do |m|
  - p = StaffFormPresenter.new(f, self)
  - m << p.notes
  - p.with_options(required: true) do |q|
    - m << q.text_field_block(:email, 'メールアドレス', size: 32)
    - m << q.password_field_block(:password, 'パスワード', size: 32)
    - m << q.full_name_block(:family_name,      :given_name,      '氏名')
    - m << q.full_name_block(:family_name_kana, :given_name_kana, 'フリガナ')
    - m << q.date_field_block(:start_date, '開始日')
    - m << q.date_field_block(:end_date,   '終了日', required: false)
  - m << p.suspended_box
