h1 スレッド名編輯

.form_design
  = form_with(model: @topic, local: true, class: 'ui form') do |f|
    == render 'shared/error_messages', object: f.object
    .field
      = f.label :title
      = f.text_field :title, autofocus: true
    = f.submit class: 'ui green button'
