- provide(:title, 'スレッド一覧')

.ui.text.container
  h1 スレッド一覧
  table.ui.stackable.selectable.striped.table
    thead
      tr
        th.center.aligned  スレッド名
        th.center.aligned 投稿数
        th.center.aligned 最終投稿日
        - if admin_user?
          th
    tbody
      - TopicPresenter.build(@topics, self) do |topic|
          = topic.table_row
  br
  - if logged_in_user?
    => link_to "新スレッド作成", new_topic_path, class: 'ui small green button'

// pagination
== pagy_semantic_nav(@pagy)
