h1 新スレッド作成

.topics
  = form_with model: @topic, html: { multipart: true }, class: 'ui form' do |f|
    == render "shared/error_messages", object: f.object

    .field
      = f.label :title
      = f.text_field :title, placeholder: "新スレッド名"

    = f.fields_for :post, html: { multipart: true } do |ff|
      = ff.hidden_field :topic_id
      .field
      = ff.label :comment, 'コメント'
      = ff.text_area :comment,
                     placeholder: "コメントをどうぞ＼(^_^)／"
      .custom-file
        = file_field_tag :upload_file, class: 'custom-file-input', accept: '*'
        label.custom-file-label.custom-file-label-kifu-or-image.text-left title=""
    = f.submit '作成する', class: 'ui small green button'
