section.topics id="topic_#{@topic.id}"
  / タイトルやツールバーの表示
  = TopicPresenter.new(@topic, self).header

  div id="post_new_#{@topic.id}" class="hidden"
    / 新規投稿フォーム
    = form_with(model: [@topic, @topic.posts.build], html: { multipart: true }, local: true, class: 'ui form') do |f|
      == render "shared/error_messages", object: f.object
      - p = FormPresenter.new(f, self)
      = p.poster_block
      = p.comment_field_block
      = p.upload_file_block if logged_in_user?
      / 画像認証
      / = render 'shared/recaptcha' if guest_user?
      .field
        = p.submit_button
      br

  == render @posts

  // pagination
  == pagy_semantic_nav(@pagy)
