- provide :title, '会員申請'
h1 = yield(:title)

scss:
  span.help-block {
    display: none;
  }

javascript:
  $(function(){
    // R から 段級位への変換
    $().rating_to_dankyu("registration_joined");
  });

.form_design
  = form_with(model: @registration_form, url: :registration, local: true) do |f|
    == render "shared/error_messages", object: f.object
    - p = RegistrationFormPresenter.new(f, self)
    = p.user_information_block
    = p.profile_information_block

    = p.submit_button '登録する'
