= form_with(model: @information, class: 'ui form') do |f|
  .field
    = f.label :title
    = f.text_field :title, placeholder: '見出し'
  .field
    = f.label :comment
    = f.text_area  :comment, placeholder: '案内文いろいろ(^.^)'
  .field
    = f.submit class: 'ui small green button'
