- provide :title, "会員情報 更新"

h1
  = avatar_link_to(@user)
  = yield(:title)

.ui.small.right.aligned.header
  => gengo @user.updated_at
  | 更新

.form_design
  .row.mt-4.pb-0
    .col-2.text-center
      => avatar_link_to @user, avatar_only: true
    .col-2.mt-3
      = link_to 'アバター変更', "http://gravatar.com/emails", target: "_blank"

  / = bootstrap_form_for(@user) do |f|
  = form_with(model: @user, local: true) do |f|
    == render "shared/error_messages", object: f.object
    - p = UserFormPresenter.new(f, self)
    = p.user_information_block(enough_authority: admin_user?)
    = p.submit_button '更新する'
