- provide(:title, '会員一覧')
h1 会員名簿

.ui.tabular.menu
  a.item.active data-tab="active_member"
    | 活動中会員
  a.item data-tab="sleep_member"
    | 休止中会員
  - if admin_user?
    a.item data-tab="provisional_member"
      | 入会申請中会員

- member_kind = %i(active_member sleep_member)
/ - member_kind << :provisional_member if admin_user?
- member_kind.each do |member|
  - active = (member == :active_member ? 'active' : '')
  .ui.tab class="#{active}" data-tab="#{member}"
    table.ui.stackable.selectable.striped.sortable.table
      thead
        tr
          th
            | 会員名
            br
            | 会員番号
          th
            | 入会日
            br
            | 入会段級位
            br
            | 入会 Ｒ
          th 得意戦法
          th 好きな棋士
          th 一言ＰＲ
          th 更新日
      tbody
        - UserPresenter.build(@users[member], self) do |user|
          = user.table_row

// 入会者への連絡用
- UserPresenter.build(@users[:provisional_member], self) do |user|
  = user.approbation_modal
  = user.rejection_modal
