- provide :title, '新会員登録'
h1 = yield(:title)

javascript:
  $(function(){
    // R から 段級位への変換
    $().rating_to_dankyu("user_profiles_joined");
  });

.form_design
  = form_with(model: @user, local: true, class: 'ui form') do |f|
    == render "shared/error_messages", object: f.object

    - p = UserFormPresenter.new(f, self)
    = p.user_information_block
    hr
    = f.fields_for :profiles do |ff|
      - q = UserFormPresenter.new(ff, self)
      = q.profile_information_block(enough_authority: admin_user?)
    br
    = p.submit_button
