- p = KifuPresenter.new(kifu, self)
- sente, gote = p.player1, p.player2

.shogi_container id="shogi_#{kifu.id}"
  / jkfe形式の棋譜データをDOMに埋め込む
  .hidden id="jkfe_#{kifu.id}" #{kifu.kifu}

  / 棋戦名など対局情報の表示
  .kifu_info
    = p.kifu_info

  / 相手（奥／左側）の駒台
  .komadai.komadai_1 id="komadai_1_#{kifu.id}"
    - 12.downto(1).each do |pos|
      = koma_tag(:blk, sprintf("k1%02d", pos))
  .mochigoma.mochigoma_1 id="mochigoma_1_#{kifu.id}" 0, 0, 0, 0, 0, 0, 0, 0
  .player_name_1 id="player_name_1_#{kifu.id}"
    p
      = "△#{gote}"

  / 将棋盤の用意
  = shogiban_tag(kifu.id, p.teai)

  / 自分（手前／右） の駒台
  .player_name_0 id="player_name_0_#{kifu.id}"
    p
      = "▲#{sente}"
  .komadai.komadai_0 id="komadai_0_#{kifu.id}"
    - 1.upto(12).each do |pos|
      = koma_tag(:blk, sprintf("k0%02d", pos))
  .mochigoma.mochigoma_0 id="mochigoma_0_#{kifu.id}" 0, 0, 0, 0, 0, 0, 0, 0

  / コメント枠
  .comment id="comment_#{kifu.id}"
    / kifu.comment
    / #=> { 0 => "対局前のコメント", 2 => "2手目へのコメント", 100 => "100手目へのコメント\r\nコメント" }
    / = form_with(model: Kifu.new, url: kifu_path("#{kifu.id}"), method: :patch) do |f|
    = form_with(model: Kifu.find(kifu.id), method: :patch) do |f|
      - (0..(p.moves.succ)).each do |n|
        - sh = (n == 0 ? "selected" : "hidden")
        = text_area_tag "#{n}", "#{kifu.comment[n]&.strip}", class: "msgbox #{n} #{sh}"

      - if logged_in_user?
        / 掲示板で複数の棋譜が表示されているとき、
        / どの棋譜へのコメント書き込みか識別するために、hidden_field_tagを使っている
        = hidden_field_tag :kifu_id, "#{kifu.id}", id: "kifu_id_0"
        = f.submit 'ｺﾒﾝﾄ書込', class: "ui basic brown button write_comment"

        / 生棋譜データ(kif形式) download
        = KifuPresenter.new(kifu, self).kifu_download_button

  / 棋譜コントロールパネル
  .panel data-kifu-number="#{kifu.id}"
    / 棋譜リストを生成
    .list.selectbox[id="kifu_list_#{kifu.id}" data-kifu-number="#{kifu.id}" data-kifu-max="#{kifu.kifu.length}"]
      a.select[href="#" data-kifu-number="#{kifu.id}"]
        span --開始局面--
      .pulldown.hidden
        - asterisk = kifu.comment[0].present? ? '* ' : '&nbsp;&nbsp;'.html_safe
        a.selected href='0'
          | #{asterisk} --開始局面--

        - kifu.kifu.each_with_index do |kif, n|
          - next if n == 0
          - asterisk = kifu.comment[n].present? ? '* ' : '&nbsp;&nbsp;'
          = link_to "#{asterisk} #{n}. #{code2te(kif)}".html_safe, n.to_s
        / TODO: 投了でない場合もあるけれど
        = link_to "&nbsp;&nbsp;&nbsp;#{p.moves+1}. #{p.loser_mark}投了".html_safe, (p.moves).to_s

      / 現在、何手目を表示しているのか
      input.current_te type="hidden" value="0" id="current_te_#{kifu.id}"


  / 棋譜プレーヤー
  .kifu_player
    / 棋譜再生速度を生成
    .speed.selectbox id="kifu_speed_#{kifu.id}"  data-kifu-number="#{kifu.id}"
      a.select href="#"
        span 普通
      .pulldown.hidden
        a href="s250" 超速
        a href="s500" 速い
        a.selected href="s1000" 普通
        a href="s1750" 遅い
        a href="s2500" 激遅
      input.kifu_speed type="hidden" value="s1000" id="current_speed_#{kifu.id}" data-kifu-number="#{kifu.id}"
    input.kifu_first  type="button" id="kifu_first_#{kifu.id}"  value="|<" disabled="true" data-kifu-number="#{kifu.id}"
    input.kifu_prev   type="button" id="kifu_prev_#{kifu.id}"   value=" <" disabled="true" data-kifu-number="#{kifu.id}"
    input.kifu_play   type="button" id="kifu_play_#{kifu.id}"   value="▶" data-kifu-number="#{kifu.id}" data-kifu-max="#{kifu.kifu.length}"
    input.kifu_next   type="button" id="kifu_next_#{kifu.id}"   value=" >" data-kifu-number="#{kifu.id}"
    input.kifu_last   type="button" id="kifu_last_#{kifu.id}"   value=">|" data-kifu-number="#{kifu.id}" data-kifu-max="#{kifu.kifu.length}"
    input.kifu_invert type="button" id="kifu_invert_#{kifu.id}" value="反転" data-kifu-number="#{kifu.id}"
