.shogi_container[id="shogi_0"]
  / jkfe形式の棋譜データをDOMに埋め込む
  .hidden#jkfe_0
  / 棋戦名などの表示
  .kifu_info
    / Ajax で直接書き込み
    / p  == render partial: "shared/kifu_info", locals: { info: kifu.info }

  / 相手（奥／左側）の駒台
  .komadai.komadai_1[id="komadai_1_0"]
    - 12.downto(1).each do |pos|
      = koma_tag(:blk, "k1#{'%02d' % pos}")
  .mochigoma[id="mochigoma_1_0"] 0, 0, 0, 0, 0, 0, 0, 0
  .player_name_1[id="player_name_1_0"]

  / 将棋盤
  / 駒落ちの場合も、Ajaxで修正済み
  = shogiban_tag(0, "平手")

  / 自分（手前／右） の駒台
  .player_name_0[id="player_name_0_0"]
  .komadai.komadai_0[id="komadai_0_0"]
  - (1..12).each do |pos|
    = koma_tag(:blk, "k0#{'%02d' % pos}")
    .mochigoma[id="mochigoma_0_0"] 0, 0, 0, 0, 0, 0, 0, 0

  / コメント枠
  .comment[id="comment_0"]
    / #=> { 0 => "対局前のコメント", 2 => "2手目へのコメント", 100 => "100手目へのコメント\r\nコメント" }
    = form_for(:kifu, url: kifu_path(28), method: :patch) do |f|
      - (0...300).each do |n|
        - sh = n == 0 ? "selected" : "hidden"
        = text_area_tag "#{n}", "", class: "msgbox #{n} #{sh}"
      - if logged_in_user?
        = hidden_field_tag :kifu_id_for_comment, ""
        = f.submit 'ｺﾒﾝﾄ書込', class: "btn btn-sm btn-light write_comment"

  / 棋譜コントロールパネル
  .panel data-kifu-number="0"
    / 棋譜リストを生成
    .list.selectbox[id="kifu_list_0" data-kifu-number="0" data-kifu-max="0"]
      a.select[href="#" data-kifu-number="0"]
        span --開始局面--
      .pulldown.hidden
        = link_to "--開始局面--", "0"
        - (1..300).each do |n|
          = link_to "#{n}. ▲２六歩", n.to_s
        / # 実際の差し手は Ajax で書き換え

      / 現在、何手目を表示しているのか
      input.current_te[type="hidden" value="0" id="current_te_0"]

    / 棋譜再生速度
    .speed.selectbox[id="kifu_speed_0"  data-kifu-number="0"]
      a.select[href="#"]
        span 普通
      .pulldown.hidden
        a[href="s250"] 超速
        a[href="s500"] 速い
        a.selected[href="s1000"] 普通
        a[href="s1750"] 遅い
        a[href="s2500"] 激遅
      input.kifu_speed[type="hidden" value="s1000" id="current_speed_0" data-kifu-number="0"]

    / 棋譜プレーヤー
    .kifu_player
      input.kifu_first [type="button" id="kifu_first_0"  value="|<" disabled="true" data-kifu-number="0"]
      input.kifu_prev  [type="button" id="kifu_prev_0"   value=" <" disabled="true" data-kifu-number="0"]
      input.kifu_play  [type="button" id="kifu_play_0"   value="▶"   data-kifu-number="0" data-kifu-max="0"]
      input.kifu_next  [type="button" id="kifu_next_0"   value=" >"   data-kifu-number="0"]
      input.kifu_last  [type="button" id="kifu_last_0"   value=">|"   data-kifu-number="0" data-kifu-max="0"]
      input.kifu_invert[type="button" id="kifu_invert_0" value="反転" data-kifu-number="0"]

  / 生棋譜データ(kif形式, ki2形式) download
  - if logged_in_user?
    = form_for(:kifu, url: download_kifu_path(0), method: :get) do |f|
      = hidden_field_tag :kifu_id_for_download, ""
      = f.submit '棋譜保存', class: "btn btn-sm btn-light download_kifu"

  / button.btn.btn-default.btn-sm.show_kifu[data-toggle="collapse" data-target="#raw_kifu_0"]
  /   | kif形式
  / div[id="raw_kifu_0" class="collapse out"]
  /   textarea.raw_kifu
