/ TODO: 検索が利かない

.well.collapse.search_form
  = search_form_for(@q, url: yield(:search_path)) do |f|
    - name_cont    = "name_cont"
    - comment_cont = "comment_cont"
    - if yield(:search_path) == root_path
      - name_cont    = "posts_name_cont"
      - comment_cont = "posts_comment_cont"
      .form-inline
        = f.label      :title_cont, 'スレッド名'
        = f.text_field :title_cont, class: 'form-control'
      br

    .form-inline
      = f.label      name_cont, '投稿者'
      = f.text_field name_cont, class: 'form-control'
    br
    .form-inline
      = f.label      comment_cont, 'コメント'
      = f.text_field comment_cont, class: 'form-control'
    br
    .form-inline
      = f.label :updated_at_gteq, '更新日'
      = f.date_field :updated_at_gteq, class: 'form-control datepicker text-center', name: 'start'
      | 〜
      = f.date_field :updated_at_lteq, class: 'form-control datepicker text-center', name: 'end'
    br
    = f.submit '検索', class: 'btn btn-success'
