table#map.table.table-sm
  tr
    td.note[colspan="19"]
      | 【５ＪＫ会員の居住地】
      br
      span#date
      | 平成30年2月1日 現在、
      span#total
      | 22 名の皆様が、５ＪＫ会員として活動されています。
  tr
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td[colspan="2"]
    td
  tr
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td[colspan="2"]
      | 　
    td
  tr
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td.hokkaido[colspan="2" rowspan="3"]
      br
      | 北海道
      br
      span.member
        | 4
    td[rowspan="3"]
  tr
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
  tr
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
  tr
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
  tr
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td.aomori[colspan="2"]
      | 青森
      span.member
    td
  tr
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td.akita
      | 秋田
      br
      span.member
        | 1
    td.iwate
      | 岩手
      br
      span.member
    td
  tr
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td.ishikawa[rowspan="2"]
      | 石川
      span.member
    td
    td.niigata[colspan="2"]
      | 新潟
      span.member
    td.yamagata
      | 山形
      br
      span.member
        | 3
    td.miyagi
      | 宮城
      br
      span.member
    td
  tr
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td.fukui[rowspan="2"]
      | 福井
      br
      span.member
    td.toyama[rowspan="2"]
      | 富山
      br
      span.member
        | 1
    td.nagano[rowspan="3"]
      br
      | 長野
      br
      span.member
    td.gunma[rowspan="2"]
      | 群馬
      br
      span.member
    td.fukushima[colspan="2"]
      | 福島
      span.member
    td
  tr
    td
    td
    td
    td
    td
    td.yamaguchi[rowspan="2"]
      | 山口
      br
      span.member
    td.shimane
      | 島根
      span.member
    td.tottori
      | 鳥取
      span.member
    td.hyogo[colspan="2" rowspan="2"]
      | 兵庫
      br
      span.member
        | 2
    td.kyoto
      | 京都
      span.member
        | 1
    td.gifu[style="border-bottom:2px solid #288430"]
    td.tochigi
      | 栃木
      span.member
    td.ibaragi[rowspan="2"]
      | 茨城
      br
      span.member
    td[rowspan="2"]
      | 　
  tr
    td
    td.saga
      | 佐賀
      span.member
        | 1
    td.fukuoka[colspan="2"]
      | 福岡
      span.member
    td
    td.hiroshima
      | 広島
      span.member
        | 1
    td.okayama
      | 岡山
      span.member
    td.shiga
      | 滋賀
      span.member
        | 1
    td.gifu[colspan="3"]
      | 岐阜
      span.member
    td.yamanashi
      | 山梨
      span.member
    td.saitama
      | 埼玉
      span.member
        | 3
  tr
    td
    td.nagasaki
      | 長崎
      span.member
        | 2
    td.kumamoto[rowspan="3"]
      | 熊本
      br
      span.member
        | 1
    td.oita[rowspan="2"]
      | 大分
      br
      span.member
    td
    td
    td
    td
    td
    td.osaka[rowspan="2"]
      | 大阪
      br
      span.member
        | 1
    td.nara[rowspan="2"]
      | 奈良
      br
      span.member
    td.mie[rowspan="3"]
      | 三重
      br
      span.member
        | 1
    td.aichi[colspan="2"]
      | 愛知
      span.member
        | 3
    td.shizuoka[rowspan="2"]
      | 静岡
      br
      span.member
    td.kanagawa[rowspan="2"]
      | 神奈川
      br
      span.member
        | 3
    td.tokyo
      | 東京
      span.member
        | 8
    td.chiba[rowspan="2"]
      | 千葉
      br
      span.member
    td[rowspan="2"]
      | 　
  tr
    td
    td
    td
    td
    td.ehime
      | 愛媛
      span.member
    td.kagawa
      | 香川
      span.member
    td
    td
    td
    td
  tr
    td
    td
    td.miyazaki
      | 宮崎
      span.member
    td
    td
    td.kochi
      | 高知
      span.member
    td.tokushima
      | 徳島
      span.member
        | 1
    td
    td.wakayama[colspan="2"]
      | 和歌山
      span.member
        | 1
    td
    td
    td
    td
    td
    td
    td
  tr
    td
    td
    td.kagoshima[colspan="2"]
      | 鹿児島
      span.member
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
  tr
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td.overseas[colspan="4" rowspan="2"]
      | 海外
      span.member
    td
    td
    td
    td
    td
    td
  tr
    td
    td.okinawa
      | 沖縄
      span.member
        | 3
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
  tr
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
    td
