table.table.table-hover
  tbody
    tr
      th
        | 役職
      th
        | ＨＮ（現職者）
      th
        | 主　任
      th
        | 備　考
    tr
      th
        | 会　長
      td
        | z-air-6
      td
        | 運営役員人事／運営方針の決定／各主任への助言・補助／会員課他
      td
        | H29.04.18会長交代
    tr
      th
        | 副会長
      td
        | WhiteWizard
      td
        | ＨＰ主任／棋戦主任
      td
        | H23.06.01修正
    / tr
    /   th
    /     | 幹　事
    /   td
    /     | kouki3110
    /   td
    /     | ＨＰ副主任（募集要項、棋譜担当）
    /   td
    /     | H21/12/01修正
    / tr
    /   th
    /     | 幹　事
    /   td
    /     | warabi.t
    /   td
    /     | ＨＰ副主任（対戦表担当）
    /   td
    /     | H21/12/01修正
    tr
      th
        | 幹　事
      td
        | MAT_FIBER
      td
        | 例会主任／棋戦副主任（対戦表作成）
      td
        | H23.06.01修正
    / tr
    /   th
    /     | 幹　事
    /   td
    /     | t-minato
    /   td
    /     | 例会副主任
    /   td
    /     | H22/06/23修正
    / tr
    /   th
    /     | 幹　事
    /   td
    /     | z-air-6
    /   td
    /     | ＨＰ副主任（会員課）
    /   td
    /     | H23/06/01修正
    tr
      th
        | 幹　事
      td
        | iochigen
      td
        | 棋戦副主任（対戦表作成）
      td
        | H24.03.24修正
    tr
      th
        | 幹　事
      td
        | thegul
      td
        |
      td
        | H29.04.01修正
    tr
      th
        | 相談役
      td
        | horidashido
      td
        | 運営への助言
      td
        | H23.06.01修正
    tr
      th
        | 相談役
      td
        | akatuka
      td
        | 運営への助言
      td
        | H23.06.01修正
