- provide :title, '運営規則'

scss:
  th {
    border: 1px solid #dee2e6;
  	text-align: center;
  }
  td {
  	border: 1px solid #dee2e6;
  	height: 2em;
  }
  li {
  	vertical-align: top;
  	div {
  		display: inline-block;
  		margin-left: 10px;
  		margin-top: 0;
  		width: 85%;
  	}
  }
  .kanji td {
  	&:nth-child(1) {
  		border-bottom: hidden;
  	}
  	&:nth-child(2) {
  		border-bottom: hidden;
  	}
  	&:nth-child(5) {
  		border-bottom: hidden;
  	}
  	&:nth-child(6) {
  		border-bottom: hidden;
  	}
  	&:nth-child(3) {
  		text-align: center;
  	}
  }

.ui.segments
  .ui.segment
    h1.ui.center.aligned.header
      | 五級位上昇を目指す会
      br
      small
        | 〜運営規則〜


    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link.active href="#administration_rule" data-toggle="pill" 運営規則
      li.nav-item
        a.nav-link href="#officers_list"              data-toggle="pill" 役員一覧
      li.nav-item
        a.nav-link href="#related_link"               data-toggle="pill" 関連リンク
      li.nav-item
        a.nav-link href="#update_history"             data-toggle="pill" 更新履歴

    .tab-content
      .tab-pane.fade.show.active#administration_rule
        .card-body.rounded.border.border-primary.m-2.mb-4.p-3
          h3 5JK運営の規則
          h4 １．役員の定員と職責
          table.ui.stackable.selectable.striped.table
            colgroup
              / col[span="1" width="17%"]
              / col[span="1" width="14%"]
              / col[span="1" width="12%"]
              / col[span="1" width="25%"]
              / col[span="1" width="15%"]
              / col[span="1" width="12%"]
            thead
              tr
                th
                  | 役員名
                th
                  | 定員
                th[colspan="3"]
                  | 職　責
                th
                  | 備　考
            tbody
              tr
                th
                  | 会　長
                td
                  | １名
                td[colspan="3"]
                  | 運営役員の人事、不適格な会員の削除、その他運営方針の判断・最終決定。
                td
                  | 　
              tr
                th
                  | 副会長
                td
                  | ２名
                td[colspan="3"]
                  | 会長を補佐し、会長が事故等ある時はこれを代行する。
                  br
                  | （仕事内容は会長とほぼ同じ、会長と常に連絡を取り合うことが必要）
                td
                  | 　
              tr.kanji
                th
                  | 幹　事
                td
                  | ４名
                  br
                  |  （４名以上になる場合もある）
                td
                  | 1.棋戦主任
                td
                  | 棋戦の立案、棋戦の対局組み合わせの決定、その他棋戦運営全般。
                td[rowspan="6" style="vertical-align:top"]
                  | 【共通の職責】
                  br
                  |  運営の企画・検討。日程調整の補佐、例会の運営、メイン掲示板などの管理。
                td
              tr.kanji
                td
                td
                td
                  | 2.ＨＰ主任
                td
                  | ＨＰの企画・更新や掲示板の管理・調整。
                td
              tr.kanji
                td
                td
                td
                  | 3.指導主任
                td
                  | 本会員への対局指導。棋譜の添削など。
                td
              tr.kanji
                td
                td
                td
                  | 4.研究主任
                td
                  | 戦法や囲いの研究を取りまとめる。研究課題の提示、研究会の運営など。
                td
              tr.kanji
                td
                td
                td
                  | 5.例会主任
                td
                  | 例会の運営責任者。例会の内容の充実や、出席率の向上を図る。
                td
              tr#kanji-last.kanji
                td
                td
                td
                  | 6.会員課
                td
                  | 新入会者の調査、新会員の登録、会員の要望のとりまとめ、不適格会員の監視など。
                td
              tr
                th
                  | 相談役
                td
                  | 制限なし
                td[colspan="3"]
                  | 職責はなし。役割は別項を参照のこと。
                td

        .card-body.rounded.border.border-primary.m-2.mb-4.p-3
          h4 ２．会長の選挙
          ol
            li
              | 会長のみ任期を１年とし、毎年12月頃に選挙を行い当選者と交代する。
            li
              | 会長候補の条件は
              ul
                li
                  | 入会後6ヶ月以上経過していること。
                li
                  | 年齢が満20歳以上であること。
                li
                  | 活動中会員であること。
                li
                  | 他の24等の将棋サークルで、すでに会長の職にある者（または代表、その他、名称には関わらず）は、５ＪＫの会長になることはできない。
                li
                  | 役員資格（２．−ｄ．項）を満たしていること。
            li
              | 自薦・他薦で候補を募り、全会員で選挙・投票して決める。
            li
              | 現職の運営役員も、会長への立候補や推薦されたりをできる。
            li
              | その候補者選出と投票方法は、掲示板は使わずメールを利用して厳正に行なう。
            li
              | 推薦された人は、意志が無ければ、もちろん立候補を断わることもできる。
            li
              | もし不正があれば当選の破棄・やり直し、会員資格の停止もあり得る。
            li
              | 投票終了後、各候補者の得票数、有効投票数、白票数をメイン掲示板へ公表する。
            li
              | 各候補者の「自薦」「他薦」は原則として公表しない。
            li
              | 投票は運営委員会以外の一般会員には、誰が誰に投票したかは公表しない。
            li
              | 候補者の公示後、投票期間は１０日間とする。
            li
              | 「選挙委員会」は新設せず、運営委員会が選挙を執行する。
        .card-body.rounded.border.border-primary.m-2.mb-4.p-3
          h4 ３．役員の任免
          ol
            li
              | 会長は、役員を任命または、正当な理由がある場合に限って免職することができる。
            li
              | 副会長および幹事は、他の役員の任命または免職を、役員会に進言・発議できる。
            li
              | 役員は、事情により辞職もしくは休職したい場合は、理由を申し出て、他の役員の了承を得なければならない。
            li
              | 運営役員になろうとする者は、次の条件を満たしていなければならない。
              ol
                li
                  | ５ＪＫの会員であること。
                li
                  | 将棋倶楽部24での活動や、５ＪＫでの活動が、模範的であること。
                li
                  | 運営の仕事に対する熱意があり、行動ができること。
                li
                  | ５ＪＫに入会して６ヵ月以上経過していること。
                li
                  | 運営委員会が承認すること。
                li
                  | 立候補も可能とする。
        .card-body.rounded.border.border-primary.m-2.mb-4.p-3
          h4 ４．役員のなすべきこと
          = render 'officers_list'

          ol.mt-3
            li
              | 次の各項に該当したことが判明した者は、役員資格を喪失する。
              ol
                li
                  | 運営上の機密を役員以外や外部に漏らした者。
                li
                  | 役員会の決定事項に従わない者。
                li
                  | 5JK役員会の運営に多大な支障を及ぼす行為をした者。
                li
                  | 役員であるのに５JKの運営にまったく参加する意思のない者。
            li
              | 運営の意思決定
              ol
                li
                  | 具体的な案件に関する運営方針の決定・変更は、全運営委員の過半数の賛成があれば、運営委員会総体の決定できるものとする。（発案後２日以上運営委員会に公示し、その間に異議がない場合も含む）
                  br
                  small
                    | (ここで運営委員とは、会長、副会長、幹事の三役を指すこととする。)
                li
                  | ただし、会長または副会長は正当な理由があれば、決定前後に関わらず、その事項の遂行を差し止めることができる。その場合、担当者は従わなければならない。
                li
                  | ただし、その差し止め者以外の役員の過半数の人数が、もし差し止め者に反対であれば、その差し止めは無効となる。
                li
                  | 決定した事項は、担当役員か或いは担当が明確でない場合は提案者が、責任をもって遂行・運営する。
                li
                  | 決定後はその事項の担当者は逐次、運営委員会へ報告をし助言を参考にすること。
                li
                  | 決定後は、担当以外の役員であっても、担当者へ努めて協力・助言をすること。
        .card-body.rounded.border.border-primary.m-2.mb-4.p-3
          h4 ５．運営規則の変更
          ol
          li
            | 副会長、幹事のいずれかは、運営規則の変更案を役員会に発議できる。
          li
            | 会長は、運営規則を変更できるが、他の役員の了承を経なければ効力を持たない。（ｃ．項参照）
          li
            | 運営規則の変更は、会長が承認するか、或いは会長以外の役員の３分の２以上の人数が賛成した時、変更を決定・発効とする。
        .card-body.rounded.border.border-primary.m-2.mb-4.p-3
          h4 ６．相談役
          ol
          li
            | 相談役への就任資格は、
            ol
              li
                | 役員を６ヶ月以上経験者。
              li
                | 何らかの事情で、役員ができなくなった、或いはいったん退きたい方。
              li
                | 相談役就任に際し、現役役員から異議がないこと。
              li
                | 会長と副会長が相談役になるには、後任者が決定していなければならない。
              li
                | ５ＪＫ会員でない者は、相談役にはなれない。
          li
            | 相談役会などは設けず、会員名簿の役職欄に相談役と明記するだけにする。
          li
            | 相談役制度によって、多忙になったり負担に疲れた役員が、職を離れて休養を取りやすくする。
          li
            | 相談役の職務内容。
            ol
              li
                | 会員の意見などを聞き、相談に乗る。
              li
                | それらを集約して運営委員会に意見を言う、相談スタッフ。
              li
                | 運営に関する投票権や意思決定には資格は無い。
              li
                | 相談役は運営掲示板を利用出来ることとする。

      .tab-pane.fade#officers_list
        .card-body.rounded.border.border-primary.m-2.mb-4.p-3
          h3 5JK役員の一覧
          = render 'officers_list'

      .tab-pane.fade#related_link
        .card-body.rounded.border.border-primary.m-2.mb-4.p-3
          h3 関連リンク
          ul.list-unstyled
            / li = link_to '役員在任期間の記録', 'information/zainin-kikan.html'
            li = link_to '役員在任期間の記録', zainin_kikan_path
            li = link_to '５ＪＫのＨＰの仕事内容', 'information/hp_naiyou.html'

      .tab-pane.fade#update_history
        .card-body.rounded.border.border-primary.m-2.mb-4.p-3
          h3 更新履歴
          ul.list-unstyled
            li
              | R01.01.05
              div
                | WhiteWizardさん会長就任。
            li
              | H29.04.18
              div
                | z-air-6さん会長就任。
            li
              | H29.04.01
              div
                | thegulさん幹事就任。
            li
              | H24.03.24
              div
                | iochigenさん幹事就任。
            li
              | H23.06.01
              div
                | WhiteWizardさん副会長就任。
                br
                | MAT_FIBERさん幹事就任
                br
                | z-air-6さん幹事就任
                br
                | horidashidoさん相談役就任。
                br
                | akatukaさん相談役就任。
                br
                | 内容を一部改定。
            li
              | H22.06.23
              div
                | t-minatoさん幹事就任
            li
              | H21.12.01
              div
                | kouki3110さん幹事就任
                br
                | warabi.tさん幹事就任
            li
              | H19.12.10
              div
                | 内容を一部改定。
            li
              | H19.10.01
              div
                | Tromboneさん退任により更新。
            li
              | H19.08.12
              div
                | inudanukiさん退任により更新。
            li
              | H19.06.12
              div
                | moko20010907さん、Red-Foxさん退任により更新。
            li
              | H19.04.04
              div
                | Excelsiorさん退任により更新。
            li
              | H19.03.04
              div
                | horidashidoさんが仮・副会長に、
                br
                |  akatukaさんが仮・幹事に就任により、
                br
                |  「5JK役員の一覧」と「３．役員のなすべきこと」を更新。
            li
              | H19.02.28
              div
                | 「運営への連絡先」を「5JK役員の一覧」へ名称変更。
                br
                |  Excelsior＠副会長のメールアドレスへのリンクを抹消。
            li
              | H19.02.04
              div
                | super doctor kさん、新会長就任に伴い、「運営への連絡先」と「３．役員のなすべきこと」を更新。
            li
              | H19.01.29
              div
                | 運営委員とは誰のことかの説明を、「３．役員のなすべきこと」の中の「ｂ．運営の意思決定」へ追加。
            li
              | H19.01.07
              div
                | 例会主任をExcelsiorの主任欄へ追加。
                br
                |  spreadさんが事情により退会に伴い、「運営への連絡先」と「３．役員のなすべきこと」から削除。
            li
              | H18.11.29
              div
                | 役職の呼称である代表、副代表、運営委員をそれぞれ会長、副会長、幹事へ変更。
            li
              | H18.08.20
              div
                | Tromboneさんが運営委員へ就任。「運営への連絡先」と「３．役員のなすべきこと」を更新。
            li
              | H18.06.20
              div
                | taka_yukidarumaさんが事情により退会に伴い、「運営への連絡先」と「３．役員のなすべきこと」から削除。
            li
              | H18.05.20
              div
                | inudanukiさんと、taka_yukidarumaさんが運営委員へ就任。
                br
                | 「運営への連絡先」と「３．役員のなすべきこと」を更新。
            li
              | H18.04.19
              div
                | 支部制の導入により、「運営への連絡先」と「１．役員の定員と職責」を更新。
            li
              | H18.04.16
              div
                | yamamoto2さん、退会により、「運営への連絡先」から削除。
            li
              | H18.03.23
              div
                | moko20010907さん、有資格からの復帰後6ヶ月経過により、相談役→運営委員への復帰に伴う更新。
                br
                | 「運営への連絡先」と、「３．役員のなすべきこと」を更新。
            li
              | H18.02.19
              div
                |  yamamoto2さん、有資格者への移行に伴い、副代表を辞任、相談役へ。
                br
                |  「運営への連絡先」と、「３．役員のなすべきこと」を更新。
                br
                |  nagufiveさん、有資格者への移行に伴い、運営委員を辞任、相談役へ。
                br
                |  「運営への連絡先」と、「３．役員のなすべきこと」を更新。
            li
              | H18.01.24
              div
                | Red-Foxさん、新代表就任に伴い、「３．役員のなすべきこと」を更新。
            li
              | H18.01.22
              div
                | Red-Foxさん、新代表就任に伴い、「運営への連絡先」にメール・アドレスを追加。
            li
              | H18.01.12
              div
                | 「１．−２　代表の選挙」のｂ．項に、「満20歳以上であること」を追加。
            li
              | H18.01.03
              div
                | 「１．−２　代表の選挙」のｂ．項に、他のサークル等で会長職にある者が資格が無いことを追加。
            li
              | H17.12.16
              div
                | 「１．−２　代表の選挙」を追加。
                br
                | 代表の一部職責を各役員へ移行。
            li
              | H17.10.11
              div
                | 運営委員にspreadさんが就任。例会主任と会員課を担当。
            li
              | H17.10.08
              div
                | 相談役にmoko20010907さんが就任。
            li
              | H17.10.05
              div
                | 「５．-5相談役の職務内容」を修正。（ａ．項を追加など）
                br
                | 「２．役員の任免」に役員になる者の条件（ｄ．項）を追加。
            li
              | H17.09.23
              div
                | yos4460さんが多忙のため相談役を辞任。運営への連絡先から削除。
            li
              | H17.09.14
              div
                | moko20010907さんが有資格者になったので、運営委員を辞職。
            li
              | H17.09.09
              div
                | 会員課をExcelsiorの主任業務に追加。
                br
                | inudanukiさん多忙のため、副代表を退職。
            li
              | H17.08.27
              div
                | 相談役の就任資格で、有資格者も資格を有するように変更。
            li
              | H17.08.26
              div
                | 相談役に yos4460 さんを追加。
                br
                | 例会担当の廃止。
                br
                | 「３．役員のなすべきこと」の例会に関する規定を、「例会要項」に整合するよう修正。
            li
              | 〜H17.08.25
              div
                | 詳細記録なし。
