- provide(:title, '歴史')

scss:
  //colors
  $black:  black;
  $color_mine_shaft_approx: #333;

  table {
    // background-image: image-url("a005bcg.gif") !important;
    // background-image: url("images/a005bcg.gif") !important;
  }
  caption {
  	text-align: right;
  }
  table {
  	margin: auto;
  	border: 2px double black;
  }
  td {
  	vertical-align: top;
  	// border-left: 1px solid $color_mine_shaft_approx;
  	// border-right: 1px solid $color_mine_shaft_approx;
  }
  .year {
    td {
  	  // border-top: 1px solid $black !important;
  	  &:first-child {
  		  text-align: center;
  	  }
    }
  }

.ui.segment
    h1.ui.center.aligned.header
      |  五級位上昇を目指す会の歴史
    table.ui.stackable.selectable.striped.table
      caption
        | (敬称略)
      tbody
        tr.year
          td[rowspan="6"]
            | 平成16年
          td
            | 10月10日
          td
            b
              | 「五級位上昇を目指す会」創部
            | 。代表excelsior。副代表inudanuki。
        tr
          td
            | 11月
          td
            | 「例会」開始
        tr
          td
            | 11月頃
          td
            | 役員決定。運営委員にyamamoto2、moko20010907。
        tr
          td
            | 11月26日
          td
            b
              | 第１期棋聖戦開幕。spreadさんが優勝！
        tr
          td
            | 12月頃
          td
            | yos4460が運営委員（会員課）に。
        tr
          td
            | 12月28日
          td
            | Ｒランキングの調査・発表を開始。
        tr.year
          td[rowspan="21"]
            | 平成17年
          td
            | 1月1日
          td
            | 創部以来、初めての年越し。
        tr
          td
            | 1月28日
          td
            b
              | 第１期王座戦開幕。nukesaku.さんが優勝！
        tr
          td
            | 2月14日
          td
            b
              | 「将棋倶楽部２４公認サークル」に！
        tr
          td
            | 2月21日
          td
            | yamamoto2さんが副代表に就任。
        tr
          td
            | 3月2日
          td
            | 研究用IDの取得
        tr
          td
            | 3月20日
          td
            b
              | 第1回東西対抗戦、開幕。東１チームが優勝！
        tr
          td
            | 3月23日
          td
            | トップページをリニューアル。
        tr
          td
            | 4月1日
          td
            b
              | 月間三冠の表彰を開始。
        tr
          td
            | 4月27日
          td
            b
              | 第１期名人戦開幕。Red-Foxさんが優勝！
        tr
          td
            | 6月10日
          td
            b
              | 第１期棋王戦開幕。Super Dreamさんが優勝！
        tr
          td
            |  〃
          td
            b
              | 第１期王将戦開幕。
              br
              | nukesaku.＠二冠さんが優勝！ 三冠に。
        tr
          td
            | 6月14日
          td
            b
              | 第１号卒業者として、nakayuukiさん、Gnortsさん、
              br
              | gagagagagaさんの３名が卒業。(３名とも再入会)
        tr
          td
            | 7月頃
          td
            b
              | nagufiveさんが運営委員（研究主任）に就任。
        tr
          td
            | 7月26日
          td
            | 第１期王位戦開幕。saiitiさんが優勝！
        tr
          td
            | 7月30日
          td
            b
              | 例会を新方式に変更。
        tr
          td
            | 7月30日〜31日
          td
            | 友遊クラブさんとの初・交流戦。
        tr
          td
            | 9月16日
          td
            b
              | 第１期新人王戦開幕。hagitarouさんが優勝！
        tr
          td
            | 10月10日
          td
            b
              | ５ＪＫ創立一周年。
        tr
          td
            | 10月11日
          td
            | spreadさんが運営委員（例会主任・会員課）に就任。
        tr
          td
            | 10月28日
          td
            b
              | 第１期竜王戦開幕。giroroさんが優勝！
        tr
          td
            | 12月23日
          td
            b
              | 第２期棋聖戦開幕。spreadさんが防衛！
        tr.year
          td[rowspan="17"]
            | 平成18年
          td
            | 1月3日
          td
            b
              | 年間三冠、勝率王＝Gnortsさん、
              br
              | 勝ち星王・対局数王＝saiitiさん。
        tr
          td
            | 1月15日
          td
            b
              | H17年度の表彰
              br
              |  最優秀棋士＝giroroさん
              br
              |  優秀棋士＝nukesaku.さん　saiitiさん
              br
              |  特別功労賞＝Gnortsさん　nakayuukiさん
        tr
          td
            | 1月22日
          td
            b
              | Red-Foxさんが第二代・５ＪＫ代表に就任。
        tr
          td
            | 2月22日
          td
            b
              | 第２期王座戦開幕。nukesaku.さんが防衛！
        tr
          td
            | 3月23日
          td
            | moko20010907さんが運営委員に復帰。
        tr
          td
            | 4月10日
          td
            b
              | 第２回東西対抗戦、開幕。西１チームが優勝！
        tr
          td
            | 4月19日
          td
            b
              | 支部制を導入。
        tr
          td
            | 5月20日
          td
            | inudanukiさん、taka_yukidarumaさんが運営委員に就任。
        tr
          td
            | 5月21日
          td
            | トップページを2回目のリニューアル。
        tr
          td
            | 5月26日
          td
            b
              | 第２期名人戦開幕。giroroさんが優勝！
        tr
          td
            | 7月14日
          td
            b
              | 第２期棋王戦開幕。tkekun1115さんが優勝！
        tr
          td
            |    〃
          td
            b
              | 第２期王将戦開幕。Kuni-0704さんが優勝！
        tr
          td
            | 8月20日
          td
            | Tromboneさんが運営委員へ就任。
            b
        tr
          td
            | 8月21日
          td
            | 第２棋王位戦開幕。Stuki Jiroさんが優勝！
        tr
          td
            | 10月10日
          td
            b
              | ５ＪＫ創立二周年。
        tr
          td
            | 10月17日
          td
            | 第２期新人王戦開幕。taniballさんが優勝！
        tr
          td
            | 11月17日
          td
            b
              | 第２期竜王戦開幕。Kirei-Kotomineさんが優勝！
        tr.year
          td[rowspan="15"]
            | 平成19年
          td
            | 1月5日
          td
            b
              | 第３期棋聖戦開幕。hillageさんが優勝！
        tr
          td
            | 1月9日
          td
            b
              | 年間三冠、勝率王＝lgcatsさん、
              br
              | 勝ち星王・対局数王＝saiitiさん（2回目）。
        tr
          td
            | 1月21日
          td
            b
              | H18年度の表彰、最優秀棋士＝jyunnitirouさん、
              br
              |  優秀棋士＝super doctor kさん、
              br
              |  特別功労賞＝saiitiさん　Shuichi-Yさん
        tr
          td
            | 2月4日
          td
            | super doctor kさんが第３代・５ＪＫ会長に就任。
        tr
          td
            | 3月4日
          td
            | horidashidoさんが仮・副会長に、akatukaさんが仮・幹事に就任
        tr
          td
            | 3月21日
          td
            b
              | 第３回王座戦開幕。Kirei-Kotomineさんが優勝！
        tr
          td
            | 4月4日
          td
            | horidashidoさんが副会長に、akatukaさんが幹事に就任
        tr
          td
            | 5月15日
          td
            b
              | 第３回東西対抗戦開幕。東２チームが優勝！
        tr
          td
            | 6月10日
          td
            b
              | 第３期名人戦・順位戦開幕。Kirei-Kotomine＠二冠が優勝！
        tr
          td
            | 夏
          td
            span[style="color:red"]
              | ２４リレー将棋大会に２４サークル５ＪＫが出場。（予選敗退）
        tr
          td
            | 8月19日
          td
            b
              | 第３期棋王戦／王将戦開幕。
              br
              | tkekun1115棋王、Kuni-0704王将それぞれ防衛！
        tr
          td
            | 10月3日
          td
            b
              | 第３期王位戦開幕。Stuki Jiro王位防衛！
        tr
          td
            | 10月25日
          td
            b
              | 第３期新人王戦開幕。mikimoto-jaouさん優勝！
        tr
          td
            | 11月15日
          td
            b
              | 第３期竜王戦開幕。super doctor kさんタイトル獲得！
        tr
          td
            | 12月17日
          td
            b
              | 第４期棋聖戦開幕。horidashidoさんタイトル獲得！
        tr.year
          td[rowspan="10"]
            | 平成20年
          td
          td
            b
              | 年間三冠:勝率王＝horidashidoさん
              br
              | 勝ち星王・対局数王＝Stuki Jiroさん。
        tr
          td
            | 2月27日
          td
            b
              | 第４期王座戦開幕。saiitiさんが優勝！
        tr
          td
            | 4月13日
          td
            b
              | 第４回東西対抗戦開幕。西チームが優勝！
        tr
          td
            | 4月27日
          td
            b
              | 第４期名人戦・順位戦開幕。nocriaさんが優勝！
        tr
          td
            | 6月15日
          td
            b
              | 第４期棋王戦／第４回王将戦開幕。
              br
              | horidashido＠二冠が棋王奪取、zinx24＠東西杯が王将戦優勝！
        tr
          td
            | 夏
          td
            span[style="color:red"]
              | ２４リレー将棋大会に３チーム出場。
              br
              | 最高成績はＡチーム、Ｃチーム＝ベスト３２
        tr
          td
            | 7月30日
          td
            b
              | 第４期王位戦開幕。taniyandayoさんがタイトル奪取！
        tr
          td
            | 9月4日
          td
            b
              | 第４期新人王戦開幕。akkunn+さんが優勝！
        tr
          td
            | 10月5日
          td
            b
              | 第４期竜王戦開幕。super doctor k＠竜王が防衛！
        tr
          td
            | 11月10日
          td
            b
              | 第５期棋聖戦開幕。nocria＠名人がタイトル奪取！
        tr.year
          td[rowspan="9"]
            | 平成21年
          td
          td
            b
              | 年間三冠:勝率王＝horidashidoさん(２年連続)
              br
              | 勝ち星王・対局数王＝Stuki Jiroさん(２年連続)。
        tr
          td
            | 1月26日
          td
            b
              | 第５期王座戦開幕。super doctor k＠竜王がタイトル奪取！
        tr
          td
            | 4月19日
          td
            b
              | 第５回東西対抗戦開幕。西２チームが優勝！
        tr
          td
            | 4月26日
          td
            b
              | 第５期名人戦・順位戦開幕。saiiti＠王座がタイトル奪取！
        tr
          td
            | 6月15日
          td
            b
              | 第５期棋王戦／王将戦開幕。mikengo107さんが王将戦優勝！
        tr
          td
            | 夏
          td
            span[style="color:red"]
              | ２４リレー将棋大会に４チーム出場。
              b
                | Ａチームが優勝！
        tr
          td
            | 9月7日
          td
            b
              | 第５期王位戦開幕。
        tr
          td
            | 10月19日
          td
            b
              | 第５期新人王戦開幕。
        tr
          td
            | 10月20日
          td
            b
              | 第５期竜王戦開幕。
        tr.year
          td[rowspan="9"]
            | 平成22年
          td
          td
            b
              | 年間三冠:勝率王・勝ち星王・対局数王＝taniyandayoさん独占！！
        tr
          td
            | 2月9日
          td
            b
              | 第６期王座戦開幕。
              br
              | super doctor k＠竜王がタイトル防衛(2期連続)！
        tr
          td
            | 4月16日
          td
            b
              | 第６回東西対抗戦開幕。西２チームが優勝！
        tr
          td
            | 4月26日
          td
            b
              | 第６期名人戦・順位戦開幕。MAT_FIBERさんがタイトル奪取！
        tr
          td
            | 夏
          td
            span[style="color:red"]
              | ２４リレー将棋大会に３チーム出場。
              b
                | Ａチームがベスト１６
        tr
          td
            | 9月16日
          td
            b
              | 第６期棋王戦／王将戦開幕。棋王z-air-6さん！ 王将warabi.tさん！
        tr
          td
            | 11月1日
          td
            b
              | 第６期王位戦開幕。z-air-6さんが王位就任！ 2冠に。
        tr
          td
            | 11月28日
          td
            b
              | 第６期竜王戦開幕。super doctor kさんがタイトル防衛！
        tr
          td
            | 12月1日
          td
            b
              | 第６期新人王戦開幕。ignag_18さんが新人王！
        tr.year
          td[rowspan="9"]
            | 平成23年
          td
          td
            b
              | 年間三冠:
              br
              |  勝率王：jichuan2さん
              br
              | 勝ち星王：tokotoiさん
              br
              | 対局数王：tokotoiさん、taniyandayoさん
        tr
          td
          td
            b
              | 東西対抗戦は、参加者不足のため、初の中止に。
        tr
          td
            | 4月11日
          td
            b
              | 第７期王座戦開幕。jichuan2さんが優勝。タイトル獲得！
        tr
          td
            | 5月16日
          td
            b
              | 第７期名人戦・順位戦開幕。saiitiさんがタイトル奪還！
        tr
          td
            | 夏
          td
            span[style="color:red"]
              | ２４リレー将棋大会に３チーム出場。残念ながら予選敗退。
        tr
          td
            | 9月5日
          td
            b
              | 第７期棋王戦／王将戦開幕。
              br
              | 棋王z-air-6さん(2期連続)！ 王将kenkenkkunさん！
        tr
          td
            | 11月1日
          td
            b
              | 第７期王位戦開幕。kouki3110さんが王位就任！
        tr
          td
            | 12月1日
          td
            b
              | 第７期竜王戦開幕。field of heaven さんがタイトル奪取！
        tr
          td
            | 12月1日
          td
            b
              | 第７期新人王戦開幕。do-223さんが新人王！
        tr.year
          td[rowspan="9"]
            | 平成24年
          td
          td
            b
              | 年間三冠:
              br
              |  勝率王：WhiteWizardさん
              br
              | 勝ち星王・対局数王：taniyandayoさん
        tr
          td
          td
            b
              | 東西対抗戦は、東軍： hagitarou さん r.yoshi さん 930okuyu さん 　　　 iochigen さん nocria さん
            | 　優勝！
        tr
          td
            | 3月1日
          td
            b
              | 第８期王座戦開幕。field of heavenさんが優勝。タイトル獲得！
        tr
          td
            | 6月9日
          td
            b
              | 第８期名人戦・順位戦開幕。saiitiさんがタイトル防衛！
        tr
          td
            | 夏
          td
            span[style="color:red"]
              | ２４リレー将棋大会に２チーム出場。残念ながら予選敗退。
        tr
          td
            | 9月8日
          td
            b
              | 第８期棋王戦／王将戦開幕。
              br
              | 棋王z-air-6さん(3期連続)！ 王将WhiteWizardさん！
        tr
          td
            | 10月1日
          td
            b
              | 第８期王位戦開幕。saiitiさんが王位就任！
        tr
          td
            | 11月1日
          td
            b
              | 第８期竜王戦開幕。z-air-6 さんがタイトル奪取！
        tr
          td
            | 11月1日
          td
            b
              | 第８期新人王戦開幕。seven powerさんが新人王！
        tr.year
          td[rowspan="9"]
            | 平成25年
          td
          td
            b
              | 東西対抗戦は、西軍 　seven powerさん hagitarouさん WhiteWizardさん z-air-6さん saiitiさん
            | 　優勝！
        tr
          td
            | 3月1日
          td
            b
              | 第９期王座戦開幕。takama03さんが優勝。タイトル獲得！
        tr
          td
            | 5月18日
          td
            b
              | 第９期名人戦・順位戦開幕。saiitiさんがタイトル防衛！(2期連続)
        tr
          td
            | 夏
          td
            span[style="color:red"]
              | ２４リレー将棋大会に２チーム出場。残念ながら予選敗退。
        tr
          td
            | 8月1日
          td
            b
              | Webサイト リニューアル！
            | メニューバーを設けシンプルに。iPhone, iPadにも対応。
        tr
          td
            | 9月1日
          td
            b
              | 第９期棋王戦開幕。棋王z-air-6さん(4期連続)！
            br
            |  参加者少数のため、王将戦は中止。
        tr
          td
            | 12月1日
          td
            b
              | 第９期王位戦開幕。
        tr
          td
            | 12月1日
          td
            b
              | 第９期竜王戦開幕。
        tr
          td
            | 12月1日
          td
            b
              | 第９期新人王戦開幕。
        tr.year
          td
            | 令和元年
          td
            | 10月10日
          td
            b
              | 「五級位上昇を目指す会」創部 15周年
        tr.year
          td
            | 令和2年
          td
            | 1月
          td
            b
              | 活動場所を、81道場へと移行。
    p.text-right
      | リレー将棋大会については、
      = link_to '24リレー成績', relay_shogi_path
      | をご覧ください。
