- provide(:title, '会則')

.ui.segments
  .ui.segment
    h1.ui.center.aligned.header
        small
          | ８１道場で&nbsp;
        | 五級位上昇を目指す会
        br
        | ご案内
    .ui.teal.segment
      h2
        | １．目標
      p
        ul
          li
            | ８１道場で五級位の上昇を目指す。
          li
            | 特に、下級者の方の棋力の向上を目指す。
      p.ml-1
        | 例えば、12級の方は7級を、5級の方は初段をと、現在の級位の五つ上を目指して活動するサークルです。
        br
        | 有段者の方は五つ上の段位にとらわれず、各自の高みを目指し研鑽を積むとともに、後進の指導にあたっていただければと思います。

    .ui.teal.segment
      h2
        | ２．本会の活動
      p
        |  ８１道場を利用して、本会独自の棋戦・研究会を行う。
        br
        |  その際、感想戦に重点を置く。

    .ui.teal.segment
      h2
        | ３．会員資格
      ol.lower-latin
        li
          | ８１道場で級位（段位）の上昇・向上を目指していること。
        li
          | 日常から、感想戦をすることを心がけていること。
        li
          | 志の保てる人。過少申告や点数調整は絶対にしない方。

    .ui.teal.segment
      h2
        | ４．会員のなすべきこと
      ol
        li
          | 五級位上昇を目指して切磋琢磨する。
        li
          | 「五級位上昇を目指す会」の棋戦にできるだけ参加する。
        li
          | 棋戦では、必ず
          strong
            u
              | 感想戦をしっかりやる。
        li
          | 例会にできるだけ参加する。例会は毎週土曜２１時からです。詳しくは
          = link_to 'こちら', regular_meeting_path
        li
          | Webサイトを持っている方は、（できれば）五級位上昇を目指す会トップページ&nbsp;
          => link_to 'https://shogi-5jk.herokuapp.com', root_path
          | へのリンクを貼る。(バナー画像はトップページにあります)
        li
          | メンバー同士での稽古将棋もどんどんやること。
          | 掲示板を活用して約束したりして下さい。
        li
          | 研究会などは、自由に呼びかけて開催して下さい。
        li
          | 自戦記を掲示板に簡潔に載せるのもいい方法だと思います。会員のみんなに棋譜を見てもらって、コメントを求めましょう。
          p
            small
              |  注意：5JKで行われる棋戦及び研究会などの棋譜は、5JKのWebサイトなどで公開となります。あらかじめご了承下さい。会員の棋力向上に役立てるのが目的です。

    .ui.teal.segment
      h2
        | ５．禁止事項
      p
        |  以下の事項の一つ及び複数に該当した場合には、会員資格を停止、若しくは喪失します。
      ol
        li
          | 著しくマナーに反する行為が確認されたとき
          br
          |  (ソフトの使用、Ｒ点の任意の調整、Ｒ点の過少申告による棋戦の参加等)
        li
          | 不正行為が確認されたとき
        li
          | 相手を誹謗中傷したり暴言を吐いたりしたことが確認されたとき
        li
          | 長期間理由なくサークル活動に参加されなかったとき
        li
          | その他会員として不適格と判断した場合

    .ui.teal.segment
      h2
        | ６．会員登録
      article
        p
          span.ui.green.text
            | 以上にご賛同いただける方は、入会申込なさってください。
          br
          |  「入会を申し込む」をクリックすると、入会登録のフォーム画面になります。

        .ui.center.aligned.header
          => link_to '入会を申し込みません', root_path, class: 'ui red basic button'
          => link_to '入会を申し込みます', sign_up_url, class: 'ui green button'
      p
        | もし、正常に送信・登録できない場合は、
        br
        |  必要事項 (登録ハンドルネーム / 現在の段級位 / 現在のレーティング / メールアドレス / お好きな棋士 / 入会の抱負)
        br
        |  をご記入の上、
        b => link_to 'メール', mail_to_5JK_url
        | を送ってください。
