- provide :title, 'よくある質問'

.card.p-5.mb-3
  .card-body
    h1.text-success.text-center
      small
        | 81道場で 
      | 五級位上昇を目指す会
      br
      | 〜よくある質問〜

  #accordion
    .card
      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq1" aria-expanded="true"
            | Ｑ１．サークルに入会したいのですが？
      #faq1.collapse.show data-parent="#accordion"
        .card-body.ml-4
          | Ａ１．
          = link_to 'サークル案内(会則)', circle_rule_path
          | 」をお読みください。
          br
          | ご賛同いただけましたら、「申し込み」ボタンよりご加入いただけます。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq2" aria-expanded="true"
            | Ｑ２．この会の目的は何ですか？
      #faq2.collapse data-parent="#accordion"
        .card-body.ml-4
          | Ａ２．81道場で五級位の上昇を目指すことを目的に活動しています。
          br
          |  　　　詳しくは
          = link_to 'サークル案内(会則)', circle_rule_path
          | をご覧ください。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq3" aria-expanded="true"
            | Ｑ３．フリーメールアドレスしか使えません。それでも登録できますか？
      #faq3.collapse data-parent="#accordion"
        .card-body.ml-4
          | Ａ３．はい、ご登録いただけますので、ご安心ください。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq4" aria-expanded="true"
            | Ｑ４．メールアドレスが変更になりました。
      #faq4.collapse data-parent="#accordion"
        .card-body.ml-4
          | Ａ４．会員名簿よりご自身で変更していただけますので、適宜更新してください。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq5" aria-expanded="true"
            | Ｑ５．棋戦に参加したいのですが、どのように登録するのですか。
      #faq5.collapse data-parent="#accordion"
        .card-body.ml-4
          | Ａ５．
          =>  link_to_81dojo_circle
          | 上部に、「進行中のサークル大会」があります。
          | 「要項」をよく読み、「参加申込」ボタンで申し込めます。
          br
          |  募集期間内に、参加登録を行って下さい。

      / .card-header
      /   h5.mb-0
      /     button.btn.btn-link data-toggle="collapse" data-target="#faq6" aria-expanded="true"
      /       | Ｑ６．「本会員」と「上級会員」の違いは何ですか？
      / #faq6.collapse data-parent="#accordion"
      /   .card-body.ml-4
      /     | Ａ６．本会員とは入会時７級以下（R950未満）の方を示します。
      /     br
      /     |  　　　上級会員とは入会時６級以上（R950以上）の方もしくは本会員から昇格（Ｑ８参照）された方のことです。
      /     br
      /     |  　　　５級（段）位上昇を目指すと共に、駒落ち対局等で本会員の指導をしていただきます。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq7" aria-expanded="true"
            | Ｑ６．「休止中会員」とは何ですか？
      #faq7.collapse data-parent="#accordion"
        .card-body.ml-4
          | Ａ６．多忙などの理由によりサークルの活動ができないため、休会を運営に申し出られた方、
          br
          |  　　　またはメールや掲示板などでサークル継続意思確認が　取れなかった方のことです。
          br
          |  　　　活動再開されたい際は、会員名簿のご自身のページより、活動中会員に復帰できます。

      / .card-header
      /   h5.mb-0
      /     button.btn.btn-link data-toggle="collapse" data-target="#faq8" aria-expanded="true"
      /       | Ｑ８．「本会員」から「上級会員」への昇格はあるのですか？
      / #faq8.collapse data-parent="#accordion"
      /   .card-body.ml-4
      /     |  Ａ８．あります。本会員がランキングで６級以上（R950以上）を３ヶ月連続で記録すると、上級会員へ移行します。
      /     br
      /     |  　　　それに伴い会員番号も例えば 11 → J008 と変更されます。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq9" aria-expanded="true"
            | Ｑ７．他サークルとの掛け持ちはＯＫですか。
      #faq9.collapse data-parent="#accordion"
        .card-body.ml-4
          |  Ａ７．構いません。制限は今の所ありません。

      / .card-header
      /   h5.mb-0
      /     button.btn.btn-link data-toggle="collapse" data-target="#faq10" aria-expanded="true"
      /       | Ｑ１０．登録時から５級位上昇しました。卒業するにはどうすれば良いですか。
      / #faq10.collapse data-parent="#accordion"
      /   .card-body.ml-4
      /     |  Ａ１０．掲示板などで運営局に連絡ください。確認できれば、正式に認定されます。
      /     br
      /     |  　　　　また、残留してさらなる棋力向上を目指すことも可能です。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq11" aria-expanded="true"
            | Ｑ８．棋戦で相手を待っていてもいらっしゃいませんでした。どうしたら良いですか？
      #faq11.collapse data-parent="#accordion"
        .card-body.ml-4
          |  Ａ８．不戦勝宣言をすることができます。また再び対局したいのであれば、日程調整することもできます。
          br
          |  　　　　どちらかご選択ください。

      / .card-header
      /   h5.mb-0
      /     button.btn.btn-link data-toggle="collapse" data-target="#faq12" aria-expanded="true"
      /       | Ｑ１２．地域名の変更はどこで出来ますか。
      / #faq12.collapse data-parent="#accordion"
      /   .card-body.ml-4
      /     |  Ａ１２．
      /     = link_to '登録情報確認・変更', change_locality_url
      /     | から可能です。サークルの地域名は
      /     b
      /       | --5JK--
      /     | です。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq13" aria-expanded="true"
            | Ｑ９．自分のWebサイトをリンク集に登録したいです。
      #faq13.collapse data-parent="#accordion"
        .card-body.ml-4
          |  Ａ９．ログインユーザーは、リンク集への追加ができますので、登録なさってください。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq14" aria-expanded="true"
            | Ｑ１０．仕事など都合により活動できなくなってしまいました。
      #faq14.collapse data-parent="#accordion"
        .card-body.ml-4
          |  Ａ１０．会員名簿のご自身のページより、休止中会員に変更なさってください。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq15" aria-expanded="true"
            | Ｑ１１．当日急に（棋戦の）対局できなくなりました。
      #faq15.collapse data-parent="#accordion"
        .card-body.ml-4
          |  Ａ１１．「対局表」やプライベートメッセージ等で、連絡してください。
          br
          |  　　　　不戦局か再対局かは、相手の方と決めてください。

      / .card-header
      /   h5.mb-0
      /     button.btn.btn-link data-toggle="collapse" data-target="#faq16" aria-expanded="true"
      /       | Ｑ１６．サークルの活動場所はどこですか？
      / #faq16.collapse data-parent="#accordion"
      /   .card-body.ml-4
      /     |  Ａ１６．将棋倶楽部２４の大阪道場で活動しています。
      /     br
      /     |  　　　　東京道場でもＲ対局をしていますが、サークル棋戦などは基本的に大阪道場で対局しています。

      / .card-header
      /   h5.mb-0
      /     button.btn.btn-link data-toggle="collapse" data-target="#faq17" aria-expanded="true"
      /       | Ｑ１２．○冠とは、どの様に数えるのですか？
      / #faq17.collapse data-parent="#accordion"
      /   .card-body.ml-4
      /     |  Ａ１２．タイトルは、優勝は○冠として数えます。
      /     br
      /     |  　　　　最高で６冠まで獲得できます。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq18" aria-expanded="true"
            | Ｑ１２．例会への参加方法が分かりません。
      #faq18.collapse data-parent="#accordion"
        .card-body.ml-4
          |  Ａ１２．毎週土曜日の21時から、「5JK例会」を作ってあります。
          br
          |  　　　　そこへ集合してください。
          br
          |  　　　　５ＪＫ会員であればどなたでも参加できます。
          br
          |  　　　　参加は強制ではありません。
          br
          |  　　　　
          = link_to '例会案内', regular_meeting_path
          | もご一読ください。

      / .card-header
      /   h5.mb-0
      /     button.btn.btn-link data-toggle="collapse" data-target="#faq19" aria-expanded="true"
      /       | Ｑ１９．特別ＩＤとは何ですか？どのように使うのですか？
      / #faq19.collapse data-parent="#accordion"
      /   .card-body.ml-4
      /     |  Ａ１９．５ＪＫにはリレー用２つの特別ＩＤがあります。
      /     br
      /     |  　　　　特別ＩＤは例会などで使用することが多いです。
      /     br
      /     |  　　　　５ＪＫ会員であればどなたでも使用できますが、パスワードは部外者に漏らさないよう注意してください。
      /     br
      /     |  　　　　こちらもご一読ください　→　
      /     = link_to '5JK特別ＩＤ', laboratory_special_id_path

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq20" aria-expanded="true"
            | Ｑ１３．初心者です。なかなか強くなれません。教えていただけますか？
      #faq20.collapse data-parent="#accordion"
        .card-body.ml-4
          |  Ａ１３．はい。当会には有段者も在籍していますので、例会や棋戦の際などアドバイスを受けられます。
          br
          |  　　　　また、お薦めの指し方や棋書、将棋上達法などお話できますし、疑問質問、歓迎です。
          br
          |  　　　　一緒に上達していきましょう。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#faq21" aria-expanded="true"
            | Ｑ１４．レイアウトが崩れます。推奨ブラウザを教えて下さい。
      #faq21.collapse data-parent="#accordion"
        .card-body.ml-4
          |  Ａ１４．Internet Explorer など一部の古いブラウザでは、快適にご利用いただけない場合があります。
          br
          | 　　　　Safari や Chrome をご利用下さい。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#update_history" aria-expanded="true"
            | 更新履歴
      #update_history.collapse data-parent="#accordion"
        .card-body.ml-4
          ul.list-unstyled
            li
              | R02/02/01　８１道場への移行、及び開催棋戦整理等に伴う質問事項の整理。
            li
              | H30/02/16　掲示板システム変更に伴う字句やリンクの修正。
            li
              | H30/02/12　Ｑ２１〜２３削除。Ｑ２１として推奨ブラウザ追加。
            li
              | H30/02/12　Ｑ６、本会員／上級会員で参加可能な棋戦が異なっていた記述を削除。
            li
              | H30/02/12　Webサイト移行に伴い、リンク先修正。
            li
              | H25/11/19　Ｑ２１改訂。リンク先修正。
            li
              | H25/07/20　Ｑ２１〜２３追加。
            li
              | H25/03/11　Ｑ１５削除。Ｑ１６〜２０を繰り上げ。Ｑ２０追加。
            li
              | H25/03/07　URL変更に伴うリンク切れ修正
              br
            li
              | H25/03/03　デザイン変更。
              br
              |  　　　　　　ＦＡＱの連番を整理。(Q6-A → Q6, Q6-B → Q7, Q6-C → Q8, 以下繰下)。
              br
              |  　　　　　　一部字句を加筆修正。
            li
              | H23/10/12　罰則規定の廃止に伴い、Ｑ１９項を削除。
            li
              | H23/07/03　HPの移転及び会員名簿再編に伴い、リンクや表記等改定。
            li
              | H21/11/07　Ｑ２０項を削除。
            li
              | H19/04/10　Ｑ６とＱ１９項を修正。
            li
              | H19/01/29　Ｑ２０項を追加。Ｑ４とＱ１３項を修正。
            li
              | H18/07/22　Ｑ１７項、１８項、１９項を追加。
            li
              | H18/02/19　Ｑ６ーＢ．有資格者条件を変更。
            li
              | H18/01/24　メール問い合わせ先を修正。
            li
              | H17/08/27　Ｑ１６項修正。
            li
              | H17/08/21　Ｑ１６項追加。
            li
              | H17/05/12　Ｑ６項加筆
            li
              | H17/04/17　Ｑ１５項追加（ver 1.30）
            li
              | H17/02/10　メールアドレス修正（ver 1.21）
            li
              | H17/02/06　メールアドレス変更（ver 1.20）
            li
              | H16/11/25　Ｑ６項加筆（ver 1.10）
            li
              | H16/10/28　加筆修正、Q14項追加（ver 1.00）
            li
              | H16/10/20　Ｑ３項加筆（ver 0.02β）
            li
              | H16/10/19　初版作成・公開（ver 0.01β）
