doctype html
html
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"]
    meta[name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"]
    link[rel="image_src" type="image/jpeg" href="/images/logo.png"]
    meta[name="generator" content="DocPad v6.79.4"]
    title
      | Fomantic-UI
    meta[name="description" content="Fomantic the official community fork of Semantic-UI"]
    meta[name="keywords" content="html5, ui, library, framework, javascript, fork, official"]
    link.ui[rel="stylesheet" type="text/css" href="/dist/semantic.min.css"]
    link[rel="stylesheet" type="text/css" href="/stylesheets/docs.css"]
    link[rel="stylesheet" type="text/css" href="/stylesheets/rtl.css"]
    link[rel="stylesheet" type="text/css" href="/stylesheets/home.css"]
    link[rel="stylesheet/less" type="text/css" href="/src/definitions/elements/button.less"]
    link[rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"]
    script[type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"]
  body#example.index[ontouchstart=""]
    #toc.ui.vertical.inverted.sidebar.menu
      .item
        a.ui.logo.icon.image[href="/"]
          img[src="/images/logo.png"]
        a[href="/"]
          b
            | UI Docs
      a.item[href="/introduction/getting-started.html"]
        b
          | Getting Started
      a.item[href="/introduction/new.html"]
        b
          | New in 2.8
      .item
        .header
          | Introduction
        .menu
          a.item[href="/introduction/integrations.html"]
            |  Integrations 
          a.item[href="/introduction/build-tools.html"]
            |  Build Tools 
          a.item[href="/introduction/advanced-usage.html"]
            |  Recipes 
          a.item[href="/introduction/glossary.html"]
            |  Glossary 
      .item
        .header
          | Usage
        .menu
          a.item[href="/usage/theming.html"]
            |  Theming 
          a.item[href="/usage/layout.html"]
            |  Layouts 
      .item
        .header
          | Globals
        .menu
          a.item[href="/globals/reset.html"]
            |  Reset 
          a.item[href="/globals/site.html"]
            |  Site 
      .item
        .header
          | Elements
        .menu
          a.item[href="/elements/button.html"]
            |  Button 
          a.item[href="/elements/container.html"]
            |  Container 
          a.item[href="/elements/divider.html"]
            |  Divider 
          a.item[href="/elements/emoji.html"]
            |  Emoji 
            span.ui.mini.empty.teal.circular.ui.label
          a.item[href="/elements/flag.html"]
            |  Flag 
          a.item[href="/elements/header.html"]
            |  Header 
          a.item[href="/elements/icon.html"]
            |  Icon 
          a.item[href="/elements/image.html"]
            |  Image 
          a.item[href="/elements/input.html"]
            |  Input 
          a.item[href="/elements/label.html"]
            |  Label 
          a.item[href="/elements/list.html"]
            |  List 
          a.item[href="/elements/loader.html"]
            |  Loader 
          a.item[href="/elements/placeholder.html"]
            |  Placeholder 
          a.item[href="/elements/rail.html"]
            |  Rail 
          a.item[href="/elements/reveal.html"]
            |  Reveal 
          a.item[href="/elements/segment.html"]
            |  Segment 
          a.item[href="/elements/step.html"]
            |  Step 
          a.item[href="/elements/text.html"]
            |  Text 
      .item
        .header
          | Collections
        .menu
          a.item[href="/collections/breadcrumb.html"]
            |  Breadcrumb 
          a.item[href="/collections/form.html"]
            |  Form 
          a.item[href="/collections/grid.html"]
            |  Grid 
          a.item[href="/collections/menu.html"]
            |  Menu 
          a.item[href="/collections/message.html"]
            |  Message 
          a.item[href="/collections/table.html"]
            |  Table 
      .item
        .header
          | Views
        .menu
          a.item[href="/views/advertisement.html"]
            |  Advertisement 
          a.item[href="/views/card.html"]
            |  Card 
          a.item[href="/views/comment.html"]
            |  Comment 
          a.item[href="/views/feed.html"]
            |  Feed 
          a.item[href="/views/item.html"]
            |  Item 
          a.item[href="/views/statistic.html"]
            |  Statistic 
      .item
        .header
          | Modules
        .menu
          a.item[href="/modules/accordion.html"]
            |  Accordion 
          a.item[href="/modules/calendar.html"]
            |  Calendar 
          a.item[href="/modules/checkbox.html"]
            |  Checkbox 
          a.item[href="/modules/dimmer.html"]
            |  Dimmer 
          a.item[href="/modules/dropdown.html"]
            |  Dropdown 
          a.item[href="/modules/embed.html"]
            |  Embed 
          a.item[href="/modules/modal.html"]
            |  Modal 
          a.item[href="/modules/popup.html"]
            |  Popup 
          a.item[href="/modules/progress.html"]
            |  Progress 
          a.item[href="/modules/rating.html"]
            |  Rating 
          a.item[href="/modules/search.html"]
            |  Search 
          a.item[href="/modules/shape.html"]
            |  Shape 
          a.item[href="/modules/sidebar.html"]
            |  Sidebar 
          a.item[href="/modules/slider.html"]
            |  Slider 
            span.ui.mini.empty.teal.circular.ui.label
          a.item[href="/modules/sticky.html"]
            |  Sticky 
          a.item[href="/modules/tab.html"]
            |  Tab 
          a.item[href="/modules/toast.html"]
            |  Toast 
            span.ui.mini.empty.teal.circular.ui.label
          a.item[href="/modules/transition.html"]
            |  Transition 
      .item
        .header
          | Behaviors
        .menu
          a.item[href="/behaviors/api.html"]
            |  API 
          a.item[href="/behaviors/form.html"]
            |  Form Validation 
          a.item[href="/behaviors/visibility.html"]
            |  Visibility 
    .ui.black.big.launch.right.attached.fixed.button
      i.content.icon
      span.text
        | Menu
    .ui.fixed.inverted.main.menu
      .ui.container
        a.launch.icon.item
          i.content.icon
        .right.menu
          .vertically.fitted.borderless.item
            iframe.github[src="//ghbtns.com/github-btn.html?user=fomantic&amp;repo=fomantic-ui&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"]
    .pusher
      .full.height
        .following.bar
          .ui.container
            .ui.large.inverted.secondary.network.menu
              .item
                .ui.logo.shape
                  .sides
                    .active.ui.side
                      img.ui.image[src="/images/logo.png"]
              a.view-ui.item
                i.sidebar.icon
                |  Menu 
              #docs-searchbox.item
                input[type="search" placeholder="Search..."]
              script[type="application/javascript"]
                |  docsearch({ apiKey: 'b97fcb6d1c62e4cdc4b4f3945c49d9d7', indexName: 'fomantic-ui', inputSelector: '#docs-searchbox > input', debug: false, }); 
              .right.menu
                .item
                  a.twitter-follow-button.twitter[href="https://twitter.com/fomanticui" data-show-count="false"]
                    |  Follow 
                  a.twitter-share-button.twitter[href="http://twitter.com/share" data-text="Fomantic-UI 2.8.6 is out!" data-url="https://fomantic-ui.com" data-via="fomanticui"]

                  script[type="text/javascript"]
                    |  window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs")); 
                  iframe.github[src="//ghbtns.com/github-btn.html?user=fomantic&amp;repo=fomantic-ui&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"]
        .zoomed.masthead.segment
          .ui.container
            .introduction
              a.ui.black.version.label[href="https://github.com/fomantic/Fomantic-UI/blob/master/CHANGELOG.md"]
                |  2.8.6 
              h1.ui.inverted.header
                span.library
                  |  Fomantic-UI 
                span.tagline
                  |  A community fork of Semantic-UI 
              .ui.hidden.divider
              a.ui.huge.inverted.download.button[href="/introduction/getting-started.html"]
                |  Get Started 
              a.ui.huge.inverted.basic.button[href="/introduction/new.html"]
                | New in 2.8
            .inverted.advertisement
              #carbonads-container
                .carbonad
                  #azcarbon
        .ui.vertical.stripe.intro.segment
          .ui.stackable.very.relaxed.center.aligned.grid.container
            .row
              .twelve.wide.column
                img.ui.fluid.image[src="/images/devices.png"]
                h1.ui.header
                  | Design Beautiful Websites Quickly
                p
                  | Fomantic is a development framework that helps create beautiful, responsive layouts using human-friendly HTML.
          .stackable.very.relaxed.ui.grid.container
            .row
              .seven.wide.column
                h2.ui.header
                  | Concise HTML
                p
                  | Fomantic UI treats words and classes as exchangeable concepts.
                p
                  | Classes use syntax from natural languages like noun/modifier relationships, word order, and plurality to link concepts intuitively.
                p
                  | Get the same benefits as 
                  a[href="https://en.bem.info" target="_blank"]
                    | BEM
                  |  or 
                  a[href="https://smacss.com" target="_blank"]
                    | SMACSS
                  | , but without the tedium.
              .nine.wide.column
                .hidden.code[data-type="html"]
                  .ui.three.buttons
                    button.ui.active.button
                      | One
                    button.ui.button
                      | Two
                    button.ui.button
                      | Three
                .ui.three.demo.buttons
                  .ui.active.button
                    | One
                  .ui.button
                    | Two
                  .ui.button
                    | Three
            .ui.divider
            .row
              .seven.wide.column
                h2.ui.header
                  | Intuitive Javascript
                p
                  | Fomantic uses simple phrases called behaviors that trigger functionality.
                p
                  | Any arbitrary decision in a component is included as a setting that developers can modify.
              .nine.wide.column
                .hidden.code[data-demo="true" data-type="javascript"]
                  |  $('select.dropdown') .dropdown('set selected', ['meteor', 'ember']) ; 
                .hidden.code[data-type="html"]
                  select.ui.fluid.dropdown[name="skills" multiple]
                    option[value=""]
                      | Skills
                    option[value="angular"]
                      | Angular
                    option[value="css"]
                      | CSS
                    option[value="ember"]
                      | Ember
                    option[value="html"]
                      | HTML
                    option[value="javascript"]
                      | Javascript
                    option[value="meteor"]
                      | Meteor
                    option[value="node"]
                      | NodeJS
                select.ui.fluid.dropdown[multiple]
                  option[value=""]
                    | Skills
                  option[value="angular"]
                    | Angular
                  option[value="css"]
                    | CSS
                  option[value="ember"]
                    | Ember
                  option[value="html"]
                    | HTML
                  option[value="javascript"]
                    | Javascript
                  option[value="meteor"]
                    | Meteor
                  option[value="node"]
                    | NodeJS
            .ui.divider
            .row
              .seven.wide.column
                h2.ui.header
                  | Simplified Debugging
                p
                  | Performance logging lets you track down bottlenecks without digging through stack traces.
                .ui.info.message
                  | Don't have access to development tools right now? Check out 
                  a[href="http://t.co/GOUQx8iCyG"]
                    | this short clip
                  | .
              .nine.wide.column
                .hidden.code[data-demo="true" data-type="javascript"]
                  |  $('.sequenced.images .image') .transition({ debug : true, animation : 'jiggle', duration : 500, interval : 200 }) ; 
                .ui.small.sequenced.images
                  img.ui.circular.image[src="/images/avatar2/large/elyse.png"]
                  img.ui.circular.image[src="/images/avatar2/large/matthew.png"]
                  img.ui.circular.image[src="/images/avatar2/large/kristy.png"]
        .ui.stripe.theming.vertical.segment
          .ui.stackable.very.relaxed.two.column.grid.container
            .center.aligned.column
              h1.ui.icon.header
                img.ui.icon.image[src="/images/icons/theming.png"]
                |  Unbelievable Theming 
              p
                | Fomantic comes equipped with an intuitive inheritance system and high level theming variables that let you have complete design freedom.
              p
                | Develop your UI once, then deploy with the same code everywhere.
              .ui.large.source.button[style="display:none;"]
                i.docs.code.icon
                |  View Source 
            .left.aligned.column
              .ui.large.floating.dropdown.theme.button[data-type="element" data-element="button"]
                span.text
                  | Select Theme
                i.dropdown.icon
                .menu.ui.transition.hidden[tabindex="-1"]
                  .item[data-value="Default"]
                    | Fomantic UI
                  .item[data-value="Amazon"]
                    | Amazon
                  .item[data-value="Material"]
                    | Google Material
                  .item[data-value="GitHub"]
                    | GitHub
                  .item[data-value="Bootstrap3"]
                    | Bootstrap
                  .item[data-value="Twitter"]
                    | Twitter
                  .divider
                  .item[data-value="Raised"]
                    | Raised
                  .item[data-value="Chubby"]
                    | Chubby
                  .item[data-value="Classic"]
                    | Classic
              .ui.divider
              .ui.button
                |  View 
              .ui.primary.button
                i.shop.icon
                |  Add to Cart 
              .ui.secondary.button
                i.save.icon
                |  Save for Later 
              .ui.labeled.icon.button
                i.star.icon
                |  Rate 
              .ui.demo.buttons
                .ui.active.button
                  | 1
                .ui.button
                  | 2
                .ui.button
                  | 3
          .ui.two.column.center.aligned.relaxed.stackable.source.grid
            .column
              h3.ui.header
                | Variable File
              .variable.code[data-type="less" data-preserve="true"]

            .column
              h3.ui.header
                | Override File
              .override.code[data-type="less" data-preserve="true"]

        .feature.alternate.ui.stripe.vertical.segment
          .ui.three.column.center.aligned.divided.relaxed.stackable.grid.container
            .row
              .column
                h2.ui.icon.header
                  img.ui.icon.image[src="/images/icons/paint.png"]
                  |  3000+ Theming Variables 
                p
                  | The only dogma from this framework: 
                  em
                    | everything arbitrary is mutable
                  | .
                a.ui.large.button[href="/usage/theming.html"]
                  | Theming Guide
              .column
                h2.ui.icon.header
                  img.ui.icon.image[src="/images/icons/book.png"]
                  |  50+ UI Components 
                p
                  | Build your entire site with one UI stack. Share your UI between multiple projects.
                .ui.primary.view-ui.large.button
                  | Browse UI
              .column
                h2.ui.icon.header
                  img.ui.icon.image[src="/images/icons/lab.png"]
                  |  5000+ Commits 
                p
                  |  Fomantic UI and Semantic UI are 
                  b
                    | free open source
                  |  projects already used in multiple 
                  a[href="http://www.quirky.com" target="_blank"]
                    | large
                  |  scale 
                  a[href="http://www.newrepublic.com" target="_blank"]
                    | production
                  |  environments. 
                a.ui.large.button[href="https://github.com/fomantic/Fomantic-UI/issues"]
                  | Visit GitHub
        .ui.stripe.vertical.segment
          .ui.stackable.very.relaxed.grid.container
            .fourteen.wide.center.aligned.centered.column
              h1.ui.icon.header
                img.ui.icon.image[src="/images/icons/toolbox.png"]
                |  Unbelievable Breadth 
              p
                | Definitions aren't limited to just buttons on a page. Fomantic's components allow several distinct types of definitions: elements, collections, views, modules and behaviors which cover the gamut of interface design.
              a.ui.large.primary.button[href="/usage/layout.html"]
                |  See Layout Examples 
                i.right.chevron.icon
            .three.column.computer.one.column.mobile.demo.row
              .column
                .no.example
                  h4.ui.header
                    a[href="/collections/menu.html"]
                      | Menu
                  .ui.vertical.demo.menu
                    a.active.teal.item
                      |  Inbox 
                    .ui.teal.label
                      | 1
                    a.item
                      |  Trash 
                    .ui.label
                      | 1
                    .item
                      .ui.transparent.icon.input
                        input[type="text" placeholder="Search mail..."]
                        i.search.icon
                  .ui.fluid.demo.tabular.menu
                    a.active.item
                      |  Tab 
                    a.item
                      |  Tab 
                  .ui.secondary.vertical.demo.menu
                    a.active.item
                      |  Inbox 
                    a.item
                      |  Starred 
                    a.item
                      |  Trash 
                  .ui.secondary.pointing.vertical.demo.menu
                    a.active.item
                      |  Inbox 
                    a.item
                      |  Starred 
                    a.item
                      |  Trash 
                .no.example
                  h4.ui.header
                    a[href="/elements/divider.html"]
                      | Divider
                  .ui.two.column.stackable.center.aligned.grid.segment
                    .column
                      .ui.button
                        | A
                    .ui.vertical.divider
                      | or
                    .column
                      .teal.ui.button
                        | B
                .no.example
                  h4.ui.header
                    a[href="/modules/accordion.html"]
                      | Accordion
                  .ui.vertical.fluid.accordion.menu
                    .item
                      a.active.title
                        i.dropdown.icon
                        |  Size 
                      .active.content
                        .ui.form
                          .grouped.fields
                            .field
                              .ui.radio.checkbox
                                input[type="radio" name="size" value="small"]
                                label
                                  | Small
                            .field
                              .ui.radio.checkbox
                                input[type="radio" name="size" value="medium"]
                                label
                                  | Medium
                            .field
                              .ui.radio.checkbox
                                input[type="radio" name="size" value="large"]
                                label
                                  | Large
                            .field
                              .ui.radio.checkbox
                                input[type="radio" name="size" value="x-large"]
                                label
                                  | X-Large
                    .item
                      a.title
                        i.dropdown.icon
                        |  Colors 
                      .content
                        .ui.form
                          .grouped.fields
                            .field
                              .ui.radio.checkbox
                                input[type="radio" name="color"]
                                label
                                  | Red
                            .field
                              .ui.radio.checkbox
                                input[type="radio" name="color"]
                                label
                                  | Orange
                            .field
                              .ui.radio.checkbox
                                input[type="radio" name="color"]
                                label
                                  | Green
                            .field
                              .ui.radio.checkbox
                                input[type="radio" name="color"]
                                label
                                  | Blue
                .no.example
                  h4.ui.header
                    a[href="/collections/message.html"]
                      | Message
                  .ui.message
                    i.close.icon
                    |  This site uses cookies 
                  .ui.warning.icon.message
                    .content
                      .header
                        | Looking for help? 
                      ul.list
                        li
                          | Use our 
                          a[href="#"]
                            | help center
                        li
                          | Check our <a href"#"="">FAQ
                  .ui.info.message
                    .header
                      | We're creating your profile page
                    p
                      | It will be ready in just a second.
              .tablet.only.computer.only.column
                .no.example
                  h4.ui.header
                    a[href="/views/card.html"]
                      | Card
                  .ui.card
                    .blurring.dimmable.image
                      .ui.dimmer
                        .content
                          .center
                            .ui.inverted.button
                              | Add Friend
                      img[src="/images/avatar2/large/rachel.png"]
                    .content
                      .header
                        | Rachel Maddaw
                      .meta
                        a.group
                          | Pundit
                    .extra.content
                      a.right.floated.created
                        |  Joined in 1998 
                      a.friends
                        i.user.icon
                        |  22 Friends 
                .no.example
                  h4.ui.header
                    a[href="/views/feed.html"]
                      | Feed
                  .ui.feed
                    .event
                      .label
                        img[src="/images/avatar2/small/mark.png"]
                      .content
                        .summary
                          a.user
                            |  Mark 
                          |  added you as a friend 
                    .event
                      .label
                        img[src="/images/avatar2/small/lena.png"]
                      .content
                        |  You added Lena to the group 
                        a
                          | Close Friends
                    .event
                      .label
                        img[src="/images/avatar2/small/eve.png"]
                      .content
                        |  Eve just 
                        a
                          | posted on your page
                .no.example
                  h4.ui.header
                    a[href="/elements/label.html"]
                      | Label
                  .ui.image.label
                    img[src="/images/avatar2/small/molly.png"]
                    |  molly@thebears.com 
                    i.delete.icon
                  a.ui.teal.label
                    i.mail.icon
                    |  23 New 
                  a.ui.tag.label
                    | Dresses
                .no.example
                  h4.ui.header
                    a[href="/elements/step.html"]
                      | Step
                  .ui.fluid.vertical.steps
                    a.step
                      i.truck.icon
                    .content
                      .title
                        | Shipping
                      .description
                        | Choose your shipping options
                    a.active.step
                      i.payment.icon
                    .content
                      .title
                        | Billing
                      .description
                        | Enter billing information
                    a.disabled.step
                      i.info.icon
                    .content
                      .title
                        | Confirm Order
                      .description
                        | Verify order details
              .tablet.only.computer.only.column
                .no.example
                  h4.ui.header
                    a[href="/modules/dropdown.html"]
                      | Dropdown
                  .ui.fluid.search.selection.dropdown
                    input[type="hidden" name="country"]
                    i.dropdown.icon
                    input.search[tabindex="0"]
                    .default.text
                      | Select Country
                    .menu[tabindex="-1"]
                      .item[data-value="ad"]
                        i.ad.flag
                        | Andorra
                      .item[data-value="ae"]
                        i.ae.flag
                        | United Arab Emirates
                      .item[data-value="af"]
                        i.af.flag
                        | Afghanistan
                      .item[data-value="ag"]
                        i.ag.flag
                        | Antigua
                      .item[data-value="ai"]
                        i.ai.flag
                        | Anguilla
                      .item[data-value="al"]
                        i.al.flag
                        | Albania
                      .item[data-value="am"]
                        i.am.flag
                        | Armenia
                      .item[data-value="an"]
                        i.an.flag
                        | Netherlands Antilles
                      .item[data-value="ao"]
                        i.ao.flag
                        | Angola
                      .item[data-value="ar"]
                        i.ar.flag
                        | Argentina
                      .item[data-value="as"]
                        i.as.flag
                        | American Samoa
                      .item[data-value="at"]
                        i.at.flag
                        | Austria
                      .item[data-value="au"]
                        i.au.flag
                        | Australia
                      .item[data-value="aw"]
                        i.aw.flag
                        | Aruba
                      .item[data-value="ax"]
                        i.ax.flag
                        | Aland Islands
                      .item[data-value="az"]
                        i.az.flag
                        | Azerbaijan
                      .item[data-value="ba"]
                        i.ba.flag
                        | Bosnia
                      .item[data-value="bb"]
                        i.bb.flag
                        | Barbados
                      .item[data-value="bd"]
                        i.bd.flag
                        | Bangladesh
                      .item[data-value="be"]
                        i.be.flag
                        | Belgium
                      .item[data-value="bf"]
                        i.bf.flag
                        | Burkina Faso
                      .item[data-value="bg"]
                        i.bg.flag
                        | Bulgaria
                      .item[data-value="bh"]
                        i.bh.flag
                        | Bahrain
                      .item[data-value="bi"]
                        i.bi.flag
                        | Burundi
                      .item[data-value="bj"]
                        i.bj.flag
                        | Benin
                      .item[data-value="bm"]
                        i.bm.flag
                        | Bermuda
                      .item[data-value="bn"]
                        i.bn.flag
                        | Brunei
                      .item[data-value="bo"]
                        i.bo.flag
                        | Bolivia
                      .item[data-value="br"]
                        i.br.flag
                        | Brazil
                      .item[data-value="bs"]
                        i.bs.flag
                        | Bahamas
                      .item[data-value="bt"]
                        i.bt.flag
                        | Bhutan
                      .item[data-value="bv"]
                        i.bv.flag
                        | Bouvet Island
                      .item[data-value="bw"]
                        i.bw.flag
                        | Botswana
                      .item[data-value="by"]
                        i.by.flag
                        | Belarus
                      .item[data-value="bz"]
                        i.bz.flag
                        | Belize
                      .item[data-value="ca"]
                        i.ca.flag
                        | Canada
                      .item[data-value="cc"]
                        i.cc.flag
                        | Cocos Islands
                      .item[data-value="cd"]
                        i.cd.flag
                        | Congo
                      .item[data-value="cf"]
                        i.cf.flag
                        | Central African Republic
                      .item[data-value="cg"]
                        i.cg.flag
                        | Congo Brazzaville
                      .item[data-value="ch"]
                        i.ch.flag
                        | Switzerland
                      .item[data-value="ci"]
                        i.ci.flag
                        | Cote Divoire
                      .item[data-value="ck"]
                        i.ck.flag
                        | Cook Islands
                      .item[data-value="cl"]
                        i.cl.flag
                        | Chile
                      .item[data-value="cm"]
                        i.cm.flag
                        | Cameroon
                      .item[data-value="cn"]
                        i.cn.flag
                        | China
                      .item[data-value="co"]
                        i.co.flag
                        | Colombia
                      .item[data-value="cr"]
                        i.cr.flag
                        | Costa Rica
                      .item[data-value="cs"]
                        i.cs.flag
                        | Serbia
                      .item[data-value="cu"]
                        i.cu.flag
                        | Cuba
                      .item[data-value="cv"]
                        i.cv.flag
                        | Cape Verde
                      .item[data-value="cx"]
                        i.cx.flag
                        | Christmas Island
                      .item[data-value="cy"]
                        i.cy.flag
                        | Cyprus
                      .item[data-value="cz"]
                        i.cz.flag
                        | Czech Republic
                      .item[data-value="de"]
                        i.de.flag
                        | Germany
                      .item[data-value="dj"]
                        i.dj.flag
                        | Djibouti
                      .item[data-value="dk"]
                        i.dk.flag
                        | Denmark
                      .item[data-value="dm"]
                        i.dm.flag
                        | Dominica
                      .item[data-value="do"]
                        i.do.flag
                        | Dominican Republic
                      .item[data-value="dz"]
                        i.dz.flag
                        | Algeria
                      .item[data-value="ec"]
                        i.ec.flag
                        | Ecuador
                      .item[data-value="ee"]
                        i.ee.flag
                        | Estonia
                      .item[data-value="eg"]
                        i.eg.flag
                        | Egypt
                      .item[data-value="eh"]
                        i.eh.flag
                        | Western Sahara
                      .item[data-value="er"]
                        i.er.flag
                        | Eritrea
                      .item[data-value="es"]
                        i.es.flag
                        | Spain
                      .item[data-value="et"]
                        i.et.flag
                        | Ethiopia
                      .item[data-value="eu"]
                        i.eu.flag
                        | European Union
                      .item[data-value="fi"]
                        i.fi.flag
                        | Finland
                      .item[data-value="fj"]
                        i.fj.flag
                        | Fiji
                      .item[data-value="fk"]
                        i.fk.flag
                        | Falkland Islands
                      .item[data-value="fm"]
                        i.fm.flag
                        | Micronesia
                      .item[data-value="fo"]
                        i.fo.flag
                        | Faroe Islands
                      .item[data-value="fr"]
                        i.fr.flag
                        | France
                      .item[data-value="ga"]
                        i.ga.flag
                        | Gabon
                      .item[data-value="gb"]
                        i.gb.flag
                        | England
                      .item[data-value="gd"]
                        i.gd.flag
                        | Grenada
                      .item[data-value="ge"]
                        i.ge.flag
                        | Georgia
                      .item[data-value="gf"]
                        i.gf.flag
                        | French Guiana
                      .item[data-value="gh"]
                        i.gh.flag
                        | Ghana
                      .item[data-value="gi"]
                        i.gi.flag
                        | Gibraltar
                      .item[data-value="gl"]
                        i.gl.flag
                        | Greenland
                      .item[data-value="gm"]
                        i.gm.flag
                        | Gambia
                      .item[data-value="gn"]
                        i.gn.flag
                        | Guinea
                      .item[data-value="gp"]
                        i.gp.flag
                        | Guadeloupe
                      .item[data-value="gq"]
                        i.gq.flag
                        | Equatorial Guinea
                      .item[data-value="gr"]
                        i.gr.flag
                        | Greece
                      .item[data-value="gs"]
                        i.gs.flag
                        | Sandwich Islands
                      .item[data-value="gt"]
                        i.gt.flag
                        | Guatemala
                      .item[data-value="gu"]
                        i.gu.flag
                        | Guam
                      .item[data-value="gw"]
                        i.gw.flag
                        | Guinea-Bissau
                      .item[data-value="gy"]
                        i.gy.flag
                        | Guyana
                      .item[data-value="hk"]
                        i.hk.flag
                        | Hong Kong
                      .item[data-value="hm"]
                        i.hm.flag
                        | Heard Island
                      .item[data-value="hn"]
                        i.hn.flag
                        | Honduras
                      .item[data-value="hr"]
                        i.hr.flag
                        | Croatia
                      .item[data-value="ht"]
                        i.ht.flag
                        | Haiti
                      .item[data-value="hu"]
                        i.hu.flag
                        | Hungary
                      .item[data-value="id"]
                        i.id.flag
                        | Indonesia
                      .item[data-value="ie"]
                        i.ie.flag
                        | Ireland
                      .item[data-value="il"]
                        i.il.flag
                        | Israel
                      .item[data-value="in"]
                        i.in.flag
                        | India
                      .item[data-value="io"]
                        i.io.flag
                        | Indian Ocean Territory
                      .item[data-value="iq"]
                        i.iq.flag
                        | Iraq
                      .item[data-value="ir"]
                        i.ir.flag
                        | Iran
                      .item[data-value="is"]
                        i.is.flag
                        | Iceland
                      .item[data-value="it"]
                        i.it.flag
                        | Italy
                      .item[data-value="jm"]
                        i.jm.flag
                        | Jamaica
                      .item[data-value="jo"]
                        i.jo.flag
                        | Jordan
                      .item[data-value="jp"]
                        i.jp.flag
                        | Japan
                      .item[data-value="ke"]
                        i.ke.flag
                        | Kenya
                      .item[data-value="kg"]
                        i.kg.flag
                        | Kyrgyzstan
                      .item[data-value="kh"]
                        i.kh.flag
                        | Cambodia
                      .item[data-value="ki"]
                        i.ki.flag
                        | Kiribati
                      .item[data-value="km"]
                        i.km.flag
                        | Comoros
                      .item[data-value="kn"]
                        i.kn.flag
                        | Saint Kitts and Nevis
                      .item[data-value="kp"]
                        i.kp.flag
                        | North Korea
                      .item[data-value="kr"]
                        i.kr.flag
                        | South Korea
                      .item[data-value="kw"]
                        i.kw.flag
                        | Kuwait
                      .item[data-value="ky"]
                        i.ky.flag
                        | Cayman Islands
                      .item[data-value="kz"]
                        i.kz.flag
                        | Kazakhstan
                      .item[data-value="la"]
                        i.la.flag
                        | Laos
                      .item[data-value="lb"]
                        i.lb.flag
                        | Lebanon
                      .item[data-value="lc"]
                        i.lc.flag
                        | Saint Lucia
                      .item[data-value="li"]
                        i.li.flag
                        | Liechtenstein
                      .item[data-value="lk"]
                        i.lk.flag
                        | Sri Lanka
                      .item[data-value="lr"]
                        i.lr.flag
                        | Liberia
                      .item[data-value="ls"]
                        i.ls.flag
                        | Lesotho
                      .item[data-value="lt"]
                        i.lt.flag
                        | Lithuania
                      .item[data-value="lu"]
                        i.lu.flag
                        | Luxembourg
                      .item[data-value="lv"]
                        i.lv.flag
                        | Latvia
                      .item[data-value="ly"]
                        i.ly.flag
                        | Libya
                      .item[data-value="ma"]
                        i.ma.flag
                        | Morocco
                      .item[data-value="mc"]
                        i.mc.flag
                        | Monaco
                      .item[data-value="md"]
                        i.md.flag
                        | Moldova
                      .item[data-value="me"]
                        i.me.flag
                        | Montenegro
                      .item[data-value="mg"]
                        i.mg.flag
                        | Madagascar
                      .item[data-value="mh"]
                        i.mh.flag
                        | Marshall Islands
                      .item[data-value="mk"]
                        i.mk.flag
                        | MacEdonia
                      .item[data-value="ml"]
                        i.ml.flag
                        | Mali
                      .item[data-value="ar"]
                        i.ar.flag
                        | Burma
                      .item[data-value="mn"]
                        i.mn.flag
                        | Mongolia
                      .item[data-value="mo"]
                        i.mo.flag
                        | MacAu
                      .item[data-value="mp"]
                        i.mp.flag
                        | Northern Mariana Islands
                      .item[data-value="mq"]
                        i.mq.flag
                        | Martinique
                      .item[data-value="mr"]
                        i.mr.flag
                        | Mauritania
                      .item[data-value="ms"]
                        i.ms.flag
                        | Montserrat
                      .item[data-value="mt"]
                        i.mt.flag
                        | Malta
                      .item[data-value="mu"]
                        i.mu.flag
                        | Mauritius
                      .item[data-value="mv"]
                        i.mv.flag
                        | Maldives
                      .item[data-value="mw"]
                        i.mw.flag
                        | Malawi
                      .item[data-value="mx"]
                        i.mx.flag
                        | Mexico
                      .item[data-value="my"]
                        i.my.flag
                        | Malaysia
                      .item[data-value="mz"]
                        i.mz.flag
                        | Mozambique
                      .item[data-value="na"]
                        i.na.flag
                        | Namibia
                      .item[data-value="nc"]
                        i.nc.flag
                        | New Caledonia
                      .item[data-value="ne"]
                        i.ne.flag
                        | Niger
                      .item[data-value="nf"]
                        i.nf.flag
                        | Norfolk Island
                      .item[data-value="ng"]
                        i.ng.flag
                        | Nigeria
                      .item[data-value="ni"]
                        i.ni.flag
                        | Nicaragua
                      .item[data-value="nl"]
                        i.nl.flag
                        | Netherlands
                      .item[data-value="no"]
                        i.no.flag
                        | Norway
                      .item[data-value="np"]
                        i.np.flag
                        | Nepal
                      .item[data-value="nr"]
                        i.nr.flag
                        | Nauru
                      .item[data-value="nu"]
                        i.nu.flag
                        | Niue
                      .item[data-value="nz"]
                        i.nz.flag
                        | New Zealand
                      .item[data-value="om"]
                        i.om.flag
                        | Oman
                      .item[data-value="pa"]
                        i.pa.flag
                        | Panama
                      .item[data-value="pe"]
                        i.pe.flag
                        | Peru
                      .item[data-value="pf"]
                        i.pf.flag
                        | French Polynesia
                      .item[data-value="pg"]
                        i.pg.flag
                        | New Guinea
                      .item[data-value="ph"]
                        i.ph.flag
                        | Philippines
                      .item[data-value="pk"]
                        i.pk.flag
                        | Pakistan
                      .item[data-value="pl"]
                        i.pl.flag
                        | Poland
                      .item[data-value="pm"]
                        i.pm.flag
                        | Saint Pierre
                      .item[data-value="pn"]
                        i.pn.flag
                        | Pitcairn Islands
                      .item[data-value="pr"]
                        i.pr.flag
                        | Puerto Rico
                      .item[data-value="ps"]
                        i.ps.flag
                        | Palestine
                      .item[data-value="pt"]
                        i.pt.flag
                        | Portugal
                      .item[data-value="pw"]
                        i.pw.flag
                        | Palau
                      .item[data-value="py"]
                        i.py.flag
                        | Paraguay
                      .item[data-value="qa"]
                        i.qa.flag
                        | Qatar
                      .item[data-value="re"]
                        i.re.flag
                        | Reunion
                      .item[data-value="ro"]
                        i.ro.flag
                        | Romania
                      .item[data-value="rs"]
                        i.rs.flag
                        | Serbia
                      .item[data-value="ru"]
                        i.ru.flag
                        | Russia
                      .item[data-value="rw"]
                        i.rw.flag
                        | Rwanda
                      .item[data-value="sa"]
                        i.sa.flag
                        | Saudi Arabia
                      .item[data-value="sb"]
                        i.sb.flag
                        | Solomon Islands
                      .item[data-value="sc"]
                        i.sc.flag
                        | Seychelles
                      .item[data-value="sd"]
                        i.sd.flag
                        | Sudan
                      .item[data-value="se"]
                        i.se.flag
                        | Sweden
                      .item[data-value="sg"]
                        i.sg.flag
                        | Singapore
                      .item[data-value="sh"]
                        i.sh.flag
                        | Saint Helena
                      .item[data-value="si"]
                        i.si.flag
                        | Slovenia
                      .item[data-value="sj"]
                        i.sj.flag
                        | Svalbard, I Flag Jan Mayen
                      .item[data-value="sk"]
                        i.sk.flag
                        | Slovakia
                      .item[data-value="sl"]
                        i.sl.flag
                        | Sierra Leone
                      .item[data-value="sm"]
                        i.sm.flag
                        | San Marino
                      .item[data-value="sn"]
                        i.sn.flag
                        | Senegal
                      .item[data-value="so"]
                        i.so.flag
                        | Somalia
                      .item[data-value="sr"]
                        i.sr.flag
                        | Suriname
                      .item[data-value="st"]
                        i.st.flag
                        | Sao Tome
                      .item[data-value="sv"]
                        i.sv.flag
                        | El Salvador
                      .item[data-value="sy"]
                        i.sy.flag
                        | Syria
                      .item[data-value="sz"]
                        i.sz.flag
                        | Swaziland
                      .item[data-value="tc"]
                        i.tc.flag
                        | Caicos Islands
                      .item[data-value="td"]
                        i.td.flag
                        | Chad
                      .item[data-value="tf"]
                        i.tf.flag
                        | French Territories
                      .item[data-value="tg"]
                        i.tg.flag
                        | Togo
                      .item[data-value="th"]
                        i.th.flag
                        | Thailand
                      .item[data-value="tj"]
                        i.tj.flag
                        | Tajikistan
                      .item[data-value="tk"]
                        i.tk.flag
                        | Tokelau
                      .item[data-value="tl"]
                        i.tl.flag
                        | Timorleste
                      .item[data-value="tm"]
                        i.tm.flag
                        | Turkmenistan
                      .item[data-value="tn"]
                        i.tn.flag
                        | Tunisia
                      .item[data-value="to"]
                        i.to.flag
                        | Tonga
                      .item[data-value="tr"]
                        i.tr.flag
                        | Turkey
                      .item[data-value="tt"]
                        i.tt.flag
                        | Trinidad
                      .item[data-value="tv"]
                        i.tv.flag
                        | Tuvalu
                      .item[data-value="tw"]
                        i.tw.flag
                        | Taiwan
                      .item[data-value="tz"]
                        i.tz.flag
                        | Tanzania
                      .item[data-value="ua"]
                        i.ua.flag
                        | Ukraine
                      .item[data-value="ug"]
                        i.ug.flag
                        | Uganda
                      .item[data-value="um"]
                        i.um.flag
                        | Us Minor Islands
                      .item[data-value="us"]
                        i.us.flag
                        | United States
                      .item[data-value="uy"]
                        i.uy.flag
                        | Uruguay
                      .item[data-value="uz"]
                        i.uz.flag
                        | Uzbekistan
                      .item[data-value="va"]
                        i.va.flag
                        | Vatican City
                      .item[data-value="vc"]
                        i.vc.flag
                        | Saint Vincent
                      .item[data-value="ve"]
                        i.ve.flag
                        | Venezuela
                      .item[data-value="vg"]
                        i.vg.flag
                        | British Virgin Islands
                      .item[data-value="vi"]
                        i.vi.flag
                        | Us Virgin Islands
                      .item[data-value="vn"]
                        i.vn.flag
                        | Vietnam
                      .item[data-value="vu"]
                        i.vu.flag
                        | Vanuatu
                      .item[data-value="wf"]
                        i.wf.flag
                        | Wallis and Futuna
                      .item[data-value="ws"]
                        i.ws.flag
                        | Samoa
                      .item[data-value="ye"]
                        i.ye.flag
                        | Yemen
                      .item[data-value="yt"]
                        i.yt.flag
                        | Mayotte
                      .item[data-value="za"]
                        i.za.flag
                        | South Africa
                      .item[data-value="zm"]
                        i.zm.flag
                        | Zambia
                      .item[data-value="zw"]
                        i.zw.flag
                        | Zimbabwe
                  .ui.divider
                  .ui.floating.dropdown.labeled.icon.button
                    i.filter.icon
                    span.text
                      | Filter Posts
                    .menu
                      .ui.icon.search.input
                        i.search.icon
                        input[type="text" placeholder="Search tags..."]
                      .header
                        i.tags.icon
                        |  Tag Label 
                      .scrolling.menu
                        .item
                          .ui.red.empty.circular.label
                          |  Important 
                        .item
                          .ui.blue.empty.circular.label
                          |  Announcement 
                        .item
                          .ui.black.empty.circular.label
                          |  Cannot Fix 
                        .item
                          .ui.purple.empty.circular.label
                          |  News 
                        .item
                          .ui.orange.empty.circular.label
                          |  Enhancement 
                        .item
                          .ui.empty.circular.label
                          |  Change Declined 
                        .item
                          .ui.yellow.empty.circular.label
                          |  Off Topic 
                        .item
                          .ui.pink.empty.circular.label
                          |  Interesting 
                        .item
                          .ui.green.empty.circular.label
                          |  Discussion 
                .no.segment.example
                  h4.ui.header
                    a[href="/elements/segment.html"]
                      | Segment
                  .ui.stacked.segment
                  .ui.raised.segment
                  .ui.secondary.segment
                  .ui.tertiary.segment
                  .ui.top.attached.segment
                  .ui.attached.segment
                  .ui.bottom.attached.segment
                .no.example
                  h4.ui.header
                    a[href="/elements/input.html"]
                      | Input
                  .ui.action.left.icon.input
                    i.search.icon
                    input[type="text" placeholder="Search..."]
                    .ui.teal.button
                      | Search
                  .ui.hidden.divider
                  .ui.labeled.right.icon.input
                    .ui.label
                      |  http:// 
                    input[type="text" placeholder="mysite.com"]
                    i.linkify.link.icon
                  .ui.hidden.divider
                  .ui.right.labeled.input
                    input[type="text" placeholder="Enter categories"]
                    a.ui.tag.label
                      |  Add Tags 
                .no.example
                  h4.ui.header
                    a[href="/modules/checkbox.html"]
                      | Checkbox
                  .ui.checkbox
                    input[type="checkbox" name="fun"]
                    label
                      | I enjoy having fun
                  .ui.hidden.divider
                  .ui.slider.checkbox
                    input[type="checkbox" name="newsletter"]
                    label
                      | Receive weekly poodle newsletter
                  .ui.hidden.divider
                  .ui.toggle.checkbox
                    input[type="checkbox" name="public"]
                    label
                      | Make my dog's profile public
        .ui.stripe.community.vertical.segment
          .ui.two.column.center.aligned.divided.very.relaxed.stackable.grid.container
            .row
              .column
                h2.ui.icon.header
                  img.ui.icon.image[src="/images/icons/mobile.png"]
                  |  Responsively Designed 
                p
                  | Fomantic is 
                  b
                    | designed completely with em
                  |  making responsive sizing a breeze. Design 
                  em
                    | variations
                  |  built into elements allow you to make the choice how content adjusts for tablet and mobile.
                a.ui.large.button[href="/usage/layout.html"]
                  | Responsive Examples
              .column
                h2.ui.icon.header
                  img.ui.icon.image[src="/images/icons/heart.png"]
                  |  Partners with Libraries You Love 
                p
                  | Fomantic has integrations with 
                  b
                    | React, Angular, Meteor, Ember
                  |  and many other frameworks to help organize your UI layer alongside your application logic.
                a.ui.large.button[href="/introduction/integrations.html"]
                  | See Integrations
        .ui.alternate.stripe.vertical.segment
          .ui.stackable.center.aligned.grid.container
            .fourteen.wide.column
              h1.ui.icon.header
                img.ui.inline.icon.image[src="/images/icons/rocket.png"]
                |  Liberate your Development 
              .ui.stackable.center.aligned.vertically.padded.grid
                .eight.wide.column
                  h3.ui.header
                    | Enterprise Ready
                  p
                    | Build tools, performance logging, support for custom definitions, multiple-levels of theme inheritance—a developer's dream.
                  a.ui.large.right.labeled.primary.icon.button[href="/introduction/getting-started.html"]
                    i.right.chevron.icon
                    |  Get Started Now 
      footer.ui.vertical.footer.segment
        .ui.container
          .ui.stackable.grid
            .three.wide.column
              h4.ui.header
                | Community
              .ui.link.list
                a.item[href="https://github.com/fomantic/Fomantic-UI/issues/new/choose" target="_blank"]
                  i.edit.icon
                  |  Submit an Issue 
                a.item[href="https://github.com/fomantic/Fomantic-UI" target="_blank"]
                  i.github.icon
                  |  GitHub Repository 
                a.item[href="https://discordapp.com/invite/UgzHNZF" target="_blank"]
                  i.discord.icon
                  |  Discord 
            .three.wide.column
              h4.ui.header
                | Social
              .ui.link.list
                a.item[href="https://twitter.com/fomanticui" target="_blank"]
                  i.twitter.icon
                  |  Twitter 
                a.item[href="https://medium.com/@fomantic" target="_blank"]
                  i.medium.icon
                  |  Medium 
            .eight.wide.middle.aligned.right.floated.column
              .footer-sponsor
                a[href="https://www.digitalocean.com/?utm_medium=opensource&utm_source=fomantic" target="_blank"]

                p
                  | Infrastructure hosted and powered by DigitalOcean
                img.ui.small.image[src="https://opensource.nyc3.cdn.digitaloceanspaces.com/attribution/assets/PNG/DO_Logo_Horizontal_Blue.png" alt="DigitalOcean"]
              .footer-sponsor
                a[href="https://www.browserstack.com" target="_blank"]

                p
                  | Cross-browser testing provided by
                img.ui.image[src="/images/browserstack.svg" alt="BrowserStack"]
              .footer-sponsor
                a[href="https://jetbrains.com?from=Fomantic-UI" target="_blank" style="display: inline-block;"]
                  img.ui.avatar.image[style="height: 50px; width: auto;" src="/images/jetbrains.svg" alt="JetBrains"]
                  span
                    | IDE's provided by JetBrains
          .ui.section.divider
          img.ui.right.floated.mini.image[src="/images/logo.png"]
          .ui.horizontal.small.divided.link.list
            a.item[href="https://github.com/fomantic/Fomantic-UI/blob/master/LICENSE.md" target="_blank"]
              | Free & Open Source (MIT)
        #codefund
        script[src="https://app.codefund.io/properties/728/funder.js" async]
    .ui.basic.language.modal
      i.close.icon
      .header
        | The 
        span.name
        |  Translation Needs Your Help
      .image.content
        .middle.aligned.image
          i.world.icon
        .description
          p
            | This translation is only 
            b
              span.complete
              | %
            |  complete!
          .ui.inverted.indicating.progress
            .bar
          p
            | We need your help to make Semantic available to people who speak your language.
          p
            | Our translation tools are easy to use and allow you to translate text without having to leave the site. 
      .actions
        .ui.inverted.cancel.button
          | No Thanks
        a.ui.inverted.approve.teal.button[href="https://github.com/fomantic/Fomantic-UI/wiki/Translating-Semantic-UI-Docs" target="_blank"]
          i.mail.icon
          |  Help Translate 
    script
      |  (function () { var eventSupport = ('querySelector' in document && 'addEventListener' in window) jsonSupport = (typeof JSON !== 'undefined'), jQuery = (eventSupport && jsonSupport) ? '/javascript/library/jquery.min.js' : '/javascript/library/jquery.legacy.min.js' ; document.write('<script src="' + jQuery + '"><\/script>'); }()); 
    script[type="text/javascript"]
      |  window.liveSettings = { api_key : '9ede3015b9f84c1aabc81ab839c55d74', parse_attr : [ 'data-title', 'data-content' ], detectlang : false, autocollect : true, ignore_tags : ['i', 'code', 'pre'], parse_attr : ['data-title', 'data-content', 'data-text'], ignore_class : ['code', 'anchor'] }; 
    script[type="text/javascript" src="//cdn.transifex.com/live.js"]
    script[src="/javascript/library/highlight.min.js"]
    script[src="/javascript/library/easing.min.js"]
    script[src="/dist/semantic.min.js"]
    script[src="/javascript/docs.js"]
    script[src="/javascript/home.js"]
    script
      |  window.less = { async : true, environment : 'production', fileAsync : false, onReady : false, useFileCache : true }; 
    script[src="/javascript/library/less.min.js"]
