/ 案内板
/ ============================================================================
.ui.container
  p.ui.right.aligned.header.last_update
    | 最終更新／
    = gengo @last_update, :date

  // 告知
  = MessagePresenter.new(@carousel, self).carousel_slide(enough_authority: admin_user?)

/ 5JK活動情報
/ ============================================================================
.ui.segment.container style="background: rgba(255, 255, 255, 0.75);"
  h2.ui.left.aligned.header
    | ５JK活動情報

  .ui.container
    .ui.stackable.three.column.grid
      .column
        / 棋戦情報
        = MessagePresenter.new(Information.first, self).info_body(enough_authority: admin_user?)
      .column
        / 例会の案内
        = MessagePresenter.new(Information.second, self).info_body(enough_authority: admin_user?)
      .column
        / 掲示板の案内
        = MessagePresenter.new(Information.third, self).info_body(enough_authority: admin_user?)

/ 名局紹介
/ ============================================================================
.ui.segment.container style="background: rgba(255, 255, 255, 0.75);"
  h2.ui.left.aligned.header 名局紹介
  h4.ui.header
    = markdown @well_played_game.post.topic.title
  p
    = markdown @well_played_game.post.comment

  == render partial: "shared/kifu", locals: { kifu: @well_played_game }

// タイトル保持者
// ============================================================================
.ui.container.segment style="background: rgba(255, 255, 255, 0.75);"
  h3.ui.header タイトル保持者
  - p = TitleHolderPresenter.new(@title_holders, self)
  /   / @title_holders
  /   / => [{:name=>"名人戦", :title_holder=>"MAT_FIBER", :matchup_id=>47}, {:name=>"竜王戦", :title_holder=>"z-air-6", :matchup_id=>53}, {:name=>"王座戦", :title_holder=>"z-air-6", :matchup_id=>37}, {:name=>"棋王戦", :title_holder=>"z-air-6", :matchup_id=>51}, {:name=>"王将戦", :title_holder=>"WhiteWizard", :matchup_id=>49}, {:name=>"棋聖戦", :title_holder=>"bururutti-2", :matchup_id=>36}]
  /
  / .computer.only
  = p.title_holders_table
  / .mobile.only
  /   = p.title_holders_list
