.card.p-4.mb-4
  .card-body.m-2.mb-4.p-3
    h1.text-success.text-center
      small 将棋倶楽部24で
      br
      | 五級位上昇を目指す会
      br
      small 〜 会員登録 ご案内 〜

  section.card-body.rounded.border.border-primary.m-2.mb-4.p-3
    h3 会員資格
    ol style="list-style-type:lower-latin"
      li
        | 将棋倶楽部２４で級位（段位）の上昇・向上を目指していること。
      li
        | 次のいずれかを満たしていること。
        ol
          li
            | 将棋倶楽部２４で７級以下の場合（Ｒ950未満＝本会員）
          li
            | 将棋倶楽部２４で６級以上の方は、駒落ち棋戦等で指導対局していただける方に限ります（＝上級会員）。
          li
            | 将棋倶楽部２４で初段〜三段の方は、卒業要件の段位を自己申告して頂きます（例：二段→五段、三段→四段など）。
            br
            |  つまり入会時、段位の方は五段位上昇にこだわりません。その他の入会要件は、前項と同じです。
          li
            | 四段以上の高段位の方は本人が希望すれば、卒業要件を設けずに５ＪＫで活動することができます。
            br
            |  ただし、他の会員の棋力向上のために指導していただける方に限ります。
      li
        | Ｒ戦の対局数が100局以上であること。
        br
        span[style="font-size:small"]
          span[style="color:red"]
            | （レーティング戦100局未満の方の入会は全てお断りしています。
          | 100局以上になったら再度、登録願えますか）
      li
        | 日常から、感想戦をすることを心がけていること。
      li
        | 志の保てる人。過少申告や点数調整は絶対にしない。
      li
        | ６棋戦連続、棋戦不参加の方は「活動中会員名簿」から「休止中会員名簿」へ移行します。
        br
        |  （休止中会員でも棋戦参加できます。また棋戦参加時点で「活動中会員」へ移行します。）
      li
        | 入会時に、有効なメールアドレスを登録できない人は、入会を承認できません。
    article.ml-5
      p.small
        |  注意：5JKで行われる棋戦及び研究会などの棋譜は、5JKのWebサイトで公開となります。あらかじめご了承下さい。
        br
        |  会員の棋力向上に役立てるのが目的です。
        br
        |  ※場合によっては入会をお断りすることがあります。
        br
        |  例：入会登録時に故意の反則がないかどうかなどの棋譜チェックをさせていただきます。
        br
        |  その際、棋譜検索で検出される棋譜の数が少ない場合は、仮入会をお願いすることもあります。（H.21/10/11追記）

  section.card-body.rounded.border.border-primary.m-2.mb-4.p-3
    h3 登録前のお願い
    p.text-success.lead
      |  会員登録の前に、以下のルールを確認してください。

    article
      p
        |  以下の事項の一つ及び複数に該当した場合には、会員資格の停止及び喪失する。
      ol
        li
          | 著しくマナーに反する行為が確認されたとき
          br
          |  (ソフトの使用・R点の任意の調整 / R点の過少申告による棋戦の参加等)
        li
          | 不正行為が確認されたとき。
        li
          | 相手を誹謗中傷したり暴言を吐いたりしたことが確認されたとき。
        li
          | 五級位上昇を目指す会の信用を傷つけたとき。
        li
          | 長期間理由なくサークル活動に参加されなかったとき。
        li
          | 一定期間、登録したメールアドレスに連絡が付かない場合、または有効な新しいメールアドレスを再登録できない人は、退会処理をします。
        li
          | その他会員として不適格と判断した場合。

  section.card-body.rounded.border.border-primary.m-2.mb-4.p-3
    h3 会員登録
    article
      p
        span.text-success.lead
          | 以上の７つの事項を行わないと承諾しますか？
        br
        |  どちらかをクリックしてください。
        br
        |  「承諾します」をクリックすると、入会登録のフォーム画面になります。

      .text-center
        => link_to '承諾しません', root_path, class: 'btn btn-md btn-outline-danger'
        => link_to '承諾します', sign_up_url, class: 'btn btn-md btn-primary'
    p
      | もし、正常に送信・登録できない場合は、
      br
      |  必要事項 (登録ハンドルネーム / 現在の段級位 / 現在のR / メールアドレス / お好きな棋士 / 在住都道府県 / 入会の抱負)
      br
      |  をご記入の上、
      b => link_to 'メール', mail_to_5JK_url
      | を送ってください。
