- provide :title, '例会案内'

scss:
  article {
    background-color: #e3f2fd;
  }

.card.p-4.mb-4
  .card-body
    h1.text-success.text-center.mb-4
      | 将棋倶楽部24で 五級位上昇を目指す会
      br
      |  例会案内
    p.text-right
      | H23年5月15日更新
    article.p-3
      .card-body.mt-3.mb-3.rounded.border.border-primary
        |  目　的：　会員相互の交流を深めるとともに、棋力向上を図る。
        br
        |  内　容：　１）会員相互の練習対局や観戦等、各種棋力向上に役立つことを行う。
        br
        |  　　　　　２）チャットなどを通じ互いの交流を深める。
        br
        |  日　時：　毎週土曜日　２１時〜２３時頃（自由解散）
        br
        |  場　所：　大阪道場／対局室 もしくは ５JK待合室
        br
        |  備　考：　参加は自由です。お仕事や学業を優先でご参加ください。
        br
  .card-body
    h1.text-primary.text-center
      | 例会要項
    ol
      li
        | 日時：
        ul
          li
            | 毎週土曜日２１時〜２３時頃（自由解散）
      li
        | 活動内容：
        ul
          li
            | 練習対局を行う。
          li
            | 棋力向上問題(詰め将棋・必至問題・次の一手など）をふれ盤にて解く。
          li
            | 各種イベントを企画開催し、楽しむ。
          li
            | チャットにて会員相互の交流を図る。
          li
            | ５ＪＫの運営や２４のイベント、他サークルとの交流など、各種話し合いを行う。
          li
            | 新入会員の方との歓迎対局を行う。
          li
            | リレー対局
          li
            | 早指し勝ち抜き戦
          li
            | 読み筋公開対局
          li
            | 局面検討
          li
            | 特定戦法の解説講座
          li
            | その他、いろいろ
      p
        | ※５ＪＫ棋戦の対局が予定されている場合、２１時から２２時までは上記を、２２時からは対局を観戦します。
        br
        | 今週の例会内容やイベント等について、トップページや掲示板などでお知らせがなされていると、より活発な参加が見込め、よいかと思います。
      li
        | 待合室：
        br
        |  道場に来たときに、５ＪＫの仲間と出会えるように、待合室を設置します。
        br
        |  20時55分までに
        span.text-info
          | 自主的に
        | 作成してください。
        br
        br
        |  待合室の作り方：
        ol
          li
            | 大阪道場にご自分のＩＤでログインし、
            span.text-danger
              | すぐに
            | 退場する。
          li
            span.text-danger
              | 退場後の同じウィンドウ
            | で
            span.text-danger
              | ゲスト
            | を選択し、
            br
            span.text-danger
              | ユーザー名：5JK待合室、棋力：11級、所在地：例会
            | としてログインし直す。
            br
            |  先頭に*がついた公認ゲストとしてログインできます。
          li
            | もう一つ大阪道場のウィンドウを開き、ご自分のＩＤでログインする。
            br
            |  ちょうど5JK待合室と二つ同時にログインしている状態になります。
          li
            | 両方の画面で自由対局室へ移り、どちらか片方の画面からもう一つの自分へ「挑戦」を押して対局する。
          li
            | すぐに「投了」すると、感想戦状態となります。
            br
            |  これで待合室の完成です。
          li
            | 念のため重複しないよう、他の人が部屋を作ってないか確認してください。
          li
            | 対局画面が２つできますが、２つとも閉じるとチャットができなくなりますので、誤って閉じないよう注意してください。
        br
        li
          | 司会進行役：
          br
          |  円滑に例会が進行するよう、司会進行役を置きます。
          br
          |  司会進行役は、イベントの提案者、もしくは参加している役員が務めてください。
          br
          |  だれもいない場合は参加メンバーで適宜決めて下さい。
          br
          br
          |  司会進行役の役割：
          ul
            li
              | 具体的方針を皆に投げかけ、努めて他の参加者の賛否の意志や意見を聞いて下さい。
              br
            li
              | 進行方法などで、なかなか方針が決まらない時は、独自の判断で方針決定してください。
              br
              |  会員の皆さんはそれに従って下さい。
              br
            li
              | 23時を過ぎたら自由解散を告げてください。
              br
          br
          li
            | その他：この要項を参考に、良識的・協力的にやっていただければ、幸いです。
