- provide(:title, 'リレー将棋 成績')

scss:
  $black:  black;
  $color_ultramarine_approx: #000099;
  $color_viking_approx: #4cdfdb;
  $red: #ff0000;
  $cyan_aqua: #00ffff;
  $color_your_pink_approx: #ffbfbf;
  $color_pale_canary_approx: #ffff93;
  $color_perano_approx: #acacff;
  $color_mercury_approx: #e6e6e6;
  $color_royal_purple_approx: rebeccapurple;

  table {
  	th {
  		text-align: center;
  	}
  	td {
      text-align: center;
  	}
    &.table {
      thead {
        th {
          vertical-align: middle;
        }
      }
    }
  }
  h2 {
  	color: $red;
  	text-align: center;
  	margin-bottom: 0;
  	+ p {
  		margin-top: 0;
  	}
  }
  p {
  	text-align: center;
  }
  .team_name {
  	background-color: $cyan_aqua;
  }
  .team_member {
  	background-color: $color_your_pink_approx;
  }
  .preliminary_contest {
  	background-color: $color_pale_canary_approx;
  }
  .final_contest {
  	background-color: $color_perano_approx;
  }
  .note {
  	background-color: $color_mercury_approx;
  }
  .title {
  	color: $color_ultramarine_approx;
  	text-align: center;
  	text-shadow: 5px 5px 5px $color_viking_approx;
    margin: 1rem;
  }

.card.p-4.mb-4
  .card-body
    h1.title
      | 将棋倶楽部２４主催リレー将棋大会
      br
      | ５ＪＫチーム成績
    p.text-info.mt-4
      | ※最近の大会ほど、上に配置しています。

  section.card-body
    h2
      | 第24回大会(2019年)
    p
      |  参加16チーム：
      a[href="https://www.shogidojo.net/event/relay/24/"]
        | 大会ホームページ
    table.table.table-sm
      colgroup
        col.team_name[span="1"]
        col.team_member[span="1"]
        col.preliminary_contest[span="3"]
        col.final_contest[span="3"]
        col.note[span="2"]
      thead
        tr
          th.team_name[rowspan="2"]
            | チーム名
          th.team_member[rowspan="2"]
            | メンバー
          th.preliminary_contest[colspan="3"]
            | 予選（2勝通過、2勝敗退）
          th.final_contest[colspan="2"]
            | お祭り
          th.note[rowspan="2"]
            | 備考
        tr
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | 準決勝
          th
            | 決勝
      tbody
        tr
          td
            | 5JKTeamA
          td
            |  YUGEN1262(2269)
            small
              | (非会員)
            br
            | WhiteWizard(1680)
            br
            | thegul(1567)
            br
            |  ms1985(1394)
            small
              | (非会員)
            br
            |  bururutti-2(756)
          td
            = link_to "●", kifu_path(626)
          td
            = link_to "○", kifu_path(627)
          td
            = link_to "●", kifu_path(628)
          td
            = link_to "○", kifu_path(629)
          td
            = link_to "○", kifu_path(630)
          td.note
            | お祭り優勝
    p.text-right.small
      | ○ / ● に棋譜リンクがあります

  section.card-body
    h2
      | 第23回大会(2018年)
    p
      |  参加14チーム：
      a[href="https://www.shogidojo.net/event/relay/23/"]
        | 大会ホームページ
    table.table.table-sm
      colgroup
        col.team_name[span="1"]
        col.team_member[span="1"]
        col.preliminary_contest[span="3"]
        col.final_contest[span="3"]
        col.note[span="2"]
      thead
        tr
          th.team_name[rowspan="2"]
            | チーム名
          th.team_member[rowspan="2"]
            | メンバー
          th.preliminary_contest[colspan="3"]
            | 予選（2勝通過、2勝敗退）
          th.final_contest[colspan="3"]
            | 本戦（シはシード）
          th.note[rowspan="2"]
            | 備考
        tr
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | １回戦
          th
            | 準決勝
          th
            | 決勝
      tbody
        tr
          td
            | 5JKTeamA
          td
            |  YUGEN1262(2219)
            small
              | (非会員)
            br
            |  kannju(1873)
            small
              | (非会員)
            br
            |  bururutti-2(680)
          td
            = link_to "○", kifu_path(426)
          td
            = "□"
          td
            |
          td
            = link_to "●", kifu_path(429)
          td
          td
          td
            | 本戦一回戦敗退
        tr
          td
            | 5JKTeamB
          td
            | WhiteWizard(1680)
            br
            | thegul(1567)
            br
            |  ms1985(1394)
            small
              | (非会員)
            br
            |  ko-tan(1064)
            br
            small
              | koutan21(2736 非会員・非出場)
            br
            small
              | rarapoto(1053 非会員・非出場)
          td
            = link_to "□", kifu_path(423)
          td
            = link_to "●", kifu_path(427)
          td
            = link_to "●", kifu_path(428)
          td
            |
          td
          td
          td
            | 予選敗退
    p.text-right.small
      | ○ / ● に棋譜リンクがあります

  section.card-body
    h2
      | 第22回大会(2017年)
    p
      |  参加21チーム：
      a[href="https://www.shogidojo.net/event/relay/22/"]
        | 大会ホームページ
    table.table.table-sm
      colgroup
        col.team_name[span="1"]
        col.team_member[span="1"]
        col.preliminary_contest[span="3"]
        col.final_contest[span="4"]
        col.note[span="2"]
      thead
        tr
          th.team_name[rowspan="2"]
            | チーム名
          th.team_member[rowspan="2"]
            | メンバー
          th.preliminary_contest[colspan="3"]
            | 予選（2勝通過、2勝敗退）
          th.final_contest[colspan="4"]
            | 本戦（シはシード）
          th.note[rowspan="2"]
            | 備考
        tr
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | １回戦
          th
            | ２回戦
          th
            | 準決勝
          th
            | 決勝
      tbody
        tr
          td
            | 5JKTeamA
          td
            |  YUGEN1262(1965)
            small
              | (非会員)
            br
            |  WhiteWizard(1593)
            br
            |  kitazawa kazumi(1210)
            br
            |  ko-tan(955)
            small
              | (代打)
            br
            |  hanndo(387)
            small
              | (代打)
            br
          td
            | □
          td
            | ●
          td
            | ○
          td
            | ●
          td
          td
          td
          td
            | １回戦敗退

  section.card-body
    h2
      | 第21回大会(2016年)
    p
      |  参加28チーム：
      a[href="https://www.shogidojo.net/event/relay/21/index.html"]
        | 大会ホームページ
    table.table.table-sm
      colgroup
        col.team_name[span="1"]
        col.team_member[span="1"]
        col.preliminary_contest[span="3"]
        col.final_contest[span="4"]
        col.note[span="2"]
      thead
        tr
          th.team_name[rowspan="2"]
            | チーム名
          th.team_member[rowspan="2"]
            | メンバー
          th.preliminary_contest[colspan="3"]
            | 予選（2勝通過、2勝敗退）
          th.final_contest[colspan="4"]
            | 本戦（シはシード）
          th.note[rowspan="2"]
            | 備考
        tr
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | １回戦
          th
            | ２回戦
          th
            | 準決勝
          th
            | 決勝
      tbody
        tr
          td
            | 5JKTeamA
          td
            |  WhiteWizard(1338)
            br
            |  ko-tan(911)
            br
            |  kotarounr(792)
            small
              | (非会員)
            br
            |  bururutti-2(522)
          td
            | ●
          td
            | ●
          td
          td
          td
          td
          td
          td
            | 予選敗退
  section.card-body
    h2
      | 第20回大会(2015年)
    p
      |  参加35チーム：
      a[href="https://www.shogidojo.net/event/relay/20/index.html"]
        | 大会ホームページ
    table.table.table-sm
      colgroup
        col.team_name[span="1"]
        col.team_member[span="1"]
        col.preliminary_contest[span="3"]
        col.final_contest[span="5"]
        col.note[span="2"]
      thead
        tr
          th.team_name[rowspan="2"]
            | チーム名
          th.team_member[rowspan="2"]
            | メンバー
          th.preliminary_contest[colspan="3"]
            | 予選（2勝通過、2勝敗退）
          th.final_contest[colspan="5"]
            | 本戦（シはシード）
          th.note[rowspan="2"]
            | 備考
        tr
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | １回戦
          th
            | ２回戦
          th
            | 準々決勝
          th
            | 準決勝
          th
            | 決勝
      tbody
        tr
          td
            | 5JKTeamC
          td
            |  WhiteWizard(1146)
            br
            |  nocria(1454)
            br
            |  saiiti(2063)
            br
            |  malio1119(1458)
          td
            | ○
          td
            | ●
          td
            | ●
          td
          td
          td
          td
          td
          td
            | 予選敗退
  section.card-body
    h2
      | 第19回大会(2014年)
    p
      |  参加40チーム：
      a[href="https://www.shogidojo.net/event/relay/19/index.html"]
        | 大会ホームページ
    table.table.table-sm
      colgroup
        col.team_name[span="1"]
        col.team_member[span="1"]
        col.preliminary_contest[span="3"]
        col.final_contest[span="5"]
        col.note[span="2"]
      thead
        tr
          th.team_name[rowspan="2"]
            | チーム名
          th.team_member[rowspan="2"]
            | メンバー
          th.preliminary_contest[colspan="3"]
            | 予選（2勝通過、2勝敗退）
          th.final_contest[colspan="5"]
            | 本戦（シはシード）
          th.note[rowspan="2"]
            | 備考
        tr
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | １回戦
          th
            | ２回戦
          th
            | 準々決勝
          th
            | 準決勝
          th
            | 決勝
      tbody
        tr
          td
            | 5JKTeamC
          td
            |  WhiteWizard(1315)
            br
            |  nocria(1527)
            br
            |  seven power(857)
            br
            |  super doctor k(2621)
          td
            | ●
          td
            | ●
          td
          td
          td
          td
          td
          td
          td
            | 予選敗退
  section.card-body
    h2
      | 第18回大会(2013年)
    p
      |  参加53チーム：
      a[href="https://www.shogidojo.net/event/relay/r18/index.html"]
        | 大会ホームページ
    table.table.table-sm
      colgroup
        col.team_name[span="1"]
        col.team_member[span="1"]
        col.preliminary_contest[span="3"]
        col.final_contest[span="5"]
        col.note[span="2"]
      thead
        tr
          th.team_name[rowspan="2"]
            | チーム名
          th.team_member[rowspan="2"]
            | メンバー
          th.preliminary_contest[colspan="3"]
            | 予選（2勝通過、2勝敗退）
          th.final_contest[colspan="5"]
            | 本戦（シはシード）
          th.note[rowspan="2"]
            | 備考
        tr
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | １回戦
          th
            | ２回戦
          th
            | 準々決勝
          th
            | 準決勝
          th
            | 決勝
      tbody
        tr
          td
            | 5JKTeamA
          td
            |  saiiti(2112)
            br
            |  MAT_FIBER(1600)
            br
            |  r.yoshi(943)
            br
            |  seven power(667)
          td
            | ●
          td
            | ●
          td
          td
          td
          td
          td
          td
          td
            | 予選敗退
        tr
          td
            | 5JKTeamC
          td
            |  taniyandayo(1497)
            br
            |  nocria(1424)
            br
            |  brianstime88(1401)
            br
            |  WhiteWizard(1358)
          td
            | ○
          td
            | ●
          td
            | ●
          td
          td
          td
          td
          td
          td
            | 予選敗退
  section.card-body
    h2
      | 第17回大会(2012年)
    p
      |  参加59チーム：
      a[href="https://www.shogidojo.net/event/relay/r17/index.html"]
        | 大会ホームページ
    table.table.table-sm
      colgroup
        col.team_name[span="1"]
        col.team_member[span="1"]
        col.preliminary_contest[span="3"]
        col.final_contest[span="5"]
        col.note[span="2"]
      thead
        tr
          th.team_name[rowspan="2"]
            | チーム名
          th.team_member[rowspan="2"]
            | メンバー
          th.preliminary_contest[colspan="3"]
            | 予選（2勝通過、2勝敗退）
          th.final_contest[colspan="5"]
            | 本戦（シはシード）
          th.note[rowspan="2"]
            | 備考
        tr
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | １回戦
          th
            | ２回戦
          th
            | 準々決勝
          th
            | 準決勝
          th
            | 決勝
      tbody
        tr
          td
            | 5JKTeamA
          td
            |  kurikuri750(1086)
            br
            |  taniyandayo(1337)
            br
            |  saiiti(2103)
            br
            |  nocria(1379)
          td
            | ●
          td
            | ○
          td
            | ●
          td
          td
          td
          td
          td
          td
            | 予選敗退
        tr
          td
            | 5JKTeamB
          td
            |  r.yoshi(880)
            br
            |  cemedine(727)
            br
            |  WhiteWizard(1291)
            br
            |  MAT_FIBER(1560)
            br
          td
            | ●
          td
            | ●
          td
          td
          td
          td
          td
          td
          td
            | 予選敗退
  section.card-body
    h2
      | 第16回大会(2011年)
    p
      |  参加70チーム：
      a[href="https://www.shogidojo.net/event/relay/r16/index.html"]
        | 大会ホームページ
    table.table.table-sm
      colgroup
        col.team_name[span="1"]
        col.team_member[span="1"]
        col.preliminary_contest[span="3"]
        col.final_contest[span="6"]
        col.note[span="2"]
      thead
        tr
          th.team_name[rowspan="2"]
            | チーム名
          th.team_member[rowspan="2"]
            | メンバー
          th.preliminary_contest[colspan="3"]
            | 予選（2勝通過、2勝敗退）
          th.final_contest[colspan="6"]
            | 本戦（シはシード）
          th.note[rowspan="2"]
            | 備考
        tr
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | 準々決勝
          th
            | 準決勝
          th
            | 決勝
      tbody
        tr
          td
            | 5JKTeamA
          td
            |  saiiti(2182)
            br
            |  field of heaven(2204)
            br
            |  abusin(536)
            br
            |  tuseyusa(1358)
          td
            | ●
          td
            | □（不戦勝）
          td
            | ●
          td
          td
          td
          td
          td
          td
          td
            | 予選敗退
        tr
          td
            | 5JKTeamB
          td
            |  MAT_FIBER(1531)
            br
            |  tokotoi(1514)
            br
            |  WhiteWizard(1284)
            br
            |  Stuki Jiro(1514)
          td
            | ●
          td
            | ●
          td
          td
          td
          td
          td
          td
          td
          td
            | 予選敗退
        tr
          td
            | 5JKTeamC
          td
            |  kouki3110(1218)
            br
            |  Shuichi-Y(1606)
            br
            |  taniyandayo(1410)
            br
            |  nocria(1365)
          td
            | ○
          td
            | ●
          td
            | ●
          td
          td
          td
          td
          td
          td
          td
            | 予選敗退
  section.card-body
    h2
      | 第15回大会(2010年)
    p
      |  参加78チーム：
      a[href="https://www.shogidojo.net/event/relay/r15/index.html"]
        | 大会ホームページ
    table.table.table-sm
      colgroup
        col.team_name[span="1"]
        col.team_member[span="1"]
        col.preliminary_contest[span="3"]
        col.final_contest[span="6"]
        col.note[span="2"]
      thead
        tr
          th.team_name[rowspan="2"]
            | チーム名
          th.team_member[rowspan="2"]
            | メンバー
          th.preliminary_contest[colspan="3"]
            | 予選（2勝通過、2勝敗退）
          th.final_contest[colspan="6"]
            | 本戦（シはシード）
          th.note[rowspan="2"]
            | 備考
        tr
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | 準々決勝
          th
            | 準決勝
          th
            | 決勝
      tbody
        tr
          td
            | 5JKTeamA
          td
            |  taiga-su(780)
            br
            |  super doctor k(2516)
            br
            |  nakayuuki(2062)
            br
            |  horidashido(1022)
          td
            | ○
          td
            | ●
          td
            | ○
          td
            | シ
          td
            | ○
          td
            | ●
          td
          td
          td
          td[style="font-weight:bold"]
            | ベスト16
        tr
          td
            | 5JKTeamB
          td
            |  saiiti(2094)
            br
            |  Stuki Jiro(1303)
            br
            |  MAT_FIBER(1306)
            br
            |  ikjmyh(1320)
          td
            | ●
          td
            | ●
          td
          td
          td
          td
          td
          td
          td
          td
            | 予選敗退
        tr
          td
            | 5JKTeamC
          td
            |  kouki3110(1257)
            br
            |  taniyandayo(1213)
            br
            |  nocria(1480)
            br
            |  Shuichi-Y(1300)
          td
            | ○
          td
            | ●
          td
            | ●
          td
          td
          td
          td
          td
          td
          td
            | 予選敗退
  section.card-body
    h2
      | 第14回大会(2009年)
    p
      |  参加79チーム：
      a[href="https://www.shogidojo.net/event/relay/r14/index.html"]
        | 大会ホームページ
    table.table.table-sm
      colgroup
        col.team_name[span="1"]
        col.team_member[span="1"]
        col.preliminary_contest[span="3"]
        col.final_contest[span="6"]
        col.note[span="2"]
      thead
        tr
          th.team_name[rowspan="2"]
            | チーム名
          th.team_member[rowspan="2"]
            | メンバー
          th.preliminary_contest[colspan="3"]
            | 予選（2勝通過、2勝敗退）
          th.final_contest[colspan="6"]
            | 本戦（シはシード）
          th.note[rowspan="2"]
            | 備考
        tr
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | 準々決勝
          th
            | 準決勝
          th
            | 決勝
      tbody
        tr
          td
            | 5JKTeamA
          td
            |  taiga-su(749)
            br
            |  super doctor k(2529)
            br
            |  nakayuuki(1886)
            br
            |  horidashido(1094)
          td
            | ○
          td
            | ○
          td
          td
            | シ
          td
            | ○
          td
            | ○
          td
            | ○
          td
            | ○
          td
            | ○
          td[style="font-weight:bold;color:red"]
            | 優勝
        tr
          td
            | 5JKTeamB
          td
            |  MAT_FIBER(1044)
            br
            |  Stuki Jiro(1037)
            br
            |  ikjmyh(1167)
            br
            |  taotaku(1883)
          td
            | ○
          td
            | ●
          td
            | ●
          td
          td
          td
          td
          td
          td
          td
            | 予選敗退
        tr
          td
            | 5JKTeamC
          td
            |  kouki3110(1219)
            br
            |  taniyandayo(1061)
            br
            |  Shuichi-Y(1297)
            br
            |  nocria(1514)
            br
          td
            | ○
          td
            | ●
          td
            | ○
          td
            | ○
          td
            | ○
          td
            | ●
          td
          td
          td
          td
            | ベスト１６
        tr
          td
            | 5JKTeamD
          td
            |  t-minato(530)
            br
            |  azarashi_5(508)
            br
            |  mikimoto-jaou(552)
            br
            |  kurikuri750(765)
          td
            | ●
          td
            | ●
          td
          td
          td
          td
          td
          td
          td
          td
            | 予選敗退
    p
      | ※大会時の２４トップページ
      => link_to '準決勝当日', 'relay_shogi/semifinal.html'
      => link_to '決勝当日',   'relay_shogi/final.html'
      => link_to '決勝翌日',   'relay_shogi/victory.html'
  section.card-body
    h2
      | 第13回大会(2008年)
    p
      |  参加74チーム：
      a[href="https://www.shogidojo.net/event/relay/r13/index.html"]
        | 大会ホームページ
    table.table.table-sm
      colgroup
        col.team_name[span="1"]
        col.team_member[span="1"]
        col.preliminary_contest[span="3"]
        col.final_contest[span="6"]
        col.note[span="2"]
      thead
        tr
          th.team_name[rowspan="2"]
            | チーム名
          th.team_member[rowspan="2"]
            | メンバー
          th.preliminary_contest[colspan="3"]
            | 予選（2勝通過、2勝敗退）
          th.final_contest[colspan="6"]
            | 本戦（シはシード）
          th.note[rowspan="2"]
            | 備考
        tr
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | 準々決勝
          th
            | 準決勝
          th
            | 決勝
      tbody
        tr
          td
            | ５ＪＫチームＡ
          td
            |  taiga-su(777)
            br
            |  super doctor k(2666)
            br
            |  saiiti(2059)
            br
            |  zinx24(783)
            br
          td
            | ○
          td
            | ○
          td
          td
            | シ
          td
            | ●
          td
          td
          td
          td
          td
            | ベスト３２
        tr
          td
            | ５ＪＫチームＢ
          td
            |  t-minato(346)
            br
            |  Stuki Jiro(955)
            br
            |  MAT_FIBER(802)
            br
            |  mikazuki501(635)
          td
            | ●
          td
            | ○
          td
            | ●
          td
          td
          td
          td
          td
          td
          td
            | 予選敗退
        tr
          td
            | ５ＪＫチームＣ
          td
            |  kouki3110(1062)
            br
            |  Shuichi-Y(1178)
            br
            |  taniyandayo(971)
            br
            |  nocria(1502)
          td
            | ○
          td
            | ●
          td
            | ●
          td
            | ○
          td
            | ●
          td
          td
          td
          td
          td
            | ベスト３２
  section.card-body
    h2
      | 第12回大会(2007年)
    p
      |  参加94チーム：
      a[href="https://www.shogidojo.net/event/relay/r12/index.html"]
        | 大会ホームページ
    table.table.table-sm
      colgroup
        col.team_name[span="1"]
        col.team_member[span="1"]
        col.preliminary_contest[span="3"]
        col.final_contest[span="6"]
        col.note[span="2"]
      thead
        tr
          th.team_name[rowspan="2"]
            | チーム名
          th.team_member[rowspan="2"]
            | メンバー
          th.preliminary_contest[colspan="3"]
            | 予選（2勝通過、2勝敗退）
          th.final_contest[colspan="6"]
            | 本戦（シはシード）
          th.note[rowspan="2"]
            | 備考
        tr
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | １回戦
          th
            | ２回戦
          th
            | ３回戦
          th
            | 準々決勝
          th
            | 準決勝
          th
            | 決勝
      tbody
        tr
          td
            | ２４サークル５ＪＫ
          td
            |  taiga-su(1030)
            br
            |  super doctor k(2250)
            br
            |  horidashido(739)
            br
            |  saiiti(1923)
            br
          td
            | ●
          td
            | ○
          td
            | ●
          td
          td
          td
          td
          td
          td
          td
            | 予選敗退
