- provide :title, '使い方'

.card.p-5.mb-3
  .card-body
    h1.text-success.text-center
      | 〜使い方の説明〜

  #accordion
    .card
      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#usage1" aria-expanded="true"
            | リンクや色などの装飾を付けて、投稿する
      #usage1.collapse data-parent="#accordion"
        .card-body.ml-4
          == render 'markdown_explanation'

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#usage2" aria-expanded="true"
            | 棋譜を投稿する
      #usage2.collapse data-parent="#accordion"
        .card-body.ml-4
          | 記事を投稿する際、本文に続けて、kif形式(将棋倶楽部24)の棋譜を貼り付けると、棋譜を投稿出来ます。
          br
          | 棋譜/画像選択ボタンを押して、既にある棋譜ファイルを指定しての投稿も可能です。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#usage3" aria-expanded="true"
            | 棋譜にコメントを付ける
      #usage3.collapse data-parent="#accordion"
        .card-body.ml-4
          | 将棋盤の左下の枠（△の名前の下）の枠に、その局面におけるコメントを適宜書き込んで下さい。
          br
          | 「＞」ボタン等で局面を進め、その局面に対してコメントを付けます。
          br
          |  こうして、書き込みたい全ての局面にコメントを付けたら、将棋盤の右下にある「コメント書込」ボタンを押すと、棋譜へのコメント付与は完了です。

      .card-header
        h5.mb-0
          button.btn.btn-link data-toggle="collapse" data-target="#usage4" aria-expanded="true"
            | 棋譜をダウンロードする
      #usage4.collapse data-parent="#accordion"
        .card-body.ml-4
          | ダウンロードしたい将棋盤の右下にある「棋譜保存」ボタンを押します。
