- provide :title, '役員の在任期間'

scss:
  tbody th {
    text-align: right !important;
  }

h1 役員在任期間の記録
p.text-right
  | 令和2年2月1日更新

.card.mb-5
  .card-body
    table.table.table-sm.table-responsive
      thead
        tr
          th 年月
          th 会長
          th colspan="2" 副会長
          th colspan="4" 幹事
          th colspan="3" 相談役
      tbody
        tr
          th H16年10月
          td style="background: #ccf176;" rowspan="16"
            b Excelsior
            br
            | H16.10.10就任
            br
            | H18.01.22副代表へ
          td style="background: #dbc2ef;" rowspan="12"
            b inudanuki
            br
            | H16.10.10就任
            br
            | H17.09.09退任
            br
          td
          td
          td
          td
          td
          td
          td
          td
        tr
          th 11月
          td
          td style="background: #f0e87d;" rowspan="3"
            b yamamoto2
            br
            | H16.11月頃就任
            br
            | H17.02.20副代表へ
          td style="background: #fec9de;" rowspan="11"
            b moko20197
            br
            | H16.11月頃就任
            br
            | H17.09.14相談役へ
          td
          td
          td
          td
          td
        tr
          th 12月
          td
          td style="background: #bde6f4;" rowspan="10"
            b yos4460
            br
            | H16.12月頃就任
            br
            | H17.09.23退任
          td
          td
          td
          td
        tr
          th H17年1月
          td
          td
          td
          td
          td
        tr
          th 2月
          td style="background: #f0e87d;" rowspan="12"
            b yamamoto2
            br
            | H17.02.21就任
            br
            | H18.02.19相談役へ
          td
          td
          td
          td
          td
        tr
          th 3月
          td
          td
          td
          td
          td
        tr
          th 4月
          td
          td
          td
          td
          td
        tr
          th 5月
          td
          td
          td
          td
          td
        tr
          th 6月
          td
          td
          td
          td
          td
        tr
          th 7月
          td style="background: #a2a4f9;" rowspan="7"
            b nagufive
            br
            | H17.7月頃就任
            br
            | H18.02.19相談役へ
          td
          td
          td
          td
        tr
          th 8月
          td
          td
          td
          td
        tr
          th 9月
          td
          td
          td
          td
        tr
          th 10月
          td
          td style="background: #dcbca7;" rowspan="15"
            b spread
            br
            | H17.10.11就任
            br
            | H18.12.12退任
            br
          td
          td
          td style="background: #fec9de;" rowspan="5"
            b moko20197
            br
            | H17.10.8就任
            br
            | H18.03.23運営委員へ
          td
          td
        tr
          th 11月
          td
          td
          td
          td
          td
        tr
          th 12月
          td
          td
          td
          td
          td
        tr
          th H18年1月
          td
          td
          td
          td
          td
        tr
          th 2月
          td style="background: #ffb62;" rowspan="12"
            b Red-Fox
            br
            | H18.01.22就任
            br
            | H19.02.03相談役へ
            br
            |
          td style="background: #ccf176;" rowspan="14"
            b Excelsior
            br
            | H18.01.22就任
            br
            | H19.03.31退任
          td
          td
          td
          td
          td style="background: #f0e87d;" rowspan="3"
            b yamamoto2
            br
            | H18.02.19就任
            br
            | H18.04.03退任
          td style="background: #a2a4f9;" rowspan="38"
            b nagufive
            br
            | H18.02.19就任
            br
            | H21.03.31退任
        tr
          th 3月
          td
          td style="background: #fec9de;" rowspan="16"
            b moko20197
            br
            | H18.03.23就任
            br
            | H19.06.10退任
          td
          td
          td
        tr
          th 4月
          td
          td
          td
          td
        tr
          th 5月
          td
          td style="background: #dbc2ef;" rowspan="16"
            b inudanuki
            br
            | H18.05.20就任
            br
            | H19.08.12退任
          td style="background: #ff80ff;" rowspan="2"
            b taka_yukidaruma
            br
            | H18.05.20就任
            br
            | H18.06.20退任
          td
          td
        tr
          th 6月
          td
          td
          td
        tr
          th 7月
          td
          td
          td
          td
        tr
          th 8月
          td
          td
          td
          td
        tr
          th 9月
          td
          td
          td
          td
        tr
          th 10月
          td
          td
          td
          td
        tr
          th 11月
          td
          td
          td
          td
        tr
          th 12月
          td
          td
          td
          td
        tr
          th H19年1月
          td
          td
          td
          td
          td
        tr
          th 2月
          td style="background: #00ff00;" rowspan="34"
            b super doctor k
            br
            | H19.02.03就任
            br
            | H21.12.31退任
          td
          td
          td
          td
          td style="background: #ffb62;" rowspan="4"
            b Red-Fox
            br
            | H19.02.03就任
            br
            | H19.06.10退任
        tr
          th 3月
          td
          td
          td
          td
        tr
          th 4月
          td style="background: #ffff00;" rowspan="33"
            b horidashido
            br
            | H19.04.01就任
            br
            | H23.05.31退任
            br
            |
          td
          td style="background: #00ffff;" rowspan="33"
            b akatuka
            br
            | H19.04.01就任
            br
            | H23.05.31退任
            br
          td
          td
        tr
          th 5月
          td
          td
          td
        tr
          th 6月
          td
          td
          td
          td
        tr
          th 7月
          td
          td
          td
          td
          td
        tr
          th 8月
          td
          td
          td
          td
          td
        tr
          th 9月
          td
          td
          td
          td
          td
          td
        tr
          th 10月
          td
          td
          td
          td
          td
          td
        tr
          th 11月
          td
          td
          td
          td
          td
          td
        tr
          th 12月
          td
          td
          td
          td
          td
          td
        tr
          th H20年1月
          td
          td
          td
          td
          td
          td
        tr
          th 2月
          td
          td
          td
          td
          td
          td
        tr
          th 3月
          td
          td
          td
          td
          td
          td
        tr
          th 4月
          td
          td
          td
          td
          td
          td
        tr
          th 5月
          td
          td
          td
          td
          td
          td
        tr
          th 6月
          td
          td
          td
          td
          td
          td
        tr
          th 7月
          td
          td
          td
          td
          td
          td
        tr
          th 8月
          td
          td
          td
          td
          td
          td
        tr
          th 9月
          td
          td
          td
          td
          td
          td
        tr
          th 10月
          td
          td
          td
          td
          td
          td
        tr
          th 11月
          td
          td
          td
          td
          td
          td
        tr
          th 12月
          td
          td
          td
          td
          td
          td
        tr
          th H21年1月
          td
          td
          td
          td
          td
          td
        tr
          th 2月
          td
          td
          td
          td
          td
          td
        tr
          th 3月
          td
          td
          td
          td
          td
          td
        tr
          th 4月
          td
          td
          td
          td
          td
          td
          td
        tr
          th 5月
          td
          td
          td
          td
          td
          td
          td
        tr
          th 6月
          td
          td
          td
          td
          td
          td
          td
        tr
          th 7月
          td
          td
          td
          td
          td
          td
          td
        tr
          th 8月
          td
          td
          td
          td
          td
          td
          td
        tr
          th 9月
          td
          td
          td
          td
          td
          td
          td
        tr
          th 10月
          td
          td
          td
          td
          td
          td
          td
        tr
          th 11月
          td
          td
          td
          td
          td
          td
          td
        tr
          th 12月
          td style="background: #b8ffc1;" rowspan="1"
            b saiiti
            br
            | H21.12.01就任
            br
            | H29.04.17退任
          td
          td
          td style="background: #ffe1ce;" rowspan="1"
            b kouki3110
            br
            | H21.12.01就任
            br
            | H23.05.31退任
          td style="background: #6ecbff;" rowspan="1"
            b warabi.t
            br
            | H21.12.01就任
            br
            | H23.05.31退任
          td
          td
          td
