#area-header class="area #{@matchup.sym_name}"
  span.circle_name 五級位上昇を目指す会
  br
  = tag.span "第#{@matchup.term.to_kan}期 #{@matchup.name} 対局表", class: :guideline
  = gengo(@matchup.open_date, :date)
  | 開幕
  br
  = tag.span "(#{@matchup.pretty_holding_method})", class: :holding_method
  br
  | 最終更新：
  = gengo(@matchup.last_updated, :date)

  / 優勝者、準優勝者の表彰
  = testimonial_tag(@matchup)
