- kisen = @matchup.kisen

h3
  | ■補足説明
ol
  li
    | 原則22時開始/#{kisen.holding_method[:teai]}/#{kisen.holding_method[:time]}/大阪道場T室、感想戦必須
  / 個別事項いろいろ
  - if kisen.sym_name.in?([:meijin, :kisei, :ohi, :tozai])
    li
      | 勝ち点は次のとおりです。 #{kisen.winning_point.join(": ", "点 ")}
  - if kisen.sym_name.in?([:meijin])
    li
      | 優勝の決定は、同点ならプレーオフを行います。
      | 優勝以外の順位は同点の場合、開始時上位者を上位とします。
  - if kisen.sym_name.in?([:oui])
    li
      | 予選各組２位までの方が本選に出場します。
  - if kisen.sym_name.in?([:ryuou])
    li
      | 「最多連勝者」の連勝数に、不戦勝対局はカウントしません。ただし途中に不戦勝があった場合、連勝は継続しているものと見なします。
      br
      | （例）「勝ち、不戦勝、勝ち、勝ち、負け」であった場合、３連勝となります。
  - if kisen.sym_name.in?([:kisei, :kioh, :ohsho, :ohi, :tozai, :shinjin])
    li
      | 手合割（どの駒を落すか）は、対局時点でのお互いの段・級位から、対局者同士で #{link_to_handicap} を見て決めてください。
  - if kisen.sym_name.in?([:kioh, :shinjin])
    li たとえ負けたとしても「敗者復活戦」がありますので、忘れず対局してください。

  / 共通事項
  li
    | 日程調整は#{link_to_bbs} で行って下さい。対戦者はこまめに確認してください。
    | 調整が完了したら、対戦表の対局日を更新して下さい。
  li
    | 日程調整などのルールについては、#{link_to_guideline(kisen.id)} を参照してください。
  li
    | 途中の日程を調整する場合、次の対局もありますので、早めに調整してください。万一、次の対局に間に合わない場合、#{link_to_guideline(kisen.id)} に基づき、「不戦勝宣言」してください。
  / li
  /   | 予選対局最終期限日は#{gengo(kisen.matchup.last_game_date1, style: :for_note)}です。
  /   | 期限日までに対局できなければ、その対局は不戦敗となります。
  li
    | タイトル決定に直接関わる対局は不戦勝は認められません。
    | もし、どうしても対局できない場合は、運営委員会の決定に従ってください。
  li
    | 勝者は #{link_to_matchup(kisen.id)}より結果報告できます。
    | ログインし、対局日をクリックするとウィンドウが現れます。
    | 棋譜に関する簡単なコメントも載せるとなお良いと思います。
  / li 棋譜は、対局終了した日程をクリックすると参照出来ます。
  li 棋譜は、#{link_to 'こちら', topic_path(kisen.matchup.topic_result_id)} より参照して下さい。
  li Ｒ点は#{gengo kisen.open_date.beginning_of_month.prev_month, :date}時点のランキングに基づいています。
  li
    | 対戦表に記載が無い点／要項と矛盾する点に関しては、#{link_to_guideline(kisen.id)} に従います。
