- title = controller.action_name == "edit" ? "対局表 編輯" : "対局表 作成"
h1 = title

= form_for(@matchup) do |f|
  - unless controller.controller_name == "entries"
    .form-group.row
      label.col-sm-2.col-form-label 棋戦ID
      .col-sm-4
        = f.text_field :kisen_id, class: 'form-control text-center', value: params[:kisen_id]
  .form-group.row
    label.col-sm-2.col-form-label 週の開催回数
    .col-sm-4
      = f.text_field :week_frequency, class: 'form-control text-center', value: 2

  = f.submit '作成する', class: "btn btn-primary"
