h1
  | 棋戦 対局表 一覧

.list-group
  - @kisens.each do |kisen|
    = link_to(matchup_path(kisen.matchup), class: 'list-group-item') do
      h4
        = kisen.full_name
      label style="width: 80px;"
        | 開幕日
      / = kisen.open_date.strftime('%m月%d日')
      = gengo(kisen.open_date, :date)
      br
      small
        |  (参加者数:
        = kisen.entries.count
        |  人)
