opal:
  Document.ready? do
    # <a class="game_date weekday" data-toggle="modal" data-target="#matchup_show_kifu" data-game_number="A12" data-player1_id="50" data-player2_id="52" data-player1_name="50 super doctor k" data-player2_name="52 Shuichi-Y" data-game_date="2016-10-05" data-kifu_id="7"><span>10/05(水)</span></a>

    Element[".game_date"].on :click do |a_tag|
      if a_tag.element.attr("data-target") == "#matchup_show_kifu"
        # 棋譜番号の取得
        kifu_id = a_tag.element.attr("data-kifu_id")
        url = "../kifus/#{kifu_id}/json"
        # Ajaxで棋譜データ取得
        HTTP.get("#{url}") do |response|
          if response.ok?
            # puts response.status_code # => 200
            # puts response.body # この場合は response.json と同じ
            kifu = response.json
            kifu_id   = kifu["kifu_id"]
            jkfe      = kifu["jkfe"]
            info      = kifu["info"]
            info_html = kifu["info_html"]
            teai      = kifu["teai"]
            comment   = kifu["comment"]
            raw_kifu  = kifu["raw_kifu"]
            te        = kifu["te"]
            moves     = kifu["moves"]

            Element["#kifu_id_for_comment"].value = kifu_id
            Element["#kifu_id_for_download"].value = kifu_id
            Element["#jkfe_0"].text("[#{jkfe}]")
            Element[".kifu_info"].html(info_html)
            Element["#kifu_list_0"].attr("data-kifu-max", moves)
            Element["#kifu_play_0"].attr("data-kifu-max", moves)
            Element["#kifu_last_0"].attr("data-kifu-max", moves)
            Element["#raw_kifu_0 .raw_kifu"].text(raw_kifu)
            sente = info[:先手：] || info[:下手：]
            Element["#player_name_0_0"].text("▲#{sente}")
            gote = info[:後手：] || info[:上手：]
            Element["#player_name_1_0"].text("△#{gote}")

            # コメントのセット
            Element["#comment_0 .msgbox"].each do |e|
              e.remove_class("selected")
              e.add_class("hidden")
            end
            Element["#comment_0 .msgbox.0"].remove_class("hidden").add_class("selected")

            comment.each do |n, c|
              Element[".msgbox.#{n}"].text = c
            end

            # 手のセット
            Element[".list .pulldown.hidden a"].each do |e|
              e.remove_class("selected")
              e.remove_class("hidden")
            end
            Element[".list .pulldown.hidden a:first-child"].add_class("selected")
            te.each_with_index do |t, n|
              Element[".list .pulldown.hidden a:nth-child(#{n+1})"].text(t)
            end
            ((moves+2)..301).each do |n|
              Element[".list .pulldown.hidden a:nth-child(#{n})"].add_class("hidden")
            end

            # 初期化処理
            # 盤面
            Element["#shogiban_0 img"].each { |e| e.class_name = "blk" }
            Element["#shogiban_0 .b91 img"].class_name = "ky1"
            Element["#shogiban_0 .b81 img"].class_name = "ke1"
            Element["#shogiban_0 .b71 img"].class_name = "gi1"
            Element["#shogiban_0 .b61 img"].class_name = "ki1"
            Element["#shogiban_0 .b51 img"].class_name = "ou1"
            Element["#shogiban_0 .b41 img"].class_name = "ki1"
            Element["#shogiban_0 .b31 img"].class_name = "gi1"
            Element["#shogiban_0 .b21 img"].class_name = "ke1"
            Element["#shogiban_0 .b11 img"].class_name = "ky1"
            Element["#shogiban_0 .b82 img"].class_name = "hi1"
            Element["#shogiban_0 .b22 img"].class_name = "ka1"
            Element["#shogiban_0 .b93 img"].class_name = "fu1"
            Element["#shogiban_0 .b83 img"].class_name = "fu1"
            Element["#shogiban_0 .b73 img"].class_name = "fu1"
            Element["#shogiban_0 .b63 img"].class_name = "fu1"
            Element["#shogiban_0 .b53 img"].class_name = "fu1"
            Element["#shogiban_0 .b43 img"].class_name = "fu1"
            Element["#shogiban_0 .b33 img"].class_name = "fu1"
            Element["#shogiban_0 .b23 img"].class_name = "fu1"
            Element["#shogiban_0 .b13 img"].class_name = "fu1"

            Element["#shogiban_0 .b99 img"].class_name = "ky0"
            Element["#shogiban_0 .b89 img"].class_name = "ke0"
            Element["#shogiban_0 .b79 img"].class_name = "gi0"
            Element["#shogiban_0 .b69 img"].class_name = "ki0"
            Element["#shogiban_0 .b59 img"].class_name = "ou0"
            Element["#shogiban_0 .b49 img"].class_name = "ki0"
            Element["#shogiban_0 .b39 img"].class_name = "gi0"
            Element["#shogiban_0 .b29 img"].class_name = "ke0"
            Element["#shogiban_0 .b19 img"].class_name = "ky0"
            Element["#shogiban_0 .b28 img"].class_name = "hi0"
            Element["#shogiban_0 .b88 img"].class_name = "ka0"
            Element["#shogiban_0 .b97 img"].class_name = "fu0"
            Element["#shogiban_0 .b87 img"].class_name = "fu0"
            Element["#shogiban_0 .b77 img"].class_name = "fu0"
            Element["#shogiban_0 .b67 img"].class_name = "fu0"
            Element["#shogiban_0 .b57 img"].class_name = "fu0"
            Element["#shogiban_0 .b47 img"].class_name = "fu0"
            Element["#shogiban_0 .b37 img"].class_name = "fu0"
            Element["#shogiban_0 .b27 img"].class_name = "fu0"
            Element["#shogiban_0 .b17 img"].class_name = "fu0"

            case teai
            when "香落ち"
              Element["#shogiban_0 .b11 img"].class_name = "blk"
            when "角落ち"
              Element["#shogiban_0 .b22 img"].class_name = "blk"
            when "飛車落ち"
              Element["#shogiban_0 .b82 img"].class_name = "blk"
            when "飛香落ち"
              Element["#shogiban_0 .b11 img"].class_name = "blk"
              Element["#shogiban_0 .b82 img"].class_name = "blk"
            when "二枚落ち"
              Element["#shogiban_0 .b22 img"].class_name = "blk"
              Element["#shogiban_0 .b82 img"].class_name = "blk"
            when "四枚落ち"
              Element["#shogiban_0 .b11 img"].class_name = "blk"
              Element["#shogiban_0 .b91 img"].class_name = "blk"
              Element["#shogiban_0 .b22 img"].class_name = "blk"
              Element["#shogiban_0 .b82 img"].class_name = "blk"
            when "六枚落ち"
              Element["#shogiban_0 .b11 img"].class_name = "blk"
              Element["#shogiban_0 .b91 img"].class_name = "blk"
              Element["#shogiban_0 .b21 img"].class_name = "blk"
              Element["#shogiban_0 .b81 img"].class_name = "blk"
              Element["#shogiban_0 .b22 img"].class_name = "blk"
              Element["#shogiban_0 .b82 img"].class_name = "blk"
            end

            # 駒台
            (1..12).each do |n|
              Element[".komadai img.k0#{'%02d' % n}"].class_name = "blk k0#{'%02d' % n}"
              Element[".komadai img.k1#{'%02d' % n}"].class_name = "blk k1#{'%02d' % n}"
            end
            Element[".mochigoma"].each { |e| e.text("0, 0, 0, 0, 0, 0, 0, 0") }
            # 棋譜リスト 手の表示
            Element["#kifu_list_0 a.select span"].text("--開始局面--")
            # 現在の手
            Element["#current_te_0"].value = 0
            # ボタンの状態
            Element["#kifu_first_#{kifu_id}"]["disabled"] = true
            Element["#kifu_prev_#{kifu_id}"]["disabled"] = true
            Element["#kifu_play_#{kifu_id}"]["disabled"] = false
            Element["#kifu_next_#{kifu_id}"]["disabled"] = false
            Element["#kifu_last_#{kifu_id}"]["disabled"] = false
          end
        end
      end
    end
  end

= render "header"

/ タブ名
ul.nav.nav-tabs role="tablist"
  li.nav-item
    a.nav-link.active href="#area-final" data-toggle="tab"
      = @tab_name.first

  - @matchup.preliminary_group.each do |game_initial|
    - unless @matchup.kisen.sym_name.in?([:tozai, :koryu])
        li.nav-item
          a.nav-link href="#area-preliminary-#{game_initial}" data-toggle="tab"
            - if @matchup.kisen.sym_name == :meijin
              = "#{game_initial}級 #{@tab_name[1]}"
            - else
              = "#{@tab_name[1]} #{game_initial}組"
  li.nav-item
    a.nav-link href="#area-note" data-toggle="tab"
      = @tab_name.last

/ タブの中身
.tab-content
  / 本戦・タイトル決定戦
  .tab-pane.fade.show.active.tab_design#area-final
    - if @matchup.kisen.entries.count == 1
      p.mb-0
        | 参加申込者が一人の為、
        | #{@matchup.kisen.entries.first.name}さんが、
        | #{@matchup.kisen.title_name} となります。
    - if @matchup.kisen.entries.count >= 2

      - @matchup.final_group&.reverse&.each do |game_initial|
        - case game_initial
        - when "T"
          h3 タイトル決定戦
          = tournament_tag(@matchup, "T")
        - when "Q"
          h3 挑戦者決定戦
          = tournament_tag(@matchup, "Q")

      - if @matchup.sym_name.in?([:tozai, :koryu])
        - show_area = @matchup.sym_name == :tozai ? true : false
        - @matchup.preliminary_group.each do |game_initial|
          = team_competition_tag(@matchup, game_initial, show_area: show_area)

  / 予選
  - @matchup.preliminary_group&.each do |game_initial|
    .tab-pane.tab_design.fade id="area-preliminary-#{game_initial}"
      - if @matchup.kisen.entries.count >= 2
        - case @matchup.kisen.name
        - when "名人戦"
          h3 #{game_initial}級 順位戦
        - when "東西戦", "U549交流戦"
          / 何もなし
        - else
          h3 予選#{game_initial}組

        - case @matchup.holding_method[:method]
        - when :league
          = league_tag(@matchup, game_initial)
        - when :tournament
          = tournament_tag(@matchup, game_initial)
          - if @matchup&.final_group&.include? "R"
            h3 敗者復活戦
            = tournament_tag(@matchup, "R#{game_initial}")
          - if @matchup&.final_group&.include? "W"
            h3 勝抜決定戦
            = tournament_tag(@matchup, "W#{game_initial}")
        - when :paramus
          = paramus_tag(@matchup, game_initial)

  / 備考
  #area-note.tab-pane.fade.tab_design
    = render "note"

.text-right
  => link_to '要項を見る', kisen_path(@matchup.kisen.id), class: 'btn btn-warning btn-sm'
  / => link_to '対局表を編輯する', edit_matchup_path(@matchup), class: 'btn btn-warning btn-sm' if admin_user?
  => link_to '対局表を削除する', matchup_path(@matchup), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: '本当に この対局表を 削除しますか？' } if admin_user?

/ # 日程調整 ＆ 結果報告用 モーダルウィンドウ
- if logged_in_user?
  .modal.fade#matchup_schedule_and_result role="dialog" aria-hidden="true"
    .modal-dialog.modal-lg role="document"
      .modal-content
        .modal-header
          h5.modal-title.text-primary 日程調整
          button.close type="button" data-dismiss="modal" aria-label="Close"
            span aria-hidden="true" &times;
        .modal-body
          = bootstrap_form_for(:game, url: matchup_game_path(@matchup), method: :patch, remote:false) do |f|
            .form-inline
              = hidden_field_tag :mode, "schedule"
              = f.hidden_field :game_number, id: :game_number_schedule

              = f.text_field :id, id: "game_date", class: "datepicker text-center form-control col-12", skip_label: true, disabled: true

              = label_tag   "　⇒　"

              = f.text_field :date, id: "game_desired_date", class: "datepicker text-center form-control col-12", skip_label: true

              = f.submit '送信', class: "btn btn-md btn-warning", data: { disable_with: '送信中...' }, style: 'margin-left: 10px;'
          hr

          h5.modal-title.text-primary 結果報告（コメント投稿＆棋譜貼付）
          = bootstrap_form_for(:game, url: matchup_game_path(@matchup), method: :patch, html: { multipart: true }, remote:false) do |f|
            = hidden_field_tag :mode, "result"
            = f.hidden_field :game_number, id: :game_number_result
            = fields_for(@post, url: topic_posts_path(@topic), html: { multipart: true }) do |fp|
              = fp.hidden_field :name, value: current_user.name
              = fp.hidden_field :owner_id, value: current_user&.id || 0
              = fp.text_area :comment,
                             placeholder: "コメントや棋譜をどうぞ＼(^_^)／",
                             class:       "form-control",
                             skip_label:  true,
                             value:       Rails.env.development? ? "結果報告です" : ""
            br
            .form-inline
              = f.select :winner_id, { "-- 勝者 選択--" => "" }, {}, class: 'searchable form-control'
              = f.select :reason, { "-- 結果 選択 --"       => "",
                                    "勝ち"                  => "勝ち",
                                    "不戦勝"                => "不戦勝",
                                    "不戦勝(日程調整 不調)" => "不戦勝_日程不調" },
                                  {},
                                  class: 'searchable form-control'
              = f.select :teai, { "-- 手合割 選択 --" => "",
                                  "平　手": :平手,
                                  "香　落": :香落ち,
                                  "角　落": :角落ち,
                                  "飛車落": :飛車落ち,
                                  "飛香落": :飛香落ち,
                                  "二枚落": :二枚落ち,
                                  "四枚落": :四枚落ち,
                                  "六枚落": :六枚落ち },
                                  {},
                                  class: 'searchable form-control'
            .modal-footer
              button.btn.btn-md.btn-light data-dismiss="modal" キャンセル
              = f.submit '送信', class: "btn btn-md btn-warning", data: { disable_with: '送信中...' }

/ # 棋譜表示用 モーダルウィンドウ
.modal.fade#matchup_show_kifu
  .modal-dialog role="document"
    .modal-content
      .modal-body
        - if @kifus&.present?
          == render partial: "shared/kifu_modal"
      .modal-footer
          button.btn.btn-sm.btn-light data-dismiss="modal" 閉じる
