.explain
  ol
    li この掲示板はマルチスレッド式の掲示板で、誰でも自由に閲覧可能です。
    li
      | 5JK 会員の方は、新スレッド作成、画像や棋譜の投稿、対局結果の報告など、様々な機能が可能です。
    li ゲストの方は、既存スレッドへの書き込みが可能です。
    / li ゲストの方は、既存スレッドへの書き込みが可能です。(画像認証が必要です)
    li ログイン時のパスワードは、例会時などに管理者へお尋ね下さい。
    li 管理者が不適切と判断する記事は削除します。
