== render 'explain' unless logged_in_user?

/ 新着スレッド
.topics
  h2.ui.header 新着スレッド

  nav.topic_titles
    ul
      - TopicPresenter.build(@topics, self) do |topic|
        li = topic.decorated_title(count: true)

      - if committee_user?
        li.committee = TopicPresenter.new(@committee_topics, self).decorated_title(count: true)

  .ui.right.aligned.header
    / - p = TopicPresenter.new(self, self)
    - p = TopicPresenter.new(@topics.first, self)
    => p.new_button(text: '新スレッド作成')   if logged_in_user?
    => p.index_button(text: 'スレッド一覧')

/ 個別スレッド
- @topics.each do |topic|
  section.topics id="topic_#{topic.id}"
    / タイトルやツールバーの表示
    = TopicPresenter.new(topic, self).header

    div id="post_new_#{topic.id}" class="hidden"
      / 新規投稿フォーム
      = form_with(model: [topic, topic.posts.build], html: { multipart: true }, local: true, class: 'ui form') do |f|
        == render "shared/error_messages", object: f.object
        - p = FormPresenter.new(f, self)
        = p.poster_block
        = p.comment_field_block
        = p.upload_file_block if logged_in_user?
        / 画像認証
        / = render 'shared/recaptcha' if guest_user?
        .field
          = p.submit_button
        br
    == render topic.posts.progenitor.limit(3)

/ = paginate @topics
