= stylesheet_link_tag "matchup.css"

javascript:
  $(function(){
    $(".searchable").select2({
      width     : 180,  // 横幅
      allowClear: false // Clear x を表示しない
    });
    $('label[for=game_winner_id]').hide();
    $('label[for=game_reason]').hide();
    $('label[for=game_teai]').hide();

    $(".game_date").on("click", function(){
      date         = $(this).attr("data-game_date");
      number       = $(this).attr("data-game_number");
      player1_id   = $(this).attr("data-player1_id");
      player2_id   = $(this).attr("data-player2_id");
      player1_name = $(this).attr("data-player1_name");
      player2_name = $(this).attr("data-player2_name");

      $("#game_date").val(date);
      $("#game_number_schedule").val(number);
      $("#game_number_result").val(number);
      // select option に対局者名を追加する
      $('#game_winner_id option').remove();
      $option = $('<option>', { value: 0, text: "-- 勝者 選択--" });
      $('#game_winner_id').append($option);
      $option = $('<option>', { value: player1_id, text: player1_name });
      $('#game_winner_id').append($option);
      $option = $('<option>', { value: player2_id, text: player2_name });
      $('#game_winner_id').append($option);
    });
  });

/ # 日程調整 ＆ 結果報告用 モーダルウィンドウ
- (0...@games.count).each do |i|
  .modal.fade#matchup_schedule_and_result tabindex="-1" role="dialog" aria-hidden="true"
    .modal-dialog role="document"
      .modal-content
        .modal-header
          h5.modal-title.text-primary 日程調整
          button.close type="button" data-dismiss="modal" aria-label="Close"
            span aria-hidden="true" &times;
        .modal-body
          = bootstrap_form_for(:game, url: matchup_game_path(@matchups[i]&.id, 1), method: :patch, remote:false) do |f|
            .form-inline style="margin-left: 25px;"
                = hidden_field_tag :mode, "schedule"
                = f.hidden_field :game_number, id: :game_number_schedule
                = f.text_field :id, id: "game_date", class: "datepicker text-center", skip_label: true, disabled: true
                = label_tag   "　⇒　"
                = f.text_field :date, class: "datepicker text-center", skip_label: true, value: @games[i].date
                / -raise
                = label_tag "　"
                = f.submit '送信', class: "btn btn-sm btn-primary", data: { disable_with: '送信中...' }
          br
          hr
          h5.modal-title.text-primary 結果報告（コメント投稿＆棋譜貼付）
          br
          = bootstrap_form_for(:game, url: matchup_game_path(@matchups[i]&.id, 1), method: :patch, html: { multipart: true }, remote:false) do |f|
            = hidden_field_tag :mode, "result"
            = f.hidden_field :game_number, id: :game_number_result
            = fields_for(@m_posts[i], url: topic_posts_path(@m_topics[i]), html: { multipart: true }) do |fp|
              = fp.hidden_field :name, value: current_user.name
              = fp.hidden_field :owner_id, value: current_user&.id || 0
              = fp.text_area :comment,
                              placeholder: "コメントと棋譜をどうぞ＼(^_^)／",
                              class:       "form-control",
                              skip_label:  true,
                              value:       Rails.env.development? ? "結果報告です" : ""
            br
            .form-inline style="margin-left: 8px;"
              = f.select :winner_id, { "-- 勝者 選択--" => "",
                    }, {}, class: 'searchable form-control'
              = f.select :reason, { "-- 結果 選択 --"       => "",
                                    "勝ち"                  => "勝ち",
                                    "不戦勝"                => "不戦勝",
                                    "不戦勝(日程調整 不調)" => "不戦勝_日程不調",
                    }, {}, class: 'searchable form-control'
              = f.select :teai, { "-- 手合割 選択 --" => "",
                                  "平　手": :平手,
                                  "香　落": :香落ち,
                                  "角　落": :角落ち,
                                  "飛車落": :飛車落ち,
                                  "飛香落": :飛香落ち,
                                  "二枚落": :二枚落ち,
                                  "四枚落": :四枚落ち,
                                  "六枚落": :六枚落ち,
                    }, {}, class: 'searchable form-control'
            br
            .modal-footer
              button.btn.btn-sm.btn-light data-dismiss="modal" キャンセル
              = f.submit '送信', class: "btn btn-sm btn-primary", data: { disable_with: '送信中...' }
