.container
  .row
    .offset-2.col-1.text-center.prev
      - if @prev_month != 0
        = form_for(:game, url: game_dates_path, method: :get) do |f|
          = hidden_field_tag :month, @prev_month
          = f.submit '< ', class: "btn btn-sm btn-success"
    .col-6.text-center
      h1 = "#{@date.month}月 対局日程"
    .col-1.text-center.next
      - if @next_month != 0
        = form_for(:game, url: game_dates_path, method: :get) do |f|
          = hidden_field_tag :month, @next_month
          = f.submit ' >', class: "btn btn-sm btn-success"

  small
    .table-responsive
      table.table.sortable.table-hover.table-sm
        thead
          tr
            th 棋戦名
            th 対局者名
            th 対局者名
            th 対局日
            th 備考
        tbody
          - GamePresenter.build(@games, self) do |game|
            = game.table_row
  .text-right
    p.small 項目をクリックすることにより、並び替えが可能です。
