h1 リンク一覧 編輯

.row.ranked-sortable-y
  - @links&.each do |link|
    .col-12.border.border-primary.card.item(data = { model_name: link.class.name.underscore, update_url: link_sort_path(link) })
      = form_with(model: link) do |f|
        - p = FormPresenter.new(f, self)
        = p.link_field_block

.row.mt-4
  .col-12.border.border-primary.card
    = form_with(model: @link) do |f|
      - p = FormPresenter.new(f, self)
      = p.append_link_field_block

.row
  .col-12
    ul.mt-3
      li 枠をクリックしたまま、上下にスライドさせると、順番の変更ができます。

.row
  .col-12
    .text-right
      = link_to "編輯を終える", links_path, class: 'btn btn-primary btn-sm'
