- provide :title, 'リンク集'

h1
  | リンク集

ul.nav.nav-tabs.nav-fill
  li.nav-item
    a.nav-link.active href="#member_site" data-toggle="tab" 会員Webサイト
  li.nav-item
    a.nav-link href="#shogi_site"         data-toggle="tab" 定跡等お役立ちサイト
  li.nav-item
    a.nav-link href="#web_creator"        data-toggle="tab" Web作成

.tab-content
  - %w(member_site shogi_site web_creator).each do |kind|
    .tab-pane.fade id="#{kind}"
      table.table.table-hover.sortable.link_collection
        tbody
          - LinkPresenter.build(@links["#{kind}"], self) do |link|
            = link.table_row
      - if logged_in_user?
        = form_with(url: edit_links_path, method: :get) do |f|
          - p = FormPresenter.new(f, self)
          = p.edit_link_button(@links["#{kind}"]&.first&.type)
