- provide :title, 'コメント付棋譜'

scss:
  body {
    background-image: url('../images/wallppr072.gif');
  }

h1 コメント付棋譜
p.small.text-right
  | H17年11月8日更新

table.table.table-hover.sortable
  thead
    tr
      th 棋戦名
      th 対局日
      th 対局者（先手）
      th 対局者（後手）
      th 戦型
  tbody
    tr
      th = link_to '第1回新人王戦　決勝第三局', kifu_path(345)
      td 05/10/23
      td hagitarou
      td tanaka90
      td
    tr
      th = link_to '第1回新人王戦　決勝第二局', kifu_path(344)
      td 05/10/19
      td tanaka90
      td hagitarou
      td
    tr
      th = link_to '第1回新人王戦　決勝第一局', kifu_path(343)
      td 05/10/14
      td hagitarou
      td tanaka90
      td
    tr
      th = link_to '第1回王位戦　決勝第二局', kifu_path(342)
      td 05/08/31
      td gagagagaga(上手)
      td saiiti(下手)
      td
    tr
      th = link_to '第1回王位戦　決勝第一局', kifu_path(341)
      td 05/08/28
      td gagagagaga(上手)
      td saiiti(下手)
      td
    tr
      th = link_to '第1回王座戦　決勝第二局', kifu_path(340)
      td 05/03/01
      td nukesaku.
      td yamamoto2.
      td ▲ゴキゲン中飛車 △右四間穴熊
    tr
      th = link_to '第1回王座戦　決勝第一局', kifu_path(339)
      td 05/02/26
      td nukesaku.
      td yamamoto2
      td ▲ゴキゲン中飛車 △右四間穴熊
    tr
      th = link_to '第1回王座戦　準決勝', kifu_path(338)
      td 05/02/24
      td inudanuki
      td nukesaku.
      td ▲四間飛車 △斜め棒銀

p.text-center.mt-4
  | コメント付き棋譜は、５JK棋戦の決勝にあたる対局を対象に、両対局者にコメントしてもらったものです。
  br
  | コメント投稿依頼は対局前に、掲示板やメールなどで運営局からお願いいたします。
