- provide(:title, '直通チャットの使用方法')

scss:
  body {
    background-image: url('../images/wallppr072.gif');
  }
  h5:first-letter {
    color: blue;
  }
  blockquote p {
    font-size: 1rem;
  }
  li {
    padding-bottom: 1rem;
  }

h1
  | 直通チャットの使用方法
p.text-right.text-info
  | 平成17年5月9日更新

h5
  | ■ 直通チャットとは何か？

p
  | 次の画像を見てください。
  br
  | 大きい赤枠がチャットの様子です。小さい赤枠は、今、直通になっている相手のHNです。
  .ml-5
    = image_tag 'special_id/chat_sample.jpg', class: 'img-fluid'
  blockquote
    p
      | Excelsior=&=Marius_P.>　こんばんは〜
      br
      | Marius_P.=&=Excelsior>　これから対局してもらえますか？
      br
      | Excelsior=&=Marius_P.>　はい、お願いしますm(__)m
  | の３行が直通部分で、直通になっていない人には見えません。
  br
  | =&= のマ−クが入っている行が直通を表しているわけです。
  br
  | したがってこの場合、ExcelsiorさんとMarius_p.さん以外の人には、間の３行が抜けて、
  blockquote
    p
      |  kakugyou>　ほうほう
      br
      |  kakugyou>　ちゃまさんがあぶないですね
  | だけが見えているのです。
  br
  |  このように直通チャットは、
  br
  b.ml-4
    | 話を聞かせたい人と聞かせたくない人を分けてチャットができる
  br
  | ので、リレー対局の作戦の話し合いなどに使われます。
  br
  |  もちろんその他の理由で、特定の人に会話を見せたくない時にも使われますが、それはここでは略します。

h5
  | ■ 直通チャットの手順

p
  | では手順を詳しく説明していきます。
  ol.ml-3
    li
      | 下図のように、①観戦者ボタンをクリックします。すると ②の観戦者ダイアログ(小さな画面)が開きます。
      = image_tag 'special_id/chat_1-2.jpg', class: 'img-fluid'
    li
      | 観戦者ダイアログの中に並んでいるＨＮ(ハンドルネーム)の中から、直通(発信)にしたい人を選んでダブルクリックします（→図の④）。
      br
      | すると、=&= マークがＨＮの先頭に付いて、直通状態になりました。
      = image_tag 'special_id/chat_3-5.jpg', class: 'img-fluid'
      br
      | =&= の表示と同時に、プルダウン・メニュー(▼を押すと開く→図⑤が現れます。
      br
      |  ここにはこの例では次の二つの項目が出ます。
      ol
        li.pb-0
          | Marius_P.さん・・・・・・・・・・直通相手です。直通会話は他の人には見えません。
        li.pb-0
          | 「皆へ」・・・・・・・・・・・・・・全員への発信です。観戦者全員に書き込んだメッセージが見えます。
      | この２つを切り替えて、直通か全員への発信かを切り替えることができます。
      br
      | 直通をくれている人の一覧(受信)は、図の③の欄に出ます。
      br
      | この例では空白なので、こちらから先に直通で話しかけようとしています。
    li
      | 直通する相手の人は一度に何人でも指定できます。
      br
      | 例えば下図の⑥では一度に３人を選択しています。
      br
      | ⑦の部分には、今、直通にしている合計人数が３と表示されています。
      = image_tag 'special_id/chat_6-7.jpg', class: 'img-fluid'
    li
      | ここまで設定が済んだら、直通チャットができるようになりました。
      br
      | 下図ではExcelsiorさんとMarius_P.さんが直通チャットをしています。
      = image_tag 'special_id/chat_sample.jpg', class: 'img-fluid'
    li
      | 直通を解除したい時は、解除したいＨＮの上でダブルクリックして =&= マークを外します(図の⑧
      br
      | さらに別なＨＮに直通設定をすれば、直通の切り替えができます。
      = image_tag 'special_id/chat_8-10.jpg', class: 'img-fluid'
      br
      | ⑨の部分には =&= マークがまだ付いていますが、これは向こう側から受信だけ直通になっていることを意味します。
      br
      |  つまりこの例では Marius_P. → Excelsior の方向だけの直通状態になっています。
      br
      |  直通を解除したので⑩には直通チャットの行がありません。最後の行の、
      blockquote
        p
          | Excelsior>　お疲れ様です〜
      | は観戦者全員に見えている普通のチャットにもどりました。
