h1
  | 将棋の勉強法 / 初段への道
  br
  | まとめ

.topics
  .card
    h4.card-header
      | 【62】 MAT_FIBER
      small H29.02.17(金) 00:00
    .card-body
      h3.card-title 最近の勉強方法
      p.card-text
        |
          最強最速の将棋勉強方法はなかなか継続することが難しく、最近は寄せの手筋２００に絞って勉強しています。<br>
          やり方は「忘却曲線」というアプリを用いて１章を一段落としてアプリにタグ付します。<br>
          このアプリは人間の忘却曲線に沿って最適な復習タイミングで通知してくれるのでそのタイミングで再度その章を復習します。<br>
          私は寄せの手筋２００は全体を通して４周、試しにこのアプリで１章だけやっていますが、今日時点で４回復習しており、１章は合計８周したことになります。<br>
          おかげで問題を見た瞬間に最後の局面図を描けるようになり、長期記憶まで落とし込めた気がします。（１章解くのに１・２分です）<br>
          なかなか良い方法かなぁと、次の章や他の定跡本にも応用してみます。<br>

  .card
    h4.card-header
      | 【61】 bururutti-2
      small H29.01.21(土) 04:34
    .card-body
      h3.card-title
        | 普段やってる定跡の勉強法
      p.card-text
        ol
          li
            | 定跡の特定局面を用意する。
            p
              | 例えば４５歩早仕掛けの定跡を会得したい場合は、４５歩早仕掛けＶＳ四間飛車の棋譜を用意して４５歩早仕掛けが成功して先手良しになった局面を用意する。
          li
            | その局面から将棋ソフトで対局する。
            p
              | 用意した局面が４５歩早仕掛けの成功局面なら、その局面から将棋ソフト（自分より少し強いレベル）と対局して、その戦法の特徴を掴んでいく。
          li
            | 次の一手に迷ったら上級ＣＯＭに対局させる
            p
              | 例えば先手が自分で後手が初級に設定したＣＯＭなら、先手を上級のＣＯＭに設定して、ＣＯＭ同士（上級ＶＳ初級）で戦わせて上級ＣＯＭにアドバイスをもらう。（自分には思い付かない手が出現したら、その手筋を覚える。）
          li
            | 初手から見直しをする。
            p
              | 序盤の方は予め用意された棋譜だけど、その部分も含めて初手から見直しをしていく。（用意された戦法の進行に慣れるため。）
          li
            | 特定局面を少し手前の所まで戻し２～４を繰り返す。
            p
              | ４５歩早仕掛けの例でいうと、仕掛けが成功する一歩手前の局面まで戻して、そこから再び将棋ソフトで対局して見直しをする。
        |
          囲碁の決め打ち碁（途中局面から自由に対局する練習法）を将棋に取り入れてみました。<br>
          自分は暗記というものが苦手で、定跡書で定跡を学ぶと暗記になっちゃって、定跡書の内容を覚えても時間が経つとすぐ忘れたり、棋譜を追うだけの作業になって棋譜が頭に入らなくなることもありました。<br>
          そこで、自分は定跡を覚えるのと同時に経験値を積むという方法をとっています。

  .card
    h4.card-header
      | 【58】 WhiteWizard
      small H29.01.15(日)
    .card-body
      h3.card-title
        | 音声を聞きながら、頭の中で棋譜を再生する
      p.card-text
        |
          わたくしは、寝る前にユーチューブやabemaTVを聞きながらやっています。<br>
          先手７六歩、後手３四歩、先手６六歩・・・<br>
          いつのまにか眠ってしまったり、あるいはそのまま最後まで見続けてしまったりですが、頭の中できちんと駒を動かせるようになるのは、いい訓練になります。<br>
          解説者と聞き手とのトークも楽しいですし、毎日詰め将棋を解くことと併せて、こつこつ前進です。

  .card
    h4.card-header
      | 【51】 MAT_FIBER
      small H29.01.14(土) 14:16
    .card-body
      h3.card-title
        | 将棋の棋譜を聞きながら通勤する勉強方法
      p.card-text
        |
          同じような勉強方法をしていると飽きてくるので、新しい勉強方法を考えてみました。<br>
          私は通勤中歩きながら詰将棋を解くようにしているのですが、冬道でやはり危ないため集中力が続かなくて、なかなか進まないことが多くなってきました。<br>
          そこで将棋の棋譜を聞きながら通勤する勉強方法を試してみようと思います。<br>
          ＮＨＫ杯などで棋譜読み上げされるのを頭の中でイメージする感じです。<br>
        ol
          li
            | 棋譜の読み上げ音声ファイルを用意する。<br>
            small
              | （激指の読み上げ機能や動画から音声ファイルのみを抜き出しても良いです）
          li
            | 音楽プレーヤーにて再生
            br
            small
              | （私はipodにmp3ファイルとして入れました）
          li
            | 読み上げを聞きながら頭の中でイメージする。<br>
            | 盤面が消えかかったら、再度最初から聞き返す。<br>
          li
            | 帰宅後実際に将棋盤で再現し、どこまで合っていたかなど検証
          li
            | 上記を棋譜を覚えるまで何度も繰り返す
        |
          右脳を刺激するので、脳内将棋盤の構築にも最適ですし、プロの棋譜を使えば芸術的な美しさを堪能できます。<br>また自分が良く指す戦法の棋譜を選べば自然と定跡の本筋が身に付くとともに、定跡書の結果図から最終局面までどのように進むか勉強できます。<br>

  .card
    h4.card-header
      | 【50】 MAT_FIBER
      small H29.01.14(土) 13:26
    .card-body
      h3.card-title
        | クリティカル・ポイント
      p.card-text
        |
          何事にも「クリティカル・ポイント」があるようです。<br>
          クリティカル・ポイント＝臨界点（物質が形を超えるポイント）
          例を挙げると、水の温度を上げていくと１００度になり、そこで液体であった水は突然気体になるということです。<br>
          これを将棋の勉強に当てはめると、現在の自分の実力（温度）を仮に３０度とすると
          毎日の詰将棋＆棋譜並べなどの勉強により、３０．１度、３０．２度など少しずつ上がっていきます。<br>
          はたから見るとただの水であり何も変化は無いように見えますが確実に温度は上がっており、実力は付いているということになります。<br>
          自分の勉強は無意味だったのか？と途中で投げ出すのは勿体ない。<br>
          いつか沸点（１００度）に達し勝ちまくる時が来るまで、辛抱強く我慢をして勉強することが大事ですね。<br>
          目安として１５か月以上やり続けていれば、何かしらの変化が起こるとのことです。<br>
          長期的に強くなるよう計画・心構えを持ちましょう。<br>

  .card
    h4.card-header
      |【47】 thegul
      small H29.01.09(月) 17:18
    .card-body
      h3.card-title
        | 限界的練習
      p.card-text
        |
          私が効果的だと思っているのは限界的練習というものです。<br>
          これは天才の研究者であり、人間のスキルや学習の上達について研究しているフロリダ大学アンダース・エリクソン教授が最も効果的と結論している概念です。<br>
          限界的練習は自分が苦労することなくできることを超えて、今の自分には苦しいと感じる訓練を意識的に行うことです。<br>
          自分の使う戦型の棋譜を並べて、自分ならどう指すか？とか考えながらプロやソフトの指し手を比べるといった感じでしょうか。<br>
          今の自分では考えてもひねり出せない手やわからないところで負荷をかけてトレーニングするイメージですね。<br>
          このエリクソン氏がまとめた研究書が「超一流になるのは才能か努力か?」にあるので興味のある方は参考になるかと思います。<br>

  .card
    h4.card-header
      | 【46】 MAT_FIBER
      small H29.01.09(月) 11:22
    .card-body
      h3.card-title
        | 脳のメカニズムと効率的な学習
      p.card-text
        |
          社会人は時間がないため、いかに効率的に勉強を進めるかがポイント<br>
          　→ 脳の記憶のメカニズム、生活習慣の見直し。<br>
          <br>
          記憶の種類～感覚記憶（数百ミリ秒）、短期記憶（１５～３０秒）、長期記憶（ほぼ永久）<br>
          　→感覚記憶を長期記憶に変える、毎日粘り強く学習する。<br>

        ul
          li
            |
              小さなことを地道に毎日積み重ねる、インパクトが強いことを行う（脳に刺激がある、活性化させる）<br>
              　→野球のイチロー・松井、サッカーの中村選手など毎日毎日継続的に誰よりもトレーニングしたから抜群の結果を残せた<br>
              　→抜群の結果を残したいならそれに見合う努力が必要。兎とカメの童謡を思い起こす。<br>
          li
            | 記憶の定着は寝ている間に行われる。暗記は寝る前の１～２時間がベスト。
          li
            | 記憶しやすい時間帯～脳科学的に、午前４時から午前10時頃
            br
            p
              |
                この時間帯は脳が活発に働く時間帯なので、記憶力＋集中力も発揮できる。<br>
                睡眠という意味で、記憶しやすい時間帯～午後10時から午前２時までは脳のゴールデンタイムと言われており、この時間帯に睡眠を取ると、脳が情報を整理し、記憶として定着しやすい。（成長ホルモンが豊富に分泌されたり、細胞の新陳代謝が効率的に働く。脳だけでなく身体的にも「最も回復しやすい時間」で、脳にも身体にも正の相乗効果を与える。）<br>
                早朝は、睡眠によって疲労が回復しているので、頭がスッキリして頭が冴えている。<br>
                環境的にも、早朝は静かなことが多いので、勉強に向いている。<br>
                当然、学習した内容が記憶に定着しやすく、最高の時間帯と言える。<br>
                　→早寝早起きは三文の徳（成功している経営者、ビジネスマン、アーティストは、みな例外なく早起き）<br>
                脳をガラスのコップに例えると、朝～中身は空っぽ　→一日の中で色々なことが起こり、段々と「記憶」や「疲労」が注がれていく。<br>ほとんどの人は夕方にはコップの中身が一杯になる。<br>
                　→寝ている間にコップは綺麗に整理されて、別の場所に移される。<br>
                　→翌朝にはコップが空になっているので新たな知識・作業が効率的に進められる。<br>
                　→早起きは三文の徳どころではない。<br>
          li
            |
              復習のタイミング
            br
            p
              |
                「エビングハウスの忘却曲線」 ～ 人間が記憶を忘れていく時間と忘却率を示したグラフ<br>
                　２０分後には４２％忘れる、１時間後には５６％忘れる、１日後には７４％忘れる。<br>
                　→定跡書を一読しても相手がその通りに指してこず、結局忘れる。<br>
                　→復習の効果的なタイミングは２４時間以内、１日後、３１日後<br>
          li
            |
              五感（視覚、聴覚、触覚、味覚、嗅覚）をフルに使って勉強する。<br>
            p
              |
                本の内容を暗記する場合、視覚を使うだけの黙読よりも視覚と聴覚を働かせて音読した方が、確実に記憶できる。<br>
                さらに記憶を強固にするためには、本の内容を音読しながら紙に写すほうが視覚と聴覚に加え触覚を働かせている分、より記憶できる。<br>
                　→要はめんどくさいことをやった方が実は効率的。<br>
          li
            | 勉強時間の確保
            br
            p
              |
                １日のうち削れる時間はどこか？<br>
                　→睡眠時間を削って勉強するのが良い。<br>
                質の良い睡眠をして、短時間で疲労回復させる<br>
                　→最適時間は 4 時間半
                就寝時間：夜23時～午前2時の間に寝る。<br>
                心や身体の回復のための、成長ホルモンがよく働いてくれる。（２３時頃が最も分泌）<br>
                朝の目覚め～5時半～8時半くらいの間に起きる。<br>
          <li>勉強の成果の方程式
            <br>
            <p style="margin-bottom: 0px;">
              <span class="MathJax_Preview" style="color: inherit; display: none;"></span>
              <span class="MathJax" id="MathJax-Element-1-Frame" tabindex="0" data-mathml="&lt;math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;&gt;&lt;mi&gt;r&lt;/mi&gt;&lt;mo&gt;=&lt;/mo&gt;&lt;mi&gt;a&lt;/mi&gt;&lt;mo&gt;&amp;#x22C5;&lt;/mo&gt;&lt;mi&gt;b&lt;/mi&gt;&lt;mo&gt;&amp;#x22C5;&lt;/mo&gt;&lt;msup&gt;&lt;mi&gt;t&lt;/mi&gt;&lt;mrow class=&quot;MJX-TeXAtom-ORD&quot;&gt;&lt;mn&gt;2&lt;/mn&gt;&lt;/mrow&gt;&lt;/msup&gt;&lt;mo&gt;+&lt;/mo&gt;&lt;mi&gt;c&lt;/mi&gt;&lt;/math&gt;" role="presentation" style="position: relative;">
                <nobr aria-hidden="true">
                  <span class="math" id="MathJax-Span-1" style="width: 8.133em; display: inline-block;">
                    <span style="display: inline-block; position: relative; width: 6.824em; height: 0px; font-size: 119%;">
                      <span style="position: absolute; clip: rect(1.476em, 1006.824em, 2.677em, -999.997em); top: -2.453em; left: 0em;">
                        <span class="mrow" id="MathJax-Span-2">
                          <span class="mi" id="MathJax-Span-3" style="font-family: STIXGeneral-Italic;">r
                            <span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span>
                          </span>
                          <span class="mo" id="MathJax-Span-4" style="font-family: STIXGeneral-Regular; padding-left: 0.33em;">=</span>
                          <span class="mi" id="MathJax-Span-5" style="font-family: STIXGeneral-Italic; padding-left: 0.33em;">a</span>
                          <span class="mo" id="MathJax-Span-6" style="font-family: STIXGeneral-Regular; padding-left: 0.276em;">&#8901;</span>
                          <span class="mi" id="MathJax-Span-7" style="font-family: STIXGeneral-Italic; padding-left: 0.276em;">b</span>
                          <span class="mo" id="MathJax-Span-8" style="font-family: STIXGeneral-Regular; padding-left: 0.276em;">&#8901;</span>
                          <span class="msubsup" id="MathJax-Span-9" style="padding-left: 0.276em;">
                            <span style="display: inline-block; position: relative; width: 0.767em; height: 0px;">
                              <span style="position: absolute; clip: rect(3.277em, 1000.276em, 4.15em, -999.997em); top: -3.981em; left: 0em;">
                                <span class="mi" id="MathJax-Span-10" style="font-family: STIXGeneral-Italic;">t
                                  <span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span>
                                </span>
                                <span style="display: inline-block; width: 0px; height: 3.986em;"></span>
                              </span>
                              <span style="position: absolute; top: -4.363em; left: 0.33em;">
                                <span class="texatom" id="MathJax-Span-11">
                                  <span class="mrow" id="MathJax-Span-12">
                                    <span class="mn" id="MathJax-Span-13" style="font-size: 70.7%; font-family: STIXGeneral-Regular;">2</span>
                                  </span>
                                </span>
                                <span style="display: inline-block; width: 0px; height: 3.986em;"></span>
                              </span>
                            </span>
                          </span>
                          <span class="mo" id="MathJax-Span-14" style="font-family: STIXGeneral-Regular; padding-left: 0.276em;">+</span>
                          <span class="mi" id="MathJax-Span-15" style="font-family: STIXGeneral-Italic; padding-left: 0.276em;">c</span>
                        </span>
                        <span style="display: inline-block; width: 0px; height: 2.458em;"></span>
                      </span>
                    </span>
                    <span style="display: inline-block; overflow: hidden; vertical-align: -0.127em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.172em;"></span>
                  </span>
                </nobr>
                / <span class="MJX_Assistive_MathML" role="presentation">
                /   <math xmlns="http://www.w3.org/1998/Math/MathML">
                /     <mi>r</mi>
                /     <mo>=</mo>
                /     <mi>a</mi>
                /     <mo>&#8901;</mo>
                /     <mi>b</mi>
                /     <mo>&#8901;</mo>
                /     <msup>
                /       <mi>t</mi>
                /       <mrow class="MJX-TeXAtom-ORD">
                /         <mn>2</mn>
                /       </mrow>
                /     </msup>
                /     <mo>+</mo>
                /     <mi>c</mi>
                /   </math>
                / </span>
              </span>
              <script type="math/tex" id="MathJax-Element-1"> r = a \cdot b \cdot t^{2} + c </script>
            </p>
            <div style="text-indent: 3em;">
              <span class="MathJax_Preview" style="color: inherit; display: none;"></span>
              <span class="MathJax" id="MathJax-Element-2-Frame" tabindex="0" data-mathml="&lt;math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;&gt;&lt;mi&gt;r&lt;/mi&gt;&lt;mo&gt;:&lt;/mo&gt;&lt;/math&gt;" role="presentation" style="position: relative;">
                / <nobr aria-hidden="true">
                /   <span class="math" id="MathJax-Span-16" style="width: 1.232em; display: inline-block;">
                    / <span style="display: inline-block; position: relative; width: 0.998em; height: 0px; font-size: 122%;">
                      / <span style="position: absolute; clip: rect(1.876em, 1000.94em, 2.696em, -999.997em); top: -2.515em; left: 0em;">
                        / <span class="mrow" id="MathJax-Span-17">
                        /   <span class="mi" id="MathJax-Span-18" style="font-family: STIXGeneral-Italic;">r
                        /     <span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span>
                        /   </span>
                        /   <span class="mo" id="MathJax-Span-19" style="font-family: STIXGeneral-Regular; padding-left: 0.296em;">:</span>
                        / </span>
                        / <span style="display: inline-block; width: 0px; height: 2.52em;"></span>
                      / </span>
                /     </span>
                /     <span style="display: inline-block; overflow: hidden; vertical-align: -0.068em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 0.718em;"></span>
                /   </span>
                / </nobr>
                <span class="MJX_Assistive_MathML" role="presentation">
                  <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <mi>r</mi>
                    <mo>:</mo>
                  </math>
                </span>
              </span>
              <script type="math/tex" id="MathJax-Element-2"> r: </script>成果
            </div>
            <div style="text-indent: 3em;">
              <span class="MathJax_Preview" style="color: inherit; display: none;"></span>
              <span class="MathJax" id="MathJax-Element-3-Frame" tabindex="0" data-mathml="&lt;math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;&gt;&lt;mi&gt;a&lt;/mi&gt;&lt;mo&gt;:&lt;/mo&gt;&lt;/math&gt;" role="presentation" style="position: relative;">
                / <nobr aria-hidden="true">
                /   <span class="math" id="MathJax-Span-20" style="width: 1.35em; display: inline-block;">
                /     / <span style="display: inline-block; position: relative; width: 1.115em; height: 0px; font-size: 122%;">
                /       <span style="position: absolute; clip: rect(1.876em, 1001.057em, 2.696em, -999.997em); top: -2.515em; left: 0em;">
                /         <span class="mrow" id="MathJax-Span-21">
                /           <span class="mi" id="MathJax-Span-22" style="font-family: STIXGeneral-Italic;">a</span>
                /           <span class="mo" id="MathJax-Span-23" style="font-family: STIXGeneral-Regular; padding-left: 0.296em;">:</span>
                /         </span>
                /         <span style="display: inline-block; width: 0px; height: 2.52em;"></span>
                /       </span>
                /     </span>
                /     <span style="display: inline-block; overflow: hidden; vertical-align: -0.068em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 0.718em;"></span>
                /   </span>
                / </nobr>
                <span class="MJX_Assistive_MathML" role="presentation">
                  <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <mi>a</mi>
                    <mo>:</mo>
                  </math>
                </span>
              </span>
              <script type="math/tex" id="MathJax-Element-3"> a: </script>教材/サービスの質
            </div>
            <div style="text-indent: 3em;">
              <span class="MathJax_Preview" style="color: inherit; display: none;"></span>
              <span class="MathJax" id="MathJax-Element-4-Frame" tabindex="0" data-mathml="&lt;math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;&gt;&lt;mi&gt;b&lt;/mi&gt;&lt;mo&gt;:&lt;/mo&gt;&lt;/math&gt;" role="presentation" style="position: relative;">
                / <nobr aria-hidden="true">
                /   <span class="math" id="MathJax-Span-24" style="width: 1.35em; display: inline-block;">
                /     <span style="display: inline-block; position: relative; width: 1.115em; height: 0px; font-size: 122%;">
                /       <span style="position: absolute; clip: rect(1.642em, 1001.057em, 2.696em, -999.997em); top: -2.515em; left: 0em;">
                /         <span class="mrow" id="MathJax-Span-25">
                /           <span class="mi" id="MathJax-Span-26" style="font-family: STIXGeneral-Italic;">b</span>
                /           <span class="mo" id="MathJax-Span-27" style="font-family: STIXGeneral-Regular; padding-left: 0.296em;">:</span>
                /         </span>
                /         <span style="display: inline-block; width: 0px; height: 2.52em;"></span>
                /       </span>
                /     </span>
                /     <span style="display: inline-block; overflow: hidden; vertical-align: -0.068em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.004em;"></span>
                /   </span>
                / </nobr>
                <span class="MJX_Assistive_MathML" role="presentation">
                  <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <mi>b</mi>
                    <mo>:</mo>
                  </math>
                </span>
              </span>
              <script type="math/tex" id="MathJax-Element-4"> b: </script>集中力
            </div>
            <div style="text-indent: 3em;">
              <span class="MathJax_Preview" style="color: inherit; display: none;"></span>
              <span class="MathJax" id="MathJax-Element-5-Frame" tabindex="0" data-mathml="&lt;math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;&gt;&lt;mi&gt;t&lt;/mi&gt;&lt;mo&gt;:&lt;/mo&gt;&lt;/math&gt;" role="presentation" style="position: relative;">
                / <nobr aria-hidden="true">
                /   <span class="math" id="MathJax-Span-28" style="width: 1.115em; display: inline-block;">
                /     <span style="display: inline-block; position: relative; width: 0.881em; height: 0px; font-size: 122%;">
                /       <span style="position: absolute; clip: rect(1.818em, 1000.823em, 2.696em, -999.997em); top: -2.515em; left: 0em;">
                /         <span class="mrow" id="MathJax-Span-29">
                /           <span class="mi" id="MathJax-Span-30" style="font-family: STIXGeneral-Italic;">t
                /             <span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span>
                /           </span>
                /           <span class="mo" id="MathJax-Span-31" style="font-family: STIXGeneral-Regular; padding-left: 0.296em;">:</span>
                /         </span>
                /         <span style="display: inline-block; width: 0px; height: 2.52em;"></span>
                /       </span>
                /     </span>
                /     <span style="display: inline-block; overflow: hidden; vertical-align: -0.068em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 0.861em;"></span>
                /   </span>
                / </nobr>
                <span class="MJX_Assistive_MathML" role="presentation">
                  <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <mi>t</mi>
                    <mo>:</mo>
                  </math>
                </span>
              </span>
              <script type="math/tex" id="MathJax-Element-5"> t: </script>時間(インプット量)
            </div>
            <div style="text-indent: 3em;">
              <span class="MathJax_Preview" style="color: inherit; display: none;"></span>
              <span class="MathJax" id="MathJax-Element-6-Frame" tabindex="0" data-mathml="&lt;math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;&gt;&lt;mi&gt;c&lt;/mi&gt;&lt;mo&gt;:&lt;/mo&gt;&lt;/math&gt;" role="presentation" style="position: relative;">
                / <nobr aria-hidden="true">
                /   <span class="math" id="MathJax-Span-32" style="width: 1.291em; display: inline-block;">
                /     <span style="display: inline-block; position: relative; width: 1.057em; height: 0px; font-size: 122%;">
                /       <span style="position: absolute; clip: rect(1.876em, 1000.998em, 2.696em, -999.997em); top: -2.515em; left: 0em;">
                /         <span class="mrow" id="MathJax-Span-33">
                /           <span class="mi" id="MathJax-Span-34" style="font-family: STIXGeneral-Italic;">c</span>
                /           <span class="mo" id="MathJax-Span-35" style="font-family: STIXGeneral-Regular; padding-left: 0.296em;">:</span>
                /         </span>
                /         <span style="display: inline-block; width: 0px; height: 2.52em;"></span>
                /       </span>
                /     </span>
                /     <span style="display: inline-block; overflow: hidden; vertical-align: -0.068em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 0.718em;"></span>
                /   </span>
                / </nobr>
                <span class="MJX_Assistive_MathML" role="presentation">
                  <math xmlns="http://www.w3.org/1998/Math/MathML">
                    <mi>c</mi>
                    <mo>:</mo>
                  </math>
                </span>
              </span>
              <script type="math/tex" id="MathJax-Element-6"> c: </script>過去の蓄積(現在の自分)
            </div>
            <p></p>
          </li>
          / li
          /   | 勉強の成果の方程式
          /   br
          /   / http://www.yamamo10.jp/yamamoto/comp/WEB/MathJax/index.php
          /   p style="margin-bottom: 0px;"
          /     | \( r = a \cdot b \cdot t^{2} + c \)
          /     div style="text-indent: 3em;"
          /       | \( r: \) 成果
          /     div style="text-indent: 3em;"
          /       | \( a: \) 教材/サービスの質
          /     div style="text-indent: 3em;"
          /       | \( b: \) 集中力
          /     div style="text-indent: 3em;"
          /       | \( t: \) 時間(インプット量)
          /     div style="text-indent: 3em;"
          /       | \( c: \) 過去の蓄積(現在の自分)
    .card-body
      h3.card-title
        | プロ・アマ強豪の上達法
      p.card-text
        ul
          li 平畑流上達法
          p
            |
              Ｑ「善さん、どんな勉強してそんなに強くなったの？　木村名人や阪田三吉の棋譜でも並べて研究したの？」<br>
              Ａ「バカ！　そんなもん並べて強くなるか。俺は昔、天野宗歩の棋譜１００局ぐらいを全部第１手から終わりまで、覚えた。棋譜は宗歩だけでいい。他はいらん。棋譜を並べるときは、次の指し手が見えないようにして両方の指し手を考える。１局２時間ぐらいかけて、一生懸命並べて研究すれば自然と本筋を覚え強くなる。」<br>
              「それと俺は昔、仕事は船乗りやったから詰将棋が便利でよくやった（３０００問ぐらい）。詰将棋は終盤力がつくだけでなく、深く正しい読みの訓練にはちょうどいい」<br>
            blockquote
              | 平畑善介さん（史上最強ともいわれるアマ名人）
              br
              small
                | 引用元：
                cite title="引用元"
                  = link_to 'こども将棋＠福成キッズ将棋教室', 'http://fukunari.cocolog-nifty.com/blog/2011/10/post-4dbb.html'
          li
            | 花村元司上達法
            p
              |
                『将棋は、終盤に強い人が勝つ。これははっきりしている。だから、私たちも詰将棋や必死図など、目に触れれば必ず考えて見ることにしている。そうしてカンをみがいておくわけだ。たとえ分かりきった易しい図でも疎かにしたりしない。プロゴルファーが、入るに決まっている一メートルのパットを何百球も練習するのも、私たちが一目で詰む三手か五手の詰将棋を解くのも結局は同じことをしているわけだ。皆さんもそうした習慣を身に着けられるとよい。難解な問題は必要ない。易しい問題をただし完全に解くのだ。』

          li
            | 飯塚プロによる 【秘中の秘】の将棋上達法
            p
              |
                １．詰将棋　２．詰将棋　３．詰将棋<br>
                谷川九段が何かの本で書いていた。<br>
                「将棋は、自分を表現する場だ。そして、自分を表現できることに幸せを感じる。」と。<br>
                将棋で自分を表現できる人は、幸福だ。だからこそ、魂を込めて１局１局丁寧に将棋を指さないといけない。適切なアウトプット（自己表現）が、将棋上達を加速させる。<br>
              blockquote
                small
                  | 引用元：
                  cite title="引用元"
                    = link_to '将棋上達の探求', 'http://hantosidegodan.seesaa.net'

    .card-body
      h3.card-title
        | 最も効率的な将棋勉強方法
      p.card-text
        | 上記を踏まえた最強最速の将棋学習方法の結論です。<br>
        ul
          li
            | 定跡書・手筋系（暗記系）
            p
              |
                寝る前の１～２時間<br>
                　→２４時に就寝すると仮定すると、２２時～２４時に実施。<br>
                ４時間半の睡眠時間を確保すると、２４時就寝<br>
                　→４時半起き。<br>
                　→朝起きると前日勉強したことの整理が脳内で実施される<br>
                　→忘却曲線により最大７４％忘れている（２６％しか覚えていない）<br>
                　→朝目覚めたと同時に前日の復習を実施し記憶の定着化を図る。<br>
                　→棋書の学習した日を書いておき３１日後に再度復習する<br>
                　→長期記憶（ほぼ永久）へ繋げて、いつどんな戦法が来ても学習内容を思い出せるようにする。<br>
          li
            | 詰将棋その他（自分の頭を使って考える系）
            p
              |
                前日の復習が完了した後の早朝に実施。<br>
                （午前４時から午前10時頃）
          li
            | 棋書の読み方
            p
              |
                指しこなす本などは一問でも間違ったら、最初のページから全てやり直す。<br>
                手筋系の問題集も同様、手筋は暗記するものだと認識する。<br>
                毎日毎日同じ手筋・問題を解いていると問題を見た瞬間に答えが浮かぶ<br>
                　→１周目、２周目、３周目と数をこなすごとに、やり直す時間が減少していくはず。<br>
                詰将棋は一桁台のものは１分以内、２桁台のものは解けるまで取り組む<br>
                　→読みの深さ・速さ・正確さを養う。<br>
          li
            | 棋譜並べ
            p
              |
                １回目：譜号のみでパッと並べる（変化は並べない）<br>
                ２回目：解説を読み変化手順も含めて並べる<br>
                ３回目：自分の読みもフル活用し、自分だったらどうするか考えながら次の手を隠しながら並べてみる。<br>
                以上を連続して行う。<br>
                並べた日時を記録しておき、３１日後に再度並べる。<br>
                <br>
                並べる棋譜：プロの対局でも、精選されたものを繰り返し並べる。<br>
                手当たり次第に並べても学習効果は、かなり低い。<br>
                　→久保振り飛車実戦集を暗記するまで繰り返す<br>
          li
            | 実戦について
            p
              |
                １５分の将棋をじっくり指して感想戦に倍の時間を掛ける。<br>
                早指し将棋は読みが荒くなるが、感覚的なものを養うには最適かつ将棋ウォーズなどは手頃に指せるので両者をバランス良く使い分ける事が上達に良い。<br>
                実戦は学習したこと（インプット）を表現する場（アウトプット）と捉えられるため、余程才能がある方以外は実戦のみで強くなるのは難しいかつ非効率。（同じ時間詰将棋＆棋譜並べした方が効率的）<br>
                しかしながら将棋の楽しみ方は人それぞれなので、実戦が楽しい方は実戦を指せば良いし、自分の上達（Ｒの上昇）に喜びを感じる方は、実戦指したいのをぐっと我慢して勉強すれば良いと思います。<br>
          li
            | 努力と成果に関して
            ol
              li
                | 「努力した者が全て報われるとは限らん。しかし、成功した者は皆すべからく努力しておる！！」
                blockquote
                  small
                    | 名言の著者：
                    cite
                      | はじめの一歩、鴨川会長
              li
                | 「あきらめたらそこで試合終了ですよ」
                blockquote
                  small
                    | 名言の著者：
                    cite
                      | スラムダンク、安西監督

  .card
    h4.card-header
      | 【43】 bururutti-2
      small H28.11.18(金) 21:42
    .card-body
      h3.card-title
        | ソフトで駒落ちの練習
      p.card-text
        |
          自分は駒落ちの勝率が非常に悪いと思ったのでソフトを使って駒落ちの練習を始めてみました。<br>
          まずは８枚落ちからスタートしています。<br>
          これで駒落ちのコツを掴んでみようと思います。<br>

  .card
    h4.card-header
      | 【42】 hanndo
      small H28.11.16(水) 23:05
    .card-body
      h3.card-title
        | 詰将棋を逆さにして解く
      p.card-text
        |
          短手数の詰将棋を逆さにして解くを実際にやってみました。<br>
          使用したのは３手詰ハンドブック１。<br>
          数問を続けて解いたのですが、逆さでなければ見た瞬間に答えが分かるのに、逆さだと意外と時間がかかります。<br>
          詰めろの認識が甘いようです。<br>
          指されると困る盲点だということが分かり、効果がありそうだと感じました。<br>

  .card
    h4.card-header
      | 【41】 thegul
      small H28.11.12(土) 07:39
    .card-body
      h3.card-title 最近のちょっとしたソフト事情
      p.card-text
        |
          実は現在の将棋ソフト最強は技巧ではなく、うかむ瀬と呼ばれているaperyの最新版です。<br>
          真やねうら王もうかむ瀬と同等の力がありますが、こちらは少し導入が面倒。<br>
          うかむ瀬は導入も簡単ですので、良ければ入れてみるとよいでしょう。<br>
          こちらは序盤や中盤が強く、技巧は逆に終盤が強いです。<br>
          強さ自体はうかむ瀬の方が上ですが終盤劣勢から技巧が逆転することがしばしばあります。<br>
          両者桁違いの強さの上、性格がかなり異なるので、結論が出にくい局面なんかでは比較してみると面白いかもしれません。<br>
          技巧は人間的な手を目指しているので、基本技巧で序盤の定跡研究なんかではうかむ瀬併用が個人的にはおすすめです。<br>
          定跡書にない非常に有力な変化なども見つかることがありますので、そういう楽しみ方もあるかもしれないですね。<br>

  .card
    h4.card-header
      | 【38】 hanndo
      small H28.10.13(木) 20:03
    .card-body
      p.card-text
        |
          今の自分のレート帯だと、攻め一辺倒で受けきられたら投了されるというのが多いのですが、どうも自分はその無理攻めにハマるときが多くなっていてそれでＲが上がらなくなっているみたいでした。<br>
          冷静に序中盤注意して、深く読むことを意識したらＲが上がりそうだと確信しました。<br>
          というわけで、低級を抜けるならそこと終盤力を鍛えるのが勉強法だと思います

  .card
    h4.card-header
      | 【18】 bururutti-2
      small H28.08.16(火) 02:44
    .card-body
      h3.card-title 実践について
      p.card-text
        |
          経験値を積むためには実践も大事だと思いますが、実践だけやっても同じ失敗を二度三度繰り返すことになるので、やはり検討も必要だと思いますね。<br>
          自分は、将棋倶楽部で対局した後、その棋譜をソフトで解析して、着手の良し悪しを検討しています。<br>
          ある特定の定跡を覚えたいと思ったのがきっかけで、ソフトで練習するようになりました。<br>

  .card
    h4.card-header
      | 【10】 bururutti-2
      small H28.08.14(日) 09:04
    .card-body
      p.card-text
        |
          自分は、詰め将棋における「基礎」「十分な状態」とは次のようなものだと考えてます。<br>

        dt 「基礎」・・・基準となる手数より低い手数の詰め将棋
        dd 例えば、７手詰めを基準にしたら５手以下の詰め将棋が「基礎」、１１手詰めを基準にしたら９手以下の詰め将棋が「基礎」という感じです。
        dt 「十分な状態」・・・詰め将棋がすんなり解けるかどうか
        dd 一瞬で解くレベルまで鍛えるのは厳しいと思いますが、せめて数十秒で解けるのが望ましいと思ってます。つまり、７手詰めを基準にしたら、「基礎が十分な状態」とは「５手以下の詰め将棋がすんなり解けるレベル」ということになりますね。
        br
        dt １手詰め基礎レベル
        dd 頭金，腹金，尻金などの単純な手で詰ませられる問題
        dt １手詰め標準レベル
        dd 開き王手，両王手，大駒のコビンなどを活用して詰ませられる問題
        dt １手詰め発展レベル
        dd 逆王手，実践形式問題などのひねった問題

  .card
    h4.card-header
      | 【5】 bururutti-2
      small H28.08.14(日) 05:14
    .card-body
      p.card-text
        |
          自分が購入した１手詰めの参考書を以下に挙げてみます。

        h3.card-title １手詰め限定本
        ul
          li １手詰ハンドブック
          li 将棋１手詰め入門ドリル
          li 詰め将棋ドリル　１手詰入門編
          li 詰め将棋ドリル　１手詰初・中級編
          li １手詰将棋（将棋パワーアップシリーズ）
          li スイスイ解こう　詰将棋オール１手

        h3.card-title １手詰め付属本
        ul
          li １から始める詰将棋
          li １手・３手・５手実践型詰将棋
          li ドンドン解いて棋力アップ　詰将棋１手詰・１手必至
          li サクサク解こう　詰将棋１手・３手
          li 勝ちにいく詰将棋ドリル　１手詰・１手必至
          li 羽生善治のはじめて詰め将棋
          li １・３・５手　こども詰将棋入門

  .card
    h4.card-header
      | 【1】 bururutti-2
      small H28.08.10(水) 20:48
    .card-body
      p.card-text
        |
          自分は毎日詰め将棋の問題を解いてますが、いきなり難しい問題に挑戦するのではなく、次のように基礎から段階を踏んで練習しています。<br>
        ul
          li １手詰め（基礎レベル）　→１手詰め（標準レベル）　→１手詰め（発展レベル）
          li ３手詰め（基礎レベル）　→３手詰め（標準レベル）　→３手詰め（発展レベル）
          li ５手詰め（基礎レベル）　→５手詰め（標準レベル）　→５手詰め（発展レベル）

        |
          １手詰め（基礎レベル）からスタートして、今は３手詰め（発展レベル）と５手詰め（基礎レベル）の問題を毎日解いています。（１手詰めの問題だけでも１０００問以上解いてる気がする）<br>
          基礎が不充分の状態で７手詰め以上の詰め将棋を解こうとしても、難しすぎて頭がパニックになるので、"基礎を徹底的に学習する"という方法を取っています。<br>

  .card
    h4.card-header
      | 【9】 pika_pika707
      small H28.06.10(金) 00:13
    .card-body
      h3.card-title
        | ユーチューブの動画
      p.card-text
        = link_to 'クロノさんのなんちゃって将棋講座', 'https://www.youtube.com/watch?v=bRWC25Cq86k&list=PLf9E_Lb9lurucKfMbJSfCGxtpK4aCDX-w'
        br
        | 受けの手筋特に１０級前後の棋士様にお勧めです＾＾

  .card
    h4.card-header
      | 【8】 WhiteWizard
      small H28.06.06(月) 18:56
    .card-body
      h3.card-title
        | ユーチューブの動画
      p.card-text
        = link_to 'NHK将棋講座　永世解説勝又清和の「大山の受け」 全26回',
        'https://www.youtube.com/watch?v=XWmD44Wec_A&list=PLSAqJD_Pq8ZDtGOHQHIj1YKeYvkI8Z1uz'
        br
        = link_to 'NHK将棋講座　谷川浩司の本筋を見極める', 'https://www.youtube.com/watch?v=ZZI0vceC-pI'
        br
        = link_to 'NHK将棋講座　渡辺竜王の居飛車対振飛車', 'https://www.youtube.com/watch?v=YMl9gl2krJM'
        br
        = link_to '終盤の勝ち方/羽生の法則', 'https://www.youtube.com/watch?v=CDHswywJ2o4&list=PLivkSALv0LYwEBU02rfw2egv9rUpUJ-mo'
        br
        = link_to '将棋大技典 様々な棋士の得意戦法を紹介', 'https://www.youtube.com/watch?v=ZQdFKxjPAfo&list=PLgqA_M1gqPXEwhrTK8amGHTdQ_K8o7RqA'
        br
        = link_to '将棋列伝 歴代の名棋譜の解説', 'https://www.youtube.com/watch?v=Pie19UKw-9Y&list=PLgqA_M1gqPXEtn0J97qDDTBECWdrXWUFR'

  .card
    h4.card-header
      | 【2】 MAT_FIBER
      small H28.05.31(火) 01:03
    .card-body
      h3.card-title
        | 将棋は愛で指せ
      p.card-text
        |
          ある将棋漫画を読んでいて「将棋は愛で指せ」みたいなセリフがあり、やはり勝ち負けよりも楽しく指すのが一番だろうと思いました。<br>
          不思議なもので自分が一番指したい手・楽しそうな手を読んでいると、手が少しずつ見えてくるようになりました。<br>
          皆さんも勝っても負けても楽しく将棋を指すようにしましょう。<br>
          <br>
          ここ数年初段～１級を繰り返していてもう一段上に行くためには何が必要か？を考えたときに終盤力が絶対的に足りないと認識しました。<br>
          よって今後は「終盤力の強化」に力を注ぎたいと思います。<br>
          <br>
          具体的には総合的な問題として<br>
          光速の終盤術　→羽生善治の終盤術１～３　→読むだけで強くなる終盤のコツ１３０　→寄せの手筋２００　→光速の終盤術のループで進める。<br>
          <br>
          詰将棋・必至問題は<br>
          新詰将棋２００題　→１手・３手必至問題　→最強の詰将棋２００題　→精選必至２００問　→７手詰めハンドブック　→二上詰将棋選集　→塚田詰将棋代表作　→新詰将棋２００題のループで進める。<br>

  .card
    h4.card-header
      | 【2】 MAT_FIBER
      small H25.01.09(水) 00:05
    .card-body
      h3.card-title 最近の勉強方法
      p.card-text
        ol
          li
            | 定跡研究
            p
              | 何か得意戦法を見つけて徹底的に定跡書を読むのが良いと思います
          li
            | 棋譜並べ
            p
              | 自分の指す戦法・興味のある戦法の棋譜を盤を使って並べます
          li
            | 詰将棋・寄せの勉強
            p
              | 原田先生の詰将棋本がおすすめです。最近は二上詰将棋選集をやってます。
          li
            | 対局記録をつける
            p
              |
                エクセルで独自に作ってます。<br>
                項目は月日・先後・対戦相手(R)・勝敗・反省点・良かった点・今後の勉強方針です。<br>
                それで1か月毎にタブを分けて1月の対局結果を振り返り勝率の悪い戦型について集中して勉強するような感じです。
          li
            | 対局後の検討
            p
              |
                相手がいれば一緒に感想戦、その後激指にて棋譜解析をして、より良い手を確認してます。<br>
                また気になる局面は激指同士でそこから引き継いでもらって観戦してます。
          li
            | 将棋に対するモチベーションについて
            p
              = link_to '将棋上達の探求', 'http://hantosidegodan.seesaa.net/'
              | を隅々まで見ました。<br>
              | これは上達に役立つと思ったものは、コピー＆ペーストしてWordに貼り付け、いつでも見られるようにフォルダを作成しました。
          li
            | 勉強時間について
            p
              | 仕事の関係などで深夜に帰宅することも多々あるので、隙間時間を有効活用してます。<br>
              | 具体的にはトイレに詰将棋本、お風呂入るときにも詰将棋・次の一手本を持ち込むなど(ジップ付のクリアファイルなどに将棋世界の付録がサイズ的には丁度良いです)

        |
          最も大事なのは(3)の終盤に関する勉強だと思います。<br>
          最近光速の終盤術を並べ終わりましたが、終盤に関する考え方がかなり変わった気がします。<br>それと詰将棋の重要性が身に染みて分かりました。<br>
          いくら序・中盤で優勢を築いても終盤の一手は序・中盤とは格段に重みが違います。<br>よって終盤強化が最も大事だと思います。<br>最近は13手詰めに取り組んでいます(なかなか解けないですが、チャレンジすることに意味があるので)
          <br>
          あとは定跡書を大量に読む(インプット)　→実戦で試す(アウトプット)　→局後反省し次に生かす
          <br>
          というようなサイクルを繰り返すことで、徐々に強くなると思います。<br>
          <br>
          最も大事なのは将棋が好きなこと、および相手に対して敬意を持って対局することです。<br>
          (自分勝手な手を指さない、相手が悪手を指した場合はなるべく的確に咎めて、その手・構想は間違ってますよと気づかせる)
