scss:
  body {
    background-image: url('images/wallppr072.gif');
  }
  table {
    // width: 650px;
    border: 1px solid black;
    border-collapse: separate;
    margin: auto;
    margin-top: 2rem;
  }
  td {
    width: 50%;
    border: 1px solid black;
    padding-left: 1rem;
  }

table
  tr
    td style="vertical-align: top;"
      / img src="../assets/images/logo.jpg" width="324" height="78" alt="五級位上昇を目指す会"
      h1.text-center.mt-3
        | 5JK研究会
      .text-right
        span.small
          | since H17.04.09
      .text-left
        | 更新履歴 
      textarea cols="40" rows="10"
        = "四間飛車講座　追加しました。(H25.12.12)\n右玉講座　　　追加しました。(H28.02.05)".html_safe
    td.text-center
      = image_tag 'particular_positions/shitei2'
      br
      | 第２回指定局面図
  tr
    td colspan="2" style="vertical-align: center"
      p.small.text-center.m-3
        |  当ページは２４サークル「五級位上昇を目指す会」にて密かに（？）活動している、5JK研究会のホームページです。
        br
        | 活動内容は主に、１．指定局面戦、２．棋譜の検討が中心となっています。只今参加者募集中です！
  tr
    td colspan="2" style="text-align:center;font-weight:bold"
      | ＭＥＮＵ
  tr
    td
      = link_to '研究会 (指定局面戦)', laboratory_particular_positions_path
      br
      |  ・第２回研究会  
      br
      |  ・第１回指定局面戦
    td
      = link_to 'コメント付き棋譜', laboratory_comment_kifu_path
  tr
    td
      = link_to '研究用掲示板', topic_path(55)
      br
      = link_to '旧研究用掲示板', laboratory_old_bbs_path
    td
      | 棋譜アップローダ
  tr
    td
      = link_to 'やまもと流右四間講座', laboratory_migishiken_path
    td
      |  常任研究員
  tr
    td
      |  MAT_FIBER講師による 四間飛車講座
      br
      small
        | 例会で行われた四間飛車講座をまとめたものです。
      ul
        li
          = link_to '対居飛車急戦', laboratory_four_file_rook_path
          | (H25.04.20)
        li
          | 対居飛車穴熊
          |  (H25.04.27)
      |  saiiti講師による 右玉講座
      br
      small
        | 例会で行われた右玉講座をまとめたものです。
      ul
        li
          a href="lecture/migi.html"
          = link_to '右玉講座', laboratory_right_king_path
          | (H27.08.01)
    td
      = link_to '研究会の概要', laboratory_outline_path
