- provide :title, 'やまもと流右四間講座＋α'

scss:
  body {
    background-image: url('../images/wallppr072.gif');
  }

h1
  | やまもと流右四間講座＋α

p.text-center
  | これは、以前yamamoto2さんがメイン掲示板に書かれていた、
  br
  | 右四間講座をまとめた（むしろ目次をつけたｗ）ものです。
  br
  | 解説は当時と一切変えていません。

.card.m-4
  .card-header
    | 序盤ダイジェスト編
  .card-body
    ul.list-unstyled
      li その１・・・ 中飛車
      li その２・・・ 強気棒銀
      li その３・・・ 升田式石田流ダイジェスト

.card.m-4
  .card-header
    | 右四間飛車講座
  .card-body
    ul.list-unstyled
      li その４・・・ 舟囲い急戦対四間飛車
      li その５・・・ 四間飛車側超急戦の対策
      li その６・・・ 対四間→三間振りなおし作戦
      li その７・・・ 三間飛車対策最新版
      li その８・・・ 早石田対策
      li その９・・・ 対居飛車矢倉対策
      li その１０・・ 矢倉での右四間対策
      li その１１・・ 中飛車対策１
      li その１２・・ 中飛車対策２
      li その１３・・ 雁木対策

p.small.text-right
  | 注: 棋譜プレーヤーで、解説が書かれておりましたが、残念ながらリンク切れです。(H28.2.5追記)
