- provide :title, '5JK研究会の概要'

scss:
  body {
    background-image: url('../images/wallppr072.gif');
  }

h1 研究会の概要

.card.m-4.border.border-info.rounded
  .card-body
    | 　当研究会は将棋倶楽部２４サークル、
    b
      | 「五級位上昇を目指す会」
    | の研究会です。
    br
    | 決して、かの白装束集団みたいに「スカラー電磁波」のようなものは研究しません（笑）

.card.m-4
  .card-body
    h5.card-title
      | 一．当研究会の目的
    p.card-text
      | 当研究会の目的は以下の通りです。
      ol
        li
          | 一つの局面に集中し、研究成果を自分のものにすること
        li
          | 会員同士の交流を図ること
        li
          | 棋譜を検討することにより「手筋」や「感覚」を身に付けること
        li
          | 研究会を通して改めて「将棋の楽しさ」を感じる

.card.m-4
  .card-body
    h5.card-title
      | 二．活動内容
    p.card-text
      | 　当研究会は主に以下の活動を行います。
      ol
        li
          | ある局面での指定局面戦を行う
        li
          | 棋譜を投稿し、局面ごとの最善手の探求や形勢判断を行う
        li
          | 会員間での対局を活発に行い、感想戦も行う
      small
        | また、指定局面戦の準備等は各自で行ってください。

.card.m-4
  .card-body
    h5.card-title
      | 三．参加資格
    p.card-text
      | 基本的に
      b
        u
          | 5JKの会員（卒業生も含む）で、志を持った方であればどなたでも
      | 参加できます。

.card.m-4
  .card-body
    h5.card-title
      | 四．常任研究員について
    p.card-text
      del
        | 常任研究員とは、研究会の出席率が高く、かつ研究会に協力してくださる方のことを示します。
        br
        | 　常任研究員は自ら立候補するか、あるいは常任研究員（もしくは役員）からの推薦でなることができます。また、常任研究員に定員数はございません。
      small
        | (05/04/30 廃止)

.card.m-4
  .card-body
    h5.card-title
      | 五．棋譜掲載について
    p.card-text
      | 研究会の対局は、研究会 Webサイト にて掲載いたします。
      br
      | これは、あくまでも後の研究の為に使用するものです。ご理解・ご協力をお願いいたします。

.card.m-4
  .card-body
    h5.card-title
      | 六．研究会の対局について
    p.card-text
      | 指定局面戦での対局するＨＮは以下の通りでお願いいたします。
      ul
        li
          | 例会で運営委員が組み合わせた対局をする場合・・・ご自分のＨＮを使用してください。（名簿に登録されているＨＮでお願いします）
        li
          | 個々で日程調整し対局する場合・・・特別ＩＤを使用してください。（使用の際、掲示板に一言書き込んでいただければ幸いです）
      | また、研究会では
      b
        u
          | 必ず感想戦を行ってください。
      | 感想戦途中で接続が切れたなど、やむを得ず感想戦が出来なかった場合は掲示板などで行うようにしてください。

.card.m-4
  .card-body
    h5.card-title
      | 更新履歴
    p.card-text
      | ・05/04/30　４項廃止
      br
      | ・05/04/09　β版作成
