- provide :title, "研究会 指定局面戦"

scss:
  body {
    background-image: url('../images/wallppr072.gif');
  }


h1
  | 研究会＆指定局面戦

.card.mb-4
  .card-header
    | 第２回指定局面戦
  .row
    .col-5
      .card-body.text-center
        h5.card-title
          | ゴキゲン中飛車超急戦
        p.card-text
          = image_tag('particular_positions/shitei2')
    .col-7
      .card-body
        p.card-text
          | アンケートで希望が多かったので、ゴキゲン中飛車の超急戦になりました。
          br
          | プロでも避ける、ゴキゲン中飛車で最も激しい変化図です。
          br
          | 今回は▲７五角（堀口弘新手）以下の攻防に絞って検討します。
          br
          br
          = link_to '検討棋譜', kifu_path(346)
          br
          br
          b
            | ★只今参加者受付中！

.card.mb-4
  .card-header
    | 第１回指定局面戦
  .row
    .col-5
      .card-body.text-center
        h5.card-title
          | ▲居飛車急戦vs.△四間飛車
        p.card-text
          = image_tag('particular_positions/shitei1')
    .col-7
      .card-body
        p.card-text
          | 4月2日の例会で行われた、第１回指定局面戦。
          br
          | 後手番四間飛車に先手は急戦で挑もうとする局面だ。
          br
          | ここから、棒銀・４五歩早仕掛け・斜め棒銀・５筋位取りといった戦形から、富沢キックやポンポン桂といった、マイナー戦法へも発展するが・・・。
          ol
            li
              | nukesaku.（居）対Trombone（四）
              | ・・・棒銀
            li
              | yos4460（居）対sasadango（四）
              | ・・・早仕掛け
            li
              | inudanuki（居）対Gnorts（四）
              | ・・・斜め棒銀
            li
              | yamamoto2（居）対Excelsior（四）
              | ・・・棒銀
          p.small.text-right
            | 注: 棋譜プレーヤーで、解説が書かれておりましたが、残念ながらリンク切れです。(H30.2.19追記)
