- provide(:title, '特別ＩＤとは')

scss:
  body {
    background-image: url('../images/wallppr072.gif');
  }

h1.mb-5
  | 5JK特別ID

.mx-auto style="width: 50%;"
  p.text-center.border.border-info.rounded.p-3.m-3
    |【リレー（兼指定局面戦）用】・・・
    span.text-info
      | $5JK_01 /
      | $5JK_02
h3
  | 使用目的
p.ml-3
  | 研究会やサークル棋戦や他サークルとの交流戦のリレー将棋、指定局面戦を行う場合に使用します。

h3.mt-5
  | 使用方法
p.ml-3
  | 画像付きのくわしい解説
  ul.list-unstyled.ml-5
    li = link_to '特別ＩＤの使用法', laboratory_special_id_usage_path
    li = link_to '直通チャットの使用方法', laboratory_direct_chat_path

h3.mt-5
  | 注意事項
p.ml-3
  |  会員なら、どなたでも使用できます。ただし、
  b
    | 以下の注意事項に同意する必要があります
  | 。
ol
  li
    | パスワードは責任を持って管理すること。関係者以外に安易にパスワードを教えないこと。
  li
    | 特別IDの不正使用は絶対行わないこと。
  li
    | 公の場に、パスワードを絶対公表しないこと。
|  ※もしパスワードを伝え合う場合は、
b
  u
    | 必ず直通チャットで
| 行なってください。

h4.mt-5
  | 更新履歴
ul.list-unstyled.ml-5
  li
    | 12/07/01　研究用ID、使用許可に関する記述を削除
  li
    | 11/10/12　リンク修正
  li
    | 05/05/09　「直通チャットの使用方法」をリンク
  li
    | 05/05/08　「特別IDの使用法」をリンク
  li
    | 05/03/02　特別ID取得、使用方法発行
