- provide(:title, '特別ＩＤの使用法')

scss:
  body {
    background-image: url('../images/wallppr072.gif');
  }
  h5:first-letter {
    color: blue;
  }

h1
  | 特別ＩＤの使用法
p.text-right.text-info
  | 平成17年5月8日更新


h5
  | ■ 全体の流れはだいたい次のようになります。(リレー練習の場合)

p
  | 大まかな流れをまずつかんでください。
  ol.ml-3
    li 現ＩＤをいったん退場
    li 特別ＩＤでログイン
    li 普通に対局開始
    li 30手になったら「中断」ボタンを押す(警告が出るのでOKを押す)
    li 直通で作戦タイム(5分程度)
    li 特別IDを退場し、次の人と交代する
    li 以上を対局終了まで繰り返す
    li 局後の感想戦をする

h5
  | ■ 特別IDでのログイン方法
p
  | では詳しく説明していきます。

  ol.ml-3
    li
      | 今ログインしているＩＤ（例えばExcelsiorなど普通のＩＤ）をいったん
      b 退場する
    li
      | あらためて「入場受付」ボタンを押して、ダイアログ（小さな画面）を出します
      = image_tag 'special_id/login.jpg', class: 'img-fluid'
    li
      | 使用する特別ＩＤ(
      b $5JK_01
      |  /
      b $5JK_02
      | )とパスワードを入れます
      br
      | ここでは
      b $5JK_02
      | を使って説明します。

      | 注意点
      ol.ml-3
        li
          | ゲストにしてはいけません。必ず
          b 会員にチェック
          | してください。
        li
          | 「ユーザー名とパスワードを保存」はチェックを外した方がよいでしょう。
        li
          p.mb-0
            | 特別ＩＤとパスワードは
            b 半角英数
            | で、入力してください。
            br
            | 次は良い例です。
            br
            | （○） $5JK_02
            br
            | （○） $5jk_02　・・・・・・・・・・・英字は小文字でもOKです。
            br
            | 次は悪い例。
            br
            | （×） $5JK-02　・・・・・・・・・・ダッシュではダメ。
            br
            | （×） $5JK＿02　・・・・・・・・・
            b アンダーバー（下棒）
            | を半角にしないとダメ。
            br
            | （×） ＄5JK_02　・・・・・・・・・$マークが全角なのでダメ。（わかりずらい(^_^;)）
        li
          | アンダーバー（下棒）の文字「 _ 」は、キーボ−ドの右下にある「ろ」のキーを使います。
          br
          | Shiftキーを押しながら「ろ」を押すとアンダーバーになります。
        li
          | ドルマーク「 $ 」は Shift ＋ ４ のキーを押すと入れられます。
        li
          | ＩＤ、パスワードの入力は、
          b 半角英数モード
          | で行う必要があります。
          br
          | 日本語モードでは入力できないか、全角文字になってしまいます。(^_^A;)アセアセ
    li
      | 入力が完了したら「ログイン」ボタンをクリックします。
    li
      | 次のように「貴方のＨＮ」が出れば、あなたは特別ＩＤでログインできました。
      = image_tag 'special_id/login_completion.jpg', class: 'img-fluid'
    li
      | 次にいつも通りに、ＲかＴかｆｒｅｅの対局室に入ります。どれに入るかは、その時の指示に従ってください。
      br
      | あとはふつうのご自分のＩＤの時と同じように、「挑戦」して対局して行きます。

h5
  | ■ 交代のしかた (30手交代の場合)
ol.ml-3 start='7'
  li
    | お互いの合計手数が 15 + 15 = 30 手になったら、その時点で 30 手目を指した方が「
    b
      | 中断
    | 」を押します。
    = image_tag 'special_id/suspend.jpg', class: 'img-fluid'
  li
    | 直通で作戦タイム（5分程度）を、必要に応じて取ります。
  li
    |「閉じる」→「再開待！」を確認→OKをクリック、します。
    = image_tag 'special_id/resume.jpg', class: 'img-fluid'
  li
    | 退場ボタンを押して、道場からログアウトします。
  li
    | 次の交代者(2将)が特別ＩＤでログインします。
  li
    | 以上を対局終了まで、1将→2将→3将→4将→1将→2将・・・と繰り返します。
