@charset "utf-8";

/******************/
/* 三冠表彰のために */
/******************/
.shoritsu {
	text-align:center;
	background:#f0e87d;
	color:black;
}
.kachiboshi {
	text-align:center;
	background:#bde6f4;
	color:black;
}
.taikyoku {
	text-align:center;
	background:#00ff00;
	color:black;
}
.midashi td {
	text-align: center !important;
  background-color: #fab6f8;
  color: black;
}
.Rup {
  text-align: center;
  background-color: #00ffff;
  color: black;
}
.gekkan table {
	margin-left: 5px;
	border: 3px ridge gold;
	width: 720px;
}
.gekkan th, td {
	padding: 3px;	
}
.shoritsu td:nth-child(1){
	text-align: center;
	font-weight: bold;
}
.shoritsu td:nth-child(2),
.shoritsu td:nth-child(4),
.shoritsu td:nth-child(6) {
	text-align: center;
}
.shoritsu td:nth-child(3),
.shoritsu td:nth-child(5),
.shoritsu td:nth-child(7) {
	text-align: right;
	padding-right: 10px;
}
.kachiboshi td:nth-child(1){
	text-align: center;
	font-weight: bold;
}
.kachiboshi td:nth-child(2),
.kachiboshi td:nth-child(4),
.kachiboshi td:nth-child(6) {
	text-align: center;
}
.kachiboshi td:nth-child(3),
.kachiboshi td:nth-child(5),
.kachiboshi td:nth-child(7) {
	text-align: right;
	padding-right: 10px;
}
.taikyoku td:nth-child(1){
	text-align: center;
	font-weight: bold;
}
.taikyoku td:nth-child(2), 
.taikyoku td:nth-child(4), 
.taikyoku td:nth-child(6) {
	text-align: center;
}
.taikyoku td:nth-child(3), 
.taikyoku td:nth-child(5), 
.taikyoku td:nth-child(7) {
	text-align: right;
	padding-right: 10px;
}
.Rup td:nth-child(2),
.Rup td:nth-child(4),
.Rup td:nth-child(6) {
	text-align: center;
}
.Rup td:nth-child(3),
.Rup td:nth-child(5),
.Rup td:nth-child(7) {
	text-align: right;
	padding-right: 10px;
}
.title_holder{
	width: 760px;
	text-align: center;
	background: gold;
	color: black;
	text-align: center;
	border-collapse: collapse;
}
.title_holder th, 
.title_holder td {
	width: 68px;
	text-align: center;
	border: 1px solid #333;
}
