@charset "utf-8";

	/***********************************************************
	 * navのためのスタイル設定
	 ***********************************************************/
	nav#tab{
		width:700px;
		margin:50px auto;
	}
	ul.tab{
		padding:0;
	}
	ul.tab li{
		list-style-type:none;
		width:100px;
		height:40px;
		float:left;
	}
	ul.tab li:first-child a {
		border-top-left-radius: 10px;
	}
	ul.tab li:last-child a {
		border-top-right-radius: 10px;
	}
	ul.tab li a{
		box-shadow: 5px 0px 5px rgba(0,0,0,0.3);
		outline:none;
		background:url("./assets/images/tab.jpg");	/* old browser */
		background: linear-gradient(#e7f51e 0%, #fff9f4 100%);
		display:block;
		color:blue;
		line-height:40px;
		text-align:center;
		text-decoration: none;
	}
	ul.tab li a.selected{
		background: url("./assets/images/tab_selected.jpg"); /* old browser */
		background: linear-gradient(#f9d4a3 0%, #f8a639 100%);
		text-decoration:none;
		color:#333;
		cursor:default;
	}
	div.panel{
		clear:both;
		padding:0;
	}
	.area {
		background-color: #ffffff;
		background: linear-gradient(#f9ecaa 39.07%, #f7c582 100%);
		padding: 20px;
		border-radius: 10px;	
		box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
		margin-bottom: 20px;
		margin-left:20px;
		margin-right:20px;
	}

	/***********************************************************
	 * body color
	 ***********************************************************/
	body {
		background: #f7c582;
		background: linear-gradient(#fffacb 39.07%, #f7c582 100%);
		font-size: 12px;
		font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka",sans-serif;
		margin: auto;
		padding: 0;
		width: 900px;
	}


	
