h1 棋戦 案内文 編輯

.form_design
  = form_with(model: @card, url: kisen_card_path) do |f|
    = f.text_field :title, class: 'form-control'
    = f.text_area  :comment, class: 'form-control'
    .text-right
      = f.submit '更新する', class: 'btn btn-md btn-success'
