article.posting id="post_#{post.id}"
  / タイトルやツールバーの表示
  / 投稿者や日時の表示
  = PostPresenter.new(post, self).header

  / 投稿本文表示
  .body
    / 投稿文表示
    = markdown(post.comment)
    / 返信用フォームの表示
    .hidden id="post_reply_#{post.id}"
      == render partial: 'posts/reply', locals: { post: post }
    / 子供(それについての返信)を表示
    - post.children&.each do |child|
      == render partial: "posts/post", locals: { post: child }
    / 画像表示
    .images
      = image_tag post.picture.url if post.picture?
    / 棋譜表示
    == render partial: "shared/kifu", locals: { kifu: post.kifu } if post.kifu?
