- topic = Topic.find_by(id: post.topic_id)

= form_with(model: [topic, topic.posts.build], html: { multipart: true }, local: true, class: 'ui form') do |f|
  / == render "shared/error_messages", object: f.object
  = f.text_area :comment, value: post.comment.to_reply, autofocus: :autofocus, required: true
  = f.hidden_field :owner_id, value: current_user&.id
  = f.hidden_field :name, value: current_user&.name
  = f.hidden_field :mode, value: :reply
  = f.hidden_field :parent_id, value: post.id
  .field
    = f.submit '返信する', class: 'ui small teal button'
