h1 投稿編輯

.form_design
  = form_with(model: [@topic, @post], html: { multipart: true }, local: true, class: 'ui form') do |f|
    == render "shared/error_messages", object: f.object
    .field
      = f.label :comment
      = f.text_area :comment,
                     placeholder: "コメントをどうぞ＼(^_^)／",
                     skip_label: true
    - if @post.picture?
      = image_tag @post.picture.url
      = f.check_box :remove_picture, label: "画像を削除する"
    - else
      = FormPresenter.new(f, self).upload_file_block
    - if @post.kifu?
      label
        => check_box :remove_kifu, :value
        | 棋譜を削除
    = f.hidden_field :owner_id, value: current_user.id
    .field
      = f.submit '更新する', class: 'ui small green button'
