.carousel-inner {
  // overflow: visible !important;
  .carousel-item img {
    height: 320px;
  }
}

.carousel-caption {
  left: 5% !important;
  right: 5% !important;

  h3 {
    font-size: 20px;
    text-align: center;
  }
  p {
    text-align: left;
    letter-spacing: -0.5px;
  }
}

#carousel {
  margin-bottom: 1rem;
}

@media (min-width: 480px) {
  .carousel-caption h3 {
    font-size: 24px;
  }
  .carousel-inner {
    // overflow: visible !important;
    .carousel-item img {
      height: 280px;
    }
  }

}
