/*=============================================================================
  CSSだけで簡単にドロワーメニュー(ハンバーガーメニュー)を作る
  https://qiita.com/super-mana-chan/items/0310e3543bd1c3e4761a
=============================================================================*/

/* ヘッダー */
.iphone.menu.header {
  background: lighten($utsushiiro, 40%);
  width: 100vw;
  height: calc(62px + calc(calc(25.0/94.0) * calc(100vw - 320px)));
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1250;

  /* ロゴマーク */
  a#iphone_logo {
    display: block;
    margin-left: 42px;
    text-align: center;
    img {
      width: calc(100vw - 42px * 2);
      height: calc(62px + calc(calc(25.0/94.0) * calc(100vw - 320px)));
      padding-left: auto;
      padding-right: auto;
      z-index: 1250;
    }
  }
  z-index: 1250;
}

/*ドロワー*/
.drawer {
  position: relative;
  width: 100vw;
  // inputのcheckboxは非表示
  .checkbox {
    display: none;
  }
  // ハンバーガーアイコン
  .icon {
    cursor: pointer;
    display: block;
    width: 42px;
    // height: 60px;
    height: calc(62px + calc(calc(25.0/94.0) * calc(100vw - 320px)));
    position: fixed;
    top: 0;
    left: 0; // 左上に固定
    // right: 0; // 右上に固定
    // ハンバーガーアイコンの中の線
    .parts,
    .parts:before,
    .parts:after{
      background-color: #000;
      display: block;
      width: 26px;
      height: 2px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }
    .parts:before,
    .parts:after{
      content: "";
    }
    .parts:before{
      top: 16px; // 下の線
      // background: yellow;
    }
    .parts:after {
      top: -16px; // 上の線
      // background: red;
    }
  }

  // ドロワーメニュー開いた時のメインエリアを暗く
  .overlay {
    background: #000;
    opacity: 0;
    pointer-events: none; //ポインタの動作全部無効化
    // width: 100%;
    // height: 100%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  // ドロワーメニュー
  .menu {
    background: ivory;
    color: #000;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    overflow-y: auto; //スクロール
    -webkit-overflow-scrolling: touch; //スクロール（SP）
    position: fixed;
    // top: -400px;
    top: -100vh;
    // top: 0px;
    // right: -320px;
    // left: -320px;
    // left: -240px;
  }

  // z-indexの指定（1がメインエリア）
  .icon {
    z-index: 1300;
  }
  .menu {
    z-index: 1200;
  }
  .overlay {
    z-index: 1100;
  }

  // チェックが入ったら（アイコンクリックしたら）
  .checkbox:checked ~ {
    // ハンバーガーアイコン
    .icon {
      .parts {
        background: transparent;
      }
      .parts:before {
        transform: rotate(-45deg);
        top: 0;
      }
      .parts:after {
        transform: rotate(45deg);
        top: 0;
      }
    }
    // メインエリアを暗くする
    .overlay {
      opacity: 0.2;
      pointer-events: auto; //ポインタの動作デフォルトに戻す
    }
    // メニューを表示する
    .menu {
      // right: 0;
      // right: 0;
      // left: 320px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      // top: 60px;
      top: calc(62px + calc(calc(25.0/94.0) * calc(100vw - 320px)));
    }
  }
  // 動きをスムーズに
  .parts,
  .parts:after,
  .parts:before,
  .overlay,
  .menu {
    transition: all .7s;
  }
}
