/*=============================================================================
  body
=============================================================================*/

/*-----------------------------------------------------------------------------
  色
-----------------------------------------------------------------------------*/
$tokiwa-midori:     #007b43;
$nanohana-iro:      #ffec47;


/*-----------------------------------------------------------------------------
  body
-----------------------------------------------------------------------------*/
body {
  font-family: "M PLUS Rounded 1c",
               "Helvetica Neue",
               Arial,
               "Hiragino Kaku Gothic ProN",
               "Hiragino Sans",
               Meiryo,
               sans-serif !important;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
}

/*-----------------------------------------------------------------------------
  top page
-----------------------------------------------------------------------------*/
body.top {
  margin-top: 222px;
  background-color: transparent;
  background-size: cover;
  @media (min-width: 480px) {
    // padding-top: 222px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 !important;
  }
}

.ui.menu.toppage_header {
  background: rgba($sakurairo, 0.6);
  border-bottom: 1px solid $sumi;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 156px 1fr;
  .header_wrapper {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 156px 1fr;
    .logo_mark {
      grid-column: 1;
      grid-row: 1;
      align-self: center;
      img {
        width: 100%;
      }
    }
    .self_promotion {
      grid-column: 2;
      grid-row: 1;
      margin: 10px 0;
      // background: rgba(255,255,255,0.5);
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      p:nth-child(1) {
        grid-row: 1;
        text-align: right;
        margin-bottom: 0.25rem;
      }
      p:nth-child(2) {
        grid-row: 2;
        text-align: center;
        font-size: larger;
        margin-bottom: 0.25rem;
      }
      p:nth-child(3) {
        grid-row: 3;
        text-align: center;
        font-size: larger;
        font-weight: bold;
      }

    }

  }
  .toppage_menu {
    background: rgba($sumi, 0.9);
    .right.menu {
      background: transparent !important;
      display: flex !important;
      justify-content: flex-end;
      .ui.dropdown.item img {
        width: 24px;
        height: auto;
        padding-right: 3px;
      }
    }
  }
}

/*-----------------------------------------------------------------------------
  site page
-----------------------------------------------------------------------------*/
body.site {
  margin-top: 100px;
  background-image: image-url('komadai2.jpg');
  opacity: 0.95;
}

.ui.menu.sitepage_header {
  background-size: 100% auto;
  border-bottom: 1px solid $tokiwa-midori;

  .logo_mark {
    img {
      margin: 4px 0 0 0;
    }
  }

  .right.menu > .ui.item {
    color: $sakurairo;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 3px $sumi;
  }

  .ui.dropdown.item img {
    width: 24px;
    height: auto;
    padding-right: 3px;
  }

}
