@import "semantic-ui";
@import "iro";

@import "shogi";
@import "shogi_mobile";
@import "shogi_desktop";
@import "matchup";
@import "kisen";

@import "utility";
@import "carousel";

@import "header";
@import "background";  // 月ごとに背景画像を変更する
@import "footer";

@import "welcome";

@import "bbs";

@import "dropdown_menu";
@import "drawer";

.debug_dump {
  width:            100vw;
  margin-top:       2rem;
  padding:          2rem;
  border-radius:    1rem;
  background-color: $sakura-iro;
}
