<% case Date.current.month %>
<% when 1 %>
  <% body_image   = 'nanten_photo_ac_l-min.jpg' %>
  <% header_image = 'hinode.jpg' %>
<% when 2 %>
  <% body_image   = 'floating_ice.jpg' %>
  <% header_image = 'nanohana.jpg' %>
<% when 3 %>
  <% body_image   = 'ume.jpg' %>
  <% header_image = 'ume_banner.jpg' %>
<% when 4 %>
  <% body_image   = 'sakura37.jpg' %>
  <% header_image = 'photo_stocker_sakura.jpg' %>
<% when 5 %>
  <% body_image   = 'PAK86_miagerebamidori1226L.jpg' %>
  <% header_image = 'PAK86_miagerebamidori1226s.jpg' %>
<% when 6 %>
  <% body_image   = 'ajisai.jpg' %>
  <% header_image = 'ajisai_banner.jpg' %>
<% when 7 %>
  <% body_image   = 'himawari_batake.jpg' %>
  <% header_image = 'himawari_banner.jpg' %>
<% when 8 %>
  <% body_image   = 'umi0117-024.jpg' %>
  <% header_image = 'MIYAKO85_kurimatoukaranoichibou20140725_trim.jpg' %>
<% when 9 %>
  <% body_image   = 'gahag-0002144428_momiji.jpg' %>
  <% header_image = 'momiji_pakutaso.jpg' %>
<% when 10 %>
  <% body_image   = 'akinoyugure.jpg' %>
  <% header_image = 'hachimantai_1500x120.jpg' %>
<% when 11 %>
  <% body_image   = 'yukiguni_yuhi.jpg' %>
  <% header_image = 'ike_susuki_1500x120.jpg' %>
<% when 12 %>
  <% body_image   = 'yatsugatake.jpg' %>
  <% header_image = 'nanten_photo_ac_banner_m-min.jpg' %>
<% end %>

body.top {
  background: image-url('<%= body_image %>');
}

.ui.menu.sitepage_header {
  background: image-url('<%= header_image %>');
}
