/*=============================================================================
  掲示板関係
=============================================================================*/

/*-----------------------------------------------------------------------------
  色
-----------------------------------------------------------------------------*/
$tokiwa-midori:     #007b43;
$nanohana-iro:      #ffec47;
$sakura-iro:        #fef4f4;
$ama-iro:           #2ca9e1; // 天色
$sumi:              #595857; // 墨(すみ)

$rails-red:         #aa2b34;
$kinaka:            #ea5506; // 金赤
$ruri-iro:          #1e50a2;

/*-----------------------------------------------------------------------------
  投稿日
-----------------------------------------------------------------------------*/
.holiday  { color: $kinaka;     }
.weekday  { color: $sumi;       }
.saturday { color: $ruri-iro;   }
.sunday   { color: $rails-red;  }

/*-----------------------------------------------------------------------------
  アバター
-----------------------------------------------------------------------------*/
.avatar-link {
  display: grid;
  grid-template-columns: minmax(1px, max-content);
  grid-template-rows: auto;
  align-items: center;
  gap: 10px;
  img   { grid-column: 1; grid-row: 1; }
  .name { grid-column: 2; grid-row: 1; }
}

/*-----------------------------------------------------------------------------
  新着スレッド
-----------------------------------------------------------------------------*/
.topics > h2.ui.header {
  margin: 0.25rem 1rem 1.25rem 1rem;
  padding: 0;
}

.topic_titles {
  ul {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    @media(min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    li {
      font-size: 18px;
      line-height: 1.25;
      margin-bottom: 0.85rem;
      a {
        color:       $tokiwa-midori;
        text-shadow: 1px 1px 2px $sumi;
        letter-spacing: 1px;
      }
      &.committee {
        a {
          color: $ama-iro;
        }
      }
    }
  }
  & + .ui.right.aligned.header {
    margin-top: 0;
    padding-top: 0;
    padding-right: 1rem;
    padding-bottom: 0;
  }
}



/*-----------------------------------------------------------------------------
  板
-----------------------------------------------------------------------------*/
.topics {
  margin-bottom: 1rem;
  padding: 1rem 0;
  @media (min-width: 768px) {
    padding: 1rem;
  }

  background: lighten($tokiwa-midori, 75%);
  border: 3px double $tokiwa-midori;
  color: $sumi;
  box-shadow: 1px 1px 3px $sumi;

  & > .header {
    padding: 0 0 1rem 0;
    @media (min-width: 768px) {
      padding: 2rem;
    }

    & > h2 {
      display: grid;
      grid-template-columns: minmax(1px, max-content) 1fr;
      grid-template-rows: auto auto;
      gap: 10px;
      align-items: center;

      .number {
        grid-column: 1;
        grid-row: 1;
      }
      .title {
        grid-column: 2;
        grid-row: 1;
      }
      .buttons {
        grid-column: 1 / -1;
        grid-row: 2;
        justify-self: end;
      }

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, minmax(1px, max-content));
        grid-template-rows: auto;
        gap: 15px;
        align-items: center;

        .number {
          grid-column: 1;
          grid-row: 1;
        }
        .title {
          grid-column: 2;
          grid-row: 1;
        }
        .buttons {
          grid-column: 3;
          grid-row: 1;
        }
      }
    }
  }
}


/*-----------------------------------------------------------------------------
   投稿
-----------------------------------------------------------------------------*/
.posting {
  border: 1px solid darken($nanohanairo, 20%);
  box-shadow: 1px 1px 2px $sakurairo;
  margin-bottom: 1rem;

  .header {
    a.ui.tiny.yellow.button,
    a.ui.tiny.red.button {
      color: $sakurairo !important;
    }
    background-color: lighten($nanohana-iro, 20%);
    border-bottom: 1px solid darken($nanohanairo, 20%);
    padding: 0.75rem;

    h3 {
      display: grid;
      grid-template-columns: minmax(1px, max-content) 1fr;
      grid-template-rows: auto auto auto;
      align-items: center;
      column-gap: 1rem;
      .number {
        grid-column: 1;
        grid-row: 1;
      }
      .avatar-link {
        grid-column: 2;
        grid-row: 1;
        font-size: 1.5rem;
      }
      .time {
        grid-column: 1 / -1;
        grid-row: 2;
        text-align: right;
        font-size: smaller;
        font-weight: normal;
      }
      .buttons {
        grid-column: 1 / -1;
        grid-row: 3;
        justify-self: end;
      }

      @media (min-width: 768px){
        grid-template-columns: repeat(4, minmax(1px, max-content));
        grid-template-rows: auto;
        align-items: center;
        column-gap: 1rem;
        .number {
          grid-column: 1;
          grid-row: 1;
        }
        .avatar-link {
          grid-column: 2;
          grid-row: 1;
        }
        .time {
          grid-column: 3;
          grid-row: 1;
        }
        .buttons {
          grid-column: 4;
          grid-row: 1;
        }
      }
    }
  }

  .body {
    background-color: lighten($nanohana-iro, 35%);

    padding-left: 0;
    padding-right: 0;
    p {
      padding: 1rem;
    }
    .images {
      img {
        width: 100%;
      }
    }
    // http://www.02320.net/tech/blockquote-css-design/
    blockquote {
      margin:      1rem 0.5rem 0.75rem 1.25rem;
      border-left: 4px solid lighten($sumi, 75%);
      p {
        padding:     0.25rem 0rem 0.25rem 0.5rem;
        font-size:   0.9rem;
      }
      & + p {
        margin-top: 0;
        padding-top: 0.25rem;
      }
    }

    @media (min-width: 768px) {
      padding: 1rem 0 1rem 1rem;
      blockquote {
        margin:      0.5rem 0rem 0.5rem 1.6rem;
        padding:     0.25rem 0rem 0.25rem 0.5rem;
        p {
          font-size:   0.95rem;
          margin-bottom: 0;
        }
      }
    }
  }
}

/*=============================================================================
  調整
=============================================================================*/
