/* colors */
@import 'wa_no_iro'; // 和の色

$rails-red:         #aa2b34;
$sora-iro:          #a0d8ef;
$ruri-iro:          #1e50a2;
$hisui-iro:         #38b48b;
$shinju-iro:        #fffff1;
$sakura-iro:        #fef4f4;
$wakame-iro:        #e0ebaf;
$wakana-iro:        #d8e698;
$nanohana-iro:      #ffec47;
$tokiwa-midori:     #007b43;
$murasaki-suisho:   #e7e7eb; // 紫水晶
$kasumi-iro:        #c8c2c6; // 霞色
$geppaku-iro:       #eaf4fc; // 月白
$kompeki-iro:       #007bbb; // 紺碧
$ama-iro:           #2ca9e1; // 天色
$mizu-iro:          #bce2e8; // 水色
$sango-iro:         #f5b1aa; // 珊瑚色
$kuromidori:        #333631; // 黒緑
$shikkoku:          #0d0015; // 漆黒
$kinaka:            #ea5506; // 金赤
$momiji-iro:        #a61017; // 紅葉色
$kaki-iro:          #ed6d3d; // 柿色

$gray-medium-light: #eaeaea;
$gray-light       : #999;
$gray-lighter     : #ccc;

$gold             : #E6B422;
$silver           : #A0A0A0;
$bronze           : #8C4841;

.holiday  { color: $kinaka;     }
.weekday  { color: $kuromidori; }
.saturday { color: $ruri-iro;   }
.sunday   { color: $rails-red;  }

/////////////////// mixin /////////////////////////
@mixin topics {
  margin-top: 20px;

  padding: 0;
  @media (min-width: 768px) {
    padding: 20px;
  }


  // background: lighten($ajisaiao, 25%);
  // background: darken($sakura-iro, 2%);
  // background: lighten($mizu-iro, 10%);
  // background: lighten($ama-iro, 43%);
  // background: lighten($momiji-iro, 60%);
  // background-color: transparentize(lighten( $momiji-iro, 30% ), 0.8);
  // background: lighten($momiji-iro, 70%);
  background: lighten($tokiwa-midori, 75%);
  // background: $geppaku-iro;
  // background: transparentize($nanohana-iro, 0.3);
  // background-color: transparentize(lighten( $nanohana-iro, 20% ), 0.2);
  opacity: 0.85;
  border: 3px double $tokiwa-midori;
  // border: 3px double $momiji-iro;
  // border: 3px double $ruri-iro;
  // border: 3px double $rails-red;
  color: $sumi;
  box-shadow: 1px 1px 2px $sumi;

  // span {
  //   &.number {
  //     font-size: 1.25rem;
  //     // padding-right: 10px;
  //   }
  //   &.name {
  //     color: $momiji-iro;
  //     padding-right: 5px;
  //   }
  //   &.date {
  //     font-weight: normal;
  //     font-size: 14px;
  //   }
  // }

  & > .topic-header {
    font-size: 24px;
    // [topic_id]
    // color:       $ruri-iro;
    // color:       $momiji-iro;
    // color:       darken($tokiwa-midori, 20%);
    // text-shadow: 1px 1px 2px $kompeki-iro;
    // text-shadow: 1px 1px 2px $nanohana-iro;
    // text-shadow: 1px 1px 2px $kaki-iro;

    // @topic.title
    a {
      color: darken($ajisaiao, 30%);
      text-shadow: 1px 1px 2px $ajisaiao;
      // text-shadow: 1px 1px 2px $kompeki-iro;
      // text-shadow: 1px 1px 2px $momiji-iro;
      // text-shadow: 1px 1px 2px $nanohana-iro;
      margin: 0 0.25rem;
    }
  }



  .card > .card-body {
    padding: 1.25rem 0rem 0rem 2rem;


    h1 { font-size: 2.00rem; margin-top: 0; margin-bottom: 0; }
    h2 { font-size: 1.50rem; margin-top: 0; margin-bottom: 0; }
    h3 { font-size: 1.25rem; margin-top: 0; margin-bottom: 0; }
    h4 { font-size: 1.00rem; margin-top: 0; margin-bottom: 0; }
    h5 { font-size: 0.85rem; margin-top: 0; margin-bottom: 0; }
    h6 { font-size: 0.75rem; margin-top: 0; margin-bottom: 0; }

    // http://www.02320.net/tech/blockquote-css-design/
    blockquote {
      position:    relative;
      margin:      0.75rem 0rem 0.75rem 1.6rem;
      padding:     0.5rem 0rem 0.5rem 0.75rem;
      font-size:   0.9rem;
      border-left: 4px solid lighten($silver, 25%);
      p {
        margin-bottom: 0;
      }
    }

    .code {
      display:     block;
      position:    relative;
      margin:      0.75rem 0rem 0.75rem 1.6rem;
      padding:     0.5rem 0rem 0.5rem 0.75rem;
      font-size:   0.9rem;
      background:  #f7f7f9;
      pre {
        margin-bottom: 0;
      }
      border-radius: 5px;
      p {
        margin-bottom: 0;
      }
    }

    code {
      color: black;
      p {
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: 1rem;
    }

    img {
      max-width: 100%;
    }

    hr {
      width: 90%;
    }
  }
}

/***********************************************************
 * 共通 スタイル設定
 ***********************************************************/
@mixin link_style {
 text-decoration: none;
 border-bottom  : 1px dotted #999 !important;
}

@mixin no_link_style {
 text-decoration: none;
}

a {
  color: $amairo2;
  &:hover {
    color: $kompeki-iro;
  }
}


/////////////////// select box /////////////////////
.select2-selection__rendered {
  text-align: center;
}
.select2-results__option {
  text-align: center;
}

/////////////////// ランキング表 ///////////////////
.gold   { background-color: $gold;   color: white; }
.silver { background-color: $silver; color: white; }
.bronze { background-color: $bronze; color: white; }
.prize  { font-weight: bold; font-size: larger; }
.non_prize  { font-weight: normal; font-size: small; }

// vm: vertical-align: middle
.vm { vertical-align: middle !important; }
// vl: vertival left line
.vl,
.vl {
  border-left:solid 1px silver;
}
// bl: bold line
.bl,
.bl {
  border-top: double 3px silver !important;
}

/////////////////// avatar-link ///////////////////
a.avatar-link {
  font-size: 1.5rem;
}

h1 {
  a.avatar-link {
    font-size: 2rem;
  }
}

/////////////////// custom-file-input ////////////////////////
.form-group {
  margin-bottom: 0;
}
.form-control {
  padding: .25rem .25rem;
  border-radius: 4px;
}
.custom-file-control {
  padding: 0.4rem 0.2rem;
}
.custom-file-label-pdf::after {
  content: "PDF選択";
}
.custom-file-label-image::after {
  content: "写真選択";
}
.custom-file-label-excel::after {
  content: "エクセル ファイル 選択";
}
.custom-file-label-kifu-or-image::after {
  content: "棋譜/画像選択";
}

blockquote {
  position:    relative;
  margin:      0.75rem 0rem 0.75rem 1.6rem;
  padding:     0.5rem 0rem 0.5rem 0.75rem;
  font-size:   0.9rem;
  border-left: 4px solid lighten($silver, 25%);
  p {
    margin-bottom: 0;
  }
}

.holiday  { color: $kinaka;     }
.weekday  { color: $kuromidori; }
.saturday { color: $ruri-iro;   }
.sunday   { color: $rails-red;  }

a.game_date {
  &.holiday  { color: $kinaka;     font-weight: bold; }
  &.weekday  { color: $kuromidori; font-weight: bold; }
  &.saturday { color: $ruri-iro;   font-weight: bold; }
  &.sunday   { color: $rails-red;  font-weight: bold; }
  &[data-target='matchup_show_no_kifu'] {
    span {
      @include no_link_style;
    }
  }
  &[data-target='#matchup_schedule_and_result'],
  &[data-target='#matchup_show_kifu']{
    span {
      @include link_style;
    }
  }
}

.tab_design {
  padding: 20px 20px;
  background: transparentize($sakura-iro, 0.7);
  opacity: 0.85;
  border: 1px solid #ff64b1;
  color: black;
  h4.space {
    letter-spacing: 15px;
  }
  li {
    margin: 10px;
  }
  article {
    margin-left: 2em;
    margin-bottom: 40px;
  }
}

/*-----------------------------------------------------------------------------
  新着スレッド
-----------------------------------------------------------------------------*/
.topic_titles {
  font-size: 16px;
  line-height: 1.8;
  a {
    margin-right: 1rem;
    color:       $tokiwa-midori;
    text-shadow: 1px 1px 2px $sumi;
    letter-spacing: 1px;
  }
  span.committee {
    a {
      color: $ama-iro;
    }
  }
}

.container > h1 {
  // color: $ruri-iro;
  // color: $momiji-iro;
  color: $tokiwa-midori;
  font-size: 1.5 em;
  letter-spacing: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 2px 2px $wakana-iro;
  // text-shadow: 2px 2px $kaki-iro;
  span {
    font-size: 90%;
    letter-spacing: -1px;
  }
}

.container > h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

/* pagination */
.pagination > .active > a {
  background-color: darken($tokiwa-midori, 20) !important;
  border-color: $tokiwa-midori !important;
  color: white !important;
}

/* gravatar */
.gravatar {
  margin: 0px;
}

/* 説明文 */
.explain {
  margin-bottom: 10px;
  padding: 25px 15px 15px 15px;
  background: lighten($tokiwa-midori, 75%);
  border: 3px double $sumi;
  box-shadow: 1px 1px 2px $sumi;
  color: $sumi;
  ol {
    list-style-type: number;
  }
}

.topics {
  @include topics;
  & > h3 {
    margin-top: 0px;
    padding: 10px 10px 10px 10px;
    text-shadow: 1px 1px 2px $nanohana-iro;
  }
}

.form_design {
  @include topics;
}

p.no_appeal_message {
  margin-left: 30px;
  margin-top: 10px;
}

.link_collection.table {
  td {
    vertical-align: top;
    p {
      margin: 0;
    }
  }
}

/* miscellaneous */
hr {
  height: 1px;
  // background-color: $ruri-iro;
  // background-color: $momiji-iro;
  background-color: $tokiwa-midori;
}

.debug_dump {
  width:            100%;
  margin-top:       2rem;
  padding:          2rem;
  border-radius:    1rem;
  background-color: $sakura-iro;
}

.recaptcha {
  margin-bottom: 1rem;
}

// hoverの色
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: lighten($tokiwa-midori, 50%);
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   // border: 0.5px solid darken($kaki-iro, 10%);
   border: 0.5px solid darken($tokiwa-midori, 10%);
}

// list-style-type
.none        { list-style-type: none; }        // なし
.disc        { list-style-type: disc; }        // 黒丸
.circle      { list-style-type: circle; }      // 白丸
.lower-roman { list-style-type: circle; }      // 小文字のローマ数字
.decimal     { list-style-type: decimal; }     // 算用数字
.lower-alpha { list-style-type: lower-alpha; } // 小文字のアルファベット

.attention {
  color: $rails-red;
}
