.cursorily {
  cursor: pointer;
}

.hov:hover {
  color: #000;
}

.ico-size-month {
  font-size:   26px;
  line-height: 26px;
}

.dp_modal-win {
  position: fixed;
  left:     0;
  top:      0;
  width:    100%;
  height:   100%;
  z-index:  1999;
}

.dp_modal-content {
  background:    #fff;
  border-radius: 10px;
  border:        1px solid #01adff;
  width:         312px;
  position:      absolute;
  z-index:       2000;
  top:           100px;
  left:          100px;
  font-size:     16px;
  font-weight:   normal;
  margin-right:  10vw;
}

.dp_modal-cell-date {
  width:         312px;
  float:         right;
  margin-bottom: 22px;
  margin-top:    6px;
}

.dp_modal-months {
  color:      #7d7d7d;
  text-align: center;
  font-size:  20px;
  padding:    0 20px;
}

.dp_modal-months span {
  display: inline-block;
  padding: 10px 20px;
  width:   182px;
}

.dp_modal-calendar {
  width:       266px;
  margin-left: 22px;
}

.dp_modal-calendar-cell {
  width:      38px;
  padding:    7px 0;
  display:    inline-block;
  text-align: center;
}

.dp_modal-cell-selected {
  background:    #bd1e48;
  color:         white !important;
  border-radius: 48%;
  transition:    background 1s ease-out;
}

.dp_sunday    { color: #aa2b34; }
.dp_monday    { color: #333631; }
.dp_tuesday   { color: #333631; }
.dp_wednesday { color: #333631; }
.dp_thursday  { color: #333631; }
.dp_friday    { color: #333631; }
.dp_saturday  { color: #1e50a2; }
.dp_holiday   { color: #ea5506 !important; }
