/*=============================================================================
  Dropdown Menu
  https://codepen.io/pedronauck/pen/jaluz
=============================================================================*/
.drawer.menu {
  width: 100vw;
  margin: 0;

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }

  left: 0;
}

// =============================================================================
//  Mixins and Variables
// =============================================================================

$top-menu-color: lighten($utsushiiro, 5%);
$sub-menu-color: lighten($nanohana-iro, 15%);

@mixin ul-nostyle {
  list-style: none;
  padding: 0;
  margin: 0;
}

// offset-x | offset-y | blur-radius | color
@mixin box-shadow($shadow1, $shadow2) {
  box-shadow: $shadow1, $shadow2;
}

@mixin double-shadow($color) {
  @include box-shadow(0 1px 0 lighten($color, 10%) inset,
                      0 -1px 0 darken($color, 10%) inset);
}

@mixin hover-style($color) {
  &:hover {
    background: lighten($color, 3%);
  }
}

@mixin animation($content) {
  animation: $content;
}

@mixin keyframes($name) {
  @keyframes #{$name} { @content; }
}

// =============================================================================
//  Classes
// =============================================================================
.dropdown {
  position: relative;

  a { text-decoration: none; }

  [data-toggle="dropdown"] {
    display: block;
    color: white;
    background: $top-menu-color;
    @include double-shadow($top-menu-color);
    @include hover-style($top-menu-color);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    padding: 10px;

    &:not(.only):before {
      position: absolute;
      display: block;
      content: '\25BC';
      font-size: 0.7em;
      color: #fff;
      top: 13px;
      right: 10px;
      transform: rotate(0deg);
      transition: transform .6s;
    }
  }

  & > .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    @include ul-nostyle;
    transform: scaleY(0);
    transform-origin: 50%, 0%;
    transition: max-height .6s ease-out;
    animation: hideAnimation .4s ease-out;

    li {
      padding: 0;

      a {
        display: block;
        color: darken($sub-menu-color, 75%);
        background: $sub-menu-color;
        @include double-shadow($sub-menu-color);
        @include hover-style($sub-menu-color);
        text-shadow: 0 -1px 0 rgba(255,255,255,0.3);
        padding: 10px 10px;
      }
    }
  }

  & > input[type="checkbox"] {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:checked ~ .dropdown-menu {
      max-height: 9999px;
      display: block;
      transform: scaleY(1);
      animation: showAnimation .5s ease-in-out;
      transition: max-height 2s ease-in-out;
    }

    &:checked + a[data-toggle="dropdown"] {
      &:before {
        transform: rotate(-180deg);
        transition: transform .6s;
      }
    }
  }
}

@include keyframes(showAnimation) {
  0% {
    transform: scaleY(0.1);
  }
  // 40% {
  //   transform: scaleY(1.04);
  // }
  // 60% {
  //   transform: scaleY(0.98);
  // }
  // 80% {
  //   transform: scaleY(1.04);
  // }
  // 100% {
  //   transform: scaleY(0.98);
  // }
  // 80% {
  //   transform: scaleY(1.02);
  // }
  100% {
    transform: scaleY(1);
  }
}

@include keyframes(hideAnimation) {
  0% {
    transform: scaleY(1);
  }
  // 60% {
  //   transform: scaleY(0.98);
  // }
  // 80% {
  //   transform: scaleY(1.02);
  // }
  100% {
    transform: scaleY(0);
  }
}
