/***********************************************************
 * tableのためのスタイル設定
 ***********************************************************/
// table {
//   border-collapse: collapse;
//   text-align: center;
//   margin: 10px 10px;
//   background: transparent;
//   width: 90%;
// }
// caption {
//   color: black;
//   font-size: medium;
//   caption-side: left;
// }
// th {
//   background: #f2d673;
//   background: linear-gradient(rgba(192,255,161,0.57) 0%, rgba(71,255,25,0.67) 100%);
//   text-align: center;
// }
// th, td {
//   height: 48px;
//   border: 1px solid #fa8fe4;
// }
// tr, td {
//   font-size: 12px;
// }
// #kachiten td {
//   height: 24px;
//   border: 1px solid #659d8e;
// }
// #kachiten .hoshi {
//   background-color: #b0fae6;
//   background: linear-gradient(#f7face 0%, #f8eb5a 64.24%);
//   width: 40%;
//   color: #7a7a7a; font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGOTHIC', sans-serif;
// }
// #kachiten .ten {
//   background-color: #abc1ea;
//   background: linear-gradient(#faefcc 0%, #f8c65a 64.24%);
//   width: 20%;
//   color: #7a7a7a; font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGOTHIC', sans-serif;
// }
// .team_name {
//   width: 12%;
// }
// .handle_name {
//   width: 17%;
// }
// .note {
//   width: 20%;
// }
// .east {
//   background: white;
//   background: linear-gradient(#ffffff 0%, rgba(255,253,212,0.64) 100%);
// }
// .west {
//   background: red;
//   background: linear-gradient(#ffb4b4 0%, #ff1414 100%);
// }
// p {
//   margin-left: 20px;
//   margin-top: 10px;
// }
//
// // 要項の文字の大きさ調整
// h3 {
//   font-size: 1.25em;
// }

/***********************************************************
 * 要項トップ
 ***********************************************************/
.header {
  padding: 2rem;
}

.circle_name {
  font-size: 1.2rem;
  color:     royalblue;
}

.guideline {
  font-size: 1.8rem;
  color:     deeppink;
}

.holding_method {
  font-size: 1.1rem;
  font-weight: normal;
  color:     seagreen;
}

.open_date {
  font-size: 1rem;
  color: gray;
}

/***********************************************************
 * モーダルウィンドウのためのスタイル設定
 ***********************************************************/
#create_entry {
  .modal-content {
    background-image: image-url('chiyo04.gif');
  }
}

/***********************************************************
 * 棋戦開催日程
 ***********************************************************/
table.kisens_schedule {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  background: white;

  .kisei   { background: linear-gradient(#f492e5 28.15%, #d616e0 78.48%); }
  .ohza    { background: linear-gradient(#6bf284 30.79%, #16ae5a 80.13%); }
  .meijin   { background: linear-gradient(#7ee6f1 30.79%, #5f92db 80.13%); }
  // .meijin  { background: linear-gradient(#ca7ef3 30.79%, #9f2aed 80.13%); }
  .kioh    { background: linear-gradient(#f3db7e 30.79%, #f48c25 80.13%); }
  // .ohsho   { background: linear-gradient(#f48c25 30.79%, #fb4605 90.13%); }
  .ohsho     { background: linear-gradient(#fafa85 30.79%, #e9ed0c 97.68%); }  th.ohsho:first-child {
  color: black !important;
  }
  .shinjin { background: linear-gradient(#8af7f0 30.79%, #07e8fc 88.74%); }
  .ryuoh   { background: linear-gradient(#8d7ef3 30.79%, #433ef6 90.73%); }

  & thead th {
    text-align: center;
    &:last-child {
      border-right: 1px solid #333;
    }
    color: white;
    background: linear-gradient(#534e52 28.15%, #0b0a0b 78.48%);
  }

  & tbody th {
    text-align: center;
    border: 1px solid #333;
    &:first-child {
      color: white;
    }
  }

  & td {
    border-bottom: 1px solid #333;
    height: 48px;
    &:nth-child(1) {
      border: 1px solid #333;
    }
    &:nth-child(3n+1) {
      border-right: 1px solid #333;
    }
  }
}
