/***********************************************************
 * mixin variables 定義
 ***********************************************************/
$rails-red:         #AA2B34;
$ruri-iro:          #1E50A2;
$sango-iro:         #f5b1aa; // 珊瑚色
$kuromidori:        #333631; // 黒緑
$kinaka:            #ea5506; // 金赤

// 冪乗を返す関数
@function power($x, $y) {
  @if $y < 0 {
    @return 0;
  } @else if $y == 0 {
    @return 1;
  }

  $result: 1;  // $result = 1; ではない
  @for $i from 1 through $y {
    $result: $result * $x;
  }
  @return $result;
}

// 奇数なら1を返す
@function odd($n){
  @if $n % 2 == 1 {
    @return 1;
  } @else {
    @return 0;
  }
}

// 偶数なら1を返す
@function even($n){
  @if $n % 2 == 0 {
    @return 1;
  } @else {
    @return 0;
  }
}

@mixin basic_style {
  font-size  : 16px;
  line-height: 1.6;
  text-align : center;
  position   : relative;
  ul li {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    list-style-type: none;
    span {
      display: block;
    }
  }
}

@mixin link_style {
  text-decoration: none;
  border-bottom  : 1px dotted #999 !important;
}

@mixin player_style {
  left: 6px;
  span {
    border     : 1px solid #999;
    width      : 150px;
    padding    : 4px 6px;
    font-size  : 12px;
    line-height: 1.4;
    height     : 26px;
    text-align : left;
  }
}

@mixin span_style {
  span {
    width      : 48px;
    height     : 24px;
    line-height: 24px;
    color      : black;
    font-size  : 10px;
    text-align : center;
  }
}

@mixin date_style {
  width      : 71px;
  height     : 19px;
  text-align : center;
  font-weight: bold;
  color      : black;
  span {
    line-height: 19px;
    padding    : 0px;
    width      : 60px;
    a {
      @include link_style;
    }
  }
}

@mixin line_style {
  .line {
    div     { background: #bababa; }  // 未対局・敗者
    div.win { background: #e2041b; }  // 勝者
    .h {
      position: absolute;
      overflow: hidden;
      height  : 4px;
    }
    .v {
      position: absolute;
      overflow: hidden;
      width   : 4px;
    }
  }
}

/***********************************************************
 * 対戦表（リーグ戦）のためのスタイル設定
 ***********************************************************/
table.league {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  // margin-bottom: 30px;
  th {
    background: #ffec47;
    text-align: center;
    padding: 5px;
    font-size: small;
    text-align: center;
  }
  td {
    border: 1px solid #333;
    height: 24px;
    background: white;
    padding: 5px;
    font-size: small;
    span {
      // display: block;
      // height: 20px;
    }
  }
  .group           { width: 40px; }
  .handle_name     { width: 80px; text-align: left; }
  th.handle_name   { width: 80px; text-align: center; }
  .rating          { width: 50px; }
  .group_ranking,
  .win_and_lose,
  .point           { width: 40px; }
  .schedule        {
    width: 50px;
  }
  .note            { width: 80px; }
  &.a_group tbody tr th:first-child {
    background-color: rgb(240, 131, 0);
  }
  &.b_group tbody tr th:first-child {
    background-color: rgb(104, 190, 141);
  }
  &.c_group tbody tr th:first-child {
    background-color: rgb(160, 216, 239);
  }
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
}

/***********************************************************
 * トーナメント表のためのスタイル設定
 ***********************************************************/
.tournament {
  @include basic_style;
}

/* 対局者　位置決め */
.tournament ul.player li {
  @include player_style;
  @for $n from 1 through 16 {
    /* 一回戦からの出場 */
    &.n#{$n}         { top: -63px                       + 54px * $n; }
    /* 一回戦だけシード */
    @if $n % 2 == 1 {
      &.n#{$n}.seed1 { top: -63px + 27px                + 54px * $n; }
    }
    /* 二回戦までシード */
    @if $n % 4 == 1 {
      &.n#{$n}.seed2 { top: -63px + 27px + 54px         + 54px * $n; }
    }
    /* 三回戦までシード */
    @if $n % 8 == 1 {
      &.n#{$n}.seed3 { top: -63px + 27px + 54px + 108px + 54px * $n; }
    }
  }
}

/* 対局日　位置合わせ */
.tournament ul.date li {
  @include date_style;
  /* 通常の対局 */
  &.r1 {
    left: 180px;
    @for $n from 1 through 8 {
      &.n#{$n} { top: -59px - 27px                        + 108px * $n; }
    }
  }
  &.r2 {
    left: 180px + 84px;
    @for $n from 1 through 4 {
      &.n#{$n} { top: -59px - 27px - 54px                 + 216px * $n; }
    }
  }
  &.r3 {
    left: 180px + 84px + 84px;
    @for $n from 1 through 2 {
      &.n#{$n} { top: -59px - 27px - 54px - 108px         + 432px * $n; }
    }
  }
  &.r4 {
    left: 180px + 84px + 84px + 84px;
    @for $n from 1 through 1 {
      &.n#{$n} { top: -59px - 27px - 54px - 108px - 216px + 864px * $n; }
    }
  }
}

  /* タイトルマッチの対局 */
// top: if r == 1 then 27px
// top: if r == 2 then 27px + 54px
// top: if r == 3 then 27px + 54px + 108px
// top: 27 * (2**r -1)
.tournament ul.title_match li {
  @for $r from 1 through 4 {
    &.date.r#{$r} {
      top: -56px + 27px * (power(2, $r) - 1);
      @for $n from 1 through 3 {
        &.n#{$n} { left: 186px + 88px*$r + 70*$n; }
      }
    }
    &.up.teai.r#{$r} {
      @include span_style;
      top: -36px + 27px * (power(2, $r) - 1);
      @for $n from 1 through 3 {
        &.n#{$n} { left: 186px + 88px*$r + 70*$n; }
      }
    }
    &.up.hoshi.r#{$r} {
      @include span_style;
      top: -16px + 27px * (power(2, $r) - 1);
      @for $n from 1 through 3 {
        &.n#{$n} { left: 186px + 88px*$r + 70*$n; }
      }
    }
    &.down.hoshi.r#{$r} {
      @include span_style;
      top: 4px + 27px * (power(2, $r) - 1);
      @for $n from 1 through 3 {
        &.n#{$n} { left: 186px + 88px*$r + 70*$n; }
      }
    }
    &.down.teai.r#{$r} {
      @include span_style;
      top: 24px + 27px * (power(2, $r) - 1);
      @for $n from 1 through 3 {
        &.n#{$n} { left: 186px + 88px*$r + 70*$n; }
      }
    }
  }
}

/* 手合い, 理由 */
.tournament ul.teai_or_reason li {
  @include span_style;
  /* 不戦勝/不戦敗 位置合わせ */
  &.r1 {
    left: 246px;
    @for $n from 1 through 16 {
      &.n#{$n} { top:  8px                       + 24px * even($n) + 108px * floor(($n - 1)/2); }
    }
  }
  &.r2 {
    left: 246px + 84px;
    @for $n from 1 through 8 {
      &.n#{$n} { top: 8px + 54px                 + 24px * even($n) + 218px * floor(($n - 1)/2); }
    }
  }
  &.r3 {
    left: 246px + 84px + 84px;
    @for $n from 1 through 4 {
      &.n#{$n} { top: 8px + 54px + 108px         + 24px * even($n) + 432px * floor(($n - 1)/2); }
    }
  }
  &.r4 {
    left: 246px + 84px + 84px + 84px;
    @for $n from 1 through 2 {
      &.n#{$n} { top: 8px + 54px + 108px + 216px + 24px * even($n) + 864px * floor(($n - 1)/2); }
    }
  }
}

/* トーナメント表の線を引く (横線) */
/* 一回戦 */
.tournament {
  @include line_style;
  .r1.h {
    width: 88px;
    left : 170px;
    @for $n from 1 through 16 {
      &.n#{$n}         { top: -42px                       + 54px * $n; }
      /* シード扱いのとき */
      @if $n % 2 == 1 {
        &.n#{$n}.seed1 { top: -42px + 27px                + 54px * $n; }
      }
      /* いきなり2回戦までシード扱いのとき　*/
      @if $n % 4 == 1 {
        &.n#{$n}.seed2 { top: -42px + 27px + 54px         + 54px * $n; }
      }
      /* いきなり3回戦までシード扱いのとき　*/
      @if $n % 8 == 1 {
        &.n#{$n}.seed3 { top: -42px + 27px + 54px + 108px + 54px * $n; }
      }
    }
  }

  /* 二回戦 */
  .r2.h {
    width: 88px;
    left : 170px + 84px;
    @for $n from 1 through 8 {
      &.n#{$n}         { top: -42px - 27px                + 108px * $n; }
      /* いきなり2回戦までシード扱いのとき　*/
      @if $n % 2 == 1 {
        &.n#{$n}.seed2 { top: -42px - 27px + 54px         + 108px * $n; }
      }
      /* いきなり3回戦までシード扱いのとき　*/
      @if $n % 4 == 1 {
        &.n#{$n}.seed3 { top: -42px - 27px + 54px + 108px + 108px * $n; }
      }
    }
  }

  /* 三回戦 */
  .r3.h {
    width: 88px;
    left : 170px + 84px + 84px;
    @for $n from 1 through 4 {
      &.n#{$n}         { top: -42px - 27px - 54px         + 216px * $n; }
      /* いきなり3回戦までシード扱いのとき　*/
      @if $n % 2 == 1 {
        &.n#{$n}.seed3 { top: -42px - 27px - 54px + 108px + 216px * $n; }
      }
    }
  }

  /* 四回戦 */
  .r4.h {
    width: 88px;
    left : 170px + 84px + 84px + 84px;
    @for $n from 1 through 2 {
      &.n#{$n}         { top: -42px - 27px - 54px - 108px + 432px * $n; }
    }
  }

  /* 五回戦 */
  .r5.h {
    width: 88px;
    left : 170px + 84px + 84px + 84px + 84px;
    @for $n from 1 through 1 {
      &.n#{$n}         { top: -42px - 27px - 54px - 108px - 216px + 864px * $n; }
    }
  }
}

/* トーナメント表の線を引く (縦線) */
.tournament {
  /* 一回戦 */
  .r1.v {
    height:  27px - 4px;
    left  : 254px;
    @for $n from 1 through 16 {
      &.n#{$n} { top: 16px + 27px * even($n) + 108px * floor(($n - 1)/2); }
    }
  }
  /* 二回戦 */
  .r2.v {
    height: 27px * 2 - 4px;
    left  : 338px;
    @for $n from 1 through 8 {
      &.n#{$n} { top: 43px + 54px * even($n) + 216px * floor(($n - 1)/2); }
    }
  }
  /* 三回戦 */
  .r3.v {
    height: 27px * 4 - 4px;
    left  : 422px;
    @for $n from 1 through 4 {
      &.n#{$n} { top: 97px + 108px * even($n) + 432px * floor(($n - 1)/2); }
    }
  }
  /* 四回戦 */
  .r4.v {
    height: 27px * 8 - 4px;
    left  : 506px;
    @for $n from 1 through 2 {
      &.n#{$n} { top: 205px + 216px * even($n) + 864px * floor(($n - 1)/2); }
    }
  }
}

/***********************************************************
 * パラマストーナメント表のためのスタイル設定
 ***********************************************************/
.paramus {
  @include basic_style;
  @include line_style;

  /* 対局者　位置決め */
  ul.player li {
    @include player_style;
    @for $i from 1 through 9 {
      &.n#{$i} { top: 54px * ($i - 1); }
    }
  }
}

/* 理由 */
.paramus ul.reason li {
  @include span_style;
  @for $i from 1 through 8 {
    &.n#{$i} {
      left: 202px + (40px * $i);
    }
    &.n#{$i}.up {
      top: -41px + (54px * $i);
    }
    &.n#{$i}.down {
      top: -13px + (54px * $i);
    }
  }
}

/* 対局日　位置合わせ */
.paramus ul.date li {
  @include date_style;
  @for $n from 1 through 8 {
    &.n#{$n} {
      left: 140px + (40px * $n);
      top:  -25px + (54px * $n);
    }
  }
}

/* トーナメント表の線を引く */
.paramus {
  @include line_style;
  /* 横線 */
  .r1.h.up        { left: 170px; top:20px; width: 88px; }
  @for $i from 2 through 9 {
    .r#{$i}.h.up  { left: 174px+(40px*$i); top:-61px+(54px*$i); width: 44px; }
  }
  @for $i from 1 through 8 {
    .r#{$i}.h.down { left: 170px; top:20px+(54px*$i); width: 48px+(40px*$i); }
  }

  /* 縦線 */
  .v.up       { height: 51px; }
  .v.down     { height: 23px; }
  .r1.v.up    { left: 254px; top:24px; height: 23px; }
  .r1.v.down  { left: 254px; top:51px; height: 23px; }
  @for $i from 2 through 8 {
    .r#{$i}.v.up   { left: 214px+(40px*$i); top: -57px+(54px*$i); }
    .r#{$i}.v.down { left: 214px+(40px*$i); top:  -3px+(54px*$i); }
  }
}

/***********************************************************
 * 東西戦 tableのためのスタイル設定
 ***********************************************************/
table.team_competition {
  border-collapse: collapse;
  text-align: center;
  margin: 10px 10px;
  background: transparent;

  width: 90%;
  th {
    background: #f2d673;
    background: linear-gradient(rgba(192,255,161,0.57) 0%, rgba(71,255,25,0.67) 100%);
    text-align: center;
  }
  th, td {
    height: 48px;
  }
  .team_name   { width: 10%; }
  .handle_name { width: 20%; }
  .note        { width: 20%; }
  .east th,
  .east td {
    background: linear-gradient(#ffffff 0%, rgba(255,253,212,0.64) 100%);
  }
  .result th,
  .result td {
    text-align: center;
    span {
      display: block;
      height:  20px;
      width: 80px;
      margin: auto;
      &.schedule {
        margin-top:    3px;
        margin-bottom: 3px;
      }
      &.teai {
        font-size: small;
      }
    }
    background: transparent;
    padding: 5px;
    margin: 0;
  }
  .west th,
  .west td {
    background: linear-gradient(#ffb4b4 0%, #ff1414 100%);
  }
}


/* カラー設定 */
.area {
  padding      : 20px;
  border-radius: 10px;
  box-shadow   : 5px 5px 5px 5px rgba(0,0,0,0.3);
  margin-bottom: 20px;
  margin-left  : 20px;
  margin-right : 20px;
  &.kisei   { background: linear-gradient(#f9d1f3 39.07%, #f670fd 100%); }
  &.ohza    { background: linear-gradient(#d9fad3 39.07%, #58f546 100%); }
  &.tozai   { background: linear-gradient(#d3effa 39.07%, #befdff 100%); }
  &.meijin  { background: linear-gradient(#d3ecfa 39.07%, #6fa1fd 100%); }
  &.kioh    { background: linear-gradient(#ffffff 30.79%, #ffe5cb 80.13%); }
  &.ohsho   { background: linear-gradient(#f0cdaa 30.79%, #ec9a7c 80.13%); }
  &.ohi     { background: linear-gradient(#dcffe4 13.58%, #b5ffae 89.74%); }
  &.shinjin { background: linear-gradient(#dcfad4 30.79%, #8ef419 80.13%); }
  &.ryuoh   { background: linear-gradient(#d5f9fa 30.79%, #18d4f5 80.13%); }
}

/***********************************************************
 * 対局表トップ
 ***********************************************************/
.header {
  padding: 2rem;
}

.circle_name {
  font-size: 1.2rem;
  color:     royalblue;
}

.guideline {
  font-size: 1.8rem;
  color:     deeppink;
}

.holding_method {
  font-size: 1.1rem;
  font-weight: normal;
  color:     seagreen;
}

.open_date {
  font-size: 1rem;
  color: gray;
}

.updated_at {
  font-size: 0.8rem;
  color: slategray;
}


/***********************************************************
 * 勝利者欄のためのスタイル設定
 ***********************************************************/
.winner {
  list-style: none;
  margin: 30px 0px;
  li {
    width: 92.5%;
    background : linear-gradient(#fffcd9 30.79%, #ffeca0 80.13%);
    border     : 1px solid #999;
    text-align : center;
    font-size  : 14pt;
    padding-top: 4pt;
    color      : #057109;
    span:nth-child(1) {
      display   : inline-block;
      // width     : 240px;
      text-align: left;
    }
    span:nth-child(2) {
      display   : inline-block;
      // width     : 130px;
      text-align: left;
    }
    span:nth-child(3) {
      display   : inline-block;
      // width     : 4em;
      text-align: left;
    }
    &:first-child {
      border-top-left-radius : 8px;
      border-top-right-radius: 8px;
    }
    &:last-child {
      border-bottom-left-radius : 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

/***********************************************************
 * モーダルウィンドウのためのスタイル設定
 ***********************************************************/
#matchup_schedule_and_result {
  .modal-content {
    background-image: image-url('chiyo07.gif');
  }
}
#matchup_show_kifu {
  background-image: image-url('chiyo10.gif');
  .modal-content {
    background: ivory;
    width: 700px;
  }
}
