//colors
$color_cinnabar_approx: #e44444;
$white: #fff;
$color_broom_approx: #f7f716;
$color_persian_blue_approx: #2e35f1;
$color_sweet_pink_approx: #f6a3a3;
$color_malachite_approx: #1bef3b;
$color_harlequin_approx: #48ee0c;
$color_chardonnay_approx: #f7c582;
$black:  black;
$color_oyster_bay_approx: #d9ffff;
$color_loafer_approx: #f1f2e0;
$color_fair_pink_approx: #ffeaea;
$color_night_rider_approx: #1a1515;
$color_red_approx: rgba(240,0,0,1);
$color_forest_green_approx: #218c31;
$color_evening_sea_approx: #005a42;
$color_falu_red_approx: #842117;
$color_bay_of_many_approx: #17428c;
$red: #ff0000;
$color_catalina_blue_approx: rgba(16,33,116,1);
$color_salem_approx: #008439;
$color_windsor_approx: rgba(62,15,123,1);
$color_monza_approx: #e20915;
$color_tory_blue_approx: #0f529c;
$color_apple_approx: #389c41;
$color_bitter_lemon_approx: #d7d902;
$color_mine_shaft_approx: #333333;
$color_dodger_blue_approx: #0f94f7;
$color_bunting_approx: rgba(25,17,75,1);
$color_vivid_violet_approx: #8e28a0;
$color_flamingo_approx: #e65920;
$color_bright_turquoise_approx: #00c9ff;
$color_siren_approx: #8d003a;
$color_torea_bay_approx: #173194;
$color_mariner_approx: #1e72d0;
$color_rock_approx: rgba(81,49,48,1);
$color_astronaut_approx: #243a6a;
$color_san_marino_approx: #4a73b5;
$color_korma_approx: #99470e;
$color_punga_approx: #4a3910;
$color_heath_approx: #5a0f17;
$color_dark_burgundy_approx: rgba(116,17,15,1);
$color_gorse_approx: #fcf74b;
$color_te_papa_green_approx: #215231;
$color_guardsman_red_approx: #bd0000;
$color_endeavour_approx: #0063ad;
$color_viridian_approx: #448770;
$color_azure_radiance_approx: #0793ff;
$color_crown_of_thorns_approx: rgba(116,34,34, 1);
$color_starship_approx: #efe742;
$color_lochmara_60_approx: rgba(0,121,186,0.6);
$blue: blue;
$color_malibu_approx: #7fc0fc;
$color_watusi_approx: #ffdfd0;
$color_blue_chalk_approx: #ebd7ff;
$color_sweet_corn_approx: #f9f08c;
$color_royal_purple_approx: rebeccapurple;

.hokkaido {
  background: $color_red_approx;
}
.aomori {
  background: $color_forest_green_approx;
}
.iwate {
  background: $color_evening_sea_approx;
}
.miyagi {
  background: $color_forest_green_approx;
}
.akita {
  background: $color_falu_red_approx;
}
.yamagata {
  background: $color_bay_of_many_approx;
}
.fukushima {
  background: $red;
}
.ibaragi {
  background: $color_catalina_blue_approx;
}
.tochigi {
  background: $color_salem_approx;
}
.gunma {
  background: $color_windsor_approx;
}
.saitama {
  background: $color_monza_approx;
}
.chiba {
  background: $color_tory_blue_approx;
}
.tokyo {
  background: $color_apple_approx;
}
.kanagawa {
  background: $red;
}
.niigata {
  background: $color_bitter_lemon_approx;
  color: $color_night_rider_approx;
}
.toyama {
  background: $color_forest_green_approx;
}
.ishikawa {
  background: $color_dodger_blue_approx;
}
.fukui {
  background: $color_bunting_approx;
}
.yamanashi {
  background: $color_vivid_violet_approx;
}
.nagano {
  background: $color_flamingo_approx;
}
.gifu {
  background: $color_forest_green_approx;
}
.shizuoka {
  background: $color_flamingo_approx;
}
.aichi {
  background: $color_falu_red_approx;
}
.mie {
  background: $color_apple_approx;
}
.shiga {
  background: $color_bright_turquoise_approx;
}
.kyoto {
  background: $color_siren_approx;
}
.osaka {
  background: $color_torea_bay_approx;
}
.hyogo {
  background: $color_mariner_approx;
}
.nara {
  background: $color_rock_approx;
}
.wakayama {
  background: $color_astronaut_approx;
}
.tottori {
  background: $color_san_marino_approx;
}
.shimane {
  background: $color_korma_approx;
}
.okayama {
  background: $color_punga_approx;
}
.hiroshima {
  background: $color_heath_approx;
}
.yamaguchi {
  background: $color_dark_burgundy_approx;
}
.tokushima {
  background: $color_gorse_approx;
  color: $color_night_rider_approx;
}
.kagawa {
  background: $color_te_papa_green_approx;
}
.ehime {
  background: $color_gorse_approx;
  color: $color_night_rider_approx;
}
.kochi {
  background: $color_guardsman_red_approx;
}
.fukuoka {
  background: $color_endeavour_approx;
}
.saga {
  background: $color_viridian_approx;
}
.nagasaki {
  background: $color_azure_radiance_approx;
}
.kumamoto {
  background: $color_crown_of_thorns_approx;
}
.oita {
  background: $color_red_approx;
}
.miyazaki {
  background: $color_starship_approx;
  color: $color_night_rider_approx;
}
.kagoshima {
  background: $color_red_approx;
}
.okinawa {
  background: $color_red_approx;
}
.overseas {
  background: $color_lochmara_60_approx;
}
