
@media (max-width: 480px) {

.ui.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* 将棋コンテナ */
.shogi_container {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows:
    [title]       auto
    [mochigoma_1] auto // debug
    [komadai_1] 9.5vw
    [player_1]    6vw
    [shogiban]    auto
    [player_0]    6vw
    [komadai_0] 9.5vw
    [mochigoma_0] auto; // debug

  width: 100%;
  height: 100%;
	margin: 0 auto;
  textarea {
    border: none;
  }
  & > * {
    grid-column: 1 / -1;
  }

  /**********************************************************************
   * selectbox用
   * 引用元 http://gihyo.jp/design/serial/01/jquery-site-production/0012
   **********************************************************************/
  .selectbox {
    display: none;
  }

  /* --- 棋譜再生速度 --- */
  .speed.selectbox {
    display: none;
  }

  /* --- 棋譜リスト --- */
  .list.selectbox {
    // display: none;
  }

  /* 将棋盤設定 */
  .shogiban {
    grid-column: 1 / -1;
    grid-row: shogiban;

    border-collapse: collapse;
    display: block;
  	z-index: 1;
  	width: 100vw;
    height: 109vw;
    background-image: image-url("shogiban.jpg");
    background-size: contain;
    background-size: 100vw 109vw;
  	white-space: nowrap;
  	border-collapse: collapse;

    /* 将棋盤の縁 */
    .u_fuchi {
      height: 4vw;
      font-size: 0;
    }
    .d_fuchi {
      height: 3vw;
    }
    .l_fuchi {
      width: 3vw;
    }
    .r_fuchi {
      width: 3vw;
      font-size: 0;
    }
  	td {
      width: 10.5vw;
      height: 11.2vw;
    }
    // td.invert {
    //   img {
    //     transform: rotate(180deg);
    //   }
  	// }
  }

  /* 駒台 */
  .komadai .invert {
    transform: rotate(180deg);
  }

  .komadai_1 {
    grid-row: komadai_1;
  	background-image: image-url("komadai1.jpg");

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    direction: rtl;
  }

  .komadai_0 {
    grid-row: komadai_0;
  	background-image: image-url("komadai0.jpg");

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    direction: rtl;
    // gap: -5px;
    // align-items: end;
  }

  // DOMに持ち駒の数を保持
  .mochigoma {
    display: none;
    // display: block;
  }
  .mochigoma_0 {
    grid-row: mochigoma_0;
  }
  .mochigoma_1 {
    grid-row: mochigoma_1;
  }

  /* 対局者名 */
  .player_name_0 { // 先手
    grid-row: player_0;
  	background-image: image-url("komadai0.jpg");
    p {
      padding: 0 0 0 0.5rem !important;
    }
  }

  .player_name_1 { // 後手
    grid-row: player_1;
  	background-image: image-url("komadai1.jpg");
    p {
      transform: rotate(180deg);
      padding: 0 0 0 0.5rem !important;
    }
  }

  /* 棋譜情報 */
  .kifu_info {
    grid-column: 1 / -1;
    grid-row: title;
    padding: 1rem;
    margin-bottom: 1rem;
    .kisen { font-size: larger; }
    .teai  { }
    .kaishi { }
  }

  /* --- 棋譜再生コントロールパネル --- */
  .kifu_player {
    grid-column: 1 / -1;
    grid-row: shogiban;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:    1fr 1fr;

    .kifu_first,
    .kifu_invert,
    .kifu_last,
    .kifu_prev,
    .kifu_play,
    .kifu_next {
      color: transparent;
      background: transparent;
    }
    .kifu_first {
      grid-column: 1;
      grid-row: 1;
    }
    .kifu_invert {
      grid-column: 2;
      grid-row: 1;
    }
    .kifu_last {
      grid-column: 3;
      grid-row: 1;
    }
    .kifu_prev {
      grid-column: 1;
      grid-row: 2;
    }
    .kifu_play {
      grid-column: 2;
      grid-row: 2;
    }
    .kifu_next {
      grid-column: 3;
      grid-row: 2;
    }
  }

  /* --- 棋譜コメント --- */
  .msgbox.selected {
    display: none;
  	// z-index: 1;
  	// position: absolute;
  	// top: (42px * 4 + 10px) + 6px + 35px;
  	// width: 134px;
  	// height: 419px - (42px * 4 + 10px) - 6px - 6px - 25px;
  	// border: 1px solid #888888;
  	// font-size: 9pt;
    // background: transparent;
    // border: none;
  }

  .comment {
    display: none;
  }

  /////////////////// opal_shogi /////////////////////
  .hidden {
    display: none;
  }
}

} // end of media query
