/* colors */
$sumi:              #171917; // 墨(すみ)
$usuzakura:         #fdeff2; // 薄桜(うすざくら)
$usuzumiiro:        #a3a3a2; // 薄墨色・淡墨色(うすずみいろ)

@media (min-width: 768px) {

/* 将棋コンテナ */
.shogi_container {
  // border: 3px solid orange; // debug

  width: 100%;        // .containerの幅100%
  position: relative; // .msgboxの起点

  display: grid;
  grid-template-columns: 18fr 51fr 18fr;
  grid-template-rows: 24fr 7.5fr 24fr 40px;
  gap: 10px;

  @media (min-width: 768px) {
    height: calc(402px + 10px + 40px);
    .shogiban {
      width: 370px;
      height: 398px;
      /* 将棋盤の縁 */
      .u_fuchi { height: 13px; text-align: center; font-size: 0; }
      .d_fuchi { height: 11px; }
      .l_fuchi { width: 14px; }
      .r_fuchi { width: 14px; vertical-align: middle; font-size: 0; }
      td {
        // border: 1px solid cyan;
      }
    }
  }
  @media (min-width: 992px) {
    height: calc((960px - 15px - 15px - 10px - 10px) * 51/(18+51+18) * 1.08766 + 40px);
    height: calc(583px + 10px + 40px);
    .shogiban {
      width: 536px;
      height: 578px;
      /* 将棋盤の縁 */
      .u_fuchi { height: 18px; text-align: center; font-size: 9px; }
      .d_fuchi { height: 14px; }
      .l_fuchi { width: 17px; }
      .r_fuchi { width: 17px; vertical-align: middle; font-size: 9px; padding-left: 3px; }
      td {
        // border: 1px solid cyan;
      }
    }
  }
  @media (min-width: 1200px) {
    // height: calc((1140px - 15px - 15px - 10px - 10px) * calc(51/(18+51+18)) * 1.08766);
    height: calc((1140px - 15px - 15px - 10px - 10px)* 0.5862 * 1.08766 + 30px);
    .shogiban {
      width: 615px;
      height: 670px;
      /* 将棋盤の縁 */
      .u_fuchi { height: 20px; text-align: center; font-size: 9px; }
      .d_fuchi { height: 21px; }
      .l_fuchi { width: 18px; }
      .r_fuchi { width: 22px; vertical-align: middle; font-size: 9px; padding-left: 6px; }
      td {
        // border: 1px solid cyan;
      }
    }
  }

  /* 将棋盤設定 */
  .shogiban {
    grid-column: 2;
    grid-row: 1 / span 3;
    background-image: image-url("shogiban.jpg");
    @media (min-width: 768px) {
      background-size: 370px 402px;
    }
    @media (min-width: 992px) {
      background-size: 536px 583px;
    }
    @media (min-width: 1200px) {
      background-size: 615px 674px;
    }
    background-size: contain;
    white-space: nowrap;
    border-collapse: collapse;
  }

  /* 駒台 */
  .komadai {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:    repeat(4, 1fr);
    .invert {
      transform: rotate(180deg);
    }
  }

  .komadai_1 {
    grid-column: 1;
    grid-row: 1;
    background-image: image-url("komadai2.jpg");
  }

  .komadai_0 {
    grid-column: 3;
    grid-row: 3;
    background-image: image-url("komadai1.jpg");
  }

  .mochigoma {
    // debug 用
    display: none;
  }

  /* 対局者名 */
  .player_name_0 { // 先手
    grid-column: 3;
    grid-row: 2;
    align-self: end;
    p { margin: 0; }
  }
  .player_name_1 { // 後手
    grid-column: 1;
    grid-row: 2;
    p { transform: rotate(180deg); }
  }

  /* 棋譜情報 */
  .kifu_info {
    grid-column: 3;
    grid-row: 1;
    margin-bottom: 1rem;
    @media (min-width: 768px) {
      .kisen      { font-size: 14px; }
      .teai       { font-size: 11px; }
      .hyodai     { font-size: 11px; }
      .sengata    { font-size: 11px; }
      .teai       { font-size: 11px; }
      .basho      { font-size: 11px; }
      .kaishi     { font-size: 11px; }
      .shuryo     { font-size: 11px; }
      .mochijikan { font-size: 11px; }
      .shohijikan { font-size: 11px; }
    }
    @media (min-width: 1200px) {
      .kisen      { font-size: 18px; }
      .teai       { font-size: 14px; }
      .hyodai     { font-size: 14px; }
      .sengata    { font-size: 14px; }
      .teai       { font-size: 14px; }
      .basho      { font-size: 14px; }
      .kaishi     { font-size: 14px; }
      .shuryo     { font-size: 14px; }
      .mochijikan { font-size: 14px; }
      .shohijikan { font-size: 14px; }
    }
  }

  /**********************************************************************
   * selectbox用
   * 引用元 http://gihyo.jp/design/serial/01/jquery-site-production/0012
   **********************************************************************/
  .selectbox {
    width: 100%;
    height: 30px;
    text-align: center;
    background-image: image-url("komadai1.jpg");
    display: inline-block;
    position: relative;
    font-size: 10pt;

    a.select {
      display: block;
      width: 100%;
      color: $sumi;
      text-decoration: none;
      padding-top: 5px; // 上下中央揃
      cursor: pointer;
    }
    .pulldown {
      width: 100%;
      @media (min-width: 768px) {
        max-height: 208px;
      }
      @media (min-width: 768px) {
        max-height: 285px;
      }
      @media (min-width: 1200px) {
        max-height: 330px;
      }
      border: 1px solid $usuzakura;
      box-shadow: 1px 1px 1px $sumi;
      background-image: image-url("komadai1.jpg");

      position: absolute;
      left: 0;
      top: 28px;
      overflow: auto;
      a {
        color: $sumi;
        text-decoration: none;
        border-bottom: 1px solid $usuzakura;
        display: block;
        height: 36px;
        &:hover,
        &.selected {
          color: $usuzakura;
          background-image: image-url("shogiban_small.jpg");
        }
        &:last-child {
          border: none;
        }
      }
    }
  }

  /* --- 棋譜リスト --- */
  .list.selectbox {
    grid-column: 1;
    grid-row: 4;
    .pulldown  {
      position: absolute;
      left: 0px;
      @media (min-width: 768px) {
        top: -217px;
      }
      @media (min-width: 768px) {
        top: -294px;
      }
      @media (min-width: 1200px) {
        top: -340px;
      }
      text-align: left;
      a {
        @media (min-width: 768px) {
          padding: 5px 8px 5px 10px;
        }
        @media (min-width: 992px) {
          padding: 5px 8px 5px 30px;
        }
        @media (min-width: 1200px) {
          padding: 5px 8px 5px 60px;
        }
      }
    }
  }

  /* 棋譜再生コントロールパネル */
  .panel {
    grid-column: 1;
    grid-row: 4;

    height: 30px;
    background: transparent;
  }

  .kifu_player {
    grid-column: 2;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30px;
    column-gap: 6px;

    /* --- 棋譜再生速度 --- */
    .speed.selectbox {
      grid-column: 1;
      height: 30px;
      text-align: center;

      cursor: pointer;
      .select span {
        margin-top: 5px;
        padding: 0px;
        text-align: center;
      }
      .pulldown  {
        position: absolute;
        left: 0px;
        top: -192px;
        a {
          padding-top: 8px; // 上下中央揃
        }
      }
    }

    input[type='button'] {
      height: 30px;
      margin: 0px 1px 1px 1px;
      background-image: image-url("komadai1.jpg");
      color: $sumi;
      font-size: small;
      &:disabled {
        color: $usuzumiiro;
        filter: grayscale(80%) opacity(70%);
      }
    }
  }

  // 棋譜へのコメント
  .comment {
    grid-column: 3;
    grid-row: 4;

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 30px;
      gap: 5px;

      /* --- 棋譜コメント --- */
      .msgbox.selected {
        @media (min-width: 768px) {
          width: 130px;
          height: 200px;
          top: 198px;
          left: 0;
        }
        @media (min-width: 992px) {
          width: 168px;
          height: 270px;
          top: 308px;
          left: 0;
        }
        @media (min-width: 1200px) {
          width: 218px;
          height: 306px;
          top: 365px;
          left: 0;
        }

        position: absolute;
        padding: 10px;
        font-size: 9pt;
        background: transparent;
        border: none;
      }

      // コメント書き込みボタン
      .write_comment {
        grid-column: 1;
      }
      // 棋譜ダウンロードボタン
      .download_kifu {
        grid-column: 2;
      }
    }
  }

  /////////////////// opal_shogi /////////////////////
  .hidden {
    display: none;
  }
}

} // end of media query
