/*=============================================================================
  将棋盤 共通設定
=============================================================================*/

/*-----------------------------------------------------------------------------
  駒
-----------------------------------------------------------------------------*/
$komas: fu, ky, ke, gi, ki, ka, hi, ou, to, ny, nk, ng, um, ry;
@each $koma in $komas {
  .#{$koma}0 { background-image: image-url("koma/#{$koma}0.png"); background-size: contain; }
  .#{$koma}1 { background-image: image-url("koma/#{$koma}1.png"); background-size: contain; }
}

/*-----------------------------------------------------------------------------
  調整
-----------------------------------------------------------------------------*/
.kifu_player input {
  border: none;
  @media (min-width: 768px) {
    border: 1px solid #975b33;
    border-radius: 0.28571429rem;
  }
}
.selectbox {
  border: 1px solid #975b33;
  border-radius: 0.28571429rem;
}

.download_kifu {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.write_comment {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.kifu_first,
.kifu_invert,
.kifu_last,
.kifu_prev,
.kifu_play,
.kifu_next {
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
  z-index: 100;
}
