.last_update {
  margin-top: -130px !important;
  font-size: 12px !important;
  @media(min-width: 768px) {
    margin-top: 0px !important;
    font-size: 1rem;
  }

  font-weight: normal;
  color: $sakurairo !important;
  span {
    color: $sakurairo !important;
  }
}

.carousel {
  background-image: image-url('komadai2.jpg') !important;
  opacity: 0.8;
}
