- provide :title, "棋譜一覧"
h1 = yield(:title)

= form_with(url: kifus_path, local: true, class: 'ui form') do |f|
  .field
    => f.text_field :query, placeholder: '棋譜を検索する 例: air white 名人戦', value: raw(params[:query])
  .field
    = f.submit '検索', class: 'ui green button'
    - if logged_in_user?
      / 一括ダウンロード
      = link_to "一括棋譜保存", downloads_kifu_path(@kifu_ids), class: "ui basic teal button"

table.ui.stackable.selectable.striped.table
  thead
    tr
      th 対局日
      th 先手（下手）
      th 後手（上手）
      th 手数<br>手合い
      th コメント
  tbody
    - KifuPresenter.build(@kifus, self) do |kifu|
      = kifu.table_row

/ p.small 項目をクリックすることにより、並び替えが可能です。

= paginate @kifus
