- last_month = @kisen.open_date.last_month.month
- case @kisen.name
- when '名人戦'
  ol
    li
      | 勝ち点は次の通りです。
      table#kachiten
        colgroup
          col.hoshi span=1
          col.ten   span=1
        tbody
          tr
            td ○　勝　ち
            td 3 点
          tr
            td □　不戦勝
            td 2.9 点
          tr
            td ●　負　け
            td 1 点
          tr
            td ■　不戦敗
            td 0 点
    li
      | 階級分けについては、申し込みを締め切った後、#{last_month}月発表のランキング表のＲを元に、上位から割り振る形で行います。
      | (ただし過去参加者の成績はそれより優先されます。)
    li 順位及びクラス保持者は、現順位（クラス）以上の階級に入ります。
    li 前期順位戦降級者に関しては降級した階級に入ります。
    li 階級に分けた時、参加者が多い場合、Ｃ・Ｂ・Ａ組の順で１組・２組と分けます。
    li 名人戦開催期間中にＲが上下しても、期間中のクラス／順位の異動はありません。
    li 今大会の各階級の上位２名は昇級、下位２名は降級(指し分け除く)となります。
    li ２期連続順位戦不参加の方はフリークラスに転出になります。
    li 挑戦者決定戦やタイトル決定戦の対局は、原則として不戦勝／不戦敗は認めません。
    li 期限最終日までに対局出来るよう、双方ともなるべく努力してください。
    li どうしても対局ができない場合、運営委員会の決定に従って下さい

  h3 ■過去の順位戦参加者の今期階級
  p
    = link_to "会員名簿", users_path
    | を参照して下さい
  h3 クラス分けとクラス内順位について
  ol
    li 参加者のうち、前回参加者及び経験者で、「クラスが確定」している人をそのクラスに振り分けます。
    li
      | 初参加者を含むフリークラスの方をR順に並べ、上位者をA級から人数割りに従って振り分けます。
      br
      | ただし、B級1位やC級1位の方のRがフリークラスの方より高い場合、その方が上位クラスに繰り上がります
    li クラス内順位は、Rに関わらず、前回参加者の順位が優先されます。
    li 以下の順位はRに従います。
- when '竜王戦'
  ol
    li 申し込みを締め切った後、#{last_month}月発表のランキング表のＲを元に、対戦表の作成を行います。
    li
      | 対局は
      span.attention 平手
      | で、持ち時間15分（以後60秒）で行います。
    li
      | タイトル決定戦の対局は、原則として不戦勝／不戦敗は認めません。
      br
      | 期限最終日までに対局出来るよう、双方とも努力してください。
      br
      | どうしても対局ができない場合、運営委員会の決定に従って下さい
- when '棋聖戦', '王位戦', '王将戦'
    ol
      li 申し込みを締め切った後、#{last_month}月発表のランキング表のＲを元に、対戦表の作成を行います。
      li
        | 対局は
        span.attention 手合割
        | で、持ち時間15分（以後60秒）で行ないます。
        ul
          li
            | ただし下手の権限で平手にて対局を行うことも出来ます。
            br
            | その場合、日程調整掲示板等で予め上手の承諾を得てください。
      li
        | 予選の各組での結果順位は、以下の優先事項で決まります。
        ol
          li 勝ち点
          li 直接対局の結果
          li それでも並んだ場合はランキング表Ｒ値上位者を優先
      li
        | 勝ち点は次の通りです。
        table#kachiten
          colgroup
            col.hoshi span=1
            col.ten   span=1
          tbody
            tr
              td ○　勝ち
              td 3 点
            tr
              td □　不戦勝
              td 2.9 点
            tr
              td ●　負け
              td 1 点
            tr
              td ▲　不戦敗（日程調整がつかず対局が完了しなかったとき）
              td 1 点
            tr
              td ■　不戦敗（上記以外のとき）
              td 0 点
      li
        | タイトル決定戦の対局は、原則として不戦勝／不戦敗は認めません。
        br
        | 期限最終日までに対局出来るよう、双方ともなるべく努力してください。
        br
        | どうしても対局ができない場合、運営委員会の決定に従って下さい
- when '王座戦'
    ol
      li 申し込みを締め切った後、#{last_month}月発表のランキング表のＲを元に、対戦表の作成を行います。
      li
        | 予選トーナメント（２敗失格システム）
        br
        = image_tag 'ouza_explain.png', alt: '王座戦予選トーナメント説明'
      li
        | タイトル決定戦の対局は、原則として不戦勝／不戦敗は認めません。
        br
        | 期限最終日までに対局出来るよう、双方ともなるべく努力してください。
        br
      | どうしても対局ができない場合、運営委員会の決定に従って下さい
- when '新人王戦'
    ol
      li 申し込みを締め切った後、#{last_month}月発表のランキング表のＲを元に、対戦表の作成を行います。
      li
        | 対局は
        span.attention 手合割
        | で、持ち時間15分（以後60秒）で行います。
      ul
        li
          | ただし下手の権限で平手にて対局を行うことも出来ます。
          br
          | その場合、日程調整掲示板等で予め上手の承諾を得てください。
      li
        | タイトル決定戦の対局は、原則として不戦勝／不戦敗は認めません。
        br
        | 期限最終日までに対局出来るよう、双方ともなるべく努力してください。
        br
        | どうしても対局ができない場合、運営委員会の決定に従って下さい
- when '棋王戦'
    ol
      li 申し込みを締め切った後、#{last_month}月発表のランキング表のＲを元に、トーナメント表の作成を行います。
      li
        | 対局は（手合割）で、持ち時間15分（以後60秒）で行ないます。
        ul
          li
            | ただし下手の権限で平手にて対局を行うことも出来ます。
            br
            | その場合、日程調整掲示板等で予め上手の承諾を得てください。
      li トーナメント表は原則以下のように作成いたします。
      li
        | 参加人数が８の倍数にならない場合、シード制を採用します。
        br
        | シード枠はＲ上位者に与えられます。
        br
        br
        | 本戦トーナメント表
        br
        = image_tag 'tournament.png'
        br
        br
        | 敗者復活戦
        br
        = image_tag 'consolation_match.png'
        br
        li
          | タイトル決定戦の対局は、原則として不戦勝／不戦敗は認めません。
          br
          | 期限最終日までに対局出来るよう、双方ともなるべく努力してください。
          br
          | どうしても対局ができない場合、運営委員会の決定に従って下さい
- when '東西戦'
    ol
      li
        | 申し込みを締め切った後、#{last_month}月発表のランキング表のＲ点と在住地域を基に、チーム編成表を作成します。
        br
        | （組み合わせの都合上、完全に東西に分かれない場合があります）
      li 対戦組合せは、双方のチームメンバーを下級から順に上級へと並べ対戦を組みますので、各自対戦表を確認して対局してください。
      li
        | チームの勝敗については、次のように決定します。
        table
          caption 対戦例 1
          colgroup
            col.team_name   span="1"
            col.handle_name span="4"
            col.note        span="1"
          tbody
            tr
              th チーム名
              th １将
              th ２将
              th ３将
              th ４将
              th 勝敗
            tr.east
              td 東２
              td
                | taro
                br
                | ○
              td
                | jiro
                br
                | ○
              td
                | saburo
                br
                | ●
              td
                | hanako
                br
                | ○
              td
                | 3勝1敗
                br
                | →勝ち抜け
            tr
              td
              td
                | ↑
                br
                | 第1局
                br
                | ↓
              td
                | ↑
                br
                | 第2局
                br
                | ↓
              td
                | ↑
                br
                | 第3局
                br
                | ↓
              td
                | ↑
                br
                | 第4局
                br
                | ↓
              td
            tr.west
              td 西２
              td
                | ichiro
                br
                | ●
              td
                | kenta
                br
                | ●
              td
                | sachiko
                br
                | ○
              td
                | takeshi
                br
                | ●
              td 1勝3敗
        p.small
          | ※勝ち数が多いチームが勝ち抜け

        table
          caption 対戦例 2
          colgroup
            col.team_name   span="1"
            col.handle_name span="4"
            col.note        span="1"
          tbody
            tr
              th チーム名
              th １将
              th ２将
              th ３将
              th ４将
              th 勝敗
            tr.east
              td 東２
              td
                | taro
                br
                | ○
              td
                | jiro
                br
                | ●
              td
                | saburo
                br
                | ●
              td
                | hanako
                br
                | ○
              td 2勝2敗
            tr
              td
              td
                | ↑
                br
                | 第1局
                br
                | ↓
              td
                | ↑
                br
                | 第2局
                br
                | ↓
              td
                | ↑
                br
                | 第3局
                br
                | ↓
              td
                | ↑
                br
                | 第4局
                br
                | ↓
              td
            tr.west
              td 西２
              td
                | ichiro
                br
                | ●
              td
                | kenta
                br
                | ○
              td
                | sachiko
                br
                | ○
              td
                | takeshi
                br
                | ●
              td 2勝2敗

        p.small
          | ※両チーム同じ勝ち数ならプレーオフ
          br
          | 両チーム４将から数えて、最初に勝ち星を挙げた人同士で対局
          br
          | （この例の場合、東２の４将 vs 西３の３将）

        table
          caption 対戦例 3
          colgroup
            col.team_name   span="1"
            col.handle_name span="4"
            col.note        span="1"
          tbody
            tr
              th チーム名
              th １将
              th ２将
              th ３将
              th ４将
              th 勝敗
            tr.east
              td 東２
              td
                | taro
                br
                | ○
                br
                | 3点
              td
                | jiro
                br
                | ■
                br
                | -2点
              td
                | saburo
                br
                | ■
                br
                | -2点
              td
                | hanako
                br
                | ○
                br
                | 3点
              td
                | 2勝2敗
                br
                | 合計勝ち点2点
            tr
              td
              td
                | ↑
                br
                | 第1局
                br
                | ↓
              td
                | ↑
                br
                | 第2局
                br
                | ↓
              td
                | ↑
                br
                | 第3局
                br
                | ↓
              td
                | ↑
                br
                | 第4局
                br
                | ↓
              td
            tr.west
              td 西２
              td
                | ichiro
                br
                | ●
                br
                | 1点
              td
                | kenta
                br
                | □
                br
                | 2点
              td
                | sachiko
                br
                | □
                br
                | 2点
              td
                | takeshi
                br
                | ●
                br
                | 1点
              td
                | 2勝2敗
                br
                | 合計勝ち点6点
                br
                | →勝ち抜け

        p.small
          | ※両チーム同じ勝ち数で、不戦勝／不戦敗があったなら、勝ち点の大きい方が勝ち抜け
          br
          | 勝ち点も同じであれば、代表者一名による決定戦を行います。
      li
        | 病欠などの理由で棄権が想定される場合、代打を認めます。
        br
        | 代打は、その人よりＲ点が低く、さらに対戦相手チームのメンバーでない人に限ります。
        br
        | 代打はチャットや日程調整掲示板等で、できるだけ本人かまたはチームのメンバーが探してください。
        br
        | 代打を探している旨、日程調整掲示板で運営への連絡もお願いいたします。
      li
        | チームとして勝ち数（同じ場合、勝ち点）の多い方が、勝利（勝抜け）となります。
        br
        | 勝ち点の算出は、次のとおりです。
        table#kachiten
          colgroup
            col.hoshi span="1"
            col.ten   span="1"
          tbody
            tr
              td ○　勝ち　
              td 3 点
            tr
              td □　不戦勝
              td 2 点
            tr
              td ●　負け　
              td 1 点
            tr
              td ■　不戦敗
              td -2 点

      li ４将戦、５将戦までにチームの勝敗が決まった場合も、５将戦まで必ず行なってください。
      li
        | 優勝チームは団体戦の勝敗（同一の場合、個人の勝数の合計（さらに同じ場合個人の勝ち点の合計））で決定します。
        br
        | それでも順位が確定しない場合は代表者一名によるプレーオフを行います。
      li
        | 優勝決定に関する対局は、原則として不戦勝／不戦敗は認めません。
        br
        | 期限最終日までに対局出来るよう、双方ともなるべく努力してください。
        br
        | どうしても対局ができない場合、運営委員会の決定に従ってください。
- when 'U549交流戦'
    ol
      li
        | 申し込みを締め切った後、#{last_month}月発表のランキング表のＲ点を基に、チーム編成表を作成します。
      li 対戦組合せは、双方のチームメンバーを下級から順に上級へと並べ対戦を組みますので、各自対戦表を確認して対局してください。
      li
        | チームの勝敗については、次のように決定します。
        table
          caption 対戦例
          colgroup
            col.team_name   span="1"
            col.handle_name span="3"
            col.note        span="1"
          tbody
            tr
              th チーム名
              th 先鋒
              th 中堅
              th 大将
              th 勝敗
            tr.east
              td
                | ５ＪＫ
              td
                | taro
                br
                | ○
              td
                | jiro
                br
                | ○
              td
                | saburo
                br
                | ●
              td 2勝1敗
            tr
              td
              td
                | ↑
                br
                | 第1局
                br
                | ↓
              td
                | ↑
                br
                | 第2局
                br
                | ↓
              td
                | ↑
                br
                | 第3局
                br
                | ↓
              td
            tr.west
              td Ｕ５４９
              td
                | ichiro
                br
                | ●
              td
                | kenta
                br
                | ●
              td
                | sachiko
                br
                | ○
              td 1勝2敗

        p.small
          | ※勝ち数が多いチームが勝ち抜け
      li
        | 病欠などの理由で棄権が想定される場合、代打を認めます。
        br
        | 代打は、その人よりＲ点が低く、さらに対戦相手チームのメンバーでない人に限ります。
        br
        | 代打はチャットや日程調整掲示板等で、できるだけ本人かまたはチームのメンバーが探してください。
        br
        | 代打を探している旨、日程調整掲示板で運営への連絡もお願いいたします。
      li
        | 優勝チームは団体戦の勝敗で決定します。
      li
        | 優勝決定に関する対局は、原則として不戦勝／不戦敗は認めません。
        br
        | 期限最終日までに対局出来るよう、双方ともなるべく努力してください。
        br
        | どうしても対局ができない場合、運営委員会の決定に従ってください。
