- provide(:title, @kisen.full_name)

.card-header.header
  h1.circle_name 五級位上昇を目指す会
  h1.guideline
    = "#{@kisen.full_name} #{@kisen.name == "リレー将棋大会" ? "出場者募集" : "募集要項"}"
    span.open_date
      = gengo(@kisen.open_date, :date)
      | 開幕
  h1.holding_method
    = @kisen.pretty_holding_method

.card-body
  h3 ■棋戦開催のご案内
  p
    - kisen_name = @kisen.name.include?("交流戦") ? "交流戦" : @kisen.name
    - case kisen_name
    - when '王座戦'
      | 秒読みの感覚を鋭くしよう！というわけで、
      br
    - when '東西戦'
      | 会員相互の交流を深めることと、各人の棋力向上を図るために、
      br
    - when '交流戦'
      | #{@kisen.name.delete("交流戦")}サークルとの交流を深めることを目的に、交流戦を開催いたします。
      br
    - when 'リレー将棋大会'
      |  将棋倶楽部２４において、夏の恒例「#{@kisen.full_name}」
      | が開催されます。
    - else
      |  五級位上昇を目指す会の棋戦「#{@kisen.full_name}」
      | を開催します。
      br

    - case kisen_name
    - when '名人戦'
      | 優勝者には「#{@kisen.title_name}(5JK杯)」に就任、準優勝者には「準#{@kisen.title_name}」の称号が授与されます。
      br
      | また各級の優勝者には「名将」位が贈られます。
    - when '竜王戦'
      | 優勝者には「#{@kisen.title_name}」の称号が、準優勝者には「準#{@kisen.title_name}」の称号が授与されます。
      br
      | また最多連勝者には「最連」の称号が授与されます。
    - when '東西戦'
      | 優勝チームは、東西杯チームの座に就き、チームの全メンバーが顕彰されます。
      br
    - when 'リレー将棋大会'
      br
      => link_to '第14回大会', '../relay_shogi/victory.html'
      | においては優勝したこともある素晴らしいチームです。
    - when "交流戦"
      | 日頃の練習の成果を発揮する良い機会でもあります。
      br
    - else
      | 優勝者には「#{@kisen.title_name}」の称号が、準優勝者には「準#{@kisen.title_name}」の称号が授与されます。
      br
    | 奮って、ご参加ください。

  - case kisen_name
  - when 'リレー将棋大会'
    p
      | 今期の開催方式については、
      = link_to_shogiclub24
      | に説明があります。
      br
      |  「参加する」ボタンで、申し込みを行って下さい。
  - else
    p
      | 今期の開催方式は以下のとおりです。
      br
      == render "holding_form"
      |  下記の内容をよく読み、「参加する」ボタンで、申し込みを行って下さい。

  h3 ■参加資格
  p
    ol
      - unless @kisen.name == "リレー将棋大会"
        li
          = link_to_common_rule
          | を適用します。
      - if @kisen.name == "新人王戦"
        li
          | 従前は10級以下の方が参加できる棋戦でしたが、棋力制限を外し、
          span.attention
            | 手合割
          | 棋戦と致しました。
          br
          span.attention
            = Date.new(@kisen.open_date.year-1, 1, 1).to_era('%O%E年%m月%d日')
          |  以降に会員になられた方、
          span.attention
            | 全員
          | が参加できます。
        li
          | 対象者は次の方々です。
          br
          = @rookie_candidate.map { |candidate| candidate.user.name }.join("さん ") << "さん"
      - else
        li
          | 申込者全員が参加できます。
  - unless @kisen.name == 'リレー将棋大会'
    h3 ■参加者の為すべきこと
    p
      ol
        li
          = link_to_common_rule
          | を適用します。
        li
          | 対局を観戦できなかった方は、棋譜検索して検討してください（任意）

    h3 ■参加申込み
    p
      ol
        li
          = link_to_common_rule
          | を適用します。
          br
        li
          | 「参加する」ボタンで、申し込みを行って下さい。
          br
          |  締め切りは
          = gengo(@kisen.end_date, :date)
          | 24時 です。

    h3 ■対局について
    p
      |  基本的なルールに関しては、
      = link_to_common_rule
      | にてご確認ください。
      br
      |  以下は
      = @kisen.name
      | に関する補足事項です。
      br
    p
      = render "about_game"

    h3 ■日程調整について
    p
      ol
        li
          = link_to_common_rule
          | を適用します。
          br
          |  万一、当日になって都合が悪くなった場合は、対局開始時刻の30分前迄に「日程調整掲示板」に対局可能な日時を書き込んで下さい。
      hr
      small
        |  以上、非常に細かい取り決めが多いように感じるかもしれませんが、大部分は運営上のルールです。
        br
        |  会員の方々には、常識的に行なってもらえれば、あとは自由にのびのびと対局してほしいと思います。
        br
        br
        |  質問・疑問は
        = link_to_bbs
        | まで。（＾ｕ＾）
        br
