- case @kisen.name
- when '名人戦'
    ol
      li 階級別リーグ戦（平手）で、持ち時間15分（以後60秒）で行ないます。
      li 今大会の各階級の上位２名は昇級、下位２名は降級となります。
      li 勝ち点が並んだ場合、挑戦者（昇級者）決定戦を行います。
      li Ａ級の優勝者は、現・名人とタイトル決定戦を、三番勝負で行ないます。
      li 現・名人不参加の場合はＡ級優勝者が新名人とします。
- when '竜王戦'
    ol
      li 対局はいずれも平手で、持ち時間15分（以後60秒）です。
      li
        | 予選は、
        = link_to "パラマストーナメント方式", "http://ja.wikipedia.org/wiki/トーナメント方式#.E3.83.91.E3.83.A9.E3.83.9E.E3.82.B9.E3.83.88.E3.83.BC.E3.83.8A.E3.83.A1.E3.83.B3.E3.83.88.28.E3.82.B9.E3.83.86.E3.83.83.E3.83.97.E3.83.A9.E3.83.80.E3.83.BC.29"
        | で、挑戦者決定トーナメントは一回勝負です。
      li 挑戦者は、現・竜王とタイトル決定戦を、三番勝負で行ないます。
      li 現・竜王不参加の場合はトーナメント優勝者が、新竜王とします。
- when '王座戦'
    ol
      li 対局は平手で、早指し２（１手３０秒　猶予時間60秒）で行います。
      li 予選は計２敗すると失格のシステムとします。つまり敗者復活戦があります。
      li 上級から下級までを均等に、各組に分けます。
      li 挑戦者決定戦トーナメントは１発勝負です。
      li 挑戦者決定戦の優勝者は、現・王座とタイトル決定戦を、三番勝負で行ないます。
      li 現・王座不参加の場合は、挑戦者決定戦の優勝者を新王座とします。
- when '棋聖戦'
    ol
      li 対局は参加者総当たりのリーグ戦（手合割）で、持ち時間15分（以後60秒）です。
      li
        | 手合割は対局者同士で#{link_to_handicap}を見て、
        span.attention
          | 対局時点での手合
        | で行ってください。
      li 本戦の優勝者は、現・棋聖とタイトル決定戦を、三番勝負で行ないます。
      li 現・棋聖不参加の場合はリーグ戦優勝者が新棋聖とします。
- when '新人王戦'
    ol
      li 対局は手合割で、持ち時間15分（以後60秒）です。
      li
        | 手合割は対局者同士で#{link_to_handicap}を見て、
        span.attention
          | 対局時点での手合
        | で行ってください。
      li 予選は、二敗失格システムで、敗者復活戦があります。
      li R上位者から下位者を、各組に均等に分けます。
      li ただし上記の人数や形式は参加者数によって変動する場合があります。
      li #{@kisen.title_name}のタイトルは保持制ではありません。トーナメント優勝者が新しい#{@kisen.title_name}になります。
      li 決勝トーナメントは、一回勝負、タイトル決定戦のみ変則2番勝負です。
- when '棋王戦'
    ol
      li 手合割トーナメント戦で、持ち時間15分（以後60秒）で行ないます
      li
        | 手合割は対局者同士で#{link_to_handicap}を見て、
        span.attention
          | 対局時点での手合
        | で行ってください。
      li トーナメント戦は、敗者復活戦ありの２敗失格システムです。（※囲碁の十段戦方式です）
      li 棋王戦のタイトル挑戦者決定戦において、敗者復活戦勝ち上がり者がタイトル決定戦に進むためには、２連勝が必要です。
      li 棋王戦のトーナメント戦の優勝者は、現・棋王とタイトル決定戦を三番勝負で行ないます。
      li 現・棋王不参加の場合はトーナメント優勝者が新棋王となります。
- when '王将戦'
    ol
      li 対局は参加者総当たりのリーグ戦（手合割）で、早指2で行います。
      li
        | 手合割は対局者同士で#{link_to_handicap}を見て、
        span.attention
          | 対局時点での手合
        | で行ってください。
      li 本戦の優勝者は、現・王将とタイトル決定戦を、三番勝負で行ないます。
      li 現・王将不参加の場合はリーグ戦優勝者が新王将とします。
- when '王位戦'
    ol
      li 対局はいずれも手合割で、持ち時間15分（以後60秒）で行ないます
      li
        | 手合割は対局者同士で#{link_to_handicap}を見て、
        span.attention
          | 対局時点での手合
        | で行ってください。
      li 予選は少人数（4～8名ほど）によるリーグ戦です。振り分けはR点に応じて振り分けます。
      li 本戦は、予選勝ちあがり4〜8名でのトーナメント戦で行います。
      li ただし上記の人数や形式は参加者数によって変動する場合があります。
      li 本戦の優勝者は、現・王位とタイトル決定戦を、三番勝負で行ないます。
      li 現・王位不参加の場合はトーナメント優勝者が新王位とします。
- when '東西戦'
    ol
      li
        | 団体戦（手合割）で、持ち時間15分（以後60秒）で行ないます。
        br
        small
          | (リレーではありません。メンバーが一人一局ずつ対局します。)
      li
        | 手合割は対局者同士で#{link_to_handicap}を見て、
        span.attention
          | 対局時点での手合
        | で行ってください。
      li チームとして勝ち数（同じ場合、勝ち点）の多い方が、勝利（勝抜き）となります。
      li
        | チーム編成は以下の通りとします。
        ol.lower-alpha
          li 参加人数が３以上の整数で割り切れる場合、東１、東２・・・、西１、西２・・・のようにチーム分けします。その場合、各チーム対抗によるトーナメント戦になります。
          li 参加人数が３以上の整数で割り切れない場合、東と西の二チームに分けます。
      li チーム分けは運営が行ないますが、可能な範囲で同程度に級（段）位が分かれるように編成します。
      li 前回からのチームの継続はありません。すなわち、現タイトル保持のチームは解消となり、新・優勝チームへ交代となります。
- when 'U549交流戦'
    ol
      li
        | 団体戦（平手）で、持ち時間15分（以後60秒）で行ないます。
        br
        small
          | (リレーではありません。メンバーが一人一局ずつ対局します。)
      li
        | 手合割は対局者同士で#{link_to_handicap}を見て、
        span.attention
          | 対局時点での手合
        | で行ってください。
      li チームとして勝ち数の多い方が、勝利（勝抜き）となります。
      li
        | チーム編成は各サークルの代表３名とします。
