h1 棋戦案内

table.kisens_schedule
  thead
    tr
      th style="width: 15%;" 棋戦名
      th style="width:  7%;" 持時間
      th style="width:  7%;" 手合
      th style="width: 14%;" 開催方法
      th colspan=3 1月
      th colspan=3 2月
      th colspan=3 3月
      th colspan=3 4月
      th colspan=3 5月
      th colspan=3 6月
      th colspan=3 7月
      th colspan=3 8月
      th colspan=3 9月
      th colspan=3 10月
      th colspan=3 11月
      th colspan=3 12月
  tbody
    tr
      th.kisei 棋聖戦
      th 15分
      th 駒落
      th 総当たり
      / 1月
      td
      td
      td
      / 2月
      td.kisei
      td.kisei
      td.kisei
      / 3月
      td.kisei
      td.kisei
      td.kisei
      / 4月
      td
      td
      td
      / 5月
      td
      td
      td
      / 6月
      td
      td
      td
      / 7月
      td
      td
      td
      / 8月
      td
      td
      td
      / 9月
      td
      td
      td
      / 10月
      td
      td
      td
      / 11月
      td
      td
      td
      / 12月
      td
      td
      td
    tr
      th.ohza 王座戦
      th 早指
      th 平手
      th トーナメント
      / 1月
      td
      td
      td
      / 2月
      td
      td
      td
      / 3月
      td
      td
      td
      / 4月
      td.ohza
      td.ohza
      td.ohza
      / 5月
      td.ohza
      td.ohza
      td.ohza
      / 6月
      td
      td
      td
      / 7月
      td
      td
      td
      / 8月
      td
      td
      td
      / 9月
      td
      td
      td
      / 10月
      td
      td
      td
      / 11月
      td
      td
      td
      / 12月
      td
      td
      td
    tr
      th.meijin
        | 名人戦
        br
        small
          | (順位戦)
      th 15分
      th 平手
      th 総当たり
      / 1月
      td
      td
      td
      / 2月
      td
      td
      td
      / 3月
      td
      td
      td
      / 4月
      td
      td
      td
      / 5月
      td
      td
      td
      / 6月
      td.meijin
      td.meijin
      td.meijin
      / 7月
      td.meijin
      td.meijin
      td.meijin
      / 8月
      td
      td
      td
      / 9月
      td
      td
      td
      / 10月
      td
      td
      td
      / 11月
      td
      td
      td
      / 12月
      td
      td
      td
    tr
      th.kioh 棋王戦
      th 15分
      th 駒落
      th トーナメント
      / 1月
      td
      td
      td
      / 2月
      td
      td
      td
      / 3月
      td
      td
      td
      / 4月
      td
      td
      td
      / 5月
      td
      td
      td
      / 6月
      td
      td
      td
      / 7月
      td
      td
      td
      / 8月
      td.kioh
      td.kioh
      td.kioh
      / 9月
      td.kioh
      td.kioh
      td.kioh
      / 10月
      td
      td
      td
      / 11月
      td
      td
      td
      / 12月
      td
      td
      td
    tr
      th.ohsho 王将戦
      th 早指
      th 駒落
      th 総当たり
      / 1月
      td
      td
      td
      / 2月
      td
      td
      td
      / 3月
      td
      td
      td
      / 4月
      td
      td
      td
      / 5月
      td
      td
      td
      / 6月
      td
      td
      td
      / 7月
      td
      td
      td
      / 8月
      td
      td
      td
      / 9月
      td
      td
      td
      / 10月
      td.ohsho
      td.ohsho
      td.ohsho
      / 11月
      td.ohsho
      td.ohsho
      td.ohsho
      / 12月
      td
      td
      td
    tr
      th.ryuoh 竜王戦
      th 15分
      th 平手
      th トーナメント
      / 1月
      td.ryuoh
      td.ryuoh
      td.ryuoh
      / 2月
      td
      td
      td
      / 3月
      td
      td
      td
      / 4月
      td
      td
      td
      / 5月
      td
      td
      td
      / 6月
      td
      td
      td
      / 7月
      td
      td
      td
      / 8月
      td
      td
      td
      / 9月
      td
      td
      td
      / 10月
      td
      td
      td
      / 11月
      td
      td
      td
      / 12月
      td.ryuoh
      td.ryuoh
      td.ryuoh

h4 棋戦参加上の諸注意
ul
  li
    | 都合により、主催者が定めた日程に対局が出来ない場合、各自で調整してください。
  li
    | 15分以上遅刻した場合、不戦敗になる可能性があります。
  li
    | 対局場所は、大阪道場T室で行ってください。
  li
    | 千日手・持将棋などは将棋倶楽部２４の
    = link_to_threefold_repetition
    | に従ってください。
  li
    | その他、詳しくは
    = link_to_common_rule
    | を参照してください。

p.small
  | 各棋戦の開幕日と閉幕日は、進行具合や参加人数、また運営の都合などの事情により多少前後し、この通りにならない場合があります。
