table.table.table-sm.table-hover.sortable
  caption 対局ルール
  thead
    tr
      th 棋戦名
      th 時間
      th 手合割
      th 対局方法
  tbody
    tr
      th 名人戦(順位戦)
      td.center １５分
      td.center 平　手
      td.center 階級別リーグ戦
    tr
      th 竜王戦
      td.center １５分
      td.center 平　手
      td.center トーナメント戦
    tr
      th 棋聖戦
      td.center １５分
      td.center 手合割
      td.center リ　ー　グ　戦
    tr
      th 棋王戦
      td.center １５分
      td.center 手合割
      td.center トーナメント戦
    tr
      th  王将戦
      td.center  早指２
      td.center  手合割
      td.center  リ　ー　グ　戦
    tr
      th  王位戦
      td.center  １５分
      td.center  手合割
      td.center  トーナメント戦
    tr
      th 東西戦
      td.center １５分
      td.center 手合割
      td.center 団　　体　　戦
    tr
      th 新人王戦
      td.center １５分
      td.center 手合割
      td.center トーナメント戦
    tr
      th 王座戦
      td.center 早指２
      td.center 平　手
      td.center トーナメント戦
