- provide(:title, '棋戦共通ルール')

h1 棋戦共通ルール
p.text-right.small.mb-1
  | 令和2年2月1日 更新

.topics
  h3 ■参加資格
  ul.disc
    li
      | 「五級位上昇を目指す会」の会員（正会員・休止中会員）であること。
    li
      | 感想戦ができること。

  h3 ■参加者のなすべきこと
  ol.decimal
    li
      | 基本22時開始、81道場にて各棋戦のルールに基づいて対局する。
    li
      | 感想戦にて検討する。
    li
      | 対局結果は、対局表に自動反映されますが、
      | 簡単な自戦記を載せるよう、努めてください。
    li
      | 大会期間中は対戦相手から日程調整依頼が出される場合があります。
      | 対局表やプライベートメールが届きますので、対応してください。

  h3 ■参加申込
  p
    | 参加者募集中の「各棋戦」より、要項を良く読み、参加の意思表示をしてください。

  span【注意事項】
  ol.decimal
    li
      span.text-danger
        | 期間外の受付は認めません。
    li
      | 申し込みは必ず、「各棋戦要項」から行なってください。
    li
      | すべての対局の棋譜を、対戦表にて公開します。

  h3 ■対局について
  ol.decimal
    li
      | 申込み締切後、対戦表を作成します。
      br
      | 各自対戦表を確認して対局してください。
    li
      | 対局結果は、対局表に自動反映されますが、
      | 対局後の感想戦が終わったら、
      | 簡単な自戦記を載せるよう、努めてください。
    li
      strong
        | 手合割棋戦において、敗れた側に不利な手合で対局した場合には、感想戦が終了して対局者のどちらかが対局画面を閉じるまでは指し直しが可能です。その際は次の対局に支障の無きよう日程調整し、対局を行って下さい。それ以降の異議は一切認めません。
    li
      | もし対局開始時刻までに日程調整依頼もなく、
      strong
        | 欠席もしくは15分以上遅刻(すっぽかし)した方は対戦相手に不戦勝宣言の権利を与える
      | ものとします。
    li
      | 不戦勝となった方は、対局開始時刻から
      span.text-danger
        | １時間以内
      | に、
      span.text-danger
      = link_to '掲示板', bbs_path
      | に投稿を行って下さい。
      br
      | 投稿内容は、
      br
      strong.ml-5
        | (1)「対戦相手が現れなかった」
      strong.ml-5
        | (2)「不戦勝宣言する　または　再対局を申し出る」
        br
      | 旨を書き込んで下さい。
      br
      | ただし１時間以内に書き込みがない場合は、次項の扱いになります。
    li
      | もし両者「すっぽかし」した場合は「没収対局」とし、両者を不戦敗とします。
      br
      | (トーナメント戦ではレーティング上位者の不戦勝とします。)
    li
      strong
        span.text-danger
          | 同一棋戦で２回すっぽかしされた方は、「途中棄権」扱いとします。
      | 日程をよく確認し、対局して下さい。
    li
      | お互いの日程調整が付かなかった場合は、先に調整を申し出た方を不戦敗とします。
    li
      | 千日手・持将棋の場合は指し直しです。
      br
      | 指し直しは一週間以内に行ってください。
    li
      | 回線ダウンについては、
      strong
        | 1局の対局中に2回ダウン
      | した時点で、理由に関わらず2回ダウンした方を不戦敗とします。
      br
      | 相手の方は
      = link_to '掲示板', bbs_path
      | にて不戦勝宣言してください。

  h3 ■日程調整について
  ol.decimal
    li
      | 日程調整は前日までに、「各棋戦 対局表」
      | から行なってください。
      br
      | 参加者はこまめに確認してください。
    li
      | 調整依頼は一対局につき１人２回までとし、以後は不戦敗とします。
    li
      | 対局日の調整依頼に対する返答は、対局予定日までに必ず行なって下さい。
      br
      | 調整依頼に対する返答が対局予定日までにない場合は、返答しなかった方を不戦敗とします。

  hr
  p.small.ml-5
    |  以上、非常に細かい取り決めが多いように感じるかもしれませんが、大部分は運営上のルールです。
    br
    |  会員の方々には、常識的に行なってもらえれば、あとは自由にのびのびと対局してほしいと思います。
    br
    |  質問・疑問は
    => link_to '掲示板', bbs_path
    | まで。（＾ｕ＾）
