h1 手 合 割
p 段級位 または レーティングを入力し、手合割を確認出来ます。

= form_with(model: Kisen.new, url: handicap_path, method: :get, local: true, class: 'ui form') do |f|
  .field
    = f.label  '上手'
    = f.select :dankyu1,
                options_for_select( [["-- 段級 選択 --", ''],
                                     # ["八段", "八段"],
                                     ["七段", "七段"],
                                     ["六段", "六段"],
                                     ["五段", "五段"],
                                     ["四段", "四段"],
                                     ["三段", "三段"],
                                     ["二段", "二段"],
                                     ["初段", "初段"],
                                     ["１級", "１級"],
                                     ["２級", "２級"],
                                     ["３級", "３級"],
                                     ["４級", "４級"],
                                     ["５級", "５級"],
                                     ["６級", "６級"],
                                     ["７級", "７級"],
                                     ["８級", "８級"],
                                     ["９級", "９級"],
                                     ["10級", "10級"],
                                     ["11級", "11級"],
                                     ["12級", "12級"],
                                     ["13級", "13級"],
                                     ["14級", "14級"],
                                     ["15級", "15級"]],
                                     # ["初心者", "初心者"]],
                                    selected: @player1&.dankyu ),
                  { label: "上手" },
                  { class: 'ui search dropdown' }
  .field
    = f.number_field :rating1, skip_label: true, placeholder: 'レーティング', value: @player1&.rating, class: "rating center"

  .field
    = f.label  '下手'
    = f.select :dankyu2,
                options_for_select( [["-- 段級 選択 --", ''],
                                     # ["八段", "八段"],
                                     ["七段", "七段"],
                                     ["六段", "六段"],
                                     ["五段", "五段"],
                                     ["四段", "四段"],
                                     ["三段", "三段"],
                                     ["二段", "二段"],
                                     ["初段", "初段"],
                                     ["１級", "１級"],
                                     ["２級", "２級"],
                                     ["３級", "３級"],
                                     ["４級", "４級"],
                                     ["５級", "５級"],
                                     ["６級", "６級"],
                                     ["７級", "７級"],
                                     ["８級", "８級"],
                                     ["９級", "９級"],
                                     ["10級", "10級"],
                                     ["11級", "11級"],
                                     ["12級", "12級"],
                                     ["13級", "13級"],
                                     ["14級", "14級"],
                                     ["15級", "15級"]],
                                     # ["初心者", "初心者"]],
                                    selected: @player2&.dankyu ),
                  { label: "下手" },
                  { class: 'ui search dropdown' }
  .field
    = f.number_field :rating2, skip_label: true, placeholder: 'レーティング', value: @player2&.rating, class: "rating center"
  .field
    => f.submit '確認する', class: 'ui green button'

br
- if @difference && @teai
  p.teai
    b #{@difference}
    | 級差で、
    b #{@teai}
    | の対局です。

hr
/ h1【新規定】
p.small.text-right 令和2年2月01日更新
table.ui.stackable.selectable.striped.collapsing.table
  / col span="2" width="30%"
  / col span="1" width="40%"
  thead
    tr
      th 段級位差
      th 手合割
      th 備　考
  tbody
    tr
      td.center ０・１・２
      td.center 平　手
      td.center
    tr
      td.center ３
      td.center 香　落
      td.center 左香
    tr
      td.center ４
      td.center 角　落
      td.center
    tr
      td.center ５
      td.center 飛　落
      td.center
    tr
      td.center ６
      td.center 飛香落
      td.center 飛と左香
    tr
      td.center ７・８
      td.center 二枚落
      td.center 飛と角
    tr
      td.center ９以上
      td.center 四枚落
      td.center 飛角と両香

br
p
  span.attention 【特別ルール】
  br
  | 上手が有段者の場合、段級位差が一つ少ないものとして手合を決めることとします。
ul
  | 【使用例】
  li
    | 3級のAさんと、7級のBさんの駒落ち対局の場合、4級位差なので、Aさんが角を落とします。
  li
    | 9級のCさんと、初段のDさんの対局の場合、9級差ですが、
    span.attention
      |【特別ルール】
    | ）により、Dさんが二枚落ちで対局します。
br
small
  | （日本将棋連盟『将棋手帳2001』将棋会館道場手合割を元に、加筆・修正を加えた。）


/ hr
/ h1【旧規定】
/ p.small.text-right 平成20年11月08日更新
/ table.table.responsive.table-sm.table-hover
/   col span="2" width="30%"
/   col span="1" width="40%"
/   thead
/     tr
/       th 級（段）差
/       th 駒割り
/       th 備　考
/   tbody
/     tr
/       td.center ０・１・２
/       td.center 平　手
/       td.center
/     tr
/       td.center ３
/       td.center 香　落
/       td.center 左香
/     tr
/       td.center ４
/       td.center 角　落
/       td.center
/     tr
/       td.center ５
/       td.center 飛　落
/       td.center
/     tr
/       td.center ６
/       td.center 飛香落
/       td.center 飛と左香
/     tr
/       td.center ７・８
/       td.center 二枚落
/       td.center 飛と角
/     tr
/       td.center ９・１０
/       td.center 四枚落
/       td.center 飛角と両香
/     tr
/       td.center
/         | １１以上
/         span.attention
/           |【注】
/       td.center 六枚落
/       td.center 飛角と両桂香
/
/ br
/ p
/   span.attention 【注】
/   br
/   | 六枚落は下手が14級や15級の時しか認めません。
/   br
/   | 下手が13級以上の場合は、11級差以上であっても、六枚落ではなく四枚落となります。
/ p
/   span.attention 【特別ルール】
/   br
/   | 上手が上級会員の場合
/   | （ただし対戦表の名前の横に
/   span.attention
/     | ★
/   | マークがついている場合のみ）、
/   | 級（段）差から１を引いた値で手合を決めることとします。
/ ul
/   | 【使用例】
/   li
/     | 9級のＡさんと、13級のＢさんの駒落ち対局の場合、１３−９＝４級位差なので、Ａさんが角を落とします。
/   li
/     | 9級のＡさんと、上級会員で初段の
/     span.attention
/       | ★
/     | Ｃさんの駒落ち対局の場合、９級−１級＋１段−１（
/     span.attention
/       |【特別ルール】
/     | ）＝８級位差なので、Ｃさんが二枚落ちで戦います。
/   li
/     | 上級会員で初段の
/     span.attention
/       | ★
/     | Ｃさんと、13級のＢさんの対局の場合、12級差として表を見ますが
/     span.attention
/       |【注】
/     | の制限事項により四枚落となります。
/   li
/     | 上級会員で初段の
/     span.attention
/       | ★
/     | Ｃさんと、15級のＤさんの対局の場合、14級差として表を見ます。
/     | この場合Ｄさんは14級以下なので
/     span.attention
/       | 【注】
/     | の制限事項は当てはまらず六枚落となります。
/ br
/ small
/   | （日本将棋連盟『将棋手帳2001』将棋会館道場手合割を元に、加筆・修正を加えた。）
