// javascript:
//   $(function(){
//     // ローカルストレージに選択しているタブ名を保存
//     $().local_storage_tab_name("kisens_index");
//   });
//

h1
  | 棋戦 要項 一覧

/ ul.nav.nav-tabs
/   li.nav-item
/     a.nav-link href="#now_inviting" data-toggle="tab" 募 集 中
/   li.nav-item
/     a.nav-link href="#not_begin"    data-toggle="tab" 募 集 前
/   li.nav-item
/     a.nav-link href="#closed"       data-toggle="tab" 募集終了
/   li.nav-item
/     a.nav-link href="#all"          data-toggle="tab" 全　　て
/
/ - @kisens.each do |key, kisens|
/ .tab-content
    / .tab-pane.fade.in id="#{key}"
.list-group
  - @kisens.each do |kisen|
    = link_to(kisen_path(kisen.id), class: 'list-group-item') do
      h4
        = kisen.full_name
      label style="width: 80px;"
        | 開幕日
      / = kisen.open_date.strftime('%m月%d日')
      = gengo(kisen.open_date, :date)
      br
      label style="width: 80px;"
        | 募集期間
      / = kisen.begin_date.strftime('%m月%d日')
      = gengo(kisen.begin_date, :date)
      |  〜
      / = kisen.end_date.strftime('%m月%d日')
      = gengo(kisen.end_date, :date)
      br
      small
        |  (参加者数:
        = kisen.entries.count
        |  人)
      / = paginate kisens
      / - if @kisens[key].blank?
      /   = link_to("該当する棋戦はありませんでした。", "#", class: 'list-group-item')
