javascript:
  $(function(){
    // $('#kisen_form_name').on('change', function(){
    $('#kisen_name').on('change', function(){
      // var key = $("#kisen_form_name option:selected").text();
      // var key = $("#kisen_name option:selected").text();
      var key = $("#select2-kisen_name-container").text();
      var value = "";
      switch (key) {
      case "棋聖戦":         value = "#{@h['棋聖戦']}"; break;
      case "王座戦":         value = #{@h["王座戦"]}; break;
      case "東西戦":         value = #{@h["東西戦"]}; break;
      case "名人戦":         value = #{@h["名人戦"]}; break;
      case "棋王戦":         value = #{@h["棋王戦"]}; break;
      case "王将戦":         value = #{@h["王将戦"]}; break;
      case "王位戦":         value = #{@h["王位戦"]}; break;
      case "新人王戦":       value = #{@h["新人王戦"]}; break;
      case "竜王戦":         value = #{@h["竜王戦"]}; break;
      }
      $("#kisen_term").val(value);
    });
  });

css:
  /* label[for="kisen_form_name"] { */
  label[for="kisen_name"] {
    display: none;
  }

- provide(:title, '棋戦 要項作成')
h1.mt-5.mb-5 = yield(:title)

= bootstrap_form_for(@kisen, url: kisens_path) do |f|
  .form-group.form-inline.mt-5
    .col-xl-2.form-inline
      = f.label "第　"
      = f.text_field :term, class: 'form-control text-center', skip_label: true, style: 'width: 60px', readonly: true
      = f.label "　期　"
      = f.select :name, { "--棋戦名選択--" => "",
                          棋聖戦:         :棋聖戦,
                          王座戦:         :王座戦,
                          東西戦:         :東西戦,
                          名人戦:         :名人戦,
                          棋王戦:         :棋王戦,
                          王将戦:         :王将戦,
                          王位戦:         :王位戦,
                          新人王戦:       :新人王戦,
                          竜王戦:         :竜王戦,
            }, {}, class: 'searchable form-control', skip_label: true
  .form-group
    .row
      .col-2.form-inline
        = f.text_field :open_date, class: "datepicker text-center", label: "棋戦開幕日", value: Time.current.end_of_month.tomorrow.next_month.strftime("%Y-%m-%d")
    .row
      .col-2.form-inline
        = f.text_field :begin_date, class: "datepicker text-center", label: "募集開始日", value: Time.current.end_of_month.tomorrow.strftime("%Y-%m-%d")
    .row
      .col-2.form-inline
        = f.text_field :end_date, class: "datepicker text-center", label: "募集終了日", value: Time.current.end_of_month.tomorrow.weeks_since(3).end_of_week.yesterday.strftime("%Y-%m-%d")
    = f.primary '作成する'
