= stylesheet_link_tag "kisen.css"

.row
  .col-lg-8.col-md-12
    .card
      = render partial: 'guidelines'

  .col-lg-4.col-md-12
    - if admin_user?
      = link_to '棋戦情報を編輯する', edit_kisen_path(@kisen), class: 'btn btn-info btn-md btn-block'
      = link_to '棋戦情報を削除する', kisen_path(@kisen), class: 'btn btn-danger btn-md btn-block',
                   method: :delete, data: { confirm: '本当に削除しますか' }

    - if logged_in_user? && @kisen.now_inviting_participants?
      br
      button.btn.btn-success.btn-md.btn-block data-toggle="modal" data-target="#create_entry" 参加する

      .modal.fade#create_entry tabindex="-1" role="dialog" area-hidden="true"
        .modal-dialog role="document"
          .modal-content
            .modal-header
              h5.modal-title.text-primary 参加表明
              button.close type="button" data-dismiss="modal" area-label="Close"
                span area-hidden="true" &times;
            = form_for(@kisen.entries.build, url: kisen_entries_path(@kisen), remote:false) do |f|
              .modal-body
                = f.hidden_field :user_id, value: current_user&.id
                = f.label      :name, "ハンドルネーム"
                = f.text_field :name, class: 'form-control', value: current_user&.name, readonly: logged_in_user? ? true : false
                br
                = f.label     :comment, "参加に当たって一言(*^_^*)"
                = f.text_area :comment, autofocus: true, class: 'form-control'
              .modal-footer
                button.btn.btn-light data-dismiss="modal" キャンセル
                = f.submit '参加する', class: "btn btn-success", data: { disable_with: '送信中...' }
    br
    .card
      h6.card-title.center style="margin-top: 1em;" 参加者
      ul.list-group.list-group-flush
        - if @entries.blank?
          li.list-group-item 参加表明された方はおりません
        - else
          - @entries.each do |entry|
            li.list-group-item
              - user = User.find_by(id: entry.user_id)
              - if user.nil?
                  - user = GuestUser.new(entry.name)
              => avatar_link_to(user)
              - status = ""
              - if entry.rating.present?
                - status << "#{entry.dankyu} #{entry.rating}"
              - else
                - status << "------"

              - case @kisen.name
              - when "名人戦"
                - status << " #{entry.meijin_class}"
              - when "東西戦"
                / 北海道など地域を追加
                - status << Prefecture.new(entry.area).name + " "
              - when "U549交流戦"
                - status << " #{entry.team}"
              - status = "(#{status.strip}) "

              / 新入会者・guestなどrating無い方は、.text-danger
              = tag.em(status, class: (entry.rating.present? ? "" : "text-danger"))

              small
                => entry.updated_at.strftime('%m/%d %H:%M')
              - if entry.user_id == current_user&.id || admin_user?
                => link_to '編輯', edit_kisen_entry_path(@kisen, entry), method: :get, class: 'ui small green button'
                => link_to '削除', kisen_entry_path(@kisen, entry), method: :delete, data: { confirm: '本当に削除しますか' }, class: 'btn btn-sm btn-danger'

              p = html_br entry.comment

    - if @kisen.matchup.present?
      = link_to '対局表を見る', matchup_path(@kisen.matchup), class: 'btn btn-warning btn-lg btn-block'

    - if admin_user?
      = link_to '参加申込 一覧', kisen_entries_path(@kisen), class: 'mt-3 btn btn-info btn-lg btn-block'

      hr.mt-5
      h2 対局表 作成
      .row
        .col-12
          = form_with(model: Matchup.new, local: true) do |f|
            .form-group.row
              .col-12.form-inline
                = f.hidden_field :kisen_id, value: params[:id]
                = label_tag "", "開催回数/週", class: "offset-1 col-5 col-form-label text-right "
                = f.text_field :week_frequency, class: "form-control col-3 text-center", value: 1
                = label_tag "", "回", class: "col-1 col-form-label text-right"
                = f.submit '作成する', class: "btn btn-primary btn-lg btn-block"
