/! ヘッダーエリア
header.iphone.menu.header.mobile.only
  /! ドロワーエリア
  .drawer
    / checkbox自体は非表示
    input#drawerCheckbox.checkbox type="checkbox"
    /! ドロワーアイコン
    label.icon for="drawerCheckbox"
      span.parts
      = link_to image_tag('5JK_logo.png', alt: 'logo'), root_path, id: "iphone_logo"
    /! 背景を暗く
    label.overlay for="drawerCheckbox"

    /! ドロワーメニュー
    nav.drawer.menu
      ul
        li.dropdown
          input type="checkbox"
          a data-toggle="dropdown" href="#" サークル案内
          ul.dropdown-menu
            li
              = link_to '5JKの歴史', circle_history_path, class: 'ui item'
            li
              = link_to 'サークル案内(会則)', circle_rule_path, class: 'ui item'
            li
              = link_to '例会案内', regular_meeting_path, class: 'ui item'
            li
              = link_to '運営規則', administration_rule_path, class: 'ui item'
            li
              = link_to 'よくある質問', faq_path, class: 'ui item'
            li
              = link_to '会員名簿', users_path, class: 'ui item'
        li.dropdown
          input type="checkbox"
          a data-toggle="dropdown" href="#" 研究会
          ul.dropdown-menu
            li
              = link_to '研究会', laboratory_path, class: 'ui item'
            li
              = link_to 'コメント付棋譜', laboratory_comment_kifu_path, class: 'ui item'
            li
              = link_to '将棋上達法', laboratory_gather_path, class: 'ui item'
            li
              = link_to '変幻位取り講座', topic_path(84), class: 'ui item'
            li
              = link_to '四間飛車講座', laboratory_four_file_rook_path, class: 'ui item'
            li
              = link_to '右玉講座', laboratory_right_king_path, class: 'ui item'
            li
              = link_to '旧研究掲示板', laboratory_old_bbs_path, class: 'ui item'
            li
              / = link_to '旧順位表', rankings_path, class: 'ui item'
            li
              = link_to '旧要　項一覧', kisens_path, class: 'ui item'
            li
              = link_to '旧対局表一覧', matchups_path, class: 'ui item'
            li
              = link_to '棋譜一覧', kifus_path, class: 'ui item'
        li.dropdown
          input type="checkbox"
          a data-toggle="dropdown" href="#" 棋戦
          ul.dropdown-menu
            li
              = link_to '年間棋戦案内', kisens_information_path, class: 'ui item'
            li
              = link_to '棋戦共通ルール', kisens_common_rule_path, class: 'ui item'
            li
              = link_to '手合割表', handicap_path, class: 'ui item'
        li.dropdown
          input type="checkbox"
          a data-toggle="dropdown" href="#" 棋戦
          ul.dropdown-menu
            li
              = link_to '年間棋戦案内', kisens_information_path, class: 'ui item'
            li
              = link_to '棋戦共通ルール', kisens_common_rule_path, class: 'ui item'
            li
              = link_to '手合割表', handicap_path, class: 'ui item'
        li.dropdown
          = link_to '掲示板', bbs_path, data: { toggle: :dropdown }, class: 'only'

        li.dropdown
          input type="checkbox"
          a data-toggle="dropdown" href="#" リンク
          ul.dropdown-menu
            li
              = link_to '日本将棋連盟', 'https://www.shogi.or.jp', class: 'ui item'
            li
              = link_to '81道場', 'https://81dojo.com/jp/', class: 'ui item'
            li
              = link_to '棋書ミシュラン', 'http://rocky-and-hopper.sakura.ne.jp/Kisho-Michelin/index.htm', class: 'ui item'
            li
              = link_to '詰パラ', 'http://www005.upp.so-net.ne.jp/tsumepara/contents/3problem/ted/ted.htm', class: 'ui item'
        - if admin_user?
          li.dropdown
            input type="checkbox"
            a data-toggle="dropdown" href="#"
              = avatar_link_to(current_user, size: 24)
            ul.dropdown-menu
              li
                = link_to '新会員登録', new_user_path,    class: 'ui item'
              li
                = link_to 'ログアウト', logout_path, method: :delete, class: 'ui item'
        - if logged_in_user?
          li.dropdown
            input type="checkbox"
            a data-toggle="dropdown" href="#"
              / = avatar_link_to(current_user, avatar_only: true, size: 24)
              = current_user.name
            ul.dropdown-menu
              li
                = link_to '自己紹介', user_profile_path(current_user), class: 'ui item'
              li
                = link_to '情報更新', edit_user_path(current_user), class: 'ui item'
              li
                = link_to '使い方 説明', usage_path, class: 'ui item'
              li
                = link_to 'ログアウト', logout_path, method: :delete, class: 'ui item'
        - else
          li.dropdown
            = link_to 'ログイン', login_path, data: { toggle: :dropdown }, class: 'only'
          li.dropdown
            = link_to '入会申込', circle_rule_path, data: { toggle: :dropdown }, class: 'only'
