.footer_wrapper
  .ui.container
    .ui.stackable.two.column.grid
      .twelve.wide.column
        = link_to_copyright
        br
        | 五級位上昇を目指す会は、
        => link_to '81道場', 'https://system.81dojo.com/ja/circles/221'
        | サークルです
        br
        | (会長: WhiteWizard
        => link_to 'お問い合わせはこちら', mail_to_5JK_url
        | )

      .four.wide.column
        button.ui.tertiary.primary.button.show_about
          | このサイトについて

    .ui.modal
      i.close.icon
      .header
        | このサイトについて
      .image.content
        .ui.medium.image
          = image_tag('5JK_logo.png', alt: 'logo')

        .description
          .ui.header
            dt 作者
            dd WhiteWizard / Atelier-Mirai
          p
            dt バージョン
            dd 7.0.0

            dt 開発環境
            dd Ruby on Rails 6.0.3.2
            dd Ruby 2.7.1
            dd Fomantic UI 2.8.6
            dd macOS Mojave 10.15.5
            dd Mac mini (2018)
            dd atom 1.48.0

            dt ソースコード
            dd = link_to "git@bitbucket.org:Atelier-Mirai/shogi_5jk.git", "https://bitbucket.org/Atelier-Mirai/shogi_5jk/src/master/"

            dt 謝辞
            dd
              a.text-success href='http://www.din.or.jp/~hideyuki/home/cgi/kifuplayer.html' Kifu Player for Web Ver.2.04
            dd
              '将棋盤
              a.text-success href='http://www.kumasugobanten.jp' 熊須碁盤店
            dd
              '将棋駒
              a.text-success href="https://blog.goo.ne.jp/aka_u_man" 日向

      .actions
        / .ui.black.deny.button
        /   | Nope
        / .ui.positive.right.labeled.icon.button
        .ui.positive.right.button
          | 確認
          / i.checkmark.icon
