/! 上部ナビゲーションメニュー
.ui.top.fixed.menu.toppage_header.computer.only style="background: rgba(255, 255, 255, 0.75);"
  .ui.container.header_wrapper
    .logo_mark
      = link_to image_tag('5JK_logo.png', alt: 'logo'), root_path, id: "logo"
    .self_promotion
      p
        | 創部：平成16年10月10日
      p
        | 12級→7級 あるいは 5級→初段と 五級位上昇を目指す会です。
        br
        | 感想戦を好まれる方、歓迎です(^o^)
      p
        | ★会員募集中！！
  .toppage_menu
    .ui.container
      .ui.inverted.right.menu
        .ui.dropdown.item
          | サークル案内
          i.dropdown.icon
          .menu
            = link_to '5JKの歴史', circle_history_path, class: 'ui item'
            .divider
            = link_to 'サークル案内(会則)', circle_rule_path, class: 'ui item'
            = link_to '例会案内', regular_meeting_path, class: 'ui item'
            = link_to '運営規則', administration_rule_path, class: 'ui item'
            = link_to 'よくある質問', faq_path, class: 'ui item'
            .divider
            = link_to '会員名簿', users_path, class: 'ui item'
        .ui.dropdown.item
          | 研究会
          i.dropdown.icon
          .menu
            = link_to '研究会', laboratory_path, class: 'ui item'
            = link_to 'コメント付棋譜', laboratory_comment_kifu_path, class: 'ui item'
            .divider
            = link_to '将棋上達法', laboratory_gather_path, class: 'ui item'
            = link_to '変幻位取り講座', topic_path(84), class: 'ui item'
            = link_to '四間飛車講座', laboratory_four_file_rook_path, class: 'ui item'
            = link_to '右玉講座', laboratory_right_king_path, class: 'ui item'
            .divider
            = link_to '旧研究掲示板', laboratory_old_bbs_path, class: 'ui item'
            = link_to '旧順位表', rankings_path, class: 'ui item'
            = link_to '旧要　項一覧', kisens_path, class: 'ui item'
            = link_to '旧対局表一覧', matchups_path, class: 'ui item'
            .divider
            = link_to '棋譜一覧', kifus_path, class: 'ui item'
        .ui.dropdown.item
          | 棋戦
          i.dropdown.icon
          .menu
            = link_to '年間棋戦案内', kisens_information_path, class: 'ui item'
            = link_to '棋戦共通ルール', kisens_common_rule_path, class: 'ui item'
            .divider
            = link_to '手合割表', handicap_path, class: 'ui item'
        = link_to '掲示板', bbs_path, class: 'ui item'
        .ui.dropdown.item
          | リンク
          i.dropdown.icon
          .menu
            = link_to '日本将棋連盟', 'https://www.shogi.or.jp', class: 'ui item'
            = link_to '81道場', 'https://81dojo.com/jp/', class: 'ui item'
            .divider
            = link_to '棋書ミシュラン', 'http://rocky-and-hopper.sakura.ne.jp/Kisho-Michelin/index.htm', class: 'ui item'
            = link_to '詰パラ', 'http://www005.upp.so-net.ne.jp/tsumepara/contents/3problem/ted/ted.htm', class: 'ui item'
            / .divider
            / = link_to 'リンク集', links_path, class: 'ui item'
        / TODO: 将来の検索用に
        / .item
        /   .ui.icon.input
        /     input placeholder="Search..." type="text"
        /     i.search.link.icon
        - if admin_user?
          .ui.dropdown.item
            => avatar_link_to(current_user, avatar_only: true, size: 24)
            = current_user.name
            i.dropdown.icon
            .menu
              = link_to '新会員登録', new_user_path,    class: 'ui item'
              .divider
              = link_to 'ログアウト', logout_path, method: :delete, class: 'ui item'
        - elsif logged_in_user?
          .ui.dropdown.item
            => avatar_link_to(current_user, avatar_only: true, size: 24)
            = current_user.name
            i.dropdown.icon
            .menu
              = link_to '自己紹介', user_profile_path(current_user), class: 'ui item'
              = link_to '情報更新', edit_user_path(current_user), class: 'ui item'
              .divider
              = link_to '使い方 説明', usage_path, class: 'ui item'
              .divider
              = link_to 'ログアウト', logout_path, method: :delete, class: 'ui item'
        - else
          .item
            => link_to 'ログイン', login_path, class: 'ui primary button'
          .item
            => link_to '入会申込', circle_rule_path, class: 'ui positive button'
