doctype html
html
  head
  meta charset='utf-8'
  / （全てのクローラに対して、インデックスとリンク巡回を許可する）
  meta name="robots"   content="index, follow"
  meta name="viewport" content="width=device-width,initial-scale=1"
  meta name="description" content="創部17年目を迎えた歴史と伝統ある、将棋サークル。毎週土曜日21時からの例会や各種棋戦を通して、会員の交流と棋力向上を目指します。感想戦を重視、ぐんぐん棋力が伸びます。初心者歓迎。ご入会、お待ちしております。"

  title = Rails.env.development? ? "【開発】#{full_title(yield(:title))}" : full_title(yield(:title))
  / ファビコンの指定
  / https://ao-system.net/favicongenerator/
  = favicon_link_tag 'favicon.ico'
  = favicon_link_tag 'apple-touch-icon-180x180.png',
                      rel:   'apple-touch-icon',
                      sizes: '180x180',
                      type:  'image/png'

    / cross-site request forgeries
    = csrf_meta_tags
    / Content Security Policy
    = csp_meta_tag

  // M PLUS Rounded 1c
  link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet"

  // IE Buster
  script src="https://cdn.jsdelivr.net/npm/ie-buster@1.1.0/dist/ie-buster.min.js"

  / rails から js へ データを渡す
  = Gon::Base.render_data

  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': :reload
  = javascript_pack_tag    'application', 'data-turbolinks-track': :reload
  = javascript_include_tag 'application', 'data-turbolinks-track': :reload

- klass = controller.controller_name == 'welcome' ? :top : :site
body class=klass
  / デスクトップ用メニュー
  - case klass
  - when :top
    // トップページ用
    == render 'layouts/toppage_header'
  - when :site
    // 下層ページ用
    == render 'layouts/sitepage_header'

  // iphone用メニュー
  == render 'layouts/dropdown_menu'

  main.ui.container
    = semantic_flash

    == yield

  == render 'layouts/footer'
  / = debug(params) if Rails.env.development?
